Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Address more PR comments
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-1365] Disable fullscreen gestures on mobile chat screen
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
Due: run-mobile-workflow

Fix chat tile artwork
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

[PAY-1362] Mobile press chat message closes reaction popup
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

DMs: Add CTA text to user list rows
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
Due: run-web-workflow

text field; not piping values
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/EditTrackMetadataField.tsx
  packages/web/src/pages/upload-page/fields/TextField.tsx
Due: run-web-workflow

[PAY-1149] Mobile chat reactions add android offset
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
  packages/mobile/src/screens/chat-screen/constants.ts
Due: run-mobile-workflow

match figma mock
  packages/web/src/pages/chat-page/components/CreateChatUserResult.module.css
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
Due: run-web-workflow

test
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Fix icon alignment
  packages/web/src/components/data-entry/TextAreaV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.tsx
  packages/web/src/pages/chat-page/components/ChatComposer.module.css
Due: run-web-workflow

unit
  packages/web/src/pages/chat-page/components/ChatComposer.module.css
Due: run-web-workflow

[PAY-1347] DMs: Don't show unread indicator for first messages
  packages/common/src/utils/chatUtils.ts
Due: none

Add hidden track logic for playlists on web
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.module.css
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/share-modal/components/ShareDialog.module.css
  packages/web/src/components/share-modal/components/ShareDialog.tsx
  packages/web/src/components/share-modal/messages.ts
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/tracks-table/TracksTable.module.css
  packages/web/src/components/tracks-table/TracksTable.tsx
Due: run-web-workflow

Show unread indicator if there's unread messages in a loaded chat
  packages/common/src/store/pages/chat/selectors.ts
Due: none

[PAY-1315] Fix mobile chat search screen takes 2 presses
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

Simplify mobile chat track
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
Due: run-mobile-workflow

Simplify mobile chat playlist
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
Due: run-mobile-workflow

Add comments
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

Prevent user from dragging hidden tracks to public playlists
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
Due: run-web-workflow

[PAY-1356] Mobile chats scroll to bottom when re-entering chat screen
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

DMs: Wait for tip confirmation then refetch permissions
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

clean up ChatUserListScreen and use followers as default list
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

working basic form
  packages/web/src/components/data-entry/Input.js
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/TextField.tsx
Due: run-web-workflow

Remove mobile link preview bottom border if no message
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

DMs: Fix deletions not causing perms rechecks
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

ported and simplified track metadata form
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

Unfurl albums
  packages/common/src/utils/urlUtils.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow, run-mobile-workflow

Revert "[C-2699] Fix collection action button sizes (#3487)"
  packages/web/src/components/collection/desktop/CollectionActionButton.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
Due: run-web-workflow

Revert "Fix input with explicit input props (#3464)"
  packages/web/src/components/data-entry/Input.js
Due: run-web-workflow

Fix border bug on unfurls on web
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Revert "[C-2648] Add redesigned playlist management flow (#3456)"
  packages/stems/src/assets/styles/animations.css
  packages/stems/src/components/Button/Button.module.css
  packages/stems/src/components/Button/Button.tsx
  packages/stems/src/components/Button/types.ts
  packages/stems/src/components/Modal/Modal.module.css
  packages/stems/src/components/Modal/Modal.tsx
  packages/stems/src/components/Modal/ModalContentText.module.css
  packages/stems/src/components/Modal/ModalContentText.tsx
  packages/stems/src/components/Modal/index.ts
  packages/stems/src/components/Modal/types.ts
  packages/stems/src/index.tsx
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/components/collection/desktop/ActionButtons.tsx
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.js
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/OwnerActionButtons.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/PublishConfirmationModal.tsx
  packages/web/src/components/collection/desktop/PublishConfirmationModalFooter.module.css
  packages/web/src/components/create-playlist/FormActions.module.css
  packages/web/src/components/create-playlist/FormActions.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/data-entry/Input.js
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/image-selection/ImageSelectionButton.js
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/pages/chat-page/components/StickyScrollList.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.module.css
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/store/application/ui/editPlaylistModal/selectors.ts
  packages/web/src/store/application/ui/editPlaylistModal/slice.ts
Due: run-web-workflow, run-stems-workflow

Update versions
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

[PAY-1406] Fix header on ChatUserListScreen
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[PAY-1374] Add divider underneath search bar
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[PAY-1411] Send message icon shouldn't be semitransparent
  packages/web/src/pages/chat-page/components/ChatComposer.module.css
Due: run-web-workflow

[PAY-1353] [Mobile] Empty state showing when there are 0 results
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

Fix unused import
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

PAY-1408: Don't create reactions to messages that don't exist
  packages/common/src/store/pages/chat/middleware.ts
Due: none
