Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Fix lint
  packages/mobile/src/components/core/TagInput.tsx
Due: run-mobile-workflow

Typo causing error
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Linter
  packages/web/src/common/store/social/users/sagas.ts
Due: run-web-workflow

Ensure tags uniq
  packages/mobile/src/components/core/TagInput.tsx
Due: run-mobile-workflow

[C-1422] Implement rest of upload fields
  packages/mobile/src/assets/images/iconMood.svg
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/SelectGenreField.tsx
  packages/mobile/src/screens/upload-screen/fields/SelectMoodField.tsx
  packages/mobile/src/screens/upload-screen/fields/index.ts
Due: run-mobile-workflow

wip - toggle styling
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-downloads/TrackDownloadIndicator.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useOfflineTrackUri.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

Set env vars
  packages/mobile/android/app/build.gradle
Due: run-mobile-workflow

Update notif navigation hook to handle the push notification payloads from identity and add push notif types to common
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/hooks/useNotificationNavigation.ts
Due: run-mobile-workflow

enable share to stories
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/messages.ts
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Remix work
  packages/common/src/services/env.ts
  packages/common/src/store/index.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/remix-settings/index.ts
  packages/common/src/store/remix-settings/selectors.ts
  packages/common/src/store/remix-settings/slice.ts
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/components/core/Pill.tsx
  packages/mobile/src/components/core/Switch.tsx
  packages/mobile/src/components/core/TagInput.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/ParamList.ts
  packages/mobile/src/screens/upload-screen/UploadScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/ContextualSubmenuField.tsx
  packages/mobile/src/screens/upload-screen/fields/RemixSettingsField.tsx
  packages/mobile/src/screens/upload-screen/fields/SelectGenreField.tsx
  packages/mobile/src/screens/upload-screen/fields/SelectMoodField.tsx
  packages/mobile/src/screens/upload-screen/fields/SubmenuList.tsx
  packages/mobile/src/screens/upload-screen/fields/index.ts
  packages/mobile/src/screens/upload-screen/index.tsx
  packages/mobile/src/screens/upload-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectGenreScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectMoodScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/index.ts
  packages/mobile/src/services/env.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/remix-settings/sagas.ts
  packages/web/src/components/remix-settings-modal/ConnectedRemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/store/sagas.ts
  packages/web/src/components/remix-settings-modal/store/selectors.ts
  packages/web/src/services/env.ts
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

Rest + fixes
  packages/mobile/src/components/core/Pill.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/ParamList.ts
  packages/mobile/src/screens/upload-screen/components/RemixTrackPill.tsx
  packages/mobile/src/screens/upload-screen/components/index.ts
  packages/mobile/src/screens/upload-screen/fields/RemixSettingsField.tsx
  packages/mobile/src/screens/upload-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/services/env.ts
  packages/web/src/common/store/remix-settings/sagas.ts
Due: run-web-workflow, run-mobile-workflow

fix android?
  packages/mobile/android/build.gradle
Due: run-mobile-workflow

Update favorites page styles to align the favorites table
  packages/web/src/components/page/Page.js
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

wip
  package-lock.json
  packages/mobile/package-lock.json
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

Use package version number
  packages/mobile/src/hooks/useUpdateRequired.ts
Due: run-mobile-workflow

Fix error page analytics
  packages/web/src/store/errors/sagas.ts
Due: run-web-workflow

[C-1445] Implement track-visibility upload field
  packages/mobile/src/assets/images/iconIndent.svg
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackStack.tsx
  packages/mobile/src/screens/upload-screen/UploadScreen.tsx
  packages/mobile/src/screens/upload-screen/UploadStackScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/AdvancedOptionsField.tsx
  packages/mobile/src/screens/upload-screen/fields/ContextualSubmenuField.tsx
  packages/mobile/src/screens/upload-screen/fields/RemixSettingsField.tsx
  packages/mobile/src/screens/upload-screen/fields/SubmenuList.tsx
  packages/mobile/src/screens/upload-screen/fields/SwitchField.tsx
  packages/mobile/src/screens/upload-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/upload-screen/fields/index.ts
  packages/mobile/src/screens/upload-screen/screens/AdvancedOptionsScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectGenreScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectMoodScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/TrackVisibilityScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/index.ts
Due: run-mobile-workflow

[C-1452] Implement release-date upload field
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
  packages/mobile/src/screens/upload-screen/fields/index.ts
  packages/mobile/src/screens/upload-screen/screens/AdvancedOptionsScreen.tsx
Due: run-mobile-workflow

Fix error page analytics (#2240)
  packages/web/src/store/errors/sagas.ts
Due: run-web-workflow

v1.4.0
  lerna.json
  package-lock.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Don't delete sourcemaps on sync to s3
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix text wrapping
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

fix race condition checking stream_mp3 feature flag
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

Fix race condition checking stream_mp3 feature flag (#2244)
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

Finalize
  packages/mobile/package-lock.json
  packages/mobile/src/components/core/Button.tsx
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
Due: run-mobile-workflow

[C-1461] Implement license-type/icws upload flow
  package-lock.json
  packages/mobile/src/assets/images/creativeCommons/by.svg
  packages/mobile/src/assets/images/creativeCommons/cc.svg
  packages/mobile/src/assets/images/creativeCommons/nc-eu.svg
  packages/mobile/src/assets/images/creativeCommons/nc-jp.svg
  packages/mobile/src/assets/images/creativeCommons/nc.svg
  packages/mobile/src/assets/images/creativeCommons/nd.svg
  packages/mobile/src/assets/images/creativeCommons/sa.svg
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/components/core/SegmentedControl.tsx
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackStack.tsx
  packages/mobile/src/screens/upload-screen/SelectTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/IsrcIswcField.tsx
  packages/mobile/src/screens/upload-screen/fields/LicenseTypeField.tsx
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
  packages/mobile/src/screens/upload-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/upload-screen/fields/index.ts
  packages/mobile/src/screens/upload-screen/screens/AdvancedOptionsScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/IsrcIswcScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/LicenseTypeScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/index.ts
  packages/mobile/src/screens/upload-screen/utils/computeLicenseIcons.ts
  packages/mobile/src/screens/upload-screen/utils/processTrackFile.ts
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/utils/creativeCommons.ts
Due: run-web-workflow, run-mobile-workflow

Address comments
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
Due: run-mobile-workflow

Address comments
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/screens/upload-screen/fields/IsrcIswcField.tsx
  packages/mobile/src/screens/upload-screen/fields/LicenseTypeField.tsx
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
Due: run-mobile-workflow

Address comments
  packages/mobile/src/screens/upload-screen/fields/LicenseTypeField.tsx
  packages/mobile/src/screens/upload-screen/screens/LicenseTypeScreen.tsx
Due: run-mobile-workflow

improve control perf
  packages/mobile/src/screens/upload-screen/screens/LicenseTypeScreen.tsx
Due: run-mobile-workflow

Remove unneded icons, revert lock
  package-lock.json
  packages/mobile/src/assets/images/creativeCommons/nc-eu.svg
  packages/mobile/src/assets/images/creativeCommons/nc-jp.svg
  packages/mobile/src/screens/upload-screen/utils/computeLicenseIcons.ts
Due: run-mobile-workflow

Update push notification types, update notif navigation hook, and remove userInteraction check in onNotification method
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/notifications.ts
Due: run-mobile-workflow

create gradient video with ffmpeg
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

Stop propagation on repost button click in tracks tables
  packages/web/src/components/tracks-table/TracksTable.tsx
Due: run-web-workflow

fixes
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

fix validateTrack
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-downloads/TrackDownloadIndicator.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

only remove track if last download reason removed
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

Remove getLatest track id
  packages/common/src/services/explore/Explore.ts
Due: none
