Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Fix chat playlist artwork states
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
Due: run-web-workflow

Add chat playlist tile title and artist hover and active states
  packages/web/src/components/track/mobile/PlaylistTile.module.css
Due: run-web-workflow

Rename dm to chat
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Revert isPlaying logic change
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
Due: run-web-workflow

[PAY-1249] Display track and playlist tiles in web chats - Part 2 (#3412)
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useTrackOrPlaylist.ts
  packages/common/src/models/Track.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/chat/sagas.ts
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.module.css
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.module.css
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fix chat is track playing logic
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Only update chat playlist track uids if for diff playlist id
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

Fix LinkPreview
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

Update collection api and simplify
  packages/common/src/api/collection.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Add getTracksByIds in audius-query
  packages/common/src/api/track.ts
Due: none

Update MessagePlaylist to fix playlist tracks
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

[PAY-1273] Fix scrolling issues
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/components/StickyScrollList.tsx
Due: run-web-workflow

Lint
  packages/common/src/api/collection.ts
  packages/common/src/api/track.ts
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

Update comments
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Make mobile chat inbox unavailable message sticky
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUnavailable.tsx
Due: run-mobile-workflow

Fix types
  packages/mobile/src/components/core/CardList.tsx
Due: run-mobile-workflow

DMs: Unsticky inbox unavailable notice
  packages/web/src/pages/chat-page/ChatPage.module.css
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/components/InboxUnavailableMessage.module.css
  packages/web/src/pages/chat-page/components/InboxUnavailableMessage.tsx
Due: run-web-workflow

Fix regression with date font stuff
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Non-optimistic calculations
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
Due: none

Use ternary
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

Update legacy playlist screens to use legacy inputs and update tab screen to display legacy edit playlist screen
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyEditPlaylistScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyPlaylistImageInput.tsx
Due: run-mobile-workflow

Fix typecheck
  packages/common/src/models/Track.ts
  packages/web/src/components/track/types.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

DMs: Use unblock/block confirmation modals on profile
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

open unblock modal from unsticky message
  packages/web/src/pages/chat-page/components/InboxUnavailableMessage.tsx
Due: run-web-workflow

Fix connected track tile mobile web props
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
Due: run-web-workflow

[PAY-1142] DMs: Update chat tail
  packages/web/src/assets/img/ChatTail.svg
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Fix connected playlist tile mobile web props
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

Update legacy playlist screens to use legacy inputs (#3436)
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyEditPlaylistScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyPlaylistImageInput.tsx
Due: run-mobile-workflow

use entire cache to denormalize
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/types.ts
  packages/common/src/audius-query/utils.ts
Due: none

[PLAT-1005] Parse for add track to playlist notification from backend
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/notificationsSelectors.ts
  packages/common/src/store/notifications/types.ts
Due: none

bump sdk version and change walletapi to auth
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/services/audius-sdk.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow, run-mobile-workflow

fix
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

[C-2649] Refactor desktop collection header
  packages/web/src/components/collection/desktop/ActionButtons.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.js
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-web-workflow

Revert locks
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Add updates!
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Add common locks
  packages/common/package-lock.json
  packages/common/package.json
Due: none

Update mobile playlist create flows to conform with new designs (#3416)
  packages/common/src/models/Analytics.ts
  packages/mobile/src/assets/images/iconSaveFilled.svg
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/core/CardList.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/mobile/src/store/cache/collections/createPlaylistRequestedSaga.ts
Due: run-mobile-workflow

Fix create chat screen navigation weirdness
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
Due: run-mobile-workflow

Fix play button text
  packages/web/src/components/collection/desktop/PlayButton.tsx
Due: run-web-workflow

fix type error
  packages/common/src/store/notifications/types.ts
Due: none
