Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

it works! set up backend on reconnect
  packages/common/src/store/reachability/reducer.ts
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/common/store/backend/selectors.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
Due: run-web-workflow, run-mobile-workflow

Remove track edit option from new dashboard table overflow menus
  packages/web/src/components/test-table/components/OverflowMenuButton.tsx
  packages/web/src/components/test-tracks-table/TestTracksTable.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
Due: run-web-workflow

Add screen change analytics to match web
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/screens/signon/SignOn.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/utils/navigation.ts
Due: run-mobile-workflow

Add feature-flag for artist dashboard new table, and update styles for qa issues (#2080)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/components/tracks-table/EmptyTable.module.css
  packages/web/src/hooks/useTabs/TabStyles.module.css
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow

remove extraneous changes
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/mobile/package-lock.json
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/reachability/ToggleReachability.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/web/src/common/store/pages/feed/lineup/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Add url to Screen
  packages/mobile/src/components/core/Screen.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
Due: run-mobile-workflow

fix ci type error?
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

[PAY-670] New emoji error code
  packages/common/src/utils/aaoErrorCodes.ts
Due: none

Remove deep linking types (please fix in future)
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

Fix lint issues
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
Due: run-mobile-workflow

Fix userChallengePolling on web
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
Due: run-web-workflow

Remove extraneous navState log
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

Now playing test
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabBar.tsx
Due: run-mobile-workflow

[C-1278] Improve bottom-tab-bar performance
  packages/mobile/index.js
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/root-screen/HomeScreen.tsx
Due: run-mobile-workflow

[C-1279] Improve drawer perf
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/drawer/DrawerHeader.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/index.tsx
  packages/mobile/src/screens/app-screen/AppTabBar.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

lint fixes
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
Due: run-web-workflow

move reachability sagas
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/reachability/sagas.ts
Due: run-web-workflow

Memoize now-playing drawer on tab nav
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
Due: run-mobile-workflow

fix lint
  packages/mobile/src/components/drawer/Drawer.tsx
Due: run-mobile-workflow

Remove references to Coinbase in Stripe BuyAudioFlow
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/components/buy-audio-modal/components/InProgressPage.tsx
Due: run-web-workflow

Update table styles to always display actions menu
  packages/web/src/components/test-collectibles-playlist-table/TestCollectiblesPlaylistTable.tsx
  packages/web/src/components/test-table/TestTable.module.css
  packages/web/src/components/test-table/TestTable.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.module.css
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-web-workflow

Remove unused setProvider and add action for recoveryFlow to prevent duplicate runs
  packages/common/src/store/ui/buy-audio/slice.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Add comment
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Add separate feature flag for coinbase pay
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Add feature flag for stripe too, just in case, and change subtitle
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Fix bug for when there are no transactions
  packages/web/src/services/audius-backend/BuyAudio.ts
Due: run-web-workflow

Update Stripe crypto js URL
  packages/web/public/index.html
Due: run-web-workflow

Fixed error when no transactions present
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Call saveUserBankTransactionMetadata correctly after purchase
  packages/web/src/services/audius-backend/BuyAudio.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Update libs/sdk
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

stick with untyped saga effects for now
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Set current_user_exists in async storage when entropy is synced
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

Only fetch favorites/profiles once
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

keep screen awake when confirming tip
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/screens/tip-artist-screen/ConfirmSendTipScreen.tsx
Due: run-mobile-workflow

Require entropy to exist before setting up backend
  packages/mobile/src/App.tsx
Due: run-mobile-workflow

Wire up Stripe modal to store
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
  packages/web/src/components/stripe-on-ramp-modal/StripeOnRampModal.tsx
Due: run-web-workflow

fix pw clipping on mobile
  packages/mobile/src/screens/signon/CreatePassword.tsx
  packages/mobile/src/screens/signon/SignOn.tsx
Due: run-mobile-workflow

If the user cancels, stop the flow
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

try to load json for favorites
  packages/mobile/src/hooks/useOfflineTrack.ts
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/services/offline-downloader/index.ts
  packages/mobile/src/services/offline-downloader/offline-retriever.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow
