Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

PAY-1351: Scroll to bottom when message sent
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-web-workflow

Forgot dep
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-web-workflow

PAY-1383: Fix elevated placeholders in Firefox
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
Due: run-web-workflow

PAY-1417: Fix radio buttons on Firefox
  packages/stems/src/components/RadioButton/RadioButton.module.css
  packages/stems/src/components/RadioButton/RadioButton.tsx
Due: run-stems-workflow

PAY-1240: Auto focus compose textarea when clicking on chat
  packages/web/src/components/data-entry/TextAreaV2.tsx
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-web-workflow

PAY-1345: Scroll to bottom on sent message (mobile)
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
Due: run-mobile-workflow

Fix border bug on unfurls on mobile and refactor
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow, run-mobile-workflow

use correct function syntax
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

Fix favorites album tab styling
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
Due: run-mobile-workflow

Remove scale factor on chat tile hover or active
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/TrackTile.module.css
Due: run-web-workflow, run-mobile-workflow

[PAY-1393] Mobile chats hide message when showing reactions popup
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/constants.ts
Due: run-mobile-workflow

CR comments: Do in slice not middleware
  packages/common/src/store/pages/chat/middleware.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

Wat
  packages/common/src/store/pages/chat/middleware.ts
Due: none

use opacity instead
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/constants.ts
Due: run-mobile-workflow

remove comment
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

useFocusState hook and textarea :has() fix
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/components/data-entry/TextAreaV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.tsx
  packages/web/src/components/data-entry/useFocusState.ts
Due: run-web-workflow

[C-2746] Fix favorites album tab styling (#3544)
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
Due: run-mobile-workflow

fix track title layout with offline + ai indicator
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

[C-2747] Fix track title layout with offline + ai attribution (#3546)
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

don't pin package
  packages/web/package.json
Due: run-web-workflow

Hide the message underneath reactions popover
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Prevent jitter
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Fix chat tile border radii on web
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Fix chat tile border radii on mobile
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

[PAY-1378] Cap image size on mobile DMs
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

zindex
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/utils/zIndex.ts
Due: run-mobile-workflow

keep width 100%
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

port track metadata fields
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/EditTrackMetadataField.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

DMs: Deep link into chat from notification
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/hooks/useNotificationNavigation.ts
Due: run-mobile-workflow

whoops
  packages/mobile/src/hooks/useNotificationNavigation.ts
Due: run-mobile-workflow

Make chat playlist pause on click while it's playing
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
Due: run-mobile-workflow

[PAY-1403] Fix chat track unfurl reactions
  packages/mobile/src/app/App.tsx
Due: run-mobile-workflow

Mobile ChatMessageListItem uses message id + selector
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

bonus
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

console.log
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

cleanup
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

cleanup
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-1398] Fix ChatUserListScreen scrolling with keyboard
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[PAY-1423] Fix empty chat message box with currently playing track
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/EmptyChatMessages.tsx
Due: run-mobile-workflow
