Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

scope actionButtonRefs to the Table instance
  packages/web/src/components/tracks-table/TracksTable.js
Due: run-web-workflow

[C-990] Native-ify oauth
  packages/common/package-lock.json
  packages/common/src/services/index.ts
  packages/common/src/services/oauth/formatSocialProfile.ts
  packages/common/src/services/oauth/index.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
  packages/mobile/src/store/oauth/actions.ts
  packages/mobile/src/store/oauth/sagas.ts
  packages/mobile/src/store/oauth/types.ts
  packages/mobile/src/store/settings/sagas.ts
  packages/mobile/src/store/storeContext.ts
  packages/stems/package-lock.json
  packages/web/package-lock.json
  packages/web/src/common/store/oauth/actions.ts
  packages/web/src/common/store/oauth/mobileSagas.ts
  packages/web/src/common/store/oauth/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/components/share-sound-to-tiktok-modal/store/sagas.ts
  packages/web/src/pages/sign-on/components/ProfileForm.js
  packages/web/src/pages/sign-on/components/desktop/ProfilePage.js
  packages/web/src/pages/sign-on/components/mobile/ProfilePage.tsx
  packages/web/src/services/native-mobile-interface/oauth.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-626] Change playlist+tip challenges copy and emoji
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/assets/fonts/emojis/treble-clef.png
  packages/web/src/assets/styles/emoji.css
  packages/web/src/pages/audio-rewards-page/config.tsx
Due: run-web-workflow, run-mobile-workflow

Fix lint and address comments
  packages/mobile/src/services/env.ts
  packages/mobile/src/store/oauth/sagas.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/services/env.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow, run-mobile-workflow

Fix typecheck
  packages/common/src/services/env.ts
  packages/common/src/services/oauth/formatSocialProfile.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/store/oauth/sagas.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/share-sound-to-tiktok-modal/store/sagas.ts
  packages/web/src/pages/sign-on/components/mobile/ProfilePage.tsx
  packages/web/src/store/sagas.ts
  packages/web/src/utils/imageProcessingUtil.ts
Due: run-web-workflow, run-mobile-workflow

nativefy remixes screen
  packages/common/src/store/pages/remixes/slice.ts
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/remixes-page/lineups/tracks/sagas.ts
  packages/web/src/common/store/pages/remixes-page/sagas.ts
  packages/web/src/pages/remixes-page/store/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Remove extra web usage
  packages/web/src/components/twitter-auth/TwitterAuth.js
Due: run-web-workflow

fix errors
  packages/common/src/store/pages/remixes/slice.ts
  packages/web/src/common/store/pages/remixes-page/sagas.ts
Due: run-web-workflow

Fix lineup state persisting across profile screens
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

fix type errors again?
  packages/common/src/store/pages/remixes/slice.ts
  packages/web/src/common/store/pages/remixes-page/sagas.ts
Due: run-web-workflow

fix type errors again again
  packages/web/src/common/store/pages/remixes-page/sagas.ts
Due: run-web-workflow

Fixes
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/screens/audio-screen/ChallengeRewards.tsx
  packages/web/src/pages/settings-page/components/mobile/SettingsPage.tsx
  packages/web/src/utils/gdpr.ts
Due: run-web-workflow, run-mobile-workflow

Remove configs
  packages/web/.env/.env.mobile.prod
  packages/web/.env/.env.mobile.stage
  packages/web/package.json
Due: run-web-workflow

Add reachability comments
  packages/web/src/common/store/backend/sagas.ts
Due: run-web-workflow

Fix edit profile screen
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

Clean up some more instance of useSelectorWeb
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useSelectTierInfo.ts
  packages/mobile/src/components/audio-rewards/TiersExplainerDrawer.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/mobile/src/hooks/selectors.ts
  packages/mobile/src/hooks/useSelectTierInfo.ts
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileTierTile.tsx
  packages/mobile/src/screens/profile-screen/utils.ts
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/web/src/components/collectibles/components/CollectibleDetailsModal.tsx
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/nav/desktop/NavAudio.tsx
  packages/web/src/components/user-badges/ProfilePageBadge.tsx
  packages/web/src/components/user-badges/UserBadges.tsx
  packages/web/src/hooks/wallet.tsx
  packages/web/src/pages/audio-rewards-page/Tiers.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-web-workflow, run-mobile-workflow

Clean up more instance of useDispatchWeb
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/components/feed-tip-tile/SendTipButton.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/now-playing-drawer/AudioControls.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/SupporterDethronedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/useSocialActionHandler.ts
Due: run-mobile-workflow

[C-1012] Remove web build from mobile build
  packages/mobile/README.md
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-mobile-workflow

[C-1009] Fix misaligned social icons
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
Due: run-mobile-workflow

add feature flag
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

add all
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[C-711] Change useSize to useMeasure in ProfileBio
  packages/web/src/hooks/useSize.ts
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
Due: run-web-workflow

fix
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

Fix missing import
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
Due: run-mobile-workflow

fix lint
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
Due: run-mobile-workflow

Fix typecheck
  packages/common/src/hooks/useSelectTierInfo.ts
Due: none

Remove web app build from ci
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove react-nil and NATIVE_NAVIGATION
  packages/web/craco.config.ts
  packages/web/package.json
  packages/web/src/index.tsx
Due: run-web-workflow

lint
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Bring back wait for mobile init
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove remaining refs to web-app and Web.bundle
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/tsconfig.json
Due: run-mobile-workflow

Fix profile clearing
  packages/common/src/store/pages/profile/lineups/tracks/actions.ts
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

[C-1027] Improve bottom-bar perf
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
Due: run-mobile-workflow

[C-1029] Fix pull-to-refresh
  packages/mobile/src/components/core/PullToRefresh.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/lineup/types.ts
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/trending-screen/TrendingLineup.tsx
Due: run-mobile-workflow

Migrate useGetFirstOrTopSupporter
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useGetFirstOrTopSupporter.ts
  packages/mobile/src/screens/tip-artist-screen/SendTipScreen.tsx
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow, run-mobile-workflow

[C-1031] Improve profile expand section touch target
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandHeaderToggleButton.tsx
Due: run-mobile-workflow

[PAY-578] Fade in socials on mobile user screen
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
Due: run-mobile-workflow

Merge conflicts
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
