Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Support opaque id routes in deeplinking
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
Due: run-mobile-workflow

Fix embed deeplinks
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
Due: run-mobile-workflow

Remove log
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
Due: run-mobile-workflow

empty playlists text fix
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
Due: run-web-workflow

allow create notification to handle playlist id as array or int
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[C-2431] Add tastmaker notification to mobile
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/assets/images/iconTastemaker.svg
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TastemakerNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/web/src/assets/img/iconTastemaker.svg
  packages/web/src/components/notification/Notification/components/icons.tsx
Due: run-web-workflow, run-mobile-workflow

Fix lint
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/notifications-screen/Notifications/TastemakerNotification.tsx
Due: run-mobile-workflow

[PLAT-819]: Fix copy for repost and save of albums notifications (#3151)
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteOfRepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/FavoriteNotification.tsx
  packages/web/src/components/notification/Notification/FavoriteOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/RepostNotification.tsx
  packages/web/src/components/notification/Notification/RepostOfRepostNotification.tsx
Due: run-web-workflow, run-mobile-workflow

[PLAT-847]: Fix user subscription create album notification copy (#3162)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
Due: none

[C-2431] Add tastmaker notification to mobile (#3191)
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/assets/images/iconTastemaker.svg
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TastemakerNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/web/src/assets/img/iconTastemaker.svg
  packages/web/src/components/notification/Notification/components/icons.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2287] Update wallet connect language, flags, icons
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/connect-wallets-drawer/ConnectWalletsDrawer.tsx
  packages/mobile/src/components/connect-wallets-drawer/index.ts
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
  packages/web/src/components/mobile-connect-wallets-drawer/MobileConnectWalletsDrawer.tsx
  packages/web/src/pages/audio-rewards-page/Tiles.tsx
  packages/web/src/pages/audio-rewards-page/WalletModal.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletActionsTile.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow, run-mobile-workflow

Use wallet icon
  packages/mobile/src/assets/images/iconWallet.svg
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
Due: run-mobile-workflow

mobile jest almost working
  packages/common/src/store/pages/trending/reducer.ts
  packages/mobile/.gitignore
  packages/mobile/babel.config.js
  packages/mobile/ios/Podfile.lock
  packages/mobile/jest.config.js
  packages/mobile/jest.setup.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/__mocks__/@react-native-async-storage/async-storage.js
  packages/mobile/src/app/App.test.tsx
  packages/mobile/tsconfig.json
  packages/mobile/tsconfig.spec.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

[C-2187] Improve sign-up error messages
  packages/mobile/src/screens/signon/SignOn.tsx
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/pages/sign-on/components/desktop/EmailPage.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2303] Ensure consistent entity tile active state
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
Due: run-web-workflow

Handle playlist tiles
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/PlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/types.ts
Due: run-web-workflow

Handle mobile
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2223] Flex on Finnuh
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

[C-2332] Fix follow artist stat
  packages/common/src/store/cache/users/utils.ts
Due: none

Fix
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

[C-2434] Fix remix image styles
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemixes.tsx
Due: run-mobile-workflow

[C-2435] Fix issue with collectibles cache update
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

PR comments
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

[PAY-1152] Chats selector to check if is equal to popupMessageId
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

typecheck
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

PR Comments
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

don't use reselect
  packages/common/src/store/pages/chat/selectors.ts
Due: none

[C-2441] Improve icon verified styles
  packages/mobile/src/assets/images/iconVerified.svg
  packages/mobile/src/assets/images/iconVerifiedGreen.svg
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
Due: run-mobile-workflow

[PAY-1156] Cache message link unfurl responses
  packages/common/src/models/Chat.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow, run-mobile-workflow

merge conflicts
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

hook
  packages/common/src/hooks/index.ts
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow, run-mobile-workflow

Update rest
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/user-badges/UserBadges.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
  packages/mobile/src/utils/theme.ts
  packages/web/src/assets/img/iconVerifiedGreen.svg
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2314] Update settings screen ui
  packages/mobile/src/assets/images/iconAppearance.svg
  packages/mobile/src/assets/images/iconKey.svg
  packages/mobile/src/assets/images/iconRecoveryEmail.svg
  packages/mobile/src/assets/images/iconSignOut.svg
  packages/mobile/src/assets/images/iconSkull.svg
  packages/mobile/src/screens/settings-screen/AccountSettingsItem.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/SettingRowLabel.tsx
  packages/mobile/src/screens/settings-screen/SettingsRow.tsx
  packages/mobile/src/screens/settings-screen/SettingsRowDescription.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/types/svg.ts
Due: run-mobile-workflow

Jest working
  packages/common/src/services/remote-config/remote-config.ts
  packages/common/src/services/solana-client/SolanaClient.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/jest.config.js
  packages/mobile/jest.setup.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/services/analytics.ts
Due: run-mobile-workflow

Clean up
  packages/mobile/jest.config.js
  packages/mobile/jest.setup.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/tsconfig.spec.json
Due: run-mobile-workflow

[C-2335] Fix smart collection track count
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

hook file
  packages/common/src/hooks/useLinkUnfurlMetadata.ts
Due: none

Prevent retrieve from source while confirming
  packages/mobile/ios/Podfile.lock
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
Due: run-web-workflow, run-mobile-workflow

Make sure artwork changes are reflected
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/screens/profile-screen/CoverPhoto.tsx
  packages/mobile/src/screens/profile-screen/ProfilePicture.tsx
Due: run-mobile-workflow

Address comments
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
