Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Apply rest of fixes
  packages/web/src/components/collection/mobile/CollectionHeader.js
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/track/mobile/TrackListItem.tsx
  packages/web/src/components/tracks-table/TracksTable.module.css
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/history-page/components/mobile/HistoryPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

[C-2966] Make sure that collection description limits are set to 1000 (#3935)
  packages/mobile/src/screens/edit-playlist-screen/PlaylistDescriptionField.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
Due: run-web-workflow, run-mobile-workflow

Fix jimp undefined
  packages/web/scripts/publishScripts.sh
Due: run-web-workflow

jsdocs, waitForLibsInit in saga
  packages/web/src/services/audius-backend/WithdrawUSDC.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

Remove eslint-config-audius from stems package.json
  packages/stems/package.json
Due: run-stems-workflow

Remove stems from embed package.json
  packages/embed/package.json
Due: none

Remove eslint-config-audius from embed package.json
  packages/embed/package.json
Due: none

Remove audius-client from mobile package.json
  packages/mobile/package.json
Due: run-mobile-workflow

Update root package.json to use workspace commands
  package.json
Due: none

Remove clean command
  package.json
Due: none

Update mobile readme
  packages/mobile/README.md
Due: run-mobile-workflow

[C-2968] Fix private collection action buttons
  packages/web/src/components/collection/desktop/OwnerActionButtons.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/collection/desktop/ViewerActionButtons.tsx
Due: run-web-workflow

implement loading/empty states
  packages/web/src/components/Icon/Icon.module.css
  packages/web/src/components/Icon/Icon.tsx
  packages/web/src/pages/purchases-page/PurchasesPage.module.css
  packages/web/src/pages/purchases-page/PurchasesPage.tsx
  packages/web/src/pages/purchases-page/PurchasesTable.module.css
  packages/web/src/pages/purchases-page/PurchasesTable.tsx
Due: run-web-workflow

Fix canonical url consistency
  packages/web/scripts/workers-site/index.js
  packages/web/src/components/mobile-page-container/MobilePageContainer.tsx
Due: run-web-workflow

[C-2975] Fix stale local data (#3915)
  packages/common/src/models/User.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/types.ts
  packages/web/src/common/store/account/sagas.js
Due: run-web-workflow

[C-2976] Fix profile-page seo (#3912)
  packages/web/src/components/animated-button/AnimatedButtonProvider.tsx
  packages/web/src/components/link/ExternalLink.tsx
  packages/web/src/components/link/SeoLink.tsx
  packages/web/src/components/link/index.ts
  packages/web/src/components/nav/mobile/ConnectedNavBar.tsx
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/profile-page/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/SocialLink.module.css
  packages/web/src/pages/profile-page/components/SocialLink.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.module.css
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/SocialLink.tsx
Due: run-web-workflow

Improve lighthouse score (#3918)
  packages/web/public/index.html
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Fix account details css (#3917)
  packages/web/src/components/nav/desktop/AccountDetails.module.css
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/nav/desktop/LeftNav.module.css
Due: run-web-workflow

Remove ontouchstart from index.html (#3919)
  packages/web/public/index.html
Due: run-web-workflow

[C-2982] Fix seo based on ahref recommendations (#3929)
  packages/web/scripts/workers-site/index.js
  packages/web/src/components/page/Page.js
  packages/web/src/pages/audio-rewards-page/Tiers.tsx
  packages/web/src/utils/seo.ts
Due: run-web-workflow

Fix canonical url consistency (#3938)
  packages/web/scripts/workers-site/index.js
  packages/web/src/components/mobile-page-container/MobilePageContainer.tsx
Due: run-web-workflow

Add implementations for cells
  packages/web/src/pages/purchases-page/PurchasesTable.module.css
  packages/web/src/pages/purchases-page/PurchasesTable.tsx
Due: run-web-workflow

Update circle ci images
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@root-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  packages/probers/.circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use new circleci images
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@probers-jobs.yml
  .circleci/src/jobs/@root-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  packages/probers/.circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove link CI steps
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Revert lockfile changes
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Filter out debug and info logs from sentry
  packages/web/src/services/sentry.ts
Due: run-web-workflow

Fix common
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/Rewards.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/store/social/tracks/actions.ts
Due: none

Fix stems and embed
  packages/embed/.eslintcache
  packages/stems/src/components/RadioButtonGroup/RadioButtonGroup.stories.tsx
Due: run-stems-workflow

working price field
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

PR comments
  packages/web/src/services/audius-backend/WithdrawUSDC.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

move stuff around + libs service
  packages/web/src/components/buy-audio-modal/components/CoinbaseBuyAudioButton.tsx
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
  packages/web/src/services/audius-backend/BuyAudio.ts
  packages/web/src/services/audius-libs.ts
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

refactor wip
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

lint fix
  packages/web/src/pages/purchases-page/PurchasesPage.module.css
Due: run-web-workflow

update SDK usage
  packages/common/package.json
  packages/common/src/api/transactions.ts
  packages/embed/package.json
  packages/mobile/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Update README.md
  packages/embed/README.md
Due: none

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
