Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

UI polish
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Active state for reaction button
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Change reaction popover border radius
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.module.css
Due: run-web-workflow

Fix lint issue
  packages/web/src/pages/chat-page/ChatPage.tsx
Due: run-web-workflow

fix type error track avail modal
  packages/common/src/store/collectibles/selectors.ts
  packages/common/src/store/collectibles/slice.ts
Due: none

Refactor chat link tiles
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useTrackOrPlaylist.ts
  packages/common/src/utils/urlUtils.ts
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.module.css
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.module.css
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

Remove wip work
  packages/common/src/api/createApi.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/pages/chat/sagas.ts
Due: run-web-workflow

remove numberoffetch counter
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

Remove recently added web chat sagas
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/chat/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

adds unread message icons on web
  packages/web/src/components/Icon/Icon.module.css
  packages/web/src/components/Icon/Icon.tsx
  packages/web/src/components/Icon/index.ts
  packages/web/src/components/nav/desktop/NavPopupMenu.module.css
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
  packages/web/src/components/notification-dot/NotificationDot.module.css
  packages/web/src/components/notification-dot/NotificationDot.tsx
  packages/web/src/components/notification-dot/index.ts
Due: run-web-workflow

Fix reaction double click
  packages/web/src/components/notification/Notification/components/Reaction/Reaction.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

documentation
  packages/web/src/components/Icon/Icon.tsx
  packages/web/src/components/notification-dot/NotificationDot.tsx
Due: run-web-workflow

don't wait on users lol
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/screens/chat-screen/ChatListItemSkeleton.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

PR comments
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ResendMessageButton.tsx
Due: run-mobile-workflow

Fix ChatHeader issue
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
Due: run-web-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

fix stylelint
  packages/web/src/components/Icon/Icon.module.css
  packages/web/src/components/nav/desktop/NavPopupMenu.module.css
  packages/web/src/components/notification-dot/NotificationDot.module.css
Due: run-web-workflow

Update mobile playlist create flows to conform with new designs
  packages/common/src/models/Analytics.ts
  packages/mobile/src/assets/images/iconSaveFilled.svg
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/core/CardList.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/mobile/src/store/cache/collections/createPlaylistRequestedSaga.ts
Due: run-mobile-workflow

[PAY-1260] New chat tails on mobile
  packages/mobile/src/assets/images/ChatTail.svg
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

rename
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

using spans
  packages/web/src/components/Icon/Icon.tsx
Due: run-web-workflow

Always show users as messagable if not logged in
  packages/common/src/store/pages/chat/sagas.ts
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow

Add toast when chat messages are copied
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

[C-2644] Fix new playlist drag-drop
  packages/common/src/store/playlist-library/helpers.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/playlist-library/sagas.ts
  packages/web/src/common/store/playlist-library/watchAddToFolderSaga.ts
  packages/web/src/common/store/playlist-library/watchReorderLibrarySaga.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.module.css
Due: run-web-workflow

Update style
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.module.css
Due: run-web-workflow

Use spread syntax
  packages/web/src/components/Icon/Icon.tsx
Due: run-web-workflow

Remove block/unblock button if signed out, cleanup component
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

Update callout component to take an icon prop
  packages/web/src/components/help-callout/HelpCallout.module.css
  packages/web/src/components/help-callout/HelpCallout.tsx
Due: run-web-workflow

remove unnecessary var reassignment
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Authenticate the messages page
  packages/web/src/utils/route.ts
Due: run-web-workflow

Add modals
  packages/web/src/pages/chat-page/components/BlockUserConfirmationModal.module.css
  packages/web/src/pages/chat-page/components/BlockUserConfirmationModal.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/chat-page/components/DeleteChatConfirmationModal.module.css
  packages/web/src/pages/chat-page/components/DeleteChatConfirmationModal.tsx
  packages/web/src/pages/chat-page/components/UnblockUserConfirmationModal.module.css
  packages/web/src/pages/chat-page/components/UnblockUserConfirmationModal.tsx
Due: run-web-workflow

update chatheader with modals
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
Due: run-web-workflow

Remove log
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow

[PAY-1177] Fix double reaction click animation (#3417)
  packages/web/src/components/notification/Notification/components/Reaction/Reaction.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Disable user-select: none in bubble component on web to make text selectable
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Default chat permissions to true
  packages/common/src/store/pages/chat/selectors.ts
Due: none

Add audius-query usage docs
  packages/common/src/api/README.md
Due: none

type fix for hook options
  packages/common/src/api/schema.ts
  packages/common/src/api/types.ts
Due: none

Update --accent-dark-1 to new design system
  packages/stems/src/assets/styles/colors.css
  packages/web/src/assets/styles/colors.css
  packages/web/src/utils/theme/dark.ts
  packages/web/src/utils/theme/default.ts
Due: run-web-workflow, run-stems-workflow
