Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

downloads migration saga
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
Due: run-mobile-workflow

Fix state reset, improve fetching
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
Due: run-mobile-workflow

remove debug logs
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
Due: run-mobile-workflow

[PLAT-819]: Fix copy for repost and save of albums notifications
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/web/src/components/notification/Notification/FavoriteNotification.tsx
  packages/web/src/components/notification/Notification/RepostNotification.tsx
Due: run-web-workflow, run-mobile-workflow

comments; abort logic
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
Due: run-mobile-workflow

lint?
  packages/common/src/store/pages/chat/middleware.ts
Due: none

Use SDK
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

Mobile ChatScreen code cleanup
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Mobile chats scrolling improvements
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Make single instance of discovery-node-selector
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/discovery-node-selector/DiscoveryNodeSelectorInstance.ts
  packages/common/src/services/discovery-node-selector/index.ts
  packages/common/src/services/index.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/services/audius-sdk.ts
  packages/mobile/src/services/discovery-node-selector.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/discovery-node-selector.ts
Due: run-web-workflow, run-mobile-workflow

Fix notif types
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Update sdk again
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

don't need to set to true on unmount
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

rename
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

add repost of repost and fav of repost
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteOfRepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/FavoriteOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/RepostOfRepostNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Navigation
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
Due: run-mobile-workflow

flip logic
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Add block/unblocking to store, with blockeeList
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

Wire up block/unblock UI
  packages/web/src/common/store/account/sagas.js
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

update comments
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/store/chat/sagas.ts
Due: run-mobile-workflow

i did this awhile ago
  .ruby-version
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
  scripts/preinstall.sh
Due: run-web-workflow, run-mobile-workflow

Fix issue with editing track due to malformed artwork
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow

Nullcheck profile metadata before destructuring
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Null check wallets
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Mobile search user screen UI improvements
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

touchable opacity
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

better loading
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

Fix waitForLibsInit
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/mobile/src/services/audius-api-client/apiClient.ts
  packages/web/src/services/audius-api-client/apiClient.ts
Due: run-web-workflow, run-mobile-workflow

npm run sdk:update
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Fix issue with selection change events
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

fix perms message
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Add cors headers to /204
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

[PLAT-847]: Fix user subscription create album notification copy
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
Due: none

edit profile more than once fix
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

fix useReachabilityEffect includeFirstRender
  packages/mobile/src/hooks/useReachabilityEffect.ts
Due: run-mobile-workflow

[C-2364] Fix missing artist-card badges on android
  packages/mobile/src/components/card/Card.tsx
Due: run-mobile-workflow

[C-2419] Fix offline lineup loading (#3164)
  packages/mobile/src/hooks/useReachabilityEffect.ts
Due: run-mobile-workflow

Show toast when email check fails due to blocked user
  packages/mobile/src/screens/signon/SignOn.tsx
Due: run-mobile-workflow

fix cache case matching for handles and permalinks
  packages/common/src/store/cache/collections/reducer.ts
  packages/common/src/store/cache/tracks/reducer.ts
  packages/common/src/store/cache/users/reducer.ts
Due: none

[QA-443] Fix cache case matching for handles and permalinks (#3167)
  packages/common/src/store/cache/collections/reducer.ts
  packages/common/src/store/cache/tracks/reducer.ts
  packages/common/src/store/cache/users/reducer.ts
Due: none
