Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Clean up artist pick type
  packages/common/src/services/audius-api-client/types.ts
Due: none

Remove conditional in response adapter
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
Due: none

much cleaner
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

close drawer on tip
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

Never go to 404
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-web-workflow

Patch lottie to prevent null ptr exceptions
  packages/web/patches/react-lottie+1.2.3.patch
Due: run-web-workflow

user! exists
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

Less invasive patch
  packages/web/patches/react-lottie+1.2.3.patch
Due: run-web-workflow

Hotfix: Fix stems downloads on mobile web (#3382)
  packages/web/patches/react-lottie+1.2.3.patch
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-web-workflow

Hotfix: run patch-package after install
  packages/web/package.json
Due: run-web-workflow

Add patch-package to dev deps
  packages/web/package.json
Due: run-web-workflow

npm i
  packages/common/package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Add patch-package postinstall to web
  packages/web/package.json
Due: run-web-workflow

Increase demo build timeout
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Bust cache
  packages/web/package-lock.json
Due: run-web-workflow

Update edit playlist flow and components
  packages/mobile/src/assets/images/iconDrag.svg
  packages/mobile/src/components/core/FormImageInput.tsx
  packages/mobile/src/components/core/IconButton.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistForm.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistFormScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistNavigator.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyEditPlaylistScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyPlaylistDescriptionInput.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyPlaylistImageInput.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyPlaylistNameInput.tsx
  packages/mobile/src/screens/edit-playlist-screen/LegacyRandomImageButton.tsx
  packages/mobile/src/screens/edit-playlist-screen/PlaylistDescriptionInput.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/page-form-screen/PageFormScreen.tsx
  packages/mobile/src/screens/page-form-screen/index.ts
Due: run-mobile-workflow

Add delete logic to new edit playlist form
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistForm.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistFormScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistNavigator.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
Due: run-mobile-workflow

review fixes
  packages/common/src/api/createApi.ts
  packages/common/src/api/hooks/usePaginatedQuery.ts
Due: none

remove unnecessary changes
  packages/common/src/api/notification.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
Due: run-web-workflow

Fix ios safari stem download
  packages/web/src/services/track-download.ts
Due: run-web-workflow

cheat the types for now
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

add comment
  packages/web/src/services/track-download.ts
Due: run-web-workflow

Special case ios safari for stem download (#3385)
  packages/web/src/services/track-download.ts
Due: run-web-workflow

Fix favorite tracks error due to empty track entries on web mobile
  packages/web/src/components/add-to-playlist/mobile/AddToPlaylist.tsx
  packages/web/src/pages/explore-page/components/mobile/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow

lint
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

removed unused code; fixed details modal
  packages/common/src/api/createApi.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/pages/audio-transactions/selectors.ts
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/common/src/store/pages/index.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Apply updates
  packages/common/src/models/User.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/pages/profile/types.ts
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/createPlaylistRequestedSaga.ts
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/add-to-playlist/mobile/AddToPlaylist.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/desktop/LeftNavLink.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/EmptyLibraryNavLink.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistLibrary.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistNavItem.tsx
  packages/web/src/store/dragndrop/slice.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-1218] Mobile block dms drawer switches block/unblock
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/components/block-messages/BlockMessages.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
Due: run-mobile-workflow

[PAY-1028] Fix mobile chat actions drawer touch feedback
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
Due: run-mobile-workflow

cleanup
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
Due: run-mobile-workflow

Add track and playlist url match utils
  packages/common/src/utils/urlUtils.ts
Due: none

Add getTrackByHandleAndSlug to audius-query track api
  packages/common/src/api/track.ts
Due: none

Remove localhost from regex
  packages/common/src/utils/urlUtils.ts
Due: none

Add DM playback and queue sources
  packages/common/src/models/Analytics.ts
  packages/common/src/store/queue/types.ts
Due: none

Add collection to audius-query track api
  packages/common/src/api/collection.ts
  packages/common/src/api/createApi.ts
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/schema.ts
  packages/common/src/api/track.ts
  packages/common/src/api/types.ts
Due: none
