Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

linting
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

[C-976] Fix native artist recommendations
  packages/common/src/store/ui/artist-recommendations/selectors.ts
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Disable account sync to test app failure
  packages/mobile/src/App.tsx
Due: run-mobile-workflow

keep relevant search results in store
  packages/common/src/store/pages/search-results/reducer.ts
  packages/common/src/store/pages/search-results/selectors.ts
  packages/common/src/store/pages/search-results/types.ts
  packages/mobile/src/screens/search-results-screen/tabs/SearchResultsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/TracksTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/useFetchTabResultsEffect.tsx
  packages/web/src/common/store/pages/search-page/sagas.js
Due: run-web-workflow, run-mobile-workflow

Pass specifier through
  packages/common/src/store/pages/audio-rewards/slice.ts
Due: none

Pass specifier
  packages/web/src/common/store/cache/collections/sagas.js
Due: run-web-workflow

Fix playlist challenge optimistic update (#1974)
  packages/common/src/store/pages/audio-rewards/slice.ts
  packages/web/src/common/store/cache/collections/sagas.js
Due: run-web-workflow

[C-1153] Improve favorites tab performance
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/favorites-screen/types.ts
Due: run-mobile-workflow

Refactor things
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/selectors.ts
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

fix playlist link in tile overflow menu
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
Due: run-mobile-workflow

[C-1147] Refactor search navigation
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/app-screen/SearchTabScreen.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

Update staging to use goerli addresses
  packages/web/.env/.env.stage
Due: run-web-workflow

[PLAT-98] Add feature flag for auto sub
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/social/users/sagas.ts
Due: run-web-workflow

Use context
  packages/web/src/common/store/social/users/sagas.ts
Due: run-web-workflow

[C-1160] Fix search navigation
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

Improve readability
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

fix favorites
  packages/mobile/src/screens/favorites-screen/selectors.ts
Due: run-mobile-workflow

oops
  packages/mobile/src/screens/favorites-screen/selectors.ts
Due: run-mobile-workflow

Remove trimtoalphanumeric
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
Due: run-web-workflow

fix tag search more results
  packages/mobile/src/screens/search-results-screen/tabs/TracksTab.tsx
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

Remove trimtoalphanumeric (#1982)
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
Due: run-web-workflow

fix tag search more results (#1983)
  packages/mobile/src/screens/search-results-screen/tabs/TracksTab.tsx
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-1151] Fix empty profile tab
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/profile/lineups/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-1049] Reset scrubber on song repeat
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow

remove logs and trackId
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow

Fix mac build
  packages/eslint-config-audius/package.json
Due: none

[C-482] Fix android navigation bar clipping
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/hooks/useAndroidNavigationBarHeight.ts
  packages/mobile/src/store/common/actions.ts
  packages/mobile/src/store/common/reducer.ts
  packages/mobile/src/store/mobileUi/sagas.ts
  packages/mobile/src/store/mobileUi/selectors.ts
  packages/mobile/src/store/mobileUi/slice.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Update stage mobile env to goerli
  packages/mobile/.env.stage.tmpl
Due: run-mobile-workflow

Add fixes
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/store/mobileUi/sagas.ts
Due: run-mobile-workflow

Add fixes
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/theme/sagas.ts
Due: run-mobile-workflow

Fix TopSupporters, TrackScreen caching
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
Due: run-mobile-workflow

[C-1172] Add screen freeze
  packages/mobile/index.js
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Update react-native-screens patchfile
  packages/mobile/patches/react-native-screens+3.13.0.patch
  packages/mobile/patches/react-native-screens+3.16.0.patch
Due: run-mobile-workflow

Fix now-playing navigation
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabBar.tsx
Due: run-mobile-workflow

[C-536] Cache makeStyles StyleSheets
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/styles/makeStyles.ts
Due: run-mobile-workflow

[C-1176] Improve ExploreScreen performance
  packages/common/src/store/pages/explore/selectors.ts
  packages/mobile/src/screens/explore-screen/tabs/ArtistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/mood-collection-screen/MoodCollectionScreen.tsx
Due: run-mobile-workflow

[C-1177] Move tipping requests to api client
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/services/audius-backend/Tipping.ts
  packages/common/src/services/audius-backend/index.ts
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/user-list/supporting/sagas.ts
  packages/web/src/common/store/user-list/top-supporters/sagas.ts
Due: run-web-workflow

[C-1173] Reintegrate WebAppAccountSync
  packages/mobile/src/App.tsx
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
  packages/mobile/src/components/web-app-account-sync/index.ts
Due: run-mobile-workflow
