Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update test component types and props to be camelCase
  packages/web/src/components/typography/Text.tsx
  packages/web/src/components/typography/constants.ts
  packages/web/src/components/typography/types.ts
  packages/web/src/pages/upload-page/fields/SourceFilesView.tsx
  packages/web/src/pages/upload-page/fields/SwitchRowField.tsx
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
  packages/web/src/pages/upload-page/forms/ReleaseDateModalForm.tsx
  packages/web/src/pages/upload-page/forms/RemixModalForm.tsx
  packages/web/src/pages/upload-page/forms/SourceFilesModalForm.tsx
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.tsx
Due: run-web-workflow

Update a few more references of the text component
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PayToUnlockInfo.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
Due: run-web-workflow

rm console logs
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow

fix typescript and lint issues
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/components/card/desktop/CollectionArtCard.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/duplicate-add-confirmation-modal/DuplicateAddConfirmationModal.tsx
  packages/web/src/components/search-bar/ConnectedSearchBar.js
  packages/web/src/pages/collection-page/CollectionPage.tsx
  packages/web/src/pages/upload-page/UploadPageLegacy.js
Due: run-web-workflow

fix typescript errors
  packages/web/src/components/table/components/OverflowMenuButton.tsx
Due: run-web-workflow

[C-2901] Fix menu types
  packages/web/src/components/card/desktop/CollectionArtCard.tsx
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/menu/Menu.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/table/components/OverflowMenuButton.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
Due: run-web-workflow

Fix tracks request
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

wip
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

[C-2901] Fix menu types (#3811)
  packages/web/src/components/card/desktop/CollectionArtCard.tsx
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/menu/Menu.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/table/components/OverflowMenuButton.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
Due: run-web-workflow

integrate new fields with multitrack
  packages/web/src/components/form-fields/ArtworkField.tsx
  packages/web/src/components/form-fields/TagField.tsx
  packages/web/src/components/form-fields/TextAreaField.tsx
  packages/web/src/pages/upload-page/UploadPage.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.module.css
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
  packages/web/src/pages/upload-page/forms/MultiTrackEditForm.module.css
  packages/web/src/pages/upload-page/forms/MultiTrackEditForm.tsx
Due: run-web-workflow

fix typing again
  packages/web/src/components/card/desktop/CollectionArtCard.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-web-workflow

Address comments
  packages/web/src/components/data-entry/HelperText.module.css
  packages/web/src/components/data-entry/HelperText.tsx
  packages/web/src/components/form-fields/ArtworkField.tsx
  packages/web/src/pages/upload-page/UploadPage.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/ContextualSubmenuField.module.css
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

attribution modal fixes
  packages/web/src/components/form-fields/TagField.tsx
  packages/web/src/pages/upload-page/fields/DatePickerField.tsx
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow

Fix image
  packages/web/src/components/collection/desktop/Artwork.tsx
Due: run-web-workflow

Pin stripe package versions
  packages/web/package.json
Due: run-web-workflow

[PAY-1589] Wire up Stripe Onramp in mobile
  packages/mobile/.env.dev
  packages/mobile/.env.stage
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/components/stripe-onramp-embed/StripeOnrampEmbed.tsx
  packages/mobile/src/components/stripe-onramp-embed/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/services/buyAudio.ts
  packages/mobile/src/services/env.ts
Due: run-mobile-workflow

lint + console error
  packages/mobile/.env.prod
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/services/buyCrypto.ts
Due: run-mobile-workflow

fix layout issues with TrackTile socials row with a lot of stats
  packages/web/src/components/track/desktop/ConnectedTrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.module.css
Due: run-web-workflow

[PAY-1660] Fix layout issues with TrackTile socials row with a lot of stats (#3815)
  packages/web/src/components/track/desktop/ConnectedTrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.module.css
Due: run-web-workflow

checkpoint
  packages/common/src/store/buy-usdc/index.ts
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/store/buy-usdc/selectors.ts
  packages/common/src/store/buy-usdc/slice.ts
  packages/common/src/store/buy-usdc/types.ts
  packages/common/src/store/reducers.ts
Due: none

[C-2908 C-2744] fix desktop follow button
  packages/web/src/components/follow-button/FollowButton.tsx
  packages/web/src/components/stat-banner/StatBanner.module.css
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

Address comments
  packages/web/src/components/follow-button/FollowButton.tsx
Due: run-web-workflow

fix mood dropdown
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

Get USDC userbank
  packages/common/src/store/account/selectors.ts
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/services/buyCrypto.ts
Due: run-mobile-workflow

waitForLibsInit
  packages/mobile/src/services/buyCrypto.ts
Due: run-mobile-workflow

working tag input
  packages/web/src/components/data-entry/TagInput.d.ts
  packages/web/src/components/data-entry/TagInput.js
  packages/web/src/components/form-fields/TagField.tsx
Due: run-web-workflow

lint
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

Add favorite test and fix aria-label
  packages/probers/cypress/e2e/favoriteTrack.cy.ts
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-web-workflow

Fix cypress default window
  packages/probers/cypress.config.ts
Due: none

fixed attribution modal onsubmit
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow

[C-2908 C-2744] fix desktop follow button (#3816)
  packages/web/src/components/follow-button/FollowButton.tsx
  packages/web/src/components/stat-banner/StatBanner.module.css
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

fix availability modal
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.tsx
Due: run-web-workflow

add purchased+reposted tracks to library
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
Due: run-web-workflow

Fix tests
  .circleci/src/@continue_config.yml
  .circleci/src/jobs/@web-jobs.yml
  packages/probers/cypress/e2e/favoriteTrack.cy.ts
  packages/probers/cypress/e2e/repostTrack.cy.ts
  packages/probers/cypress/e2e/uilts.ts
  packages/probers/cypress/e2e/uploadTrack.cy.ts
  packages/probers/cypress/fixtures/remixes.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update packages
  packages/probers/package-lock.json
  packages/probers/package.json
Due: none

Update bootstrap nodes
  packages/common/src/services/sdk/bootstrapNodes.ts
Due: none

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
