Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

recalc earliestUnreadIndex every render
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[C-2218] Add repo init script to install nvm and rbenv
  .nvmrc
  README.md
  packages/mobile/android/Gemfile
  packages/mobile/ios/Gemfile
  scripts/init.sh
Due: run-mobile-workflow

Update to just check versions
  .nvmrc
  .python-version
  README.md
  package-lock.json
  package.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
  packages/web/package.json
  scripts/init.sh
  scripts/postinstall.sh
  scripts/preinstall.sh
Due: run-web-workflow, run-mobile-workflow

Revert locks
  package-lock.json
  package.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Rename should_exit should_error
  scripts/preinstall.sh
Due: none

Change nvmrc
  .nvmrc
Due: none

Update python versions
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

hotfix: Add notice about feature degradation due to Solana
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
  packages/web/src/pages/audio-rewards-page/AudioRewardsPage.module.css
  packages/web/src/pages/audio-rewards-page/AudioRewardsPage.tsx
Due: run-web-workflow

remove test code
  packages/common/src/services/remote-config/defaults.ts
Due: none

remove more testcode
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
Due: run-web-workflow

oops
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
Due: run-web-workflow

hotfix: Add notice when Solana/$AUDIO features are degraded (#2928)
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
  packages/web/src/pages/audio-rewards-page/AudioRewardsPage.module.css
  packages/web/src/pages/audio-rewards-page/AudioRewardsPage.tsx
Due: run-web-workflow

hotfix: Add Solana/ degradation notice to mobile
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/DegradationNotice.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipScreen.tsx
Due: run-mobile-workflow

reduce spacing
  packages/mobile/src/screens/tip-artist-screen/DegradationNotice.tsx
Due: run-mobile-workflow

hotfix: Add Solana/ degradation notice to mobile (#2929)
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/DegradationNotice.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipScreen.tsx
Due: run-mobile-workflow

Fix ios build for 0.71.3
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

move unread indicator
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

rename is_repost_of_repost metadata
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/social/tracks/actions.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
Due: run-web-workflow

Rename is_repost_of_repost and refactor repost metadata logic
  packages/common/src/store/social/collections/actions.ts
  packages/common/src/store/social/tracks/actions.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
Due: run-web-workflow

[PAY-894] Empty states for mobile chats
  packages/mobile/src/assets/images/emojis/waving-hand-sign.png
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-921] Scroll to earliest unread message mobile chat
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Search user screen creates new chat
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
  packages/mobile/src/store/chat/sagas.ts
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[PAY-922] Mobile chat drawers and profile screen buttons
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/block-messages/BlockMessages.tsx
  packages/mobile/src/components/block-messages/index.ts
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/index.ts
  packages/mobile/src/components/profile-actions-drawer/ProfileActionsDrawer.tsx
  packages/mobile/src/components/profile-actions-drawer/index.ts
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

temp
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

empty list item outside
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

inverted
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

useFocusEffect
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

scrollToOffset
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

uncomment
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Update gated track tile on mobile web
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.module.css
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

Update mobile web gated track screen tile
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/web/src/components/track/PremiumTrackCornerTag.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-web-workflow, run-mobile-workflow

Add locked content drawer on mobile web
  packages/web/src/components/locked-content-modal/LockedContentModal.module.css
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

Add premium section to mobile web gated track screen tile
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackCornerTag.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Fix mobile web tile unlocking ui
  packages/web/src/components/track/mobile/BottomButtons.module.css
Due: run-web-workflow

Lint
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

Put premium content label behind feature flag on native mobile track tile
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

Use ternaries
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/web/src/components/track/mobile/BottomButtons.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Refactor overflow actions logic
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow
