Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Various fixes for native account
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/service-selection/errorSagas.ts
  packages/web/src/common/store/service-selection/sagas.ts
  packages/web/src/common/store/service-selection/selectors.ts
  packages/web/src/common/store/service-selection/slice.ts
  packages/web/src/common/store/service-selection/store.test.js
  packages/web/src/common/store/ui/reactions/sagas.ts
  packages/web/src/components/collectibles/ethCollectibleHelpers.ts
  packages/web/src/components/service-selection/SelectedServices.tsx
  packages/web/src/components/service-selection/ServiceSelectionModal.js
  packages/web/src/pages/App.js
  packages/web/src/pages/audio-rewards-page/AudioRewardsPage.tsx
  packages/web/src/pages/audio-rewards-page/Tiers.tsx
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/opensea-client/OpenSeaClient.ts
  packages/web/src/services/opensea-client/ethCollectibleHelpers.ts
  packages/web/src/services/solana-client/SolanaClient.ts
  packages/web/src/services/solana-client/solCollectibleHelpers.ts
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/token-dashboard/sagas.ts
  packages/web/src/store/types.ts
  packages/web/src/utils/signOut.js
Due: run-web-workflow

Backend changes
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/services/audius-backend/AudiusBackend.ts
  packages/web/src/components/notification/store/sagas.ts
Due: run-web-workflow

New Notification
  packages/web/src/assets/img/crown2x.png
  packages/web/src/common/store/notifications/types.ts
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/SupporterDethronedNotification.module.css
  packages/web/src/components/notification/Notification/SupporterDethronedNotification.tsx
Due: run-web-workflow

Twitter share refactor
  packages/web/src/common/hooks/useTwitterButtonStatus.ts
  packages/web/src/components/notification/Notification/components/TwitterShareButton.tsx
Due: run-web-workflow

Fix analytics
  packages/common/src/models/Analytics.ts
Due: none

fix lint
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/ui/reactions/sagas.ts
Due: run-web-workflow

Update peer dep for spl-token to 0.1.8
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Fix import
  packages/web/src/components/notification/Notification/components/TwitterShareButton.tsx
Due: run-web-workflow

working confirmer
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.ts
  packages/web/src/store/confirmer/sagas.ts
Due: run-web-workflow

fix lint
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
Due: run-mobile-workflow

Bump sdk version to v0.0.34
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

[PAY-529] Native tipping notification
  packages/mobile/src/assets/images/crown2x.png
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationBody.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationHeader.tsx
  packages/mobile/src/screens/notifications-screen/Notification/index.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/SupporterDethronedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReceivedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
Due: run-mobile-workflow

Go to tip modal when clicking notif
  packages/common/src/models/Analytics.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationHeader.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/SupporterDethronedNotification.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/TipAudioButton.tsx
  packages/mobile/src/screens/tip-artist-screen/ReceiverDetails.tsx
  packages/web/src/common/store/tipping/slice.ts
  packages/web/src/common/store/tipping/types.ts
Due: run-web-workflow, run-mobile-workflow

clean
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.ts
  packages/web/src/utils/tempPlaylistId.ts
Due: run-web-workflow

Fix playlist call
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
Due: run-web-workflow

Fix wallet sagas
  packages/web/src/store/tipping/sagas.ts
  packages/web/src/store/token-dashboard/sagas.ts
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

Fix typecheck with updated sdk version
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

remove buyAudio slice and sagas from main build
  packages/web/src/common/store/reducers.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

add reducer back
  packages/web/src/common/store/reducers.ts
Due: run-web-workflow

Clean up
  packages/web/src/components/tooltip/Tooltip.tsx
Due: run-web-workflow

[C-767] Fix tooltip on cards and new playlist (#1703)
  packages/web/src/components/actions-tab/ActionsTab.js
  packages/web/src/components/card/desktop/Card.module.css
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/tooltip/Tooltip.tsx
  packages/web/src/components/tooltip/types.ts
Due: run-web-workflow

[C-786] Fix width of foreground hero image
  packages/web/src/pages/landing-page/components/Hero.module.css
Due: run-web-workflow

Don't use yield * because not using typed-redux-saga in this file
  packages/web/src/pages/upload-page/store/sagas.js
Due: run-web-workflow

feature flag album delete
  packages/web/src/services/AudiusBackend.ts
Due: run-web-workflow

[C-832] Make local storage service native compatible
  packages/web/src/common/services/local-storage/LocalStorage.ts
  packages/web/src/common/services/local-storage/index.ts
  packages/web/src/common/store/storeContext.ts
  packages/web/src/services/local-storage.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow

Use getPath to locate update builds instead of getAppPath
  packages/web/src/electron.js
Due: run-web-workflow

Remove extends null
  packages/web/package.json
Due: run-web-workflow

[C-832] Remove legacy local-storage service
  packages/web/src/common/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/services/local-storage/LocalStorage.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/account/selectors.ts
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/sign-out/sagas.ts
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/mobile/SignOut.tsx
  packages/web/src/hooks/useLocalStorage.ts
  packages/web/src/pages/deactivate-account-page/store/sagas.ts
  packages/web/src/pages/feed-page/store/lineups/feed/sagas.ts
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/profile-page/sagas.js
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/root.tsx
  packages/web/src/services/LocalStorage.ts
  packages/web/src/services/audius-backend/eagerLoadUtils.ts
  packages/web/src/store/tipping/sagas.ts
  packages/web/src/store/token-dashboard/sagas.ts
  packages/web/src/utils/signOut.js
Due: run-web-workflow

Fix typo
  packages/web/src/electron.js
Due: run-web-workflow

Revert to instant eagerUtils
  packages/web/src/common/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/artist-dashboard-page/store/sagas.js
  packages/web/src/pages/trending-page/store/lineups/trending/sagas.js
  packages/web/src/services/audius-backend/eagerLoadUtils.ts
  packages/web/src/utils/sagaHelpers.js
Due: run-web-workflow

[PAY-431] Slide in supporters after loading
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
Due: run-mobile-workflow

Show see more only if profile header should be expansible.
  packages/mobile/src/screens/profile-screen/ProfileHeader/Bio.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/CollapsedSection.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandedSection.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
Due: run-mobile-workflow

Fix missing audiusBackendInstance in search-bar saga
  packages/web/src/components/search-bar/store/sagas.js
Due: run-web-workflow

Remove common sagas from native
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Fix missing audiusBackendInstance in search-bar saga (#1722)
  packages/web/src/components/search-bar/store/sagas.js
Due: run-web-workflow

[PAY-536] Short-circuits reward claim retries on AAO error
  packages/web/src/pages/audio-rewards-page/store/sagas.ts
Due: run-web-workflow

Remove common sagas from native (#1723)
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Re-add native store context to fix optimizely import resolution
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Re-add native store context to fix optimizely import resolution (#1725)
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Put getFeatureEnabled in storeContext
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/store/storeContext.ts
  packages/web/src/common/store/storeContext.ts
  packages/web/src/components/notification/store/sagas.ts
  packages/web/src/pages/sign-on/store/sagas.js
  packages/web/src/store/storeContext.ts
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow, run-mobile-workflow
