Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

lint
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

[PAY-1191] Finesse keyboard enter/exit animations (#3633)
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

PR comments
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

[PAY-1412] Reset player state on app load (#3632)
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

add inputs; styling fixes
  packages/web/src/pages/upload-page/fields/DatePickerField.module.css
  packages/web/src/pages/upload-page/fields/DatePickerField.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateModalField.module.css
  packages/web/src/pages/upload-page/fields/ReleaseDateModalField.tsx
Due: run-web-workflow

stylelint
  packages/web/src/pages/upload-page/fields/ModalField.module.css
Due: run-web-workflow

Add appContext with analytics
  packages/common/src/context/appContext.ts
  packages/common/src/context/index.ts
  packages/common/src/index.ts
  packages/mobile/src/app/App.tsx
  packages/web/src/app.tsx
  packages/web/src/pages/AppContext.tsx
  packages/web/src/pages/AppProviders.tsx
Due: run-web-workflow, run-mobile-workflow

Add amp metrics for inbox settings
  packages/common/src/hooks/chats/useSetInboxPermissions.ts
Due: none

Add logging and await to track
  packages/mobile/src/services/analytics.ts
Due: run-mobile-workflow

[PAY-1457] Add amplitude analytics to chat features (#3627)
  packages/common/src/context/appContext.ts
  packages/common/src/context/index.ts
  packages/common/src/hooks/chats/useCanSendMessage.ts
  packages/common/src/hooks/chats/useSetInboxPermissions.ts
  packages/common/src/index.ts
  packages/common/src/models/Analytics.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/app/App.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/chat-screen/ChatUnavailable.tsx
  packages/mobile/src/services/analytics.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/app.tsx
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/pages/AppContext.tsx
  packages/web/src/pages/AppProviders.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/services/analytics/index.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow, run-mobile-workflow

bottom padding
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

rmeove log
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

finalize
  packages/web/src/components/entity-page/EntityActionButton.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
Due: run-web-workflow

use bottom tab bar height from component
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/constants.ts
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

re-add paddingTop
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

re-add paddingTop pt 2
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

cleaner
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-1319] Fix emoji keyboard overlapping chat text input (#3629)
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[C-2763] Fix desktop playlist qa issues
  packages/common/src/store/playlist-library/helpers.ts
  packages/stems/src/assets/styles/animations.css
  packages/stems/src/components/Button/Button.module.css
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OwnerActionButtons.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/PublishConfirmationModal.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/collection/desktop/SmartCollectionActionButtons.tsx
  packages/web/src/components/image-selection/ImageSelectionButton.js
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/NavItemKebabButton.tsx
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/pages/App.js
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow, run-stems-workflow

clean up
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/oauth-login-page/hooks.ts
  packages/web/src/pages/oauth-login-page/messages.ts
  packages/web/src/pages/oauth-login-page/utils.ts
Due: run-web-workflow

apply dylan's package lock changes
  package-lock.json
  packages/mobile/package-lock.json
Due: run-mobile-workflow

[C-2783] Add terms of service link
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

fix
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
Due: run-web-workflow

[C-2783] Add terms of service link (#3635)
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

Address comments
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
Due: run-web-workflow

[C-2784] Refactor track page to use entity button (#3624)
  packages/web/src/components/collection/desktop/CollectionActionButton.tsx
  packages/web/src/components/collection/desktop/CollectionActionButtons.tsx
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/entity-page/EntityActionButton.module.css
  packages/web/src/components/entity-page/EntityActionButton.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
Due: run-web-workflow

[C-2763] Fix desktop playlist qa issues (#3634)
  packages/common/src/store/playlist-library/helpers.ts
  packages/stems/src/assets/styles/animations.css
  packages/stems/src/components/Button/Button.module.css
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OwnerActionButtons.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/PublishConfirmationModal.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/collection/desktop/SmartCollectionActionButtons.tsx
  packages/web/src/components/image-selection/ImageSelectionButton.js
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/NavItemKebabButton.tsx
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/pages/App.js
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow, run-stems-workflow

[PAY-1516] Chat report abuse flow
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/web/src/pages/chat-page/components/BlockUserConfirmationModal.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
Due: run-web-workflow, run-mobile-workflow

optionally dispatch report
  packages/common/src/store/pages/chat/sagas.ts
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/web/src/pages/chat-page/components/BlockUserConfirmationModal.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-1516] Chat report abuse flow (#3636)
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/web/src/pages/chat-page/components/BlockUserConfirmationModal.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2475] Add desktop favorites playlist tab
  packages/web/src/assets/img/iconSaveFilled.svg
  packages/web/src/components/tile/Tile.module.css
  packages/web/src/components/tile/Tile.tsx
  packages/web/src/components/tile/index.ts
  packages/web/src/components/tracks-table/EmptyTable.js
  packages/web/src/pages/saved-page/components/desktop/AddPlaylistCard.tsx
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/CollectionCard.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow

add toggle field; remix settings outline
  packages/web/src/assets/img/iconRemixGray.svg
  packages/web/src/assets/styles/type.css
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/ModalField.module.css
  packages/web/src/pages/upload-page/fields/ReleaseDateModalField.module.css
  packages/web/src/pages/upload-page/fields/RemixModalField.module.css
  packages/web/src/pages/upload-page/fields/RemixModalField.tsx
  packages/web/src/pages/upload-page/fields/ToggleField.module.css
  packages/web/src/pages/upload-page/fields/ToggleField.tsx
Due: run-web-workflow

spacing fixes
  packages/web/src/pages/upload-page/components/EditPageNew.module.css
  packages/web/src/pages/upload-page/components/TrackModalArray.module.css
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/RemixModalField.module.css
  packages/web/src/pages/upload-page/fields/ToggleField.module.css
Due: run-web-workflow

Update SDK to v3.0.3-beta.54
  package-lock.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Update SDK to v2.0.3-beta.51 (release only)
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Update action sheet values
  packages/mobile/src/utils/launchSelectImageActionSheet.ts
Due: run-mobile-workflow

Remove add-playlist-card
  packages/web/src/pages/saved-page/components/desktop/AddPlaylistCard.tsx
Due: run-web-workflow

Revert colors
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/favorite-button/FavoriteButton.tsx
  packages/mobile/src/components/repost-button/RepostButton.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
