Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

add screen
  packages/mobile/src/screens/settings-screen/InboxSettingsScreen.tsx
Due: run-mobile-workflow

uncomment
  .circleci/src/workflows/mobile.yml
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update the icon color of the podcast skip buttons to accept the theme color
  packages/mobile/src/assets/images/iconPodcastBack.svg
  packages/mobile/src/assets/images/iconPodcastForward.svg
Due: run-mobile-workflow

Revert "Allow Optimizely targeting w CodePush on mobile C-2394 (#3127)"
  packages/common/src/services/remote-config/remote-config.ts
  packages/mobile/src/services/remote-config/remote-config-instance.ts
  packages/web/src/services/remote-config/remote-config-instance.ts
Due: run-web-workflow, run-mobile-workflow

use null instaed of undefined
  packages/common/src/services/remote-config/remote-config.ts
  packages/mobile/src/services/remote-config/remote-config-instance.ts
  packages/web/src/services/remote-config/remote-config-instance.ts
Due: run-web-workflow, run-mobile-workflow

Move link preview inside the message bubble
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.module.css
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

Clean everything up
  packages/web/src/components/nav/desktop/CurrentlyPlaying.module.css
  packages/web/src/components/nav/desktop/CurrentlyPlaying.tsx
  packages/web/src/components/nav/desktop/NavColumn.tsx
Due: run-web-workflow

Fix mobile chat scroll being stuck
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-1107][PAY-1112] Center mobile chat text input, enlarge icon
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Add fade-in-up
  packages/web/src/components/nav/desktop/CurrentlyPlaying.tsx
Due: run-web-workflow

Rename
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.module.css
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
Due: run-web-workflow

Minor updates
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
Due: run-web-workflow

again
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
Due: run-web-workflow

Fix track upload cover art name
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow

Updates
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[PAY-1039] Mobile chat header navs to profile
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Readd setPermalink for legacy perms
  packages/common/src/store/cache/collections/actions.ts
  packages/common/src/store/cache/collections/reducer.ts
  packages/common/src/store/cache/tracks/actions.ts
  packages/common/src/store/cache/tracks/reducer.ts
  packages/common/src/store/cache/tracks/selectors.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/cache/tracks/utils/retrieveTracks.ts
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-web-workflow

[C-2391] Handle get-discovery-notification errors
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
Due: none

add tastemaker to client
  packages/common/src/models/Analytics.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/TastemakerNotification.tsx
Due: run-web-workflow

fix things
  packages/web/src/components/notification/Notification/TastemakerNotification.tsx
Due: run-web-workflow

Revert hardcode
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Add tastemaker feature flag
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-web-workflow

Fix notif processing etc
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
Due: run-web-workflow

Separate chat text input to own component
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
Due: run-mobile-workflow

fix notifications last seen new tag
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/components/nav/desktop/NavColumn.tsx
Due: run-web-workflow

[PLAT-835] Fix tastemaker twitter button
  packages/web/src/components/notification/Notification/TastemakerNotification.tsx
Due: run-web-workflow

[C-2227] Clear wallet state on sign-out
  packages/common/src/store/cache/tracks/selectors.ts
Due: none

[C-2227] Clear wallet state on sign-out
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/store/sign-out/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-2404] Fix ios build on latest xcode
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

[C-2398] Clean up playlist-update feature flags
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Update ruby to 2.7.7
  .ruby-version
Due: none

Bust package cache
  packages/web/package.json
Due: run-web-workflow

[PLAT-834]: Fix notifications last seen new tag (#3143)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/components/nav/desktop/NavColumn.tsx
Due: run-web-workflow

Remove identity playlist_updates call
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Fix lint
  packages/common/src/store/cache/users/reducer.ts
  packages/common/src/store/pages/chat/middleware.ts
  packages/common/src/store/playlist-updates/playlistUpdatesSagas.ts
  packages/common/src/store/playlist-updates/playlistUpdatesSelectors.ts
  packages/common/src/store/premium-content/sagas.ts
Due: none

Update sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Fix lint
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Prevent non finite setting of currentTime
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

Fix mood playlist styles to avoid cutoff and prevent playlists from playing before tracks are loaded
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/mood-collection-screen/MoodCollectionScreen.tsx
Due: run-mobile-workflow

Null check localStorage
  packages/web/src/store/storeContext.ts
Due: run-web-workflow
