Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use executor
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Confirm if block passed (#3046)
  packages/web/src/common/store/confirmer/sagas.ts
Due: run-web-workflow

Fix lint
  packages/web/src/common/store/confirmer/sagas.ts
Due: run-web-workflow

Fix confirmer lint
  packages/web/src/common/store/confirmer/sagas.ts
Due: run-web-workflow

Use wallet instead of ERC wallet
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

Perform install correctly
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

typo
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use both erc and regular wallet
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

Install chrome
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

SDK 2.0.2
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

stuff
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2316] Add remote config for all oauth verification
  packages/common/src/models/Analytics.ts
  packages/common/src/services/opensea-client/OpenSeaClient.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/services/solana-client/SolanaClient.ts
  packages/common/src/store/collectibles/selectors.ts
  packages/common/src/store/collectibles/slice.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
  packages/web/src/components/social-proof/SocialProof.tsx
  packages/web/src/pages/settings-page/components/desktop/VerificationModal.tsx
  packages/web/src/pages/settings-page/components/mobile/VerificationPage.tsx
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/ProfilePage.tsx
  packages/web/src/pages/sign-on/components/mobile/SignOnPage.tsx
Due: run-web-workflow, run-mobile-workflow

Use chrome flag
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Replace heavy rotation endpoint to use get user listening history sorted by most listens
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/smart-collection/sagas.ts
Due: run-web-workflow

Disabled the PlayBar favorite button for the track owner
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
Due: run-mobile-workflow

Update placement of the repeat single track check from play saga to nest saga
  packages/web/src/common/store/queue/sagas.ts
Due: run-web-workflow

[C-429] Fix edit-profile screen scroll
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

fix typing
  packages/web/src/common/store/smart-collection/sagas.ts
Due: run-web-workflow

Add setCurrentUser profile action and call when we focus a profile screen
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Add gated track prompt modal
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.module.css
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
Due: run-web-workflow

Update learn more link in availability modal
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.module.css
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
Due: run-web-workflow

Add gated content upload prompt drawer on mobile
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/assets/images/iconRocket.svg
  packages/mobile/src/components/gated-content-upload-prompt-drawer/GatedContentUploadPromptDrawer.tsx
  packages/mobile/src/components/gated-content-upload-prompt-drawer/index.ts
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

Only display the drawer if user never saw before
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
Due: run-mobile-workflow

Fix modal display logic with feature flags
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
Due: run-web-workflow

Lint
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/gated-content-upload-prompt-drawer/GatedContentUploadPromptDrawer.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
Due: run-web-workflow, run-mobile-workflow

Fix logic to show drawer during upload flow
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
Due: run-mobile-workflow

Extract hook in own file
  packages/mobile/src/hooks/useOneTimeDrawer.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/hooks/useOneTimeDrawer.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
Due: run-mobile-workflow

Navigate to availability screen from drawer
  packages/mobile/src/components/gated-content-upload-prompt-drawer/GatedContentUploadPromptDrawer.tsx
Due: run-mobile-workflow

Update learn more style in collectible gated availability
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

Small refactor
  packages/mobile/src/components/gated-content-upload-prompt-drawer/GatedContentUploadPromptDrawer.tsx
Due: run-mobile-workflow

Fix learn more button bottom margin on web
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
Due: run-web-workflow

web UI working; UserList sagas wip
  packages/common/src/store/reducers.ts
  packages/common/src/store/user-list/index.ts
  packages/common/src/store/user-list/related-artists/actions.ts
  packages/common/src/store/user-list/related-artists/reducers.ts
  packages/common/src/store/user-list/related-artists/selectors.ts
  packages/common/src/store/user-list/related-artists/types.ts
  packages/stems/src/assets/icons/iconUserGroup.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/assets/img/iconUserGroup.svg
  packages/web/src/common/store/user-list/related-artists/errorSagas.ts
  packages/web/src/common/store/user-list/related-artists/sagas.ts
  packages/web/src/components/artist-recommendations/RelatedArtists.module.css
  packages/web/src/components/artist-recommendations/RelatedArtists.tsx
  packages/web/src/components/user-list-modal/components/UserListModal.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/store/application/ui/userListModal/types.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-stems-workflow

[C-2329] Fix notification navigation
  packages/mobile/src/notifications.ts
Due: run-mobile-workflow

Prevent sending messages from making duplicates
  package-lock.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/store/pages/chat/middleware.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/ios/Podfile.lock
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

[C-2327] Add playlist updates slice
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/store/index.ts
  packages/common/src/store/playlist-updates/index.ts
  packages/common/src/store/playlist-updates/playlistUpdatesSagas.ts
  packages/common/src/store/playlist-updates/playlistUpdatesSelectors.ts
  packages/common/src/store/playlist-updates/playlistUpdatesSlice.ts
  packages/common/src/store/playlist-updates/types.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/web/src/common/store/playlist-updates/sagas.ts
  packages/web/src/common/store/playlist-updates/updatedPlaylistViewedSaga.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Fix story types
  packages/stems/src/components/SegmentedControl/SegmentedControl.stories.tsx
Due: run-stems-workflow

Fix padding
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

Fix logout modal
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
