Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add analytics types
  packages/common/src/models/Analytics.ts
Due: none

Track anytime unlocked gated tracks load and refactor
  packages/common/src/models/Analytics.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Record gated track listens
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/social/tracks/recordListen.ts
Due: run-web-workflow

Add connect wallet metrics
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/checkIsNewWallet.ts
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-web-workflow

Update track listen metrics logic
  packages/web/src/common/store/social/tracks/recordListen.ts
Due: run-web-workflow

Add metrics for follow and tip gated track unlocks
  packages/common/src/models/Analytics.ts
  packages/common/src/store/premium-content/sagas.ts
Due: none

Lint
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-web-workflow

Lint
  packages/mobile/src/store/wallet-connect/sagas/connectNewWalletSaga.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
Due: run-mobile-workflow

Add native mobile connect wallet metrics
  packages/mobile/src/store/wallet-connect/sagas/connectNewWalletSaga.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
Due: run-mobile-workflow

Rename gated content feature flags
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/mobile/src/hooks/useIsNFTGateEnabled.ts
  packages/mobile/src/hooks/useIsPremiumContentEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessGateEnabled.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTileCornerTag.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/Artwork.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Rename variables
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/hooks/useIsNFTGateEnabled.ts
  packages/mobile/src/hooks/useIsPremiumContentEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessGateEnabled.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTileCornerTag.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/Artwork.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Rename hooks
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/hooks/useIsCollectibleGatedEnabled.ts
  packages/mobile/src/hooks/useIsGatedContentEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessEnabled.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-826] Add gated track and connect wallet metrics (#2966)
  packages/common/src/models/Analytics.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/store/wallet-connect/sagas/connectNewWalletSaga.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/checkIsNewWallet.ts
  packages/web/src/common/store/social/tracks/recordListen.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-994] Change gated content feature flag names (#2983)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/hooks/useIsCollectibleGatedEnabled.ts
  packages/mobile/src/hooks/useIsGatedContentEnabled.ts
  packages/mobile/src/hooks/useIsPremiumContentEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessGateEnabled.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTileCornerTag.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/Artwork.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Remove TODO
  packages/web/src/common/store/notifications/playlistUpdates.ts
Due: run-web-workflow

Update unsupported nft collection incompatibility copy
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

Fix collection link on mobile
  packages/common/src/hooks/usePremiumContent.ts
Due: none

Lint
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/web/package-lock.json
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

Hide embed dialog
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
Due: run-web-workflow

Fix lint
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
Due: run-web-workflow

[PAY-905] Hide embed option for premium tracks (#2985)
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
Due: run-web-workflow

Improve nft collectible external link logic
  packages/common/src/store/collectibles/selectors.ts
Due: none

Fix spacing on special access track screen
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

typo
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
Due: run-mobile-workflow

[PAY-1014] Fix spacing on special access track screen (#2986)
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

deprecate old logo image
  packages/mobile/src/screens/signon/SignOn.tsx
  packages/web/src/assets/img/Horizontal-Logo-Full-Color-Deprecated.png
  packages/web/src/assets/img/publicSite/Horizontal-Logo-Full-Color-Deprecated.png
  packages/web/src/assets/img/publicSite/Horizontal-Logo-Full-Color-Deprecated@2x.png
  packages/web/src/components/public-site/Footer.tsx
  packages/web/src/components/public-site/NavBanner.tsx
  packages/web/src/components/public-site/NavOverlay.tsx
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/sign-on/components/mobile/InitialPage.tsx
Due: run-web-workflow, run-mobile-workflow

Wait for remote config
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Wait for remote config (#2988)
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Fix mobile web track screen special access spacing
  packages/web/src/components/track/TrackBannerIcon.module.css
Due: run-web-workflow

Remove queue removal check to fix end of queue playback
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix mobile web track screen special access spacing (#2989)
  packages/web/src/components/track/TrackBannerIcon.module.css
Due: run-web-workflow

Remove queue removal check to fix end of queue playback (#2990)
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix edit gated track selections
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

[PAY-1019] Fix premium content tags overlap track title
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

ellipses style
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Fix edit gated track selections on native mobile
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

[PAY-1006][PAY-1010][PAY-1016][PAY-1017] Handle more QA bugs (#2984)
  packages/common/src/hooks/usePremiumContent.ts
  packages/common/src/store/collectibles/selectors.ts
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/web/package-lock.json
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-1019] Fix premium content tags overlap track title (#2991)
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
