Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Remove console log
  packages/mobile/src/store/chat/sagas.ts
Due: run-mobile-workflow

Remove console .log
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Remove unused
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
Due: run-mobile-workflow

BN comparison, hide modal
  packages/common/src/store/purchase-content/sagas.ts
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
Due: run-web-workflow

fix collection card profile link
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.tsx
Due: run-web-workflow

Revert "Start stripe session in buy-usdc saga + mobile stuff"
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/index.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/components/stripe-onramp-drawer/StripeOnrampDrawer.tsx
  packages/mobile/src/components/stripe-onramp-drawer/index.ts
  packages/mobile/src/components/stripe-onramp-embed/StripeOnrampEmbed.tsx
  packages/mobile/src/components/stripe-onramp-embed/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

fix minor bugs for multi-track upload demo
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/ModalField.module.css
  packages/web/src/pages/upload-page/fields/ModalField.tsx
Due: run-web-workflow

First pass at working SEO
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Add UI for LeavingAudius modal
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/stems/src/assets/icons/iconExternalLink.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.module.css
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow, run-stems-workflow

Launch LeavingAudius modal on all external links
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

[C-2940] Update google analytics tags and fix embed build
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/embed/preact.config.js
  packages/embed/src/template.html
  packages/embed/src/util/empty.js
  packages/web/.env/.env.prod
  packages/web/public/index.html
Due: run-web-workflow

Put back nodeEnv
  packages/web/public/index.html
Due: run-web-workflow

layout changes
  packages/common/src/models/Track.ts
  packages/common/src/models/TrackAvailabilityType.ts
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.module.css
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.tsx
Due: run-web-workflow

tentative usdc format
  packages/common/src/models/Track.ts
Due: none

control discovery relay with optimizely
  package-lock.json
  packages/common/package-lock.json
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/embed/package-lock.json
  packages/mobile/package-lock.json
  packages/probers/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/entity-manager.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

revert to main
  package-lock.json
  packages/common/package-lock.json
  packages/embed/package-lock.json
  packages/mobile/package-lock.json
  packages/probers/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

add individual user config for relay as well
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

[C-2685] Implement collection upload form
  packages/web/src/components/form-fields/DropdownField.tsx
  packages/web/src/components/form-fields/SwitchField.tsx
  packages/web/src/components/form-fields/TextField.tsx
  packages/web/src/components/upload/UploadArtwork.d.ts
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/pages/upload-page/fields/SelectGenreField.tsx
  packages/web/src/pages/upload-page/fields/SelectMoodField.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
  packages/web/src/pages/upload-page/fields/TrackNameField.tsx
  packages/web/src/pages/upload-page/hooks.ts
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.module.css
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.tsx
Due: run-web-workflow

Finalize overrides
  packages/web/src/components/Icon/Icon.tsx
  packages/web/src/pages/upload-page/pages/CollectionTrackField.tsx
  packages/web/src/pages/upload-page/pages/CollectionTrackFieldArray.tsx
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.module.css
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.tsx
  packages/web/src/pages/upload-page/types.ts
Due: run-web-workflow

[C-2941] Add "SSR"-like tag generation fro SEO
  packages/web/.gitignore
  packages/web/public/index.html
  packages/web/scripts/workers-site/index.js
  packages/web/wrangler.toml
Due: run-web-workflow

Add validation to single track upload flow
  packages/web/src/components/ai-attribution-modal/AiAttributionDropdown.tsx
  packages/web/src/components/ai-attribution-modal/DropdownInput.js
  packages/web/src/components/data-entry/ContextualMenu.tsx
  packages/web/src/components/data-entry/HelperText.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/ModalField.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateField.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
  packages/web/src/pages/upload-page/forms/RemixModalForm.tsx
  packages/web/src/pages/upload-page/forms/SourceFilesModalForm.tsx
Due: run-web-workflow

linting
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

Update packages/web/scripts/workers-site/index.js
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

lint fix
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/entity-manager.ts
Due: run-web-workflow

createModal helper
  packages/common/src/store/ui/modals/createModal.ts
Due: none

Use createModal for LeavingAudiusModal
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/leaving-audius-modal/index.ts
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Add nodes to env
  packages/web/wrangler.toml
Due: run-web-workflow

Fixing user bank creation and cleanup
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/store/buy-usdc/utils.ts
  packages/web/.env/.env.stage
Due: run-web-workflow

update sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

cleanup
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Remove LeavingAudius from modal list
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
Due: none

Refactor Drawer title to take SVG instead of image
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/drawer/DrawerHeader.tsx
Due: run-mobile-workflow

Add LeavingAudiusDrawer to mobile
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/core/Hyperlink.tsx
  packages/mobile/src/components/help-callout/HelpCallout.tsx
  packages/mobile/src/components/leaving-audius-drawer/LeavingAudiusDrawer.tsx
  packages/mobile/src/components/leaving-audius-drawer/index.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

working fields
  packages/common/src/models/Track.ts
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/components/layout/layout.module.css
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

Update question w/ circle icon
  packages/mobile/src/assets/images/iconQuestionCircle.svg
Due: run-mobile-workflow

Minor improvements to SEO flow merged in #3859
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Add tracking in Web for chat entry points
  packages/web/src/components/banner/DirectMessagesBanner.tsx
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
  packages/web/src/components/share-modal/ShareModal.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow

Add tracking in Mobile for chat entry points
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavLink.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
Due: run-mobile-workflow

might help to actually have the event in common :P
  packages/common/src/models/Analytics.ts
Due: none

order
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
Due: run-web-workflow
