Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2941] Modify cloudflare worker to pull in SEO data from discovery nodes (#3858)
  packages/web/.gitignore
  packages/web/public/index.html
  packages/web/scripts/workers-site/index.js
  packages/web/wrangler.toml
Due: run-web-workflow

Add nodes to env for SEO support (#3859)
  packages/web/wrangler.toml
Due: run-web-workflow

Minor improvements to SEO flow merged in #3859 (#3861)
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Fix broken playlist fetch via resolve
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Fix broken playlist fetch via resolve (#3863)
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

add reposts + purchased albums to library
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

add library albuns audius query hook + migrate collection reformat
  packages/common/src/api/index.ts
  packages/common/src/api/library.ts
  packages/common/src/api/reducer.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/store/cache/collections/utils/index.ts
  packages/common/src/store/cache/collections/utils/reformatCollection.ts
  packages/common/src/store/cache/index.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/reformat.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Don't accidentally overwrite CIDs for cover arts
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

Correct behavior during purchase phases
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.module.css
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
Due: run-web-workflow

cleanup
  packages/common/src/models/Analytics.ts
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/utils/formatUtil.ts
  packages/embed/package.json
  packages/mobile/package.json
  packages/web/package.json
  packages/web/src/components/stripe-on-ramp-modal/StripeOnRampModal.tsx
Due: run-web-workflow, run-mobile-workflow

connected values to outer form; field tweaks
  packages/common/src/models/Track.ts
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/components/layout/layout.module.css
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.tsx
Due: run-web-workflow

Typecheck
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/share-drawer/ShareToStorySticker.tsx
Due: run-mobile-workflow

Preserve CIDs for track and collection cover arts (#3866)
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/share-drawer/ShareToStorySticker.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

[PAY-1695] DMs: Entrypoint Analytics (#3862)
  packages/common/src/models/Analytics.ts
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavLink.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
  packages/web/src/components/banner/DirectMessagesBanner.tsx
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
  packages/web/src/components/share-modal/ShareModal.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Refactor createModal per CR review
  packages/common/src/store/ui/modals/createModal.ts
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.tsx
Due: run-web-workflow

whoops forgot to ctrl s
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.tsx
Due: run-web-workflow

Fix typecheck
  packages/common/src/store/ui/leaving-audius-modal/index.ts
  packages/mobile/src/components/core/Hyperlink.tsx
  packages/mobile/src/components/leaving-audius-drawer/LeavingAudiusDrawer.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.module.css
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow, run-mobile-workflow

Fix error message
  packages/common/src/store/ui/modals/createModal.ts
Due: none

Clamp URL size
  packages/mobile/src/components/help-callout/HelpCallout.tsx
  packages/web/src/components/help-callout/HelpCallout.tsx
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.module.css
  packages/web/src/components/leaving-audius-modal/LeavingAudiusModal.tsx
Due: run-web-workflow, run-mobile-workflow

unused
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

Move setCollectionPermalink within fetchCollectionSucceeded action
  packages/common/src/store/pages/collection/actions.ts
  packages/common/src/store/pages/collection/reducer.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/common/src/store/pages/collection/types.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-web-workflow

Revert locks
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Address type errors
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
Due: run-web-workflow

disable purchase button while purchasing in progress
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
Due: run-web-workflow

test ci
  packages/web/src/app.tsx
Due: run-web-workflow

revert sdk updates
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Remove .only on upload cypress test
  packages/probers/cypress/e2e/uploadTrack.cy.ts
Due: none

[C-2685 C-2686] Implement collection upload form
  packages/web/src/components/Icon/Icon.tsx
  packages/web/src/components/form-fields/DropdownField.tsx
  packages/web/src/components/form-fields/SwitchField.tsx
  packages/web/src/components/form-fields/TextField.tsx
  packages/web/src/components/upload/UploadArtwork.d.ts
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/pages/upload-page/fields/SelectGenreField.tsx
  packages/web/src/pages/upload-page/fields/SelectMoodField.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
  packages/web/src/pages/upload-page/fields/TrackNameField.tsx
  packages/web/src/pages/upload-page/hooks.ts
  packages/web/src/pages/upload-page/pages/CollectionTrackField.tsx
  packages/web/src/pages/upload-page/pages/CollectionTrackFieldArray.tsx
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.module.css
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.tsx
  packages/web/src/pages/upload-page/types.ts
Due: run-web-workflow

Fix drawer dismiss crash
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/create-chat-actions-drawer/CreateChatActionsDrawer.tsx
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollectionDrawer.tsx
Due: run-mobile-workflow

PR feedback
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/store/buy-usdc/slice.ts
  packages/common/src/store/buy-usdc/types.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Revert "Fix drawer dismiss crash"
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/create-chat-actions-drawer/CreateChatActionsDrawer.tsx
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollectionDrawer.tsx
Due: run-mobile-workflow

THE REAL FIX
  packages/mobile/src/components/drawer/Drawer.tsx
Due: run-mobile-workflow

Fix mobile crash on drawer dismiss (#3871)
  packages/mobile/src/components/drawer/Drawer.tsx
Due: run-mobile-workflow

fix price comparison for launching stripe modal
  packages/common/src/store/purchase-content/sagas.ts
Due: none

moving too fast
  packages/common/src/store/buy-usdc/slice.ts
  packages/common/src/store/buy-usdc/types.ts
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
Due: run-web-workflow

Fix libs getNNodes
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

HOTFIX long-term fix for upload
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

purchase field previews
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

[C-2759] Fix donation link
  packages/web/src/pages/profile-page/components/SocialLink.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
