Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add dog ear and label form premium track upload finish tile
  packages/web/src/pages/upload-page/components/FinishPage.js
Due: run-web-workflow

Show confetti on premium track unlock
  packages/common/src/store/premium-content/sagas.ts
Due: none

[C-2087] Add stale track queue worker
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/requestDownloadQueuedItemSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/playCounterWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/staleTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/redownloadStaleTracksSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/syncOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/updateStaleOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[C-2040] Improve duration counter accuracy/performance
  packages/mobile/src/components/scrubber/PositionTimestamp.tsx
  packages/mobile/src/components/scrubber/Scrubber.tsx
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/mobile/src/components/scrubber/usePosition.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
Due: run-mobile-workflow

Remove commentsn
  packages/mobile/src/components/scrubber/Slider.tsx
Due: run-mobile-workflow

Improve readability
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/mobile/src/components/scrubber/usePosition.ts
Due: run-mobile-workflow

Fix track title glitch
  packages/common/src/store/pages/track/actions.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/web/src/common/store/pages/track/sagas.js
Due: run-web-workflow

show unsave drawer on all unfavorite buttons
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
Due: run-mobile-workflow

[C-2017] Add local saves to offline queue
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
Due: run-mobile-workflow

Adjust middleware to new SDK
  packages/common/src/store/pages/chat/middleware.ts
Due: none

[C-2108] Improve local image fetch
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/hooks/useLocalImage.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

[C-2102] Improve offline/offline transitions
  packages/mobile/src/components/core/Screen/ScreenContent.tsx
  packages/mobile/src/components/with-loader/WithLoader.tsx
  packages/mobile/src/screens/favorites-screen/FilterInput.tsx
  packages/mobile/src/screens/favorites-screen/NoTracksPlaceholder.tsx
  packages/mobile/src/screens/favorites-screen/OfflineContentBanner.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

add batch size
  packages/mobile/src/store/offline-downloads/sagas/redownloadStaleTracksSaga.ts
Due: run-mobile-workflow

improve map
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
Due: run-mobile-workflow

[C-2101] Improve initial download ui performance
  packages/mobile/src/components/drawers/RemoveDownloadedFavoritesDrawer.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesDownloadSection.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesDownloadStatusIndicator.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Spread props
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
Due: run-mobile-workflow

Fix some things
  packages/mobile/src/hooks/useReachabilityEffect.ts
  packages/mobile/src/screens/favorites-screen/FavoritesDownloadStatusIndicator.tsx
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Skip inaccessible premium tracks in lineup queue
  packages/web/src/common/store/queue/sagas.ts
Due: run-web-workflow

PR comments
  packages/common/src/utils/index.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow, run-mobile-workflow

chatUtils.ts
  packages/common/src/utils/chatUtils.ts
Due: none

[C-2095] Improve download cancel
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/redownloadStaleTracksSaga.ts
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Finish
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesDownloadStatusIndicator.tsx
  packages/mobile/src/screens/favorites-screen/useFavoritesLineup.ts
  packages/mobile/src/services/offline-downloader/index.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/store/offline-downloads/constants.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadFile.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/syncOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchSaveCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchSaveTrackSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchUnsaveTrackSaga.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[C-2109] Fix favorited collection not downloading
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadFavoritedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveFavoritedDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchSaveCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchSaveTrackSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchUnsaveCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchUnsaveTrackSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

Skip inaccessible tracks on previous
  packages/web/src/common/store/queue/sagas.ts
Due: run-web-workflow

Add collection chain icon to premium track page
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Add collection chain icon to premium track screen on mobile
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

Lint
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/track/GiantTrackTile.module.css
Due: run-web-workflow

Add listenerMiddleware
  package-lock.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/store/listenerMiddleware.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
  packages/mobile/src/store/theme/listeners.ts
  packages/mobile/src/store/theme/sagas.ts
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Remove unused import
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

set offline mode flag default true
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Set offline mode flag default true (#2829)
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Set apiClient reachability via saga
  packages/common/src/store/reachability/index.ts
  packages/common/src/store/reachability/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/utils/reachability.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fix lint
  packages/mobile/src/utils/reachability.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Bump SDK to v2.0.1
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow, run-mobile-workflow

Remove logs
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadFavoritedCollectionSaga.ts
Due: run-mobile-workflow

Fixes
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

Fix case where we'd get double deletes in unfavorited drawer
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollectionDrawer.tsx
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveFavoritedDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchUnsaveCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Fetch latest collection before adding metadata
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadFavoritedCollectionSaga.ts
Due: run-mobile-workflow

Revert lock
  packages/web/package-lock.json
Due: run-web-workflow

Remove stuff
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
