Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

add handlers to coinbase button for onsuccess and onexit
  packages/web/src/components/coinbase-pay-button/CoinbasePayButton.tsx
Due: run-web-workflow

Add new type for swap success
  packages/web/src/components/audio-on-ramp-modal/types.ts
Due: run-web-workflow

Support back transitions in the modal
  packages/web/src/components/audio-on-ramp-modal/ModalContentPages.tsx
Due: run-web-workflow

bubble up the quote output to the parent
  packages/web/src/components/audio-on-ramp-modal/JupiterQuote.tsx
Due: run-web-workflow

add on complete handler to input page
  packages/web/src/components/audio-on-ramp-modal/InputAmountPage.tsx
Due: run-web-workflow

add exchange confirmation page
  packages/web/src/components/audio-on-ramp-modal/ExchangeConfirmationPage.module.css
  packages/web/src/components/audio-on-ramp-modal/ExchangeConfirmationPage.tsx
Due: run-web-workflow

add success page with confetti
  packages/web/src/components/audio-on-ramp-modal/SuccessPage.module.css
  packages/web/src/components/audio-on-ramp-modal/SuccessPage.tsx
Due: run-web-workflow

Make props optional
  packages/web/src/components/audio-on-ramp-modal/ExchangeConfirmationPage.tsx
  packages/web/src/components/audio-on-ramp-modal/SuccessPage.tsx
Due: run-web-workflow

Add confirmation and sucess pages
  packages/web/src/components/audio-on-ramp-modal/AudioOnRampModal.tsx
Due: run-web-workflow

use 0 as default amount
  packages/web/src/components/audio-on-ramp-modal/AudioOnRampModal.tsx
Due: run-web-workflow

weird package-lock.json changes??
  packages/web/package-lock.json
Due: run-web-workflow

support mjs files
  packages/web/craco.config.ts
Due: run-web-workflow

Update and pin @coinbase/cbpay-js for new amount api
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Use updated amount parameters
  packages/web/src/components/audio-on-ramp-modal/InputAmountPage.tsx
  packages/web/src/components/coinbase-pay-button/CoinbasePayButton.tsx
Due: run-web-workflow

Style "use balance" button, disabled buttons on no intermediate amount
  packages/web/src/components/audio-on-ramp-modal/InputAmountPage.module.css
  packages/web/src/components/audio-on-ramp-modal/InputAmountPage.tsx
  packages/web/src/components/audio-on-ramp-modal/JupiterQuote.tsx
  packages/web/src/components/coinbase-pay-button/CoinbasePayButton.tsx
Due: run-web-workflow

Add styles to error message and go back button
  packages/web/src/components/audio-on-ramp-modal/ExchangeConfirmationPage.module.css
  packages/web/src/components/audio-on-ramp-modal/ExchangeConfirmationPage.tsx
Due: run-web-workflow

Better errors
  packages/web/src/components/audio-on-ramp-modal/ExchangeConfirmationPage.tsx
Due: run-web-workflow

back to main
  .circleci/config.yml
  .circleci/src/workflows/stems.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

review
  .circleci/src/jobs/@stems-jobs.yml
  packages/stems/scripts/workers-site/index.js
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

test
  .circleci/src/workflows/stems.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Revert "test"
  .circleci/src/workflows/stems.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

test
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/workflows/stems.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

undo branch
  .circleci/src/workflows/stems.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-601] Add missing mobile profile badges
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

[C-401] Add Linear-style patch updates for web assets for the desktop app
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/banner/Banner.module.css
  packages/web/src/electron.js
  packages/web/src/pages/App.js
Due: run-web-workflow

pr review
  .circleci/src/jobs/@stems-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Make all texts one line and remove user name from button at smaller widths
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.module.css
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

Use callback refs
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

Show shortened feed tip tile button for small screen
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

Add comment
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

Add usePosition hook
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
  packages/web/src/hooks/usePosition.ts
Due: run-web-workflow

Use stems media listener hook to determine send tip button format
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

Introduce media listener hook and use it for the button component
  packages/stems/src/components/Button/Button.tsx
  packages/stems/src/components/Button/hooks.ts
  packages/stems/src/hooks/useMediaQueryListener.ts
  packages/stems/src/index.tsx
Due: run-stems-workflow

Remove unused hook
  packages/web/src/hooks/usePosition.ts
Due: run-web-workflow

Move var to constants file
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
  packages/web/src/utils/constants.ts
Due: run-web-workflow

Remove log and move var
  packages/stems/src/hooks/useMediaQueryListener.ts
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
  packages/web/src/utils/constants.ts
Due: run-web-workflow, run-stems-workflow

Bump stems
  packages/stems/package-lock.json
  packages/stems/package.json
Due: run-stems-workflow

Consume stems 1.1.12 in web
  packages/stems/package-lock.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-stems-workflow

[C-656] Fix z-index for collection header overflow menu popup
  packages/stems/src/components/Popup/Popup.module.css
Due: run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
