Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Only view when panel is open
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-web-workflow

Only mark notifications as viewed when notif panel is open (#3229)
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-web-workflow

Revert "[PAY-827][PAY-1154] Use DN stream endpoint for track download and offline mode (#3202) (#3228)
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/common/src/services/track-download/TrackDownload.ts
  packages/common/src/store/social/tracks/actions.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/streaming.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/mobile/src/services/track-download.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
  packages/web/src/services/track-download.ts
Due: run-web-workflow, run-mobile-workflow

styling fixes
  packages/web/src/components/artist-recommendations/RelatedArtists.module.css
  packages/web/src/components/artist-recommendations/RelatedArtists.tsx
Due: run-web-workflow

related artists working on web
  packages/common/src/store/reducers.ts
  packages/common/src/store/related-artists/sagas.ts
  packages/common/src/store/related-artists/slice.ts
  packages/common/src/store/ui/artist-recommendations/selectors.ts
  packages/common/src/store/ui/artist-recommendations/slice.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/related-artists/sagas.ts
  packages/common/src/store/ui/related-artists/selectors.ts
  packages/common/src/store/ui/related-artists/slice.ts
  packages/common/src/store/ui/related-artists/types.ts
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/components/related-artists/RelatedArtists.module.css
  packages/web/src/components/related-artists/RelatedArtists.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

lint fixes
  packages/common/src/store/premium-content/sagas.ts
  packages/web/src/components/related-artists/RelatedArtists.tsx
Due: run-web-workflow

move render functions with no dependencies out to constants
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
Due: run-web-workflow

add feature flag
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/components/related-artists/RelatedArtists.tsx
Due: run-web-workflow

Fix imports, update commands
  .circleci/src/commands/@commands.yml
  .circleci/src/commands/@common-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  packages/common/.eslintrc.js
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/metro.config.js
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Dont throw warnings in dev mode for now
  packages/stems/src/components/Modal/Modal.tsx
Due: run-stems-workflow

move iconUserGroup to stems only
  packages/web/src/assets/img/iconUserGroup.svg
  packages/web/src/components/related-artists/RelatedArtists.tsx
  packages/web/src/components/user-list-modal/components/UserListModal.tsx
Due: run-web-workflow

remove explicit typing
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/store/ui/related-artists/sagas.ts
Due: none

use selector instead of proxy selector
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
Due: run-mobile-workflow

pr feedback
  packages/common/src/store/ui/related-artists/selectors.ts
  packages/web/src/common/store/user-list/related-artists/sagas.ts
  packages/web/src/components/related-artists/RelatedArtists.module.css
Due: run-web-workflow

lint fix
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
Due: run-mobile-workflow

Improve oauth errors/logging
  packages/mobile/src/store/oauth/sagas.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/twitter-auth/TwitterAuth.tsx
Due: run-web-workflow, run-mobile-workflow

adds loading state to transactions slice and refactors loading logic for table
  packages/common/src/models/Status.ts
  packages/common/src/store/pages/audio-transactions/selectors.ts
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Address PR comments
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

Prevent spacebar from attempting to play inaccessible tracks
  packages/common/src/store/lineup/selectors.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/streaming.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/play-bar/desktop/PlayBar.js
Due: run-web-workflow

Add comment and tweak accessible track logic
  packages/web/src/components/play-bar/desktop/PlayBar.js
Due: run-web-workflow

Simplify
  packages/common/src/store/lineup/selectors.ts
Due: none

Fix typo
  packages/web/src/components/play-bar/desktop/PlayBar.js
Due: run-web-workflow

fix saga apiClient calls to populate 'this'
  packages/common/src/store/ui/related-artists/sagas.ts
Due: none

lint fix
  packages/common/src/store/ui/related-artists/sagas.ts
Due: none

Update name of helper utility
  packages/common/src/models/Status.ts
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Lint
  packages/common/src/utils/streaming.ts
Due: none

Fix dev-mode hot-key modals
  packages/web/src/pages/App.js
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

one more attempt at the best name ever
  packages/common/src/models/Status.ts
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

keep disclaimer tile when transactions table is empty
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

[C-2494] Refactor drag-drop to typescript + performance
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDebouncedCallback.ts
  packages/common/src/hooks/useThrottledCallback.ts
  packages/common/src/store/playlist-library/helpers.ts
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/screens/search-screen/SearchBar.tsx
  packages/stems/src/components/Scrollbar/Scrollbar.tsx
  packages/web/src/components/dragndrop/Draggable.js
  packages/web/src/components/dragndrop/Draggable.tsx
  packages/web/src/components/dragndrop/Droppable.js
  packages/web/src/components/dragndrop/Droppable.tsx
  packages/web/src/components/dragndrop/index.ts
  packages/web/src/components/lineup/CardLineup.tsx
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
  packages/web/src/components/nav/desktop/PlaylistFolderNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/nav/desktop/PlaylistNavItem.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/store/dragndrop/actions.js
  packages/web/src/store/dragndrop/reducer.js
  packages/web/src/store/dragndrop/selectors.js
  packages/web/src/store/dragndrop/slice.ts
  packages/web/src/store/dragndrop/types.ts
  packages/web/src/store/reducers.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

undo debugging change
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

use correct lookup of headerGroup keys and separate out to make linter happy
  packages/web/src/components/table/Table.tsx
Due: run-web-workflow

Bump mobile version
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Bump mobile version (#3238)
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

add RelatedArtists button on expanded profile
  packages/mobile/src/assets/images/iconUserGroup.svg
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandedSection.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileRelatedArtistsButton.tsx
  packages/mobile/src/screens/user-list-screen/RelatedArtistsScreen.tsx
  packages/mobile/src/screens/user-list-screen/index.ts
Due: run-mobile-workflow

working user list on mobile
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileRelatedArtistsButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/user-list-screen/RelatedArtistsScreen.tsx
  packages/mobile/src/screens/user-list-screen/index.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/user-list/related-artists/sagas.ts
Due: run-web-workflow, run-mobile-workflow

fix call to player.getPosition
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

add related artists button spacing
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandedSection.tsx
Due: run-mobile-workflow

gate with feature flag
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileRelatedArtistsButton.tsx
Due: run-mobile-workflow

Remove service selection modal
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
  packages/web/src/common/store/service-selection/errorSagas.ts
  packages/web/src/common/store/service-selection/sagas.ts
  packages/web/src/common/store/service-selection/selectors.ts
  packages/web/src/common/store/service-selection/slice.ts
  packages/web/src/common/store/service-selection/store.test.js
  packages/web/src/components/service-selection/SelectedServices.module.css
  packages/web/src/components/service-selection/SelectedServices.tsx
  packages/web/src/components/service-selection/ServiceSelectionModal.js
  packages/web/src/components/service-selection/ServiceSelectionModal.module.css
  packages/web/src/components/service-selection/components/Service.js
  packages/web/src/components/service-selection/components/Service.module.css
  packages/web/src/components/service-selection/index.ts
  packages/web/src/components/service-selection/utils.ts
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/upload-page/components/SelectPage.js
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
