Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[PAY-13] Fix bubble shadows
  packages/web/src/assets/styles/shadows.css
Due: run-web-workflow

Remove chat track eslint disable
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

Refactor useToggleTrack
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-1323] Missing space on cannot message anymore copy
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2699] Fix collection action button sizes
  packages/stems/src/components/Button/Button.module.css
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
Due: run-web-workflow, run-stems-workflow

[PAY-1327] Use Static White value for copy to clipboard button
  packages/mobile/src/screens/chat-screen/CopyMessagesButton.tsx
Due: run-mobile-workflow

[PAY-1331] "Follows You" matrix mode
  packages/web/src/components/artist/ArtistChipFollowers.tsx
  packages/web/src/components/user-badges/FollowsYouBadge.module.css
  packages/web/src/components/user-badges/FollowsYouBadge.tsx
Due: run-web-workflow

Apply only to collection header
  packages/stems/src/components/Button/Button.module.css
  packages/web/src/components/collection/desktop/CollectionActionButton.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
Due: run-web-workflow, run-stems-workflow

[PAY-1336] Updates to mobile chats user search screen
  packages/mobile/src/assets/images/iconCloseAlt.svg
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

Hotfix address left-nav qa #2
  packages/web/src/common/store/playlist-library/watchReorderLibrarySaga.ts
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/DeleteCollectionConfirmationModal.tsx
Due: run-web-workflow

Fix create chat screen navigation weirdness
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
Due: run-mobile-workflow

Add toastSagas to mobile
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[PAY-1328] Header shadow values don't transition with the color theme
  packages/web/src/assets/styles/shadows.css
  packages/web/src/components/page/Page.module.css
  packages/web/src/pages/chat-page/ChatPage.module.css
Due: run-web-workflow

[PAY-1320] Slower chat hover animations
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Fix delete folder confirmation
  packages/web/src/components/edit-folder-modal/EditFolderModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/DeleteFolderConfirmationModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistFolderNavItem.tsx
Due: run-web-workflow

Don't use yield* in js
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

HOTFIX: left-nav delete-confirmation (#3490)
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/web/src/common/store/playlist-library/watchReorderLibrarySaga.ts
  packages/web/src/components/edit-folder-modal/EditFolderModal.tsx
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/DeleteCollectionConfirmationModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/DeleteFolderConfirmationModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistFolderNavItem.tsx
Due: run-web-workflow, run-mobile-workflow

Port first page to new upload form
  packages/web/src/pages/upload-page/UploadPageNew.tsx
Due: run-web-workflow

PR comments
  packages/web/src/components/artist/ArtistChipFollowers.tsx
  packages/web/src/components/user-badges/FollowsYouBadge.tsx
Due: run-web-workflow

More polish
  packages/web/src/components/user-badges/FollowsYouBadge.module.css
  packages/web/src/components/user-badges/FollowsYouBadge.tsx
Due: run-web-workflow

[C-2658] Fix favorite Hot & New in sign up (#3492)
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

update icons
  packages/mobile/src/assets/images/iconSearch.svg
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[PAY-1337] Fix mobile chat message shadows
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

push props down to SelectPage
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/components/SelectPage.js
  packages/web/src/pages/upload-page/components/SelectPage.tsx
Due: run-web-workflow

DMs: Add skeletons for chats on web
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/SkeletonChatListItem.module.css
  packages/web/src/pages/chat-page/components/SkeletonChatListItem.tsx
Due: run-web-workflow

Add clientVersion to mobile analytics
  packages/mobile/src/services/analytics.ts
Due: run-mobile-workflow

make safer for none values
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Add docstring for useTrackPlayer hooks
  packages/common/src/hooks/chats/useTrackPlayer.ts
Due: none

Fix web unfurl logic for link only
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.module.css
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.module.css
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/LinkPreview.tsx
Due: run-web-workflow

Move chat message tile props to common
  packages/common/src/store/pages/chat/types.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

Add onSuccess callback to mobile chat unfurl
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

Filter out empty chats on mobile
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

Lint
  packages/common/src/api/collection.ts
  packages/common/src/api/track.ts
  packages/common/src/hooks/chats/types.ts
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

Update
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow, run-mobile-workflow

rename variable
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Address more comments
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/common/src/utils/stringUtils.ts
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow, run-mobile-workflow

reset chat state on sign out
  packages/common/src/store/pages/chat/slice.ts
Due: none

Codepush force upgrade improvments
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow
