Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix types
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/pages/sign-on/components/desktop/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/desktop/ProfilePage.tsx
  packages/web/src/pages/sign-on/components/mobile/ProfilePage.tsx
Due: run-web-workflow

Disable feature flag and fix handle key
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/pages/sign-on/components/desktop/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/desktop/ProfilePage.tsx
Due: run-web-workflow

Undo mobile changes
  packages/web/src/pages/sign-on/components/desktop/ProfilePage.tsx
  packages/web/src/pages/sign-on/components/mobile/TwitterOverlay.js
  packages/web/src/pages/sign-on/components/mobile/TwitterOverlay.module.css
Due: run-web-workflow

Undo mobile changes pt 2
  packages/web/src/pages/sign-on/components/mobile/TwitterOverlay.module.css
Due: run-web-workflow

add loading screen to share to ig
  packages/mobile/src/Drawers.tsx
  packages/mobile/src/assets/images/iconWavform.svg
  packages/mobile/src/components/core/LinearProgress.tsx
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/messages.ts
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/mobile/src/store/share-to-story-progress/selectors.ts
  packages/mobile/src/store/share-to-story-progress/slice.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

remove logs
  packages/mobile/src/store/share-to-story-progress/slice.ts
Due: run-mobile-workflow

Finalize new saga flow
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/web/src/common/store/pages/token-dashboard/addNewSplWallet.ts
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
  packages/web/src/common/store/pages/token-dashboard/utils.ts
  packages/web/src/store/token-dashboard/addWalletToUser.ts
  packages/web/src/store/token-dashboard/associateNewWallet.ts
  packages/web/src/store/token-dashboard/checkIsNewWallet.ts
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
  packages/web/src/store/token-dashboard/disconnectWallet.ts
  packages/web/src/store/token-dashboard/establishWalletConnection.ts
  packages/web/src/store/token-dashboard/getWalletAddress.ts
  packages/web/src/store/token-dashboard/sagas.ts
  packages/web/src/store/token-dashboard/signMessage.ts
  public/scripts/exif-parser-0.1.12-min.js
Due: run-web-workflow

[C-1675][C-1555] Implement wallet-connect and wallet-adapter-protocol
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/assets/images/iconSolana.svg
  packages/mobile/src/dev-utils/useRenderingTrace.ts
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
  packages/mobile/src/screens/wallet-connect/components/EthWalletConnectOption.tsx
  packages/mobile/src/screens/wallet-connect/components/PhantomWalletConnectOption.tsx
  packages/mobile/src/screens/wallet-connect/components/SolanaPhoneOption.tsx
  packages/mobile/src/screens/wallet-connect/components/WalletConnectDrawer.tsx
  packages/mobile/src/screens/wallet-connect/components/useSolanaPhoneAuthorization.ts
  packages/mobile/src/store/wallet-connect/sagas/connectNewWalletSaga.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
  packages/mobile/src/store/wallet-connect/selectors.ts
  packages/mobile/src/store/wallet-connect/slice.ts
  packages/mobile/src/store/wallet-connect/types.ts
Due: run-mobile-workflow

Make solana phone logo circular
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
  packages/mobile/src/screens/wallet-connect/components/SolanaPhoneOption.tsx
Due: run-mobile-workflow

code review
  packages/mobile/src/components/core/LinearProgress.tsx
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-mobile-workflow

share to ig events
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/src/types/analytics.ts
Due: run-mobile-workflow

wip
  packages/mobile/package-lock.json
  packages/mobile/src/components/core/DynamicImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/hooks/useIsOfflineModeEnabled.ts
  packages/mobile/src/hooks/useLocalImage.ts
Due: run-mobile-workflow

update audius icon
  packages/mobile/src/assets/images/audiusLogoHorizontal.svg
  packages/mobile/src/assets/images/audiusLogoHorizontalDeprecated.svg
  packages/mobile/src/components/now-playing-drawer/Logo.tsx
  packages/mobile/src/components/share-drawer/ShareToStorySticker.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/signon/SignupHeader.tsx
Due: run-mobile-workflow

[C-1614] Move creativeCommons to common
  packages/common/src/models/CreativeCommons.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/index.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/pages/track/selectors.ts
  packages/common/src/utils/creativeCommons.ts
  packages/common/src/utils/index.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/types.ts
  packages/web/src/common/store/cache/tracks/utils/reformat.ts
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow, run-mobile-workflow

Fix license type
  packages/mobile/src/screens/edit-track-screen/screens/LicenseTypeScreen.tsx
Due: run-mobile-workflow

Update TrackListItem styles to reduce the width of the artist name
  packages/web/src/components/track/desktop/TrackListItem.module.css
Due: run-web-workflow

[C-1615] Fix android fullscreen modals
  packages/mobile/android/app/src/main/res/values-night/colors.xml
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/index.ts
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

[C-1614] Move creativeCommons to common (#2346)
  packages/common/src/models/CreativeCommons.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/index.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/pages/track/selectors.ts
  packages/common/src/utils/creativeCommons.ts
  packages/common/src/utils/index.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/LicenseTypeScreen.tsx
  packages/mobile/src/screens/edit-track-screen/types.ts
  packages/web/src/common/store/cache/tracks/utils/reformat.ts
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow, run-mobile-workflow

Update mobile-upload feature-flag to prepare for release
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Fix import order
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

fix crash share to ig
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/threads/dominantColors.thread.js
Due: run-mobile-workflow

remove colors
  packages/mobile/android/app/src/main/res/values-night/colors.xml
Due: run-mobile-workflow

Update mobile upload for final release
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Address pr comments
  packages/web/src/components/tiktok-button/TikTokButton.tsx
  packages/web/src/components/twitter-auth/TwitterAuth.tsx
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/pages/sign-on/components/desktop/CompleteProfileWithSocial.tsx
Due: run-web-workflow

[C-1595] Fix sign out
  packages/common/src/utils/sagaHelpers.ts
  packages/mobile/src/components/sign-out-confirmation-drawer/SignOutConfirmationDrawer.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/signon/SignOn.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/sign-out/sagas.ts
Due: run-mobile-workflow

Add setupBackend call in signOut
  packages/mobile/src/store/sign-out/sagas.ts
Due: run-mobile-workflow

[C-1596] Fix android mobile-upload bugs
  packages/mobile/android/app/src/main/res/values-night/colors.xml
  packages/mobile/android/app/src/main/res/values-v27/styles.xml
  packages/mobile/android/app/src/main/res/values/colors.xml
  packages/mobile/android/app/src/main/res/values/styles.xml
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/components/core/Switch.tsx
  packages/mobile/src/components/core/Text.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/edit-track-screen/components/FormScreen.tsx
  packages/mobile/src/screens/edit-track-screen/components/RemixTrackPill.tsx
  packages/mobile/src/screens/edit-track-screen/fields/ReleaseDateField.tsx
Due: run-mobile-workflow

Improve text
  packages/mobile/src/screens/edit-track-screen/EditExistingTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/types.ts
  packages/mobile/src/screens/upload-screen/screens/CompleteTrackScreen.tsx
Due: run-mobile-workflow

Fix keyboard
  packages/mobile/src/screens/edit-track-screen/components/FormScreen.tsx
Due: run-mobile-workflow

[C-1615] Fix android fullscreen modals (#2348)
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/index.ts
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

[C-1596] Fix android mobile-upload bugs (#2354)
  packages/mobile/android/app/src/main/res/values-night/colors.xml
  packages/mobile/android/app/src/main/res/values-v27/styles.xml
  packages/mobile/android/app/src/main/res/values/colors.xml
  packages/mobile/android/app/src/main/res/values/styles.xml
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/components/core/Switch.tsx
  packages/mobile/src/components/core/Text.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/edit-track-screen/EditExistingTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/components/FormScreen.tsx
  packages/mobile/src/screens/edit-track-screen/components/RemixTrackPill.tsx
  packages/mobile/src/screens/edit-track-screen/fields/ReleaseDateField.tsx
  packages/mobile/src/screens/edit-track-screen/types.ts
  packages/mobile/src/screens/upload-screen/screens/CompleteTrackScreen.tsx
Due: run-mobile-workflow

don't initiate offline track load when online
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

Make sure to get at least one quoted before recovery
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

it's a bit more complex than that
  packages/web/package-lock.json
  packages/web/src/components/buy-audio-modal/components/InProgressPage.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Use only BNs
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

loading state for useLocalImage
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/hooks/useLocalImage.ts
Due: run-mobile-workflow

remove debug
  packages/mobile/src/components/core/DynamicImage.tsx
Due: run-mobile-workflow

[C-1626] Connect phantom wallet-connect with common sagas
  packages/mobile/src/store/wallet-connect/sagas/connectNewWalletSaga.ts
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
  packages/web/src/common/store/pages/token-dashboard/addWalletToUser.ts
  packages/web/src/common/store/pages/token-dashboard/associateNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/checkIsNewWallet.ts
  packages/web/src/common/store/pages/token-dashboard/getAccountMetadataCID.ts
  packages/web/src/common/store/pages/token-dashboard/getWalletInfo.ts
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
  packages/web/src/store/token-dashboard/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Address fixes
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
  packages/mobile/src/store/wallet-connect/sagas/signMessageSaga.ts
  packages/web/src/common/store/pages/token-dashboard/addWalletToUser.ts
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
