Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

optimistically set up backend
  packages/web/src/common/store/backend/sagas.ts
Due: run-web-workflow

explain waitForWrite usage
  packages/web/src/common/store/wallet/sagas.ts
Due: run-web-workflow

typo
  packages/web/src/store/reachability/sagas.ts
Due: run-web-workflow

Add app version to optimizely audience
  packages/common/src/services/remote-config/remote-config.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/services/remote-config/remote-config-instance.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/services/remote-config/remote-config-instance.ts
Due: run-web-workflow, run-mobile-workflow

Fix pull-to-refresh
  packages/mobile/src/components/core/PullToRefresh.tsx
  packages/mobile/src/styles/makeAnimations.ts
Due: run-mobile-workflow

Remove log
  packages/web/src/common/store/cache/sagas.js
Due: run-web-workflow

Add comment
  packages/common/src/store/cache/reducer.ts
Due: none

Break apart components, start styling
  packages/common/src/store/pages/chat/sagas.ts
  packages/web/src/assets/styles/index.css
  packages/web/src/assets/styles/shadows.css
  packages/web/src/pages/chat-page/ChatPage.module.css
  packages/web/src/pages/chat-page/components/ChatList.module.css
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.module.css
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.module.css
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Change routing to /messages/:id
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow

Add reaction button
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Improve LineupTile animation
  packages/mobile/src/components/core/FadeInView.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
Due: run-mobile-workflow

Reactions v1
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.module.css
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.tsx
Due: run-web-workflow

finish up chat list items
  packages/web/src/pages/chat-page/components/ChatListItem.module.css
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
Due: run-web-workflow

Added unread separator
  packages/web/src/pages/chat-page/components/ChatListItem.module.css
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.module.css
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

add empty state for chat list
  packages/web/src/pages/chat-page/components/ChatList.module.css
  packages/web/src/pages/chat-page/components/ChatList.tsx
Due: run-web-workflow

Group messages that are sent near the same time
  packages/web/src/pages/chat-page/components/ChatMessageList.module.css
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Set explicit height to reactions popup to make the reactions expand out of it
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.module.css
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.tsx
Due: run-web-workflow

Fix route types
  packages/web/src/pages/chat-page/ChatPage.tsx
Due: run-web-workflow

Add chatlist loading spinner, general cleanup
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/web/src/pages/chat-page/components/ChatList.module.css
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Re enable useLocalImage
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/hooks/useLocalImage.ts
Due: run-mobile-workflow

[WIP] Declare image sizes
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/components/core/DynamicImage.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/Artwork.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/profile-list/ProfileCard.tsx
  packages/mobile/src/components/track-list/TrackArtwork.tsx
  packages/mobile/src/components/user/ProfilePicture.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
  packages/mobile/src/screens/edit-track-screen/EditExistingTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/components/RemixTrackPill.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
Due: run-mobile-workflow

Only use local image source when not reachable
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/hooks/useLocalImage.ts
Due: run-mobile-workflow

Add animated reactions
  packages/web/src/components/notification/Notification/components/Reaction/Reaction.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

[C-1801] Improve profile image performance
  packages/mobile/android/app/proguard-rules.pro
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/image/FastCollectionImage.tsx
  packages/mobile/src/components/image/FastTrackImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/components/user/ProfilePicture.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/user-list-screen/UserList.tsx
Due: run-mobile-workflow

Add reachability check
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/hooks/useLocalImage.ts
Due: run-mobile-workflow

Add back default image url
  packages/mobile/src/components/image/TrackImage.tsx
Due: run-mobile-workflow

Fix setup states
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/backend/reducer.ts
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/common/store/backend/selectors.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fix type
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Refactor
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Clean up sign out
  packages/mobile/src/store/sign-out/sagas.ts
Due: run-mobile-workflow

Finalize
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePictureList.tsx
Due: run-mobile-workflow

update playlist_page route to accept permalink optionally
  packages/web/src/utils/route.ts
Due: run-web-workflow

Fix type/lint
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/common/store/backend/types.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/components/reachability-bar/components/ReachabilityBarContainer.tsx
Due: run-web-workflow, run-mobile-workflow

Remove stuff
  packages/mobile/src/components/image/FastCollectionImage.tsx
  packages/mobile/src/components/image/FastTrackImage.tsx
Due: run-mobile-workflow

Correct hover state/active state of chat list item
  packages/web/src/pages/chat-page/components/ChatListItem.module.css
Due: run-web-workflow

[C-1706] Fix sidebar track statistic
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/VanityMetrics.tsx
Due: run-mobile-workflow

Updates all images to use fast-image
  packages/mobile/src/components/card/Card.tsx
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionCardSkeleton.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/FastImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/components/image/tmp.ts
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileArt.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/components/now-playing-drawer/Artwork.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/profile-list/ProfileCard.tsx
  packages/mobile/src/components/profile-list/ProfileCardSkeleton.tsx
  packages/mobile/src/components/track-list/TrackArtwork.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/profile-screen/CoverPhoto.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

fix and simplify logic for offline lineup fetching
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useReachabilityState.ts
Due: run-mobile-workflow

Prevent infinite rerender of UserList
  packages/mobile/src/screens/user-list-screen/UserList.tsx
Due: run-mobile-workflow

[C-1814] Prevent infinite rerender of UserList (#2572)
  packages/mobile/src/screens/user-list-screen/UserList.tsx
Due: run-mobile-workflow
