Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[PAY-1786] Withdraw USDC - create dest token account
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

lint
  packages/web/src/services/solana/WithdrawUSDC.ts
Due: run-web-workflow

use {} for empty premium_conditions; fix limits
  packages/common/src/models/Track.ts
  packages/common/src/utils/dogEarUtils.ts
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

Fix validation on access and sale modal (#3981)
  packages/common/src/models/Track.ts
  packages/common/src/utils/dogEarUtils.ts
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

revert premium_conditions: {} change
  packages/common/src/models/Track.ts
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

Revert premium_conditions empty object change (#3983)
  packages/common/src/models/Track.ts
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

Add purchased + reposted tracks to library PAY-1633 (#3820)
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
Due: run-web-workflow

Add reposts + purchased albums to library PAY-1679 (#3865)
  packages/common/src/store/cache/collections/utils/index.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

[PAY-1613] Update titles + icons for Library (#3774)
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/res/raw/library_dark.riv
  packages/mobile/android/app/src/main/res/raw/library_default.riv
  packages/mobile/android/app/src/main/res/raw/library_matrix.riv
  packages/mobile/ios/Assets/library_dark.riv
  packages/mobile/ios/Assets/library_default.riv
  packages/mobile/ios/Assets/library_matrix.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/assets/images/iconLibrary.svg
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/FavoritesButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/LibraryButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/index.ts
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/FavoritesTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/stems/src/assets/icons/iconLibrary.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/bottom-bar/BottomBar.tsx
  packages/web/src/components/bottom-bar/buttons/LibraryButton.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/audio-rewards-page/config.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/store/lineup/lineupForRoute.js
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add reposted playlists and albums to library on mobile C-2984 (#3933)
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
Due: run-mobile-workflow

Add category filters to library PAY-1710 PAY-1711 (#3944)
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/common/src/utils/typeUtils.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/stems/src/components/SelectablePill/types.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.module.css
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

add filters to mobile + collections
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
Due: run-web-workflow, run-mobile-workflow

menu
  packages/mobile/src/screens/favorites-screen/LibraryCategorySelectionMenu.tsx
Due: run-mobile-workflow

pr review
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

remove nonNull
  packages/web/src/services/solana/solana.ts
Due: run-web-workflow

PR comments
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

[C-1736] Implement new ArtistCard on dashboard
  packages/web/src/hooks/useUserCoverPhoto.ts
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.module.css
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.tsx
  packages/web/src/pages/artist-dashboard-page/components/ArtistProfile.js
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
Due: run-web-workflow

Update files to account for changes on node 18
  packages/mobile/.gitignore
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-mobile-workflow

Fix lint
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.tsx
Due: run-web-workflow

Reinstall deps
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Properly reinstall deps
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix android sentry path
  packages/mobile/android/app/build.gradle
Due: run-mobile-workflow

Bust cache
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Bust cache test
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Address comments
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
Due: run-web-workflow

Make caches unique
  .circleci/config.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Plumbing to allow previewable tracks in mobile player
  packages/common/src/store/queue/types.ts
  packages/common/src/utils/streaming.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/now-playing-drawer/useTrackPlayerDuration.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Hook up preview button on mobile
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

fixes for previewing
  packages/common/src/store/player/slice.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/now-playing-drawer/useCurrentTrackDuration.ts
  packages/mobile/src/components/now-playing-drawer/useTrackPlayerDuration.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

preview button support should be optional
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Don't reinstall deps
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-3029] Fix embed environment url
  packages/web/wrangler.toml
Due: run-web-workflow

Reinstall deps without pod install
  .circleci/config.yml
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
  scripts/postinstall.sh
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

wip
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
Due: run-web-workflow

fix some unsafe access of values
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

remove unnecessary args
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

stop propagation on the remove click
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
Due: run-web-workflow

Add hint to modal radio items
  packages/web/src/components/modal-radio/ModalRadioItem.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

[C-3029] Fix embed environment url (#3987)
  packages/web/wrangler.toml
Due: run-web-workflow

make the usdc inputs white
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.module.css
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow
