Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

.circleci/config.yml:

version: 2.2

parameters:
  # Run all workflows for branches that match this regex
  run-all-workflows-branch-regex:
    type: string
    default: /(^main)|(^release.*)|(^nkang--deploy-storybook-new-new)$/

setup: true

orbs:
  continuation: circleci/continuation@0.2.0
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  # Generate the CircleCI continue_config.yml from .circleci/src
  generate-config:
    docker:
      - image: cimg/base:2021.04
    steps:
      # The circleci cli exposed in the image doesn't support config packing
      # so we install a version that does
      - run:
          name: Install cli
          command: curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=~/cli bash
      - checkout
      - run:
          name: Generate config
          command: ~/cli config pack .circleci/src > .circleci/continue_config.yml
      - persist_to_workspace:
          root: ./
          paths:
            - .circleci/continue_config.yml

  # Bump version and create release branch
  generate-release:
    working_directory: ~/audius-client
    docker:
      - image: circleci/node:14.18
    steps:
      - checkout
      - run:
          name: Bump version
          command: |
            git config --global user.email "audius-infra@audius.co"
            git config --global user.name "audius-infra"
            PREV_VERSION=$(jq -r .version ./lerna.json)
            CHANGELOG=$(git log --pretty=format:"[%h] %s %an" --date=short v${PREV_VERSION}..HEAD)
            MESSAGE="%s

            ${CHANGELOG}"
            npm i
            npx lerna version patch --yes -m "${MESSAGE}"
      - run:
          name: Create release branch
          command: |
            VERSION=$(jq -r .version ./lerna.json)
            git checkout -b release-v${VERSION}
            git push -u origin release-v${VERSION}

workflows:
  setup:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - generate-config

      # Trigger relevant workflows for the files that have changed
      - path-filtering/filter:
          base-revision: main
          config-path: ../workspace/.circleci/continue_config.yml
          mapping: |
            packages/web/.* run-web-workflow true
            packages/mobile/.* run-mobile-workflow true
            packages/stems/.* run-stems-workflow true
            .circleci/.* run-web-workflow true
            .circleci/.* run-mobile-workflow true
            .circleci/.* run-stems-workflow true
          name: trigger-relevant-workflows
          filters:
            branches:
              ignore: << pipeline.parameters.run-all-workflows-branch-regex >>
          requires:
            - generate-config
          workspace_path: ../workspace

      # Trigger all workflows for branches that match regex
      - continuation/continue:
          configuration_path: ../workspace/.circleci/continue_config.yml
          name: trigger-all-workflows
          filters:
            branches:
              only: << pipeline.parameters.run-all-workflows-branch-regex >>
          parameters: '{
            "run-web-workflow": true,
            "run-mobile-workflow": true,
            "run-stems-workflow": true
            }'
          pre-steps:
            - attach_workspace:
                at: ../workspace
          requires:
            - generate-config

  generate-release:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["generate-release", << pipeline.schedule.name >>]
    jobs:
      - generate-release

See if declaring css explicitly works?
  packages/web/src/types/css/css.d.ts
Due: run-web-workflow

Remove typecheck on build
  packages/web/craco.config.ts
Due: run-web-workflow

Add react back into each project, fix aliasing issues
  package-lock.json
  package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/craco.config.ts
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-stems-workflow

Move npm ci to start
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add deps
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Attach workspace
  .circleci/config.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use caching
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use single cache
  .circleci/config.yml
  .circleci/src/commands/@commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-384] Created First Tip Mobile UI
  packages/mobile/src/assets/images/emojis/money-mouth-face.png
  packages/mobile/src/screens/audio-screen/ChallengeRewards.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/screens/notifications-screen/content/ChallengeReward.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

Properly bootstrap
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use ls instead of lerna
  .circleci/config.yml
  .circleci/src/commands/@commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use lerna link
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use root cache
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Lint
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

dependency cache 1
  .circleci/config.yml
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove npm ci
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

no-ci
  package.json
Due: none

No cache and no ~/.npm
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update lockfiles
  package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Update mobile commands
  .circleci/src/commands/@mobile-commands.yml
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix mobile
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Rename command
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update package lock
  packages/web/package-lock.json
Due: run-web-workflow

Update lock
  packages/web/package-lock.json
Due: run-web-workflow

Persist stems to mobile jobs
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add delete playlist via audius data
  packages/web/scripts/configureLocalEnv.js
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Fix lock
  packages/web/package-lock.json
Due: run-web-workflow

fix oauth user ids - client side
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
Due: run-web-workflow

Remove .yml changes
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  packages/web/src/setupTests.js
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix lock, stems double build
  packages/stems/package.json
  packages/web/package-lock.json
Due: run-web-workflow, run-stems-workflow

Remove cache fallback
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Temp remove tests for web
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-405] Fixed Claim Rewards Pill To Respect Optimizely Challenges Config
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

Downgrade color
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

[C-654] Improve web modal usage and performance
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/stems/src/components/Modal/Modal.tsx
  packages/stems/src/components/Modal/types.ts
  packages/web/src/components/share-modal/ShareModal.tsx
  packages/web/src/components/share-modal/components/ShareDialog.module.css
  packages/web/src/components/share-modal/components/ShareDialog.tsx
  packages/web/src/components/share-modal/types.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/modals/AppModal.tsx
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/modals/useModalState.ts
Due: run-web-workflow, run-stems-workflow

CR Comments
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

[C-575] Fix sentry and dev warnings
  packages/web/src/components/dynamic-image/DynamicImage.tsx
  packages/web/src/components/nav/desktop/CurrentlyPlaying.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/components/search/SearchBar.js
  packages/web/src/components/service-selection/SelectedServices.tsx
  packages/web/src/components/service-selection/index.ts
  packages/web/src/components/service-selection/utils.ts
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/sign-on/store/actions.ts
  packages/web/src/pages/sign-on/store/errorSagas.ts
  packages/web/src/pages/upload-page/components/SelectPage.js
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

[C-400] Add logic for mobile app minimum version
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/hooks/useUpdateRequired.ts
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/update-required-screen/UpdateRequiredScreen.tsx
  packages/web/src/common/services/remote-config/defaults.ts
  packages/web/src/common/services/remote-config/types.ts
Due: run-web-workflow, run-mobile-workflow

[C-581] Improve probers upload flow a11y
  packages/stems/src/components/Popup/Popup.tsx
  packages/web/src/components/loading-spinner/LoadingSpinner.tsx
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/components/upload/UploadArtwork.module.css
Due: run-web-workflow, run-stems-workflow
