Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

cleanup usage of fetchSavedAlbums
  packages/common/src/store/account/slice.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow

remove default playlist loading from favorites screen
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

Move track count for offline playlist cards into the leaf components
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/hooks/useOfflineTrackStatus.ts
  packages/mobile/src/screens/favorites-screen/useCollectionScreenData.ts
  packages/mobile/src/screens/favorites-screen/utils.ts
Due: run-mobile-workflow

Fix types
  packages/stems/src/components/PopupMenu/types.tsx
Due: run-stems-workflow

Fix lint and types
  packages/stems/src/components/PopupMenu/PopupMenu.stories.tsx
Due: run-stems-workflow

[PAY-1242] Mobile chats copy message button
  packages/mobile/src/assets/images/iconCopy2.svg
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

[PAY-1220] Fix chat receive bug
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

PR comments
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
  packages/mobile/src/utils/zIndex.ts
Due: run-mobile-workflow

refactor copy button
  packages/mobile/src/screens/chat-screen/CopyMessagesButton.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

add em instance for web
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/entity-manager.ts
Due: run-web-workflow

Remove log
  packages/common/src/store/pages/chat/slice.ts
Due: none

[PAY-1195] Mobile chat screen unavailable states
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUnavailable.tsx
Due: run-mobile-workflow

disable reactions
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Increase space between chat reaction and copy message button
  packages/mobile/src/screens/chat-screen/CopyMessagesButton.tsx
Due: run-mobile-workflow

getting closer; correct conditional type
  packages/common/src/api/types.ts
Due: none

fix upload album
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/utils/getUnclaimedPlaylistId.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

correctly wire up infinite loading for albums/playlists on mobile
  packages/common/src/hooks/useSavedCollections.ts
  packages/common/src/store/account/types.ts
  packages/common/src/store/saved-collections/selectors.ts
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/LoadingMoreSpinner.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionScreenData.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/components/lineup/InfiniteCardLineup.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

Fix upload collection C-2630 (#3404)
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/utils/getUnclaimedPlaylistId.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

[C-2468] Add redesigned desktop create playlist/folder flow
  packages/web/src/components/nav/desktop/PlaylistLibrary/CreateButton.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistLibrary.tsx
  packages/web/src/components/pill/Pill.module.css
  packages/web/src/components/pill/Pill.tsx
Due: run-web-workflow

update endReached thresholds for albums/playlists tabs
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Refactor Artwork and use in mobile web track tile
  packages/web/src/components/track/Artwork.module.css
  packages/web/src/components/track/Artwork.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTileArt.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/upload-page/components/FinishPage.js
Due: run-web-workflow

WIP: conditionally render track or playlist tile in dm
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useTrackOrPlaylist.ts
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/upload-page/components/FinishPage.js
Due: run-web-workflow

Update useTrackOrPlaylist
  packages/common/src/hooks/useTrackOrPlaylist.ts
Due: none

Update chat message tile logic
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Lint
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Clear queue before playing dm track tile
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Add getPlayistById to audius-query collection
  packages/common/src/api/collection.ts
Due: none

Update playlist tile style for dm
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
Due: run-web-workflow

Add web chat sagas and use across
  packages/common/src/hooks/useTrackOrPlaylist.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/chat/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Update connected playlist tile to properly handle dm
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

Use chat copy instead of dm
  packages/common/src/models/Analytics.ts
  packages/common/src/store/queue/types.ts
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Add chat playlist tile title and artist hover and active states
  packages/web/src/components/track/mobile/PlaylistTile.module.css
Due: run-web-workflow

Fix chat playlist artwork states
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
Due: run-web-workflow

Track lastNavAction at AppTabScreen level
  packages/mobile/src/hooks/useNavigation.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Rename dm to chat
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow

Fix lint
  packages/mobile/src/hooks/useNavigation.ts
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

IT WORKS
  packages/common/src/api/collection.ts
  packages/common/src/api/createApi.ts
  packages/common/src/api/relatedArtists.ts
  packages/common/src/api/track.ts
  packages/common/src/api/types.ts
  packages/common/src/api/user.ts
Due: none

rename type args
  packages/common/src/api/createApi.ts
Due: none

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
