Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Add submenu tags
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
Due: run-mobile-workflow

Use static colors for the pill
  packages/web/src/components/data-entry/TextAreaV2.tsx
Due: run-web-workflow

Use 2-letter country codes in buy-audio location (#2695)
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

rename to followerGroup for consistency
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow

[C-1969 C-1967] Don't re-favorite playlist on download
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Port Input component to TypeScript
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
Due: run-web-workflow

Remove override since this is the only place artist chip is used
  packages/web/src/components/artist/ArtistChip.module.css
  packages/web/src/components/user-list/components/UserList.module.css
Due: run-web-workflow

Update ArtistChipTips - separate out types of support - send the user ids to compare via props rather than pulling from store
  packages/web/src/components/artist/ArtistChip.tsx
  packages/web/src/components/artist/ArtistChipSupportFor.tsx
  packages/web/src/components/artist/ArtistChipSupportFrom.tsx
  packages/web/src/components/artist/ArtistChipTips.tsx
  packages/web/src/components/user-list-modal/components/UserListModal.tsx
  packages/web/src/components/user-list/UserList.tsx
  packages/web/src/components/user-list/components/UserList.tsx
Due: run-web-workflow

Honor the showPopover prop in ArtistChip for ArtistIdentifier
  packages/web/src/components/artist/ArtistChip.tsx
Due: run-web-workflow

Show Ready to Claim Pill on needsDisbursement
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
Due: run-web-workflow

lint
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
Due: run-web-workflow

Handle all track availability selections
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Fix popup menu on nav
  packages/web/src/components/nav/desktop/NavPopupMenu.module.css
Due: run-web-workflow

Lint
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Change location.in_eu to is_eu
  packages/common/src/services/location.ts
  packages/web/src/utils/gdpr.ts
Due: run-web-workflow

smart collections
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/smart-collection-screen/SmartCollectionScreen.tsx
Due: run-mobile-workflow

Change the logic to make it more clear, add comments
  packages/common/src/store/pages/chat/selectors.ts
Due: none

Remove use of iso3 country code
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

squash
  packages/common/src/services/location.ts
Due: none

Linter
  packages/mobile/src/screens/settings-screen/NotificationSettingsScreen.tsx
  packages/web/src/pages/settings-page/components/desktop/NotificationSettings.tsx
Due: run-web-workflow, run-mobile-workflow

Remove use of iso3 country code (#2719)
  packages/common/src/services/location.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

smart collections
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

revert
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
Due: run-mobile-workflow

Improve offline image downloading
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/hooks/useLocalImage.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/utils/populateCoverArtSizes.ts
Due: run-mobile-workflow

Fix types
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/hooks/useLocalImage.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

[C-1962] Update offline icons/animations
  packages/mobile/android/app/src/main/res/raw/downloading_dark.riv
  packages/mobile/android/app/src/main/res/raw/downloading_light.riv
  packages/mobile/android/app/src/main/res/raw/downloading_matrix.riv
  packages/mobile/ios/Assets/downloading_dark.riv
  packages/mobile/ios/Assets/downloading_light.riv
  packages/mobile/ios/Assets/downloading_matrix.riv
  packages/mobile/src/assets/animations/iconDownloading.json
  packages/mobile/src/assets/images/iconDownload.svg
  packages/mobile/src/assets/images/iconDownloadInactive.svg
  packages/mobile/src/assets/images/iconDownloadQueued.svg
  packages/mobile/src/assets/images/iconDownloaded.svg
  packages/mobile/src/assets/images/iconNotDownloaded.svg
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/store/offline-downloads/slice.ts
  packages/mobile/src/styles/makeStyles.ts
Due: run-mobile-workflow

[C-1960] Do not show favorite/repost on own
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
Due: run-mobile-workflow

[C-1930] Prevent self favorite/repost/follow
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/common/store/social/users/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Keep iconDownload
  packages/mobile/src/assets/images/iconDownload.svg
Due: run-mobile-workflow

Hide repost and favorite buttons on inaccessible premium track page
  packages/web/src/components/track/GiantTrackTile.js
Due: run-web-workflow

Address pr comments
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

fix error on favoriets screen when starting from offline
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

Do not write subscribe to discovery on auto-subscribe after follow
  packages/common/src/store/pages/profile/actions.ts
  packages/mobile/src/screens/profile-screen/SubscribeButton.tsx
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow, run-mobile-workflow

fix typo
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow, run-mobile-workflow

Undo accidental changes
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
Due: run-mobile-workflow

Mobile lint
  packages/mobile/src/screens/profile-screen/SubscribeButton.tsx
Due: run-mobile-workflow

Add handle in mobile
  packages/mobile/src/screens/profile-screen/SubscribeButton.tsx
Due: run-mobile-workflow

Fix temp incorrect premium track access state
  packages/common/src/store/premium-content/slice.ts
  packages/web/src/common/store/premiumContent/sagas.ts
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Use rnfetchblob for offline mode
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

Replace readDir w/ ls
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow
