Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Fix duplicate auth on android
  packages/mobile/src/hooks/useTikTokAuth.ts
Due: run-mobile-workflow

Add updated format for long durations on lineup tiles for web and mobile
  packages/common/src/utils/timeUtil.ts
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/helpers.ts
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
Due: run-web-workflow, run-mobile-workflow

using react-native-popup-menu
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

Bump to 1.1.60 in plist
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

ota ci flow
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

small fixes
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fastfile fixes
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

testy
  .circleci/src/workflows/mobile.yml
  packages/mobile/src/screens/settings-screen/AboutScreen.tsx
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

testy
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

testy again
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

testy again
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

testy again
  .circleci/src/commands/@mobile-commands.yml
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

halp
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

halp
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

Wtf
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

rewrawe
  packages/mobile/android/fastlane/Fastfile
Due: run-mobile-workflow

testy
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

trying without menu
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

testy
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

update plugin
  packages/mobile/ios/Gemfile.lock
Due: run-mobile-workflow

fastfile
  packages/mobile/android/fastlane/Fastfile
Due: run-mobile-workflow

add to sentry + ios potential fix
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/src/screens/settings-screen/AboutScreen.tsx
  packages/mobile/src/utils/reportToSentry.ts
Due: run-mobile-workflow

more fixes
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/src/app/App.tsx
  packages/mobile/src/screens/settings-screen/AboutScreen.tsx
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

npm i
  package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

fastlane
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

test commenting
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

rc android
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/android/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

build test
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

version
  .circleci/src/commands/@mobile-commands.yml
  packages/mobile/android/app/build.gradle
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

one last test
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

final
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/src/app/App.tsx
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PLAT-726 C-2246] Add new notification flow
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/store/notifications/reducer.ts
  packages/mobile/src/store/notifications/sagas.ts
  packages/web/src/common/store/notifications/checkForNewNotificationsSaga.ts
  packages/web/src/common/store/notifications/constants.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/common/store/notifications/fetchNotificationsSaga.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/common/store/notifications/playlistUpdates.ts
  packages/web/src/common/store/notifications/refreshNotificationsSaga.ts
  packages/web/src/common/store/notifications/sagas.ts
  packages/web/src/store/notifications/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fix wait for remote config
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Fix wait for remote config (#2971)
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

REACTIONZZ
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/Reaction.tsx
Due: run-mobile-workflow

Rename selector
  packages/common/src/store/collectibles/selectors.ts
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

Add footer for unsupported collections
  packages/common/src/store/collectibles/selectors.ts
  packages/common/src/store/collectibles/slice.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/data-entry/DropdownInput.js
  packages/web/src/components/data-entry/DropdownInput.module.css
  packages/web/src/components/help-callout/HelpCallout.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.module.css
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
Due: run-web-workflow

Refactor premium content label on web track tile
  packages/web/src/components/track/PremiumContentLabel.tsx
Due: run-web-workflow
