Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add UI to search page
  packages/web/src/components/switch/Switch.module.css
  packages/web/src/components/switch/Switch.tsx
  packages/web/src/pages/search-page/components/desktop/AdvancedSearchFilters.module.css
  packages/web/src/pages/search-page/components/desktop/AdvancedSearchFilters.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
Due: run-web-workflow

working filters!!!
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/store/pages/search-results/actions.ts
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.js
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/pages/search-page/SearchPageProvider.js
  packages/web/src/pages/search-page/components/desktop/AdvancedSearchFilters.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
  packages/web/src/pages/search-page/helpers.ts
Due: run-web-workflow

Add mood filters
  packages/web/src/pages/search-page/components/desktop/AdvancedSearchFilters.tsx
Due: run-web-workflow

bpm tolerances
  packages/web/src/pages/search-page/components/desktop/AdvancedSearchFilters.tsx
Due: run-web-workflow

better advanced settings positioning"
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
Due: run-web-workflow

hacky find similar menu item
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/pages/search-page/components/desktop/AdvancedSearchFilters.tsx
  packages/web/src/pages/upload-page/store/utils/keyFinder.ts
Due: run-web-workflow

Add redirect prefix
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/web/src/components/app-redirect-popover/components/AppRedirectPopover.tsx
Due: run-web-workflow, run-mobile-workflow

Don't show popover on landing page
  packages/web/src/components/app-redirect-popover/components/AppRedirectPopover.tsx
Due: run-web-workflow

fix
  packages/common/src/store/user-list/sagas.ts
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/user-list/recommended-follows/sagas.ts
  packages/web/src/components/twitter-user-suggestion/TwitterUserSuggestion.tsx
  packages/web/src/components/user-list-modal/components/UserListModal.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow

make queue work
  packages/common/src/store/queue/slice.ts
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
Due: run-web-workflow

highlight now playing
  packages/web/src/pages/queue-page/QueuePage.tsx
Due: run-web-workflow

Fix types
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
Due: run-web-workflow

play next
  packages/common/src/store/queue/slice.ts
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/menu/TrackMenu.tsx
Due: run-web-workflow

hardcode ngrok
  packages/web/src/common/store/user-list/recommended-follows/sagas.ts
  packages/web/src/components/twitter-user-suggestion/TwitterUserSuggestion.tsx
Due: run-web-workflow

wip
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

more
  packages/web/src/common/store/user-list/recommended-follows/sagas.ts
  packages/web/src/components/twitter-user-suggestion/TwitterUserSuggestion.tsx
Due: run-web-workflow

shuffling fix
  packages/common/src/store/queue/slice.ts
Due: none

allow pause/play of a track in queue
  packages/web/src/pages/queue-page/QueuePage.tsx
Due: run-web-workflow

Can be faster
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/splash-screen/SplashScreen.tsx
Due: run-mobile-workflow

Bump android image size
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Bump android image size (#2301)
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix edit images
  packages/mobile/src/components/core/FormImageInput.tsx
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
  packages/mobile/src/screens/edit-track-screen/EditExistingTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/fields/PickArtworkField.tsx
Due: run-mobile-workflow

Fix edit images (#2302)
  packages/mobile/src/components/core/FormImageInput.tsx
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
  packages/mobile/src/screens/edit-track-screen/EditExistingTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/fields/PickArtworkField.tsx
Due: run-mobile-workflow

[C-1357] Fix followers formatting on sign up
  packages/mobile/src/components/suggested-follows/SuggestedFollows.tsx
Due: run-mobile-workflow

[C-1531] Remove open in app from landing page
  packages/web/src/components/app-redirect-popover/components/AppRedirectPopover.tsx
  packages/web/src/devUtils/useRenderingTrace.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/landing-page/LandingPage.tsx
Due: run-web-workflow

iOS fast follows
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
Due: run-mobile-workflow

iOS fast follows (#2305)
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
Due: run-mobile-workflow

[C-1531] Remove open in app from landing page (#2304)
  packages/web/src/components/app-redirect-popover/components/AppRedirectPopover.tsx
  packages/web/src/devUtils/useRenderingTrace.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/landing-page/LandingPage.tsx
Due: run-web-workflow

[C-1326] Fix open in app drawer to open the app properly (#2286)
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/web/src/components/app-redirect-popover/components/AppRedirectPopover.tsx
Due: run-web-workflow, run-mobile-workflow

Bump ios
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Bump ios (#2306)
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

[C-1549] Fix mobile share-drawer
  packages/common/src/store/ui/share-modal/selectors.ts
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

Bump ios version to 1.1.41, lint
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Fix android double play
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow

Fix android double play (#2309)
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow

add waves to ig video; increase quality
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

[C-1550] Improve left-nav open/close animation
  packages/mobile/src/hooks/useNavigation.ts
  packages/mobile/src/screens/account-screen/index.tsx
  packages/mobile/src/screens/app-drawer-screen/AppDrawerScreen.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavLink.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/index.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

Style android search input
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-mobile-workflow

Vendor in walletconnect
  package-lock.json
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/Drawers.tsx
  packages/mobile/src/assets/images/iconPhantom.svg
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/transfer-audio-mobile-drawer/TransferAudioMobileDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectScreen.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectStack.tsx
  packages/mobile/src/screens/wallet-connect/components/LinkedWallets.tsx
  packages/mobile/src/screens/wallet-connect/components/WalletsDrawer.tsx
  packages/mobile/src/screens/wallet-connect/components/index.ts
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
