Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Ellipse for long names
  packages/web/src/components/nav/desktop/AccountDetails.module.css
  packages/web/src/components/nav/desktop/AccountDetails.tsx
Due: run-web-workflow

Address final things
  packages/web/src/pages/profile-page/components/SocialLink.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
Due: run-web-workflow

bugfix: do not set legacy field
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
Due: none

more specific types
  packages/common/src/models/Collection.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/User.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/mobile/src/models/Collection.ts
Due: run-mobile-workflow

[C-2970] Add Link, Improve Text (#3901)
  packages/stems/rollup.config.js
  packages/stems/src/index.ts
  packages/stems/src/styles/colors.ts
  packages/web/src/components/data-entry/HelperText.tsx
  packages/web/src/components/link/Link.module.css
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/link/index.ts
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/typography/Text.tsx
  packages/web/src/components/typography/typography.module.css
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/fields/RemixSettingsField/TrackInfo.tsx
Due: run-web-workflow, run-stems-workflow

[C-2971] Add Avatar (#3902)
  packages/web/src/components/avatar/Avatar.module.css
  packages/web/src/components/avatar/Avatar.tsx
  packages/web/src/components/avatar/index.ts
  packages/web/src/hooks/useUserProfilePicture.ts
Due: run-web-workflow

Fix lint in useUserProfilePicture (#3903)
  packages/web/src/hooks/useUserProfilePicture.ts
Due: run-web-workflow

[C-2961] Fix LeftNav SEO (#3906)
  packages/probers/cypress/e2e/uploadTrack.cy.ts
  packages/stems/src/components/Button/Button.module.css
  packages/stems/src/components/Button/Button.tsx
  packages/stems/src/components/Button/types.ts
  packages/stems/src/components/Popup/Popup.tsx
  packages/stems/src/components/Popup/types.ts
  packages/stems/src/types.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/components/artist-recommendations/ArtistRecommendationsDropdown.tsx
  packages/web/src/components/avatar/Avatar.tsx
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/nav/desktop/LeftNav.module.css
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/desktop/NavButton.module.css
  packages/web/src/components/nav/desktop/NavButton.tsx
  packages/web/src/components/nav/desktop/NavHeader.module.css
  packages/web/src/components/nav/desktop/NavHeader.tsx
  packages/web/src/components/typography/typography.module.css
  packages/web/src/types.ts
Due: run-web-workflow, run-stems-workflow

[C-2972] Fix feed, trending track-page seo (#3907)
  packages/web/src/components/link/Link.module.css
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.module.css
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.module.css
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/PlaylistTile.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/components/typography/constants.ts
  packages/web/src/components/typography/types.ts
  packages/web/src/components/typography/typography.module.css
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-web-workflow

[C-2976] Fix profile-page seo (#3912)
  packages/web/src/components/animated-button/AnimatedButtonProvider.tsx
  packages/web/src/components/link/ExternalLink.tsx
  packages/web/src/components/link/SeoLink.tsx
  packages/web/src/components/link/index.ts
  packages/web/src/components/nav/mobile/ConnectedNavBar.tsx
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/profile-page/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/SocialLink.module.css
  packages/web/src/pages/profile-page/components/SocialLink.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.module.css
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/SocialLink.tsx
Due: run-web-workflow

Move the new modals to AppModal now that they're part of the same slice
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Fix account details css (#3917)
  packages/web/src/components/nav/desktop/AccountDetails.module.css
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/nav/desktop/LeftNav.module.css
Due: run-web-workflow

Remove unused preconnect
  packages/web/public/index.html
Due: run-web-workflow

Update browser cache policy
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Remove ontouchstart
  packages/web/public/index.html
Due: run-web-workflow

[PAY-1742] Remove useMetaMask on invalid account
  packages/web/src/common/store/account/sagas.js
  packages/web/src/components/banner/Web3ErrorBanner.tsx
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/sign-on/SignOnProvider.tsx
  packages/web/src/pages/sign-on/components/desktop/SignOnPage.tsx
Due: run-web-workflow

Remove hmm
  packages/web/src/hooks/useTabs/useTabs.tsx
Due: run-web-workflow

[PAY-1632] Improve music confetti
  packages/web/src/assets/img/particles/particleHeartPrimary.svg
  packages/web/src/assets/img/particles/particleHeartSecondary.svg
  packages/web/src/assets/img/particles/particleListensPrimary.svg
  packages/web/src/assets/img/particles/particleListensSecondary.svg
  packages/web/src/assets/img/particles/particleNotePrimary.svg
  packages/web/src/assets/img/particles/particleNoteSecondary.svg
  packages/web/src/assets/img/particles/particlePlaylistPrimary.svg
  packages/web/src/assets/img/particles/particlePlaylistSecondary.svg
  packages/web/src/components/background-animations/MusicConfetti.tsx
  packages/web/src/components/music-confetti/ConnectedMusicConfetti.tsx
  packages/web/src/utils/animations/music-confetti.js
Due: run-web-workflow

Fix resizing, remove jank code
  packages/web/src/components/background-animations/MusicConfetti.tsx
  packages/web/src/utils/animations/music-confetti.js
Due: run-web-workflow

Remove log
  packages/web/src/components/background-animations/MusicConfetti.tsx
  packages/web/src/utils/animations/music-confetti.js
Due: run-web-workflow

fix useAllPaginated query
  packages/common/src/audius-query/hooks/usePaginatedQuery.ts
Due: none

fix infinite scrolling cards
  packages/web/src/hooks/useTabs/TabStyles.module.css
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

Revert "Update twitter icon on mobile (#3880)"
  packages/mobile/src/assets/images/iconTwitterBird.svg
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationTwitterButton.tsx
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
Due: run-mobile-workflow

Adress comments, turn off hotkey
  packages/web/src/components/background-animations/MusicConfetti.tsx
  packages/web/src/components/music-confetti/ConnectedMusicConfetti.tsx
  packages/web/src/utils/zIndex.ts
Due: run-web-workflow

Revert "Update twitter icon on mobile (#3880)" (#3925)
  packages/mobile/src/assets/images/iconTwitterBird.svg
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/screens/notifications-screen/Notification/NotificationTwitterButton.tsx
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
Due: run-mobile-workflow

pr review
  packages/common/src/audius-query/hooks/usePaginatedQuery.ts
Due: none

Fix mobile playlist page
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/components/collection/mobile/CollectionHeader.js
  packages/web/src/components/collection/mobile/CollectionHeader.module.css
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/link/SeoLink.module.css
  packages/web/src/components/link/SeoLink.tsx
  packages/web/src/components/link/UserLink.module.css
  packages/web/src/components/link/UserLink.tsx
  packages/web/src/components/link/index.ts
  packages/web/src/components/nav/desktop/AccountDetails.module.css
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/InfoLabel.js
  packages/web/src/components/track/InfoLabel.tsx
  packages/web/src/components/track/mobile/TrackList.tsx
  packages/web/src/components/track/mobile/TrackListItem.tsx
  packages/web/src/components/typography/Text.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/track-page/components/mobile/ActionButtonRow.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-web-workflow

USDC Withdrawal saga scaffolding
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/store/index.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/withdraw-usdc/index.ts
  packages/common/src/store/withdraw-usdc/sagas.ts
  packages/common/src/store/withdraw-usdc/selectors.ts
  packages/common/src/store/withdraw-usdc/slice.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

report to sentry
  packages/common/src/store/withdraw-usdc/sagas.ts
Due: none

iOS running
  package-lock.json
  package.json
  packages/mobile/metro.config.js
  packages/mobile/package.json
  packages/stems/scripts/workers-site/package.json
  packages/web/package.json
  packages/web/scripts/workers-site/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

basic scaffolding for purchases page/table
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/transactions.ts
  packages/common/src/models/USDCTransactions.ts
  packages/common/src/models/index.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/purchases-page/PurchasesPage.module.css
  packages/web/src/pages/purchases-page/PurchasesPage.tsx
  packages/web/src/pages/purchases-page/PurchasesTable.module.css
  packages/web/src/pages/purchases-page/PurchasesTable.tsx
  packages/web/src/pages/purchases-page/index.ts
Due: run-web-workflow

android running
  packages/mobile/android/app/build.gradle
  packages/mobile/android/settings.gradle
Due: run-mobile-workflow

cleanup
  packages/web/src/pages/purchases-page/PurchasesPage.tsx
Due: run-web-workflow

Fix publishScripts.sh
  package-lock.json
  packages/web/package.json
  packages/web/scripts/publishScripts.sh
Due: run-web-workflow

fix some layout issues
  packages/web/src/pages/purchases-page/PurchasesPage.module.css
  packages/web/src/pages/purchases-page/PurchasesPage.tsx
  packages/web/src/pages/purchases-page/PurchasesTable.tsx
Due: run-web-workflow

final bugfixes
  packages/common/src/schemas/index.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

add restrictions for choices on edit modal
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
Due: run-web-workflow

Fix process not defined
  packages/web/craco.config.ts
  packages/web/src/app.tsx
  packages/web/src/types/process/index.d.ts
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
