Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2169] Fix track-player hot reload
  packages/mobile/index.js
  packages/mobile/patches/react-native-track-player+3.2.0.patch
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix patch
  packages/mobile/patches/react-native-track-player+3.2.0.patch
Due: run-mobile-workflow

[C-2175] Improve track permalink caching
  packages/common/src/store/cache/actions.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/tracks/actions.ts
  packages/common/src/store/cache/tracks/reducer.ts
  packages/common/src/store/cache/tracks/selectors.ts
  packages/common/src/store/cache/tracks/types.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/tracks/utils/retrieveTracks.ts
Due: run-web-workflow

Minor fixes for mobile chats
  packages/mobile/src/assets/images/iconCompose.svg
  packages/mobile/src/assets/images/iconMessage.svg
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

Move isEarliestUnread to common
  packages/common/src/utils/chatUtils.ts
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Reorg selectors + add comments
  packages/common/src/store/pages/chat/selectors.ts
Due: none

remove unused imports
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow, run-mobile-workflow

typecheck
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

Rename cacheUsersActions
  packages/common/src/store/cache/index.ts
  packages/common/src/store/cache/users/actions.ts
  packages/common/src/store/cache/users/combinedSelectors.ts
  packages/common/src/store/cache/users/reducer.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/cache/users/types.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/tracks/tracksSlice.ts
  packages/common/src/store/ui/search-users-modal/sagas.ts
  packages/common/src/store/users/index.ts
  packages/common/src/store/users/utils.ts
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/cache/collections/utils/addUsersFromCollections.ts
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/tracks/utils/helpers.ts
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/pages/token-dashboard/addWalletToUser.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/common/store/playlist-library/sagas.ts
  packages/web/src/common/store/profile/fetchProfileCollectionsSaga.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/common/store/service-selection/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/common/store/social/users/store.test.js
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/notification/Notification/components/TwitterShareButton.tsx
  packages/web/src/hooks/useUserCoverPhoto.ts
  packages/web/src/hooks/useUserProfilePicture.ts
Due: run-web-workflow, run-mobile-workflow

Fix spinner when entering foreground
  packages/mobile/src/components/loading-spinner/LoadingSpinner.tsx
Due: run-mobile-workflow

Use stage/prod tiktok app for ios
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Update stage tiktok env var
  packages/mobile/.env.stage
Due: run-mobile-workflow

Catch network errors in tiktok auth
  packages/mobile/src/hooks/useTikTokAuth.ts
Due: run-mobile-workflow

Get android working
  packages/mobile/android/app/src/main/java/co/audius/app/MainActivity.java
  packages/mobile/patches/react-native-tiktok+1.1.1.patch
  packages/mobile/src/hooks/useTikTokAuth.ts
Due: run-mobile-workflow

Fix styling of verified icon on settings page
  packages/web/src/pages/settings-page/components/desktop/VerificationModal.module.css
Due: run-web-workflow

Fix playlist top endpoint with user id
  packages/common/src/services/explore/Explore.ts
  packages/web/src/common/store/pages/explore/exploreCollections/sagas.ts
Due: run-web-workflow

Update collectible gated learn more link
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
Due: run-web-workflow, run-mobile-workflow

Add locked content modal on web
  packages/common/src/store/premium-content/selectors.ts
  packages/common/src/store/premium-content/slice.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/web/src/components/locked-content-modal/LockedContentModal.module.css
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/PremiumContentLabel.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/PremiumContentLabel.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Fix tile click
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Fix hook
  packages/common/src/hooks/usePremiumContentAccess.ts
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Fix lint
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

rename tiktok video feature flag
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Relay to both POA and ACDC
  packages/mobile/.env.prod
  packages/web/.env/.env.prod
Due: run-web-workflow, run-mobile-workflow

remove logs
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

fix lint
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Relay to both POA and ACDC (#2895)
  packages/mobile/.env.prod
  packages/web/.env/.env.prod
Due: run-web-workflow, run-mobile-workflow

Disable handle inputs when verified
  packages/mobile/src/components/core/FormTextInput.tsx
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

Address comments
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Update feature flag
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Show disabled state on profile screen inputs
  packages/web/src/pages/profile-page/components/SocialLinkInput.module.css
  packages/web/src/pages/profile-page/components/SocialLinkInput.tsx
Due: run-web-workflow

Fix lint
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

[C-2178] Complete w/ tiktok qa fixes (#2896)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/components/core/FormTextInput.tsx
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
  packages/web/src/pages/profile-page/components/SocialLinkInput.module.css
  packages/web/src/pages/profile-page/components/SocialLinkInput.tsx
  packages/web/src/pages/settings-page/components/desktop/VerificationModal.module.css
Due: run-web-workflow, run-mobile-workflow

fix tiktok perm
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/components/share-drawer/messages.ts
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-mobile-workflow

Update more collection stuff
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/store/collections/collectionsSlice.ts
  packages/common/src/store/collections/types.ts
  packages/common/src/store/lineup/selectors.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/common/store/queue/store.test.js
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/social/collections/store.test.js
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
