Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

.circleci/config.yml:

version: 2.2

parameters:
  # Run all workflows for branches that match this regex
  run-all-workflows-branch-regex:
    type: string
    default: /(^main)|(^release.*)|(^nkang--deploy-storybook-new-new)$/

setup: true

orbs:
  continuation: circleci/continuation@0.2.0
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  # Generate the CircleCI continue_config.yml from .circleci/src
  generate-config:
    docker:
      - image: cimg/base:2021.04
    steps:
      # The circleci cli exposed in the image doesn't support config packing
      # so we install a version that does
      - run:
          name: Install cli
          command: curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=~/cli bash
      - checkout
      - run:
          name: Generate config
          command: ~/cli config pack .circleci/src > .circleci/continue_config.yml
      - persist_to_workspace:
          root: ./
          paths:
            - .circleci/continue_config.yml

  # Bump version and create release branch
  generate-release:
    working_directory: ~/audius-client
    docker:
      - image: circleci/node:14.18
    steps:
      - checkout
      - run:
          name: Bump version
          command: |
            git config --global user.email "audius-infra@audius.co"
            git config --global user.name "audius-infra"
            PREV_VERSION=$(jq -r .version ./lerna.json)
            CHANGELOG=$(git log --pretty=format:"[%h] %s %an" --date=short v${PREV_VERSION}..HEAD)
            MESSAGE="%s

            ${CHANGELOG}"
            npm i
            npx lerna version patch --yes -m "${MESSAGE}"
      - run:
          name: Create release branch
          command: |
            VERSION=$(jq -r .version ./lerna.json)
            git checkout -b release-v${VERSION}
            git push -u origin release-v${VERSION}

workflows:
  setup:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - generate-config

      # Trigger relevant workflows for the files that have changed
      - path-filtering/filter:
          base-revision: main
          config-path: ../workspace/.circleci/continue_config.yml
          mapping: |
            packages/web/.* run-web-workflow true
            packages/mobile/.* run-mobile-workflow true
            packages/stems/.* run-stems-workflow true
            .circleci/.* run-web-workflow true
            .circleci/.* run-mobile-workflow true
            .circleci/.* run-stems-workflow true
          name: trigger-relevant-workflows
          filters:
            branches:
              ignore: << pipeline.parameters.run-all-workflows-branch-regex >>
          requires:
            - generate-config
          workspace_path: ../workspace

      # Trigger all workflows for branches that match regex
      - continuation/continue:
          configuration_path: ../workspace/.circleci/continue_config.yml
          name: trigger-all-workflows
          filters:
            branches:
              only: << pipeline.parameters.run-all-workflows-branch-regex >>
          parameters: '{
            "run-web-workflow": true,
            "run-mobile-workflow": true,
            "run-stems-workflow": true
            }'
          pre-steps:
            - attach_workspace:
                at: ../workspace
          requires:
            - generate-config

  generate-release:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["generate-release", << pipeline.schedule.name >>]
    jobs:
      - generate-release

Fix log
  packages/web/src/pages/modals/AppModal.tsx
Due: run-web-workflow

[C-581] Add upload track artwork flow (#49)
  packages/probers/cypress/fixtures/track-artwork.jpeg
  packages/probers/cypress/integration/uploadTrack.ts
Due: none

Fix mobile sign-on fetch referrer
  packages/mobile/src/screens/signon/SignOn.tsx
Due: run-mobile-workflow

Fix import
  packages/mobile/src/screens/signon/SignOn.tsx
Due: run-mobile-workflow

Fix MilestoneNotif runtime error
  packages/mobile/src/screens/notifications-screen/Notifications/MilestoneNotification.tsx
Due: run-mobile-workflow

[C-565] Add chain icon to collectibles card
  packages/mobile/src/screens/profile-screen/CollectiblesCard.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesTab.tsx
  packages/web/src/components/collectibles/components/CollectibleDetails.tsx
  packages/web/src/components/collectibles/components/CollectiblesPage.module.css
Due: run-web-workflow, run-mobile-workflow

Fix redundant case
  packages/mobile/src/screens/notifications-screen/Reaction/Reaction.tsx
Due: run-mobile-workflow

Fix shadow var
  packages/web/src/components/collectibles/components/CollectiblesPage.module.css
Due: run-web-workflow

[C-667] Fix desktop build on mac
  packages/web/package.json
Due: run-web-workflow

Update lock
  packages/web/package-lock.json
Due: run-web-workflow

[PAY-387] Created First Playlist Challenge Mobile UI
  packages/mobile/src/screens/audio-screen/ChallengeRewards.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/screens/notifications-screen/content/ChallengeReward.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/common/models/AudioRewards.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-386] Created First Playlist Challenge Web UI
  packages/web/src/common/services/remote-config/defaults.ts
  packages/web/src/components/nav/desktop/NavAudio.tsx
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/config.tsx
Due: run-web-workflow

[C-409] Add eslint-config-audius
  package-lock.json
  package.json
  packages/eslint-config-audius/README.md
  packages/eslint-config-audius/package.json
  packages/eslint-config-audius/src/index.js
  packages/mobile/.eslintrc.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
  packages/mobile/src/hooks/useNavigation.ts
  packages/mobile/src/screens/notifications-screen/Notifications/useSocialActionHandler.ts
  packages/mobile/src/screens/notifications-screen/NotificationsDrawerNavigationContext.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/stems/.eslintrc.js
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/stems/src/components/TokenValueInput/TokenValueInput.tsx
  packages/web/.eslintrc.js
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix jitter
  packages/web/src/components/artist/ArtistSupporting.module.css
Due: run-web-workflow

add update playlist
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Add ssh key
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Test ssh key
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Commit package changes
  package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow

[C-402] Add min version logic for the desktop app
  packages/web/src/electron.js
  packages/web/src/pages/App.js
Due: run-web-workflow

Ignore npm i scripts
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Test typo
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove test changes
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Revert package changes
  package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow

Add eslint-config-audius
  package-lock.json
  package.json
Due: none

Fix sign-on action types
  packages/web/src/common/store/account/reducer.ts
  packages/web/src/pages/sign-on/SignOnProvider.tsx
  packages/web/src/pages/sign-on/store/actions.ts
Due: run-web-workflow

Add eslint to each subpackage
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add ts to mobile
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Remove extra lint step
  packages/web/.hooks/pre-commit.json
Due: run-web-workflow

Fix all the types
  packages/mobile/src/store/oauth/actions.ts
  packages/web/src/pages/sign-on/components/desktop/SignOnPage.tsx
  packages/web/src/pages/sign-on/components/mobile/ProfilePage.tsx
  packages/web/src/pages/sign-on/components/mobile/SignOnPage.tsx
  packages/web/src/pages/sign-on/store/actions.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-415] Clicking tipping notifications goes to profile
  packages/mobile/src/screens/notifications-screen/Notifications/TipReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReceivedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipSentNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TopSupporterNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TopSupportingNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/useGoToProfile.ts
  packages/web/src/components/notification/Notification/TipReactionNotification.tsx
  packages/web/src/components/notification/Notification/TipReceivedNotification.tsx
  packages/web/src/components/notification/Notification/TipSentNotification.tsx
  packages/web/src/components/notification/Notification/TopSupporterNotification.tsx
  packages/web/src/components/notification/Notification/TopSupportingNotification.tsx
  packages/web/src/components/notification/Notification/useGoToProfile.ts
Due: run-web-workflow, run-mobile-workflow

Add write quorum feature flag
  packages/web/README.md
  packages/web/src/common/services/remote-config/feature-flags.ts
  packages/web/src/common/store/pages/token-dashboard/slice.ts
  packages/web/src/common/store/pages/token-dashboard/types.ts
  packages/web/src/components/service-selection/store/sagas.ts
  packages/web/src/pages/audio-rewards-page/components/RemoveWalletBody.tsx
  packages/web/src/pages/deactivate-account-page/store/sagas.ts
  packages/web/src/pages/profile-page/sagas.js
  packages/web/src/pages/sign-on/store/sagas.js
  packages/web/src/pages/upload-page/UploadPage.js
  packages/web/src/pages/upload-page/store/actions.js
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.js
  packages/web/src/store/token-dashboard/sagas.ts
Due: run-web-workflow

Use AudiusBackend as source of truth
  packages/web/src/common/store/pages/token-dashboard/slice.ts
  packages/web/src/common/store/pages/token-dashboard/types.ts
  packages/web/src/components/service-selection/store/sagas.ts
  packages/web/src/pages/audio-rewards-page/components/RemoveWalletBody.tsx
  packages/web/src/pages/deactivate-account-page/store/sagas.ts
  packages/web/src/pages/profile-page/sagas.js
  packages/web/src/pages/sign-on/store/sagas.js
  packages/web/src/pages/upload-page/UploadPage.js
  packages/web/src/pages/upload-page/store/actions.js
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.js
  packages/web/src/store/token-dashboard/sagas.ts
Due: run-web-workflow

Clean up
  packages/web/src/common/store/pages/token-dashboard/types.ts
  packages/web/src/pages/sign-on/store/sagas.js
  packages/web/src/pages/upload-page/store/actions.js
Due: run-web-workflow

Clean up
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Avoid static init block
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Remove unused import
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Pass flag through libs constructor
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Remove unnecessary changes
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Minor naming fixes
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Remove default export in lazy load
  packages/web/src/services/AudiusBackend.js
  packages/web/src/services/audius-backend/AudiusLibsLazyLoader.ts
Due: run-web-workflow
