Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Upgrade versions
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Upgrade mobile app versions for release
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Fix merge conflicts
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Remove comment
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Fix circle config more better
  .circleci/src/@continue_config.yml
  .circleci/src/workflows/probers.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Improve type defs
  packages/mobile/src/components/core/FlatList.tsx
  packages/mobile/src/components/core/SectionList.tsx
  packages/mobile/src/types/react.ts
Due: run-mobile-workflow

Finalize
  packages/mobile/src/screens/search-screen/SearchResults.tsx
  packages/mobile/src/screens/search-screen/SearchResults/SearchItem.tsx
  packages/mobile/src/screens/search-screen/SearchResults/SearchResults.tsx
  packages/mobile/src/screens/search-screen/SearchResults/index.ts
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
Due: run-mobile-workflow

Revert lock
  packages/web/package-lock.json
Due: run-web-workflow

Remove gradle change
  packages/mobile/android/build.gradle
Due: run-mobile-workflow

Cd to correct directory
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix pr comment
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add playback position logic on web for podcasts
  packages/common/src/services/audio-player.ts
  packages/common/src/store/index.ts
  packages/common/src/store/playback-position/index.ts
  packages/common/src/store/playback-position/sagas.ts
  packages/common/src/store/playback-position/selectors.ts
  packages/common/src/store/playback-position/slice.ts
  packages/common/src/store/playback-position/types.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/ui/mobile-overflow-menu/types.ts
  packages/web/src/assets/img/iconRepeatOff.svg
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTileProgressInfo.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackListItem.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/services/audio-player/AudioPlayer.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Fix collapsible list typo
  packages/mobile/src/components/core/FlatList.tsx
  packages/mobile/src/components/core/SectionList.tsx
Due: run-mobile-workflow

Fix overflow type
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
Due: run-mobile-workflow

[C-2311] Fix notification timestamp logic
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/notificationsSlice.ts
  packages/common/src/store/notifications/types.ts
  packages/web/src/common/store/notifications/checkForNewNotificationsSaga.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/common/store/notifications/fetchNotificationsSaga.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/common/store/notifications/refreshNotificationsSaga.ts
  packages/web/src/components/notification/Notification/FavoriteOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/RepostOfRepostNotification.tsx
Due: run-web-workflow

Clean up some types
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
Due: none

Update inbox settings card text
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

Fix disabled btn height
  packages/web/src/pages/settings-page/components/desktop/VerificationModal.module.css
Due: run-web-workflow

Some responsiveness tweaks
  packages/web/src/pages/settings-page/components/desktop/SettingsCard.module.css
Due: run-web-workflow

Cache and install deps properly
  .circleci/config.yml
  packages/probers/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Minor updates PR comments
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Fix prod ACDC contract address
  packages/mobile/.env.prod
  packages/web/.env/.env.prod
Due: run-web-workflow, run-mobile-workflow

Fix prod ACDC contract address (#3036)
  packages/mobile/.env.prod
  packages/web/.env/.env.prod
Due: run-web-workflow, run-mobile-workflow

dummy change for codepush
  packages/mobile/src/screens/settings-screen/AboutScreen.tsx
Due: run-mobile-workflow

Add nvm install step
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix config var
  packages/mobile/src/services/audius-backend-instance.ts
Due: run-mobile-workflow

Revert "Hard code entity manager prod address for now (#3039)"
  packages/mobile/src/services/audius-backend-instance.ts
Due: run-mobile-workflow

Fix supporters tooltip
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.module.css
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
Due: run-web-workflow

Fix dog ear shadow on track tile on native mobile
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileBannerIcon.tsx
Due: run-mobile-workflow

Fix dog ear shadow on track tile on web and mobile web
  packages/web/src/components/track/TrackBannerIcon.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

Lint
  packages/mobile/src/components/lineup-tile/LineupTileBannerIcon.tsx
Due: run-mobile-workflow

Update RadioButton and bump patch version
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/stems/src/components/RadioButton/RadioButton.module.css
  packages/stems/src/components/RadioButton/RadioButton.tsx
Due: run-stems-workflow

Upgrade stems in web
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Update availability selection ability
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/EditTrackModal.js
Due: run-web-workflow

Only show collectible callout if uploading
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Fix various things
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/store/notifications/notificationsSlice.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow

Remove as const
  packages/mobile/src/screens/search-screen/SearchResults/SearchResults.tsx
Due: run-mobile-workflow
