Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

change ModalFields to subforms
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/ModalField.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateModalField.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateModalForm.module.css
  packages/web/src/pages/upload-page/fields/ReleaseDateModalForm.tsx
  packages/web/src/pages/upload-page/fields/RemixModalForm.module.css
  packages/web/src/pages/upload-page/fields/RemixModalForm.tsx
Due: run-web-workflow

[PAY-1542][PAY-1539][PAY-1537] Mobile chats QA improvements
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
Due: run-mobile-workflow

[PAY-1541] Autofocus textinput on mobile search users screen
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[C-2812] Use storageNodeSelector in libs, Fix mobile images
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/services/audius-sdk.ts
  packages/mobile/src/services/auth.ts
  packages/mobile/src/services/storageNodeSelector.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/services/auth.ts
  packages/web/src/services/storageNodeSelector.ts
Due: run-web-workflow, run-mobile-workflow

lint
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

revert lock
  packages/web/package-lock.json
Due: run-web-workflow

fix web lock
  packages/web/package-lock.json
Due: run-web-workflow

More stuff
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

remove unused props
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

Enable playlist updates on prod
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/core/FormImageInput.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CreatePlaylistLibraryItemButton.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/NavItemKebabButton.tsx
Due: run-web-workflow, run-mobile-workflow

Allow mounting the popup to a referenced element
  packages/stems/src/components/Popup/Popup.tsx
  packages/stems/src/components/Popup/types.ts
  packages/stems/src/components/PopupMenu/PopupMenu.tsx
  packages/stems/src/components/PopupMenu/types.tsx
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/App.d.ts
  packages/web/src/pages/App.test.tsx
  packages/web/src/pages/MainContentContext.tsx
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
Due: run-web-workflow, run-stems-workflow

Fix scrolling and make offset logic better
  packages/stems/src/components/Popup/Popup.tsx
Due: run-stems-workflow

Fix scrollParent util to find perfect scrollbars
  packages/stems/src/utils/scrollParent.ts
Due: run-stems-workflow

Remove listRef plumbing and get the list item parent element instead
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
Due: run-web-workflow

remove unused ref
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
Due: run-web-workflow

Fix mainContentRef context type
  packages/web/src/pages/MainContentContext.tsx
Due: run-web-workflow

Remove unused
  packages/web/src/pages/App.test.tsx
Due: run-web-workflow

rearranging TrackTile to accommodate new layout
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/typography/typography.module.css
Due: run-web-workflow

[PAY-1549] Mobile gated content track screen updates
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

Small update
  packages/web/src/common/store/cache/collections/commonSagas.js
Due: run-web-workflow

[C-2787] Reregister device-token on app startup (#3660)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/components/image/FastImage.tsx
  packages/mobile/src/store/settings/sagas.ts
Due: run-mobile-workflow

[C-2798] Fix playlist button overlap (#3662)
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Enable playlist updates on prod (#3668)
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/core/FormImageInput.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CreatePlaylistLibraryItemButton.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/NavItemKebabButton.tsx
Due: run-web-workflow, run-mobile-workflow

Update imports
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/index.ts
  packages/common/src/services/sdk/discovery-node-selector/DiscoveryNodeSelectorService.ts
  packages/common/src/services/sdk/discovery-node-selector/index.ts
  packages/mobile/src/app/App.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/screens/settings-screen/InboxSettingsScreen.tsx
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/services/sdk/audius-sdk.ts
  packages/mobile/src/services/sdk/auth.ts
  packages/mobile/src/services/sdk/discoveryNodeSelector.ts
  packages/mobile/src/services/sdk/storageNodeSelector.ts
  packages/mobile/src/store/store.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/audius-sdk/auth.ts
  packages/web/src/services/audius-sdk/discoveryNodeSelector.ts
  packages/web/src/services/audius-sdk/storageNodeSelector.ts
Due: run-web-workflow, run-mobile-workflow

push parent/child form interactions to the modals
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateModalForm.tsx
  packages/web/src/pages/upload-page/fields/RemixModalForm.tsx
Due: run-web-workflow

add lock icons in place of plays
  packages/web/src/components/track/LockedStatusBadge.module.css
  packages/web/src/components/track/LockedStatusBadge.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Add SourceFilesModalForm
  packages/web/src/assets/img/iconSourceFiles.svg
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/SourceFilesModalForm.module.css
  packages/web/src/pages/upload-page/fields/SourceFilesModalForm.tsx
Due: run-web-workflow

Fix mobile image uri
  packages/mobile/src/hooks/useContentNodeImage.ts
Due: run-mobile-workflow

loading state
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
Due: run-mobile-workflow

update behavior for premium content message/color when unlocked
  packages/web/src/components/track/PremiumContentLabel.module.css
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

add source files input; fix form value piping
  packages/common/src/schemas/index.ts
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateModalForm.tsx
  packages/web/src/pages/upload-page/fields/RemixModalForm.tsx
  packages/web/src/pages/upload-page/fields/SourceFilesModalForm.tsx
  packages/web/src/pages/upload-page/fields/SourceFilesView.module.css
  packages/web/src/pages/upload-page/fields/SourceFilesView.tsx
Due: run-web-workflow

reregister on signin
  packages/mobile/src/store/settings/sagas.ts
Due: run-mobile-workflow

Initial proposal for refreshing chat messages
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Update registerDeviceToken logic
  packages/mobile/src/store/settings/sagas.ts
Due: run-mobile-workflow

[C-2808] Improve storageNodeSelector usage and perf
  packages/common/src/context/appContext.ts
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/AppContextProvider.tsx
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/services/sdk/bootstrapStorageNodes.ts
  packages/mobile/src/services/sdk/storageNodeSelector.ts
  packages/mobile/src/store/account/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
Due: run-mobile-workflow

[C-2813] Catch collectibles runtime errors
  packages/mobile/src/screens/profile-screen/CollectiblesCard.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesCardErrorBoundary.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesTab.tsx
Due: run-mobile-workflow

Update type
  packages/common/src/context/appContext.ts
Due: none

PR comments
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

[PAY-1545] Updates to mobile gated content track tiles (#3663)
  packages/mobile/src/assets/images/iconLock.svg
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
Due: run-mobile-workflow
