Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[PAY-1773] Add sorting by buyer name to sales table (#4059)
  package-lock.json
  packages/common/package.json
  packages/embed/package.json
  packages/mobile/package.json
  packages/web/package.json
  packages/web/src/pages/purchases-and-sales/SalesPage.tsx
  packages/web/src/pages/purchases-and-sales/SalesTable.tsx
Due: run-web-workflow, run-mobile-workflow

Feature flag USDC purchases in library PAY-1799 (#4057)
  packages/mobile/src/screens/favorites-screen/LibraryCategorySelectionMenu.tsx
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.tsx
Due: run-web-workflow, run-mobile-workflow

pr review 1
  packages/common/src/store/pages/saved-page/selectors.ts
Due: none

Fixes solana-dapp-store ci with new node
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

pr review
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/common/store/social/collections/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Add purchased + reposted tracks to library PAY-1633 (#3820)
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
Due: run-web-workflow

Add reposts + purchased albums to library PAY-1679 (#3865)
  packages/common/src/store/cache/collections/utils/index.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

[PAY-1613] Update titles + icons for Library (#3774)
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/res/raw/library_dark.riv
  packages/mobile/android/app/src/main/res/raw/library_default.riv
  packages/mobile/android/app/src/main/res/raw/library_matrix.riv
  packages/mobile/ios/Assets/library_dark.riv
  packages/mobile/ios/Assets/library_default.riv
  packages/mobile/ios/Assets/library_matrix.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/assets/images/iconLibrary.svg
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/FavoritesButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/LibraryButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/index.ts
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/FavoritesTabScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/stems/src/assets/icons/iconLibrary.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/bottom-bar/BottomBar.tsx
  packages/web/src/components/bottom-bar/buttons/LibraryButton.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/audio-rewards-page/config.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/store/lineup/lineupForRoute.js
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add reposted playlists and albums to library on mobile C-2984 (#3933)
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
Due: run-mobile-workflow

Add category filters to library PAY-1710 PAY-1711 (#3944)
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/common/src/utils/typeUtils.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/stems/src/components/SelectablePill/types.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.module.css
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add filters to library on mobile (#3973)
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/LibraryCategorySelectionMenu.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
Due: run-web-workflow, run-mobile-workflow

Add icons to filter pills PAY-1795 (#4015)
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.tsx
Due: run-web-workflow

Offline mode drawer PAY-1713 (#4014)
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/core/HarmonyModalHeader.tsx
  packages/mobile/src/components/drawers/OfflineListeningDrawer.tsx
  packages/mobile/src/components/drawers/index.ts
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesDownloadSection.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

Handle local library changes (e.g. favoriting, reposting) PAY-1714 (#4007)
  packages/common/src/api/library.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/common/src/store/pages/saved-page/utils.ts
  packages/common/src/utils/collectionUtils.ts
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/LibraryCategorySelectionMenu.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/emptyStateMessages.ts
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/pages/saved-page/hooks/useCollectionsData.tsx
Due: run-web-workflow, run-mobile-workflow

uid type
  packages/common/src/store/pages/saved-page/actions.ts
Due: none

bump app ver
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

fix bad merge library
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
Due: run-web-workflow

Fix bad merge breaking main (#4063)
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
Due: run-web-workflow

Revert "Fix bad merge breaking main (#4063)"
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
Due: run-web-workflow

checkpoint
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/ui/modals/usdc-purchase-details-modal/index.ts
  packages/web/src/components/usdc-purchase-details-modal/USDCPurchaseDetailsModal.module.css
  packages/web/src/components/usdc-purchase-details-modal/USDCPurchaseDetailsModal.tsx
Due: run-web-workflow

fix the stupid object reference bug
  packages/common/src/store/upload/reducer.ts
  packages/common/src/store/upload/selectors.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

lint fix
  packages/common/src/store/upload/selectors.ts
Due: none

also mobile
  packages/mobile/src/screens/upload-screen/screens/UploadingTracksScreen.tsx
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow, run-mobile-workflow

Final fixes
  packages/common/src/utils/linking.ts
  packages/common/src/utils/urlUtils.ts
  packages/mobile/src/components/core/Hyperlink.tsx
  packages/mobile/src/components/top-tab-bar/CollapsibleTopTabNavigator.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/CollectiblesTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/ProfileTabNavigator.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/RepostsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/TracksTab.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
  packages/web/src/components/link/ExternalLink.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow

more
  packages/common/src/utils/urlUtils.ts
Due: none

[C-3052] Fix playlist page theme (#4050)
  packages/web/src/components/collection/desktop/PublishConfirmationModal.module.css
  packages/web/src/components/collection/desktop/PublishConfirmationModal.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.module.css
  packages/web/src/components/table/Table.module.css
Due: run-web-workflow

Increase trending playlists fetch limit
  packages/web/src/common/store/pages/trending-playlists/lineups/sagas.ts
Due: run-web-workflow

Update sort map
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
Due: run-web-workflow

[C-2548] Fix favorites table saved date filter (#4034)
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
Due: run-web-workflow

Fixes solana-dapp-store ci with new node (#4060)
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-1833] Increase trending playlists fetch limit (#4066)
  packages/web/src/common/store/pages/trending-playlists/lineups/sagas.ts
Due: run-web-workflow

[C-3060] Fix mobile outbound link experience (#4055)
  packages/common/src/utils/index.ts
  packages/common/src/utils/linking.ts
  packages/common/src/utils/urlUtils.ts
  packages/mobile/src/components/action-drawer/ActionDrawer.tsx
  packages/mobile/src/components/core/Hyperlink.tsx
  packages/mobile/src/components/core/Text.tsx
  packages/mobile/src/components/drawer/AppDrawer.tsx
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/drawer/DrawerHeader.tsx
  packages/mobile/src/components/feed-filter-drawer/FeedFilterDrawer.tsx
  packages/mobile/src/components/leaving-audius-drawer/LeavingAudiusDrawer.tsx
  packages/mobile/src/components/playback-rate-drawer/PlaybackRateDrawer.tsx
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/top-tab-bar/CollapsibleTopTabNavigator.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/CollectiblesTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/ProfileTabNavigator.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/RepostsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabs/TracksTab.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
  packages/web/src/components/link/ExternalLink.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow

Finalize
  packages/mobile/src/utils/launchSelectImageActionSheet.ts
Due: run-mobile-workflow

bump sdk
  package-lock.json
  packages/common/package.json
  packages/embed/package.json
  packages/mobile/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

[PAY-1822] Add 0.01 min price
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
Due: run-web-workflow
