Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[C-2841] Use limit + offset for feed (#4032)
  packages/web/src/common/store/pages/feed/lineup/sagas.ts
  packages/web/src/pages/feed-page/components/desktop/FeedPageContent.tsx
Due: run-web-workflow

[PAY-1510] Add pills and clean up artist dashboard (#4029)
  packages/web/src/components/input/Input.module.css
  packages/web/src/components/input/Input.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.tsx
  packages/web/src/pages/artist-dashboard-page/components/TracksTableContainer.module.css
  packages/web/src/pages/artist-dashboard-page/components/TracksTableContainer.tsx
  packages/web/src/pages/artist-dashboard-page/store/actions.js
  packages/web/src/pages/artist-dashboard-page/store/reducer.js
  packages/web/src/pages/artist-dashboard-page/store/sagas.js
  packages/web/src/pages/artist-dashboard-page/store/sagas.ts
  packages/web/src/pages/artist-dashboard-page/store/selectors.ts
  packages/web/src/pages/artist-dashboard-page/store/slice.ts
  packages/web/src/pages/artist-dashboard-page/store/types.ts
  packages/web/src/store/reducers.ts
Due: run-web-workflow

add filter functionality to library
  packages/common/src/api/library.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/utils/collectionUtils.ts
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/web/src/common/store/pages/saved/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Add formik
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/pages/upload-page/fields/availability/PriceField.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

use transcode progress for upload
  packages/common/src/store/upload/reducer.ts
  packages/common/src/store/upload/selectors.ts
  packages/common/src/store/upload/types.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/pages/upload-page/components/FinishPageNew.tsx
Due: run-web-workflow

Fix Jupiter caching bad route info
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

Fix Jupiter caching bad route info (#4036)
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

Use formik and zod
  packages/common/src/store/ui/modals/createModal.ts
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.tsx
  packages/web/src/pages/upload-page/fields/availability/PriceField.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
  packages/web/src/utils/tokenInput.ts
Due: run-web-workflow

Wire up success page
  packages/common/src/store/ui/modals/withdraw-usdc-modal/index.ts
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
Due: run-web-workflow

Display proper amount in track sold notification
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseSellerNotification.tsx
  packages/web/src/components/notification/Notification/USDCPurchaseSellerNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Symlink react-native for android release (#4023)
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix lint
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseSellerNotification.tsx
Due: run-mobile-workflow

fix crash when unmounting ArtistDashboardPage
  packages/web/src/pages/artist-dashboard-page/store/sagas.ts
Due: run-web-workflow

fix proptype warning on initial load of sales/purchase tables
  packages/web/src/pages/purchases-and-sales/PurchasesPage.tsx
  packages/web/src/pages/purchases-and-sales/PurchasesTable.tsx
  packages/web/src/pages/purchases-and-sales/SalesTable.tsx
Due: run-web-workflow

connect link for sales page to USDCCard
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
Due: run-web-workflow

add purchases link to settings page
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

Address comments
  packages/common/src/store/ui/modals/createModal.ts
  packages/common/src/store/ui/modals/withdraw-usdc-modal/index.ts
  packages/web/src/utils/tokenInput.ts
Due: run-web-workflow

[C-2994] Implement image-picker
  package-lock.json
  packages/common/src/store/cache/collections/types.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/src/components/core/Screen/ScreenContent.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/components/form-screen/FormScreen.tsx
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
  packages/mobile/src/screens/edit-profile-screen/ProfileImageField.tsx
  packages/mobile/src/screens/edit-profile-screen/ProfileTextField.tsx
  packages/mobile/src/screens/signon/ProfileImage.tsx
  packages/mobile/src/screens/signon/ProfileManual.tsx
  packages/mobile/src/utils/launchSelectImageActionSheet.ts
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

Update android dependencies
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/build.gradle
Due: run-mobile-workflow

[PAY-1792] Add formik, zod, and proper inputs to USDC withdrawal modal (#4037)
  packages/common/src/store/ui/modals/createModal.ts
  packages/common/src/store/ui/modals/withdraw-usdc-modal/index.ts
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
  packages/web/src/utils/tokenInput.ts
Due: run-web-workflow

Add preview functionality to new upload flow
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/fields/CollectionTrackField.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
  packages/web/src/pages/upload-page/pages/EditPage.tsx
  packages/web/src/pages/upload-page/utils/uploadPreviewContext.tsx
Due: run-web-workflow

[C-3044] Add preview functionality to new upload flow (#4038)
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/fields/CollectionTrackField.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
  packages/web/src/pages/upload-page/pages/EditPage.tsx
  packages/web/src/pages/upload-page/utils/uploadPreviewContext.tsx
Due: run-web-workflow

[PAY-1811] Fix default/empty profile picture in now playing bar and dashboard page
  packages/web/src/components/dynamic-image/DynamicImage.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.tsx
Due: run-web-workflow

[PAY-1725] Display proper amount in track sold notification (#4039)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseSellerNotification.tsx
  packages/web/src/components/notification/Notification/USDCPurchaseSellerNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Minor rename
  packages/mobile/src/utils/launchSelectImageActionSheet.ts
Due: run-mobile-workflow

use icon directly
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
Due: run-web-workflow

[PAY-1811] Fix default/empty profile picture in now playing bar/dashboard (#4040)
  packages/web/src/components/dynamic-image/DynamicImage.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.tsx
Due: run-web-workflow

[PAY-1763][PAY-1810] Wire up links to Purchases/Sales pages (#4042)
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
  packages/web/src/pages/artist-dashboard-page/store/sagas.ts
  packages/web/src/pages/purchases-and-sales/PurchasesPage.tsx
  packages/web/src/pages/purchases-and-sales/PurchasesTable.tsx
  packages/web/src/pages/purchases-and-sales/SalesTable.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

implements withdrawals page
  packages/common/src/api/user.ts
  packages/common/src/audius-query/createApi.ts
  packages/common/src/models/USDCTransactions.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
  packages/web/src/pages/purchases-and-sales/PurchasesPage.tsx
  packages/web/src/pages/purchases-and-sales/WithdrawalsPage.module.css
  packages/web/src/pages/purchases-and-sales/WithdrawalsPage.tsx
  packages/web/src/pages/purchases-and-sales/WithdrawalsTable.tsx
  packages/web/src/pages/purchases-and-sales/components/NoTransactionsContent.module.css
  packages/web/src/pages/purchases-and-sales/components/NoTransactionsContent.tsx
  packages/web/src/pages/purchases-and-sales/types.ts
  packages/web/src/pages/purchases-and-sales/utils.ts
Due: run-web-workflow

Upgrade versions
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

[C-3024] Fix solana dapp store ci
  .circleci/src/commands/@mobile-commands.yml
  packages/mobile/dapp-store/.nvmrc
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-3024] Fix solana dapp store ci (#4044)
  .circleci/src/commands/@mobile-commands.yml
  packages/mobile/dapp-store/.nvmrc
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix parsing of change amount
  packages/common/src/utils/wallet.ts
  packages/web/src/pages/purchases-and-sales/WithdrawalsTable.tsx
Due: run-web-workflow

Wire up withdraw USDC saga to modal state
  packages/common/src/store/ui/withdraw-usdc/slice.ts
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

Fix upload type error where upload type is undefined
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
Due: run-web-workflow

Amount in dollars, fix amountValue display
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
  packages/web/src/utils/tokenInput.ts
Due: run-web-workflow

comment, remove log
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

auto favorite purchased tracks
  packages/common/src/store/purchase-content/sagas.ts
Due: none

Wire up withdraw USDC saga to modal state (#4045)
  packages/common/src/store/ui/withdraw-usdc/slice.ts
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
  packages/web/src/utils/tokenInput.ts
Due: run-web-workflow
