Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Typo
  packages/common/src/store/pages/settings/reducer.ts
Due: none

Remove hardcoded enabled and disabled states. Add messages to enable notifications drawer reminder
  packages/common/src/store/pages/index.ts
  packages/common/src/store/pages/settings/reducer.ts
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/store/settings/sagas.ts
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/components/mobile/SettingsPage.tsx
  packages/web/src/pages/settings-page/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Browser enable all / disable all. TODO read from db correctly and write defaults correctly
  packages/common/src/store/pages/settings/actions.ts
  packages/common/src/store/pages/settings/reducer.ts
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/store/sagas.ts
  packages/web/src/store/account/sagas.ts
Due: run-web-workflow

Remove browser settings off on signout
  packages/web/src/store/account/sagas.ts
Due: run-web-workflow

prettier
  packages/common/src/store/pages/index.ts
  packages/web/src/pages/settings-page/store/sagas.ts
  packages/web/src/store/account/sagas.ts
Due: run-web-workflow

missed
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/screens/settings-screen/NotificationRow.tsx
  packages/mobile/src/store/settings/sagas.ts
Due: run-mobile-workflow

remove enableall logic; check if permissions already enabled on signin
  packages/common/src/store/pages/settings/actions.ts
  packages/common/src/store/pages/settings/reducer.ts
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/settings-screen/NotificationRow.tsx
  packages/mobile/src/store/settings/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/components/mobile/SettingsPage.tsx
Due: run-web-workflow, run-mobile-workflow

move existing settings check to mobile package
  packages/common/src/store/pages/settings/actions.ts
  packages/mobile/src/notifications.ts
  packages/mobile/src/store/settings/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow, run-mobile-workflow

typos
  packages/common/src/store/pages/settings/actions.ts
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
Due: run-mobile-workflow

browser off type
  packages/common/src/store/pages/settings/actions.ts
Due: none

lint
  packages/common/src/store/pages/settings/actions.ts
Due: none

typo
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

delete unnecessary
  packages/web/src/pages/settings-page/store/sagas.ts
Due: run-web-workflow

mapvalues and fix watch
  packages/mobile/src/store/settings/sagas.ts
  packages/web/src/pages/settings-page/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

linter
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/notifications.ts
  packages/web/src/pages/settings-page/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

linter again
  packages/web/src/pages/settings-page/store/sagas.ts
Due: run-web-workflow

linter again again
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

Install same version of cocoapods
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix stylelint
  packages/web/src/components/ai-attribution-modal/SearchBarResult.module.css
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.module.css
  packages/web/src/components/notification/Notification/AnnouncementNotification.module.css
  packages/web/src/components/track/AiTrackSection.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
Due: run-web-workflow

Fix download track button
  packages/common/src/hooks/useDownloadTrackButtons.ts
Due: none

Delete download CID things
  packages/common/src/services/track-download/TrackDownload.ts
  packages/common/src/store/cache/tracks/actions.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/pages/track/sagas.js
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

remove log
  packages/common/src/hooks/useDownloadTrackButtons.ts
Due: none

Memoize useDownloadtrackButtons
  packages/common/src/hooks/useDownloadTrackButtons.ts
Due: none

Fix always throwing
  packages/web/src/services/track-download.ts
Due: run-web-workflow

Support storage v2 playlists+albums
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Revert "[PAY-901] hotfix: TransactionDetailsModal now expects wei amounts (#3297)"
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Fix mobile prem content track headers
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

Revert "[PAY-901] hotfix: TransactionDetailsModal now expects wei amounts" (#3313)
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

[C-2560] Improve checking for new notifs
  packages/web/src/common/store/notifications/checkForNewNotificationsSaga.ts
Due: run-web-workflow

Fix mobile prem content track headers (#3315)
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

Use SPL amounts for BuyAudio flow
  packages/common/src/utils/wallet.ts
  packages/web/src/components/buy-audio-modal/components/SuccessPage.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

[PAY-901] hotfix: Use SPL amounts for BuyAudio flow (#3318)
  packages/common/src/utils/wallet.ts
  packages/web/src/components/buy-audio-modal/components/SuccessPage.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Fix internal audius urls
  packages/common/src/utils/urlUtils.ts
Due: none

I broke main and I'm sorry
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Revert "Add search multimap (#3306)"
  packages/common/src/services/audius-api-client/helper.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-ai-bar/sagas.ts
  packages/web/src/common/store/search-bar/sagas.ts
Due: run-web-workflow

Fix index issue with constructUrl (#3308)
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

I broke main and I'm sorry (#3319)
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Stylelint
  packages/web/src/components/ai-attribution-modal/SearchBarResult.module.css
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.module.css
  packages/web/src/components/notification/Notification/AnnouncementNotification.module.css
  packages/web/src/components/track/AiTrackSection.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
Due: run-web-workflow

Revert "Revert "Add search multimap (#3306)""
  packages/common/src/services/audius-api-client/helper.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-ai-bar/sagas.ts
  packages/web/src/common/store/search-bar/sagas.ts
Due: run-web-workflow

Fix yield* bug
  packages/web/src/common/store/pages/search-page/sagas.js
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
