Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Install pip for android release (#4020)
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-3039] Add icon to profile share button (#4018)
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

[C-2645] Fix icon-info size
  packages/mobile/src/assets/images/iconInfo.svg
  packages/stems/src/assets/icons/iconInfo.svg
  packages/web/src/assets/img/iconInfo.svg
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

v1.5.40
  package-lock.json
  packages/common/package.json
  packages/embed/package.json
  packages/eslint-config-audius/package.json
  packages/mobile/package.json
  packages/probers/package.json
  packages/stems/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Symlink react-native for android
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

v1.5.40
  package-lock.json
  package.json
  packages/common/package.json
  packages/embed/package.json
  packages/eslint-config-audius/package.json
  packages/mobile/package.json
  packages/probers/package.json
  packages/stems/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2645] Fix icon-info size (#4021)
  packages/mobile/src/assets/images/iconInfo.svg
  packages/stems/src/assets/icons/iconInfo.svg
  packages/web/src/assets/img/iconInfo.svg
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

v1.5.40 (#4024)
  package-lock.json
  package.json
  packages/common/package.json
  packages/embed/package.json
  packages/eslint-config-audius/package.json
  packages/mobile/package.json
  packages/probers/package.json
  packages/stems/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2862] Fix repost message text
  packages/web/src/components/Icon/Icon.module.css
  packages/web/src/components/track/desktop/stats/Stats.module.css
  packages/web/src/components/track/desktop/stats/Stats.tsx
  packages/web/src/components/track/desktop/stats/StatsText.tsx
Due: run-web-workflow

[C-2924] fix artist-rec description alignment
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
Due: run-mobile-workflow

pr review, add harmonymodalheader
  packages/mobile/src/components/core/HarmonyModalHeader.tsx
  packages/mobile/src/components/drawers/OfflineListeningDrawer.tsx
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-mobile-workflow

validation fixes; wait til submit; error alignment
  packages/web/src/components/form-fields/ArtworkField.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
  packages/web/src/pages/upload-page/validation.ts
Due: run-web-workflow

add empty states for different category filters
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/emptyStateMessages.ts
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2976] Fix upload form validation timing and display (#4026)
  packages/web/src/components/form-fields/ArtworkField.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
  packages/web/src/pages/upload-page/validation.ts
Due: run-web-workflow

Implement pills on artist dashboard, refactoring to slice
  packages/web/src/components/input/Input.module.css
  packages/web/src/components/input/Input.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/TracksTableContainer.module.css
  packages/web/src/pages/artist-dashboard-page/components/TracksTableContainer.tsx
  packages/web/src/pages/artist-dashboard-page/store/actions.js
  packages/web/src/pages/artist-dashboard-page/store/reducer.js
  packages/web/src/pages/artist-dashboard-page/store/sagas.js
  packages/web/src/pages/artist-dashboard-page/store/selectors.ts
  packages/web/src/pages/artist-dashboard-page/store/slice.ts
  packages/web/src/pages/artist-dashboard-page/store/types.ts
  packages/web/src/store/reducers.ts
Due: run-web-workflow

Convert saga to ts
  packages/web/src/pages/artist-dashboard-page/store/sagas.ts
  packages/web/src/pages/artist-dashboard-page/store/slice.ts
Due: run-web-workflow

Add correct filtering
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/ArtistCard.tsx
  packages/web/src/pages/artist-dashboard-page/components/TracksTableContainer.tsx
Due: run-web-workflow

Fix lint
  packages/web/src/pages/artist-dashboard-page/store/sagas.ts
Due: run-web-workflow

Fix sizing of input suffix
  packages/web/src/components/input/Input.module.css
Due: run-web-workflow

add guard to prevent attempted read of undefined queue items
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Add guard to prevent attempted read of undefined queue items (#4030)
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

[PAY-1793] Use existing SOL to fund dest ATA
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

Address comments
  packages/web/src/pages/artist-dashboard-page/components/TracksTableContainer.module.css
  packages/web/src/pages/artist-dashboard-page/store/sagas.ts
Due: run-web-workflow

Maintain minimum balance for rent
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

include amounts in console logs
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

allow some text to have newline
  packages/mobile/src/components/core/Text.tsx
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/components/offline-placeholder/messages.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipStatusText.tsx
Due: run-mobile-workflow

[C-2536] Fix track name cutoff (#4019)
  packages/mobile/src/components/core/Text.tsx
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/components/offline-placeholder/messages.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/search-screen/SearchResults/SearchItem.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipStatusText.tsx
Due: run-mobile-workflow

[PAY-1793] Use existing SOL to fund dest ATA (#4031)
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

pr review
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

Empty states for different library category filters PAY-1797 (#4028)
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/emptyStateMessages.ts
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

Fix the rest of the stuff
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-web-workflow

[C-2792] Surface play count for hidden tracks (#4022)
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2862] Fix clipped repost message text (#4025)
  packages/web/src/components/Icon/Icon.module.css
  packages/web/src/components/track/desktop/stats/Stats.module.css
  packages/web/src/components/track/desktop/stats/Stats.tsx
  packages/web/src/components/track/desktop/stats/StatsText.tsx
Due: run-web-workflow

[C-2841] Use limit + offset for feed
  packages/web/src/common/store/pages/feed/lineup/sagas.ts
  packages/web/src/pages/feed-page/components/desktop/FeedPageContent.tsx
Due: run-web-workflow

[C-2548] Fix favorites table saved date filter
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
Due: run-web-workflow

[C-2924] Fix ArtistRecommendation description alignment (#4033)
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
