Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

metadatafields styling fixes
  packages/web/src/pages/upload-page/components/EditPageNew.module.css
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

stylelint
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
Due: run-web-workflow

Fix drag and drop for playlist tiles and now playing
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
Due: run-web-workflow

Upgrade libs across other packages
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

[PAY-1399] Fix Android chat send button color
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
  packages/mobile/src/utils/convertHexToRGBA.ts
Due: run-mobile-workflow

comment
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
Due: run-mobile-workflow

[PAY-1389] CTA on create chat when not permitted (#3566)
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/create-chat-actions-drawer/CreateChatActionsDrawer.tsx
  packages/mobile/src/components/create-chat-actions-drawer/index.ts
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

[PAY-1325] Remove userbadges from chat unavailable message in chat screen (#3567)
  packages/mobile/src/screens/chat-screen/ChatUnavailable.tsx
Due: run-mobile-workflow

[PAY-1446] Set MessageLocked icon in profile screen to 0.4 opacity (#3570)
  packages/mobile/src/screens/profile-screen/MessageLockedButton.tsx
Due: run-mobile-workflow

[PAY-1434] Dismiss keyboard on create chat screen row press (#3569)
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[PAY-1440][PAY-1441] Mobile inbox settings UI fixes (#3571)
  packages/mobile/src/screens/settings-screen/InboxSettingsScreen.tsx
Due: run-mobile-workflow

[PAY-1442] Fix drawer touchables on android (#3572)
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/create-chat-actions-drawer/CreateChatActionsDrawer.tsx
Due: run-mobile-workflow

[PAY-1454] Redline header to latest figma design
  packages/mobile/src/screens/profile-screen/CoverPhoto.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/Bio.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandHeaderToggleButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/SubscribeButton.tsx
Due: run-mobile-workflow

Allow drag and dropping tracks into chat (#3573)
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
Due: run-web-workflow

Fix imports
  package-lock.json
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

[PAY-1399] Fix Android chat send button color (#3575)
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
  packages/mobile/src/utils/convertHexToRGBA.ts
Due: run-mobile-workflow

Fix type issue associated with sdk upgrade and typed AudiusLibs on window
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/src/services/libs.ts
  packages/web/package-lock.json
  packages/web/src/pages/audio-rewards-page/components/SendInputBody.tsx
  packages/web/src/services/audius-backend/Cognito.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/entity-manager.ts
Due: run-web-workflow, run-mobile-workflow

Force npm install with changing lockfiles
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Update mobile track list items for playlists to have the overflow menu icon
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/web/src/components/table/Table.module.css
Due: run-web-workflow, run-mobile-workflow

[PAY-1435] Navigate to chat after unblocking user on mobile
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/screens/profile-screen/MessageLockedButton.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

rename
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/screens/profile-screen/MessageLockedButton.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

Downgrade cocoapods
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

[PAY-1435] Navigate to chat after unblocking user on mobile (#3578)
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
  packages/mobile/src/screens/profile-screen/MessageLockedButton.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

[PAY-1405] Add padding to bottom of chat user search screen
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[C-2761] Add mutations to audius-query
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/types.ts
Due: none

Add redux thunk
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/store/store.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/store/configureStore.ts
Due: run-web-workflow, run-mobile-workflow

revert locks
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

fix api
  packages/common/src/audius-query/createApi.ts
Due: none

Update locks
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Update README
  packages/common/src/audius-query/README.md
Due: none

More polish
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

[PAY-1454] Redline mobile header to latest figma design (#3576)
  packages/mobile/src/screens/profile-screen/CoverPhoto.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/Bio.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandHeaderToggleButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/SubscribeButton.tsx
Due: run-mobile-workflow

Reuse selector
  packages/common/src/audius-query/createApi.ts
Due: none

[CON-742] Make users and track actions v2 for v2 users/tracks even when feature flags are disabled
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow

Generate sourcemaps when running web:prod
  packages/web/package.json
Due: run-web-workflow

Update share modal and drawer to properly add user twitter handle
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/utils.ts
  packages/web/src/components/share-modal/ShareModal.tsx
  packages/web/src/components/share-modal/utils.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-1432] Fix chat playlist artist sometimes undefined
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/types.ts
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

add debug flag
  packages/common/src/audius-query/types.ts
Due: none

audius-query debug flag usage in README
  packages/common/src/audius-query/README.md
Due: none

duplicate owner_id to user
  packages/common/src/audius-query/createApi.ts
  packages/common/src/audius-query/types.ts
  packages/web/src/common/store/cache/tracks/utils/reformat.ts
Due: run-web-workflow
