Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Android
  packages/mobile/android/fastlane/Fastfile
Due: run-mobile-workflow

Testing
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix typo
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

[PAY-1318] Missing Shadow and Space Between Divider and Header
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/HeaderShadow.tsx
  packages/mobile/src/utils/zIndex.ts
Due: run-mobile-workflow

Untest
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

icon props
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

remove unused
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

iconProps
  packages/mobile/src/components/core/TextInput.tsx
Due: run-mobile-workflow

fix upload regression
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/components/SelectPage.js
  packages/web/src/pages/upload-page/components/SelectPageNew.tsx
Due: run-web-workflow

[PAY-1343] First message in new chat shows purple unread indicator
  packages/common/src/store/pages/chat/sagas.ts
Due: none

comment
  packages/common/src/store/pages/chat/sagas.ts
Due: none

Fix lint
  packages/mobile/src/services/analytics.ts
Due: run-mobile-workflow

remove flag
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

lint
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

bump sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

[PAY-1377] Compose message icon to TouchableOpacity
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

[PAY-1355] Add space before learn more link in inbox unavailable message
  packages/mobile/src/screens/chat-screen/ChatUnavailable.tsx
Due: run-mobile-workflow

[PAY-1267] Add space before placeholder in chat textinput
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

add formik to web
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

add yup to web
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Refactor chat track styles
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileRoot.tsx
Due: run-mobile-workflow

Satisfy typecheck
  packages/common/src/hooks/chats/useTrackPlayer.ts
Due: none

Update mobile chat styles
  packages/common/src/store/pages/chat/types.ts
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileRoot.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

consolidate proxy selector
  packages/mobile/src/hooks/useOfflineTrackStatus.ts
Due: run-mobile-workflow

PR feedback
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
Due: run-mobile-workflow

handle no saved collections case to prevent infinite spinner
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

Add mobile hidden track playlist logic
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/ui/add-to-playlist/actions.ts
  packages/common/src/store/ui/add-to-playlist/reducer.ts
  packages/common/src/store/ui/add-to-playlist/selectors.ts
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/messages.ts
  packages/mobile/src/components/track-list/TrackArtwork.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/components/FormScreen.tsx
  packages/web/src/common/store/add-to-playlist/sagas.ts
Due: run-web-workflow, run-mobile-workflow

sdk:update
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Update SDK to revert comms health changes (#3509)
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

remove cn query route
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

parity
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[PAY-1137][PAY-1132] Infinite loading of albums on mobile favorites screen (#3398)
  packages/common/src/hooks/useSavedCollections.ts
  packages/common/src/store/account/slice.ts
  packages/common/src/store/account/types.ts
  packages/common/src/store/saved-collections/selectors.ts
  packages/common/src/utils/collectionUtils.ts
  packages/common/src/utils/index.ts
  packages/mobile/package-lock.json
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/hooks/useOfflineTrackStatus.ts
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/LoadingMoreSpinner.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionScreenData.ts
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/mobile/src/screens/favorites-screen/utils.ts
  packages/mobile/src/store/sagas.ts
  packages/web/package-lock.json
  packages/web/src/common/store/account/sagas.js
  packages/web/src/components/lineup/InfiniteCardLineup.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

Fix playlist create tile bug
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Remove yield* in js files
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

fix params
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Upgrade sdk to 2.0.3-beta.33
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

default true
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

default true for reads
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Remove content node cid query route (#3408)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none
