Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[C-2036] Fix modals not closing on click outside
  packages/stems/src/components/Modal/Modal.tsx
Due: run-stems-workflow

make sure duplicated offline tracks dont mess up the wueue
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Remove VirtualizedScrollView on TracksTab
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/favorites-screen/FilterInput.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

Make FilterInput uncontrolled
  packages/mobile/src/screens/favorites-screen/FilterInput.tsx
Due: run-mobile-workflow

aer
  packages/mobile/src/components/offline-downloads/OfflineDownloader.tsx
  packages/mobile/src/services/offline-downloader/workers/playCounterWorker.ts
  packages/mobile/src/services/offline-downloader/workers/trackDownloadWorker.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
Due: run-mobile-workflow

play counte rworker rmeove
  packages/mobile/src/services/offline-downloader/workers/playCounterWorker.ts
Due: run-mobile-workflow

Improve tracklist perf and styling
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/favorites-screen/FilterInput.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

Add content
  packages/mobile/src/components/core/VirtualizedScrollView.tsx
Due: run-mobile-workflow

startQueueIfOnline
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

[C-2024] Add batch-remove collections
  packages/mobile/src/components/drawers/RemoveDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollectionDrawer.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/removeAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveFavoritedDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Remove redundant userbank
  packages/web/src/common/store/account/sagas.js
Due: run-web-workflow

Remove extra sign up args
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Upgrade sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow, run-mobile-workflow

Upgrade sdk to prepatch version
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

stuff
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

add/remove working
  packages/common/src/models/Collection.ts
  packages/common/src/models/Track.ts
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/services/offline-downloader/types.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/removeAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
  packages/mobile/src/store/offline-downloads/utils.ts
Due: run-mobile-workflow

Validate nft cllection for collectible gated track
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Finish all the crud
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadFavoritedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveFavoritedDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchSaveCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Validate nft cllection for collectible gated track on web
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/data-entry/FormTile.module.css
  packages/web/src/pages/upload-page/components/EditPage.js
Due: run-web-workflow

Lint
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/pages/upload-page/components/EditPage.js
Due: run-web-workflow

Add file removal
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/watchRemoveOfflineItems.ts
Due: run-mobile-workflow

Fix default visibility fields
  packages/mobile/src/hooks/useSetTrackAvailabilityFields.ts
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

batchSetTrackOfflineMetadata
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

fix getOfflineTracks usages
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/collection-screen/useCollectionLineup.ts
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/useFavoritesLineup.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/removeAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

Simplify border radius
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

fix collections not loading
  packages/mobile/src/screens/collection-screen/useCollectionLineup.ts
Due: run-mobile-workflow

Add queue logic
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/workers/trackDownloadWorker.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/processDownloadQueueSaga/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/processDownloadQueueSaga/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/processDownloadQueueSaga/processDownloadQueueSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchAddOfflineItems.ts
  packages/mobile/src/store/offline-downloads/sagas/watchReachability.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
  packages/mobile/src/store/utils/monitorSelector.ts
Due: run-mobile-workflow

Fix remix
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
Due: run-web-workflow

Fix remix (#2783)
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
Due: run-web-workflow

// TODONE
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

remove unused actions
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

update album routing
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/add-to-playlist/mobile/AddToPlaylist.tsx
  packages/web/src/components/card/desktop/CollectionArtCard.tsx
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/menu/CollectionMenu.tsx
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/notification/Notification/utils.ts
  packages/web/src/components/search-bar/ConnectedSearchBar.js
  packages/web/src/components/share-modal/utils.ts
  packages/web/src/components/track-overflow-modal/ConnectedMobileOverflowModal.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
  packages/web/src/pages/search-page/components/mobile/SearchPageContent.tsx
  packages/web/src/pages/upload-page/UploadPage.js
  packages/web/src/pages/upload-page/components/ShareBanner.tsx
  packages/web/src/utils/route.ts
  packages/web/src/utils/route/collectionRouteParser.ts
  packages/web/src/utils/seo.ts
Due: run-web-workflow

PR comments
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

default offline mode off
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Fix tiktok association
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow, run-mobile-workflow

[PAY-898] Design fixes for NavMenuPopup
  packages/stems/src/assets/icons/iconDashboard.svg
  packages/stems/src/components/Icons/index.ts
  packages/stems/src/components/PopupMenu/PopupMenu.module.css
  packages/web/src/components/nav/desktop/NavPopupMenu.module.css
Due: run-web-workflow, run-stems-workflow
