Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

undo modal state changes, will address correctly later
  packages/web/src/common/hooks/useModalState.ts
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

use pushUnique in case we are already on track page
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
Due: run-web-workflow

Remove loading state for purchase modal
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/LoadingPage.tsx
Due: run-web-workflow

[C-2961] Fix LeftNav links
  packages/web/src/components/avatar/Avatar.tsx
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/nav/desktop/LeftNav.module.css
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/desktop/NavHeader.module.css
  packages/web/src/components/nav/desktop/NavHeader.tsx
  packages/web/src/components/typography/typography.module.css
Due: run-web-workflow

Update button
  packages/stems/src/components/Button/Button.tsx
  packages/stems/src/components/Button/types.ts
Due: run-stems-workflow

Get mobile building
  package-lock.json
  package.json
  packages/common/package.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/scripts/bundleReactNative.sh
  packages/mobile/ios/scripts/uploadSentryDebugSymbols.sh
  packages/mobile/metro.config.js
  packages/mobile/patches/@noble+secp256k1+1.7.0.patch
  packages/mobile/patches/micro-aes-gcm+0.3.3.patch
  packages/web/package.json
  scripts/postinstall.sh
Due: run-web-workflow, run-mobile-workflow

audius-query call reformatUser before add to cache
  packages/common/src/audius-query/createApi.ts
Due: none

fix all the circular depdendencies
  packages/common/src/hooks/chats/useCanSendMessage.ts
  packages/common/src/store/cache/users/utils.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/reachability/sagas.ts
  packages/common/src/store/ui/search-users-modal/sagas.ts
Due: none

Update left-nav buttons
  packages/stems/src/components/Button/Button.module.css
  packages/stems/src/components/Button/Button.tsx
  packages/stems/src/components/Button/types.ts
  packages/stems/src/components/Popup/Popup.tsx
  packages/stems/src/components/Popup/types.ts
  packages/stems/src/types.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/components/artist-recommendations/ArtistRecommendationsDropdown.tsx
  packages/web/src/components/nav/desktop/NavButton.module.css
  packages/web/src/components/nav/desktop/NavButton.tsx
  packages/web/src/types.ts
Due: run-web-workflow, run-stems-workflow

use mapValues
  packages/common/src/audius-query/createApi.ts
Due: none

Fix probers
  packages/probers/cypress/e2e/uploadTrack.cy.ts
Due: none

[C-2972] Fix feed, trending, track-page seo
  packages/web/src/components/link/Link.module.css
  packages/web/src/components/link/Link.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.module.css
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.module.css
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/PlaylistTile.module.css
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/types.ts
  packages/web/src/components/typography/constants.ts
  packages/web/src/components/typography/types.ts
  packages/web/src/components/typography/typography.module.css
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-web-workflow

Fix lint
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/PlaylistTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/types.ts
Due: run-web-workflow

[C-2964] Cannonical URL should be uri encoded (#3899)
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

[C-2969] Fix related artist images not loading (#3905)
  packages/common/src/audius-query/createApi.ts
  packages/common/src/hooks/chats/useCanSendMessage.ts
  packages/common/src/store/cache/users/utils.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/reachability/sagas.ts
  packages/common/src/store/ui/search-users-modal/sagas.ts
Due: none

Merge modalsWithState with modals in common store
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/delete-playlist-confirmation-modal/sagas.ts
  packages/common/src/store/ui/duplicate-add-confirmation-modal/sagas.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/mobile-overflow-menu/sagas.ts
  packages/common/src/store/ui/modals/create-chat-modal/index.ts
  packages/common/src/store/ui/modals/createModal.ts
  packages/common/src/store/ui/modals/inbox-unavailable-modal/index.ts
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/leaving-audius-modal/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/selectors.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/ui/publish-playlist-confirmation-modal/sagas.ts
  packages/common/src/store/ui/share-modal/sagas.ts
  packages/common/src/store/ui/stripe-modal/sagas.ts
  packages/common/src/store/ui/vip-discord-modal/sagas.ts
Due: none

PAY-1724 Add color specialGreen on mobile
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/core/LockedStatusBadge.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PurchaseSuccess.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

use direct cid links
  packages/common/src/models/Collection.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/User.ts
  packages/common/src/schemas/index.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/models/Collection.ts
  packages/mobile/src/models/Track.ts
  packages/mobile/src/models/User.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/oauth-login-page/utils.ts
Due: run-web-workflow, run-mobile-workflow

fix types
  packages/common/src/models/Collection.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/User.ts
  packages/mobile/src/components/share-drawer/ShareToStorySticker.tsx
  packages/mobile/src/screens/profile-screen/CoverPhoto.tsx
  packages/mobile/src/screens/profile-screen/ProfilePicture.tsx
  packages/web/src/pages/oauth-login-page/utils.ts
Due: run-web-workflow, run-mobile-workflow

missed 1 type update
  packages/common/src/models/Collection.ts
Due: none

handle missing sizes
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/oauth-login-page/utils.ts
Due: run-web-workflow, run-mobile-workflow

clean up
  packages/mobile/src/hooks/useContentNodeImage.ts
Due: run-mobile-workflow

lint
  packages/mobile/src/components/image/UserImage.tsx
Due: run-mobile-workflow

Update README.md
  packages/embed/README.md
Due: none

Fix rest of profile page
  packages/web/src/components/animated-button/AnimatedButtonProvider.tsx
  packages/web/src/components/link/ExternalLink.tsx
  packages/web/src/components/link/SeoLink.module.css
  packages/web/src/components/link/SeoLink.tsx
  packages/web/src/components/link/index.ts
  packages/web/src/components/nav/mobile/ConnectedNavBar.tsx
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/profile-page/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/SocialLink.module.css
  packages/web/src/pages/profile-page/components/SocialLink.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.module.css
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/SocialLink.tsx
Due: run-web-workflow

Fix mobile share of playlist permalink
  packages/mobile/src/utils/routes.tsx
Due: run-mobile-workflow

make permalink required on collection type
  packages/common/src/models/Collection.ts
Due: none

Fix stale local data
  packages/common/src/models/User.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/types.ts
  packages/web/src/common/store/account/sagas.js
Due: run-web-workflow

Fix stripe modal opening behavior
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
Due: run-web-workflow

Address issues
  packages/web/src/components/link/SeoLink.module.css
  packages/web/src/components/link/SeoLink.tsx
Due: run-web-workflow

Update new select page of the upload flow
  packages/web/src/components/upload/TrackPreview.module.css
  packages/web/src/components/upload/TrackPreviewNew.tsx
  packages/web/src/pages/upload-page/components/SelectPageNew.tsx
  packages/web/src/pages/upload-page/components/TracksPreview.module.css
  packages/web/src/pages/upload-page/components/TracksPreviewNew.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.module.css
Due: run-web-workflow

return empty string if no permalink
  packages/mobile/src/utils/routes.tsx
Due: run-mobile-workflow

add routes for transactional pages
  packages/web/src/utils/route.ts
Due: run-web-workflow

return undefined as empty string
  packages/common/src/models/Collection.ts
Due: none

Fix mobile share of playlist permalink (#3913)
  packages/mobile/src/utils/routes.tsx
Due: run-mobile-workflow

use all paginated query
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
Due: run-web-workflow

Fix account details css
  packages/web/src/components/nav/desktop/AccountDetails.module.css
  packages/web/src/components/nav/desktop/AccountDetails.tsx
  packages/web/src/components/nav/desktop/LeftNav.module.css
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
