Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Extract new hook and refactor
  packages/common/src/hooks/usePremiumContent.ts
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
Due: run-web-workflow, run-mobile-workflow

Refactor styles
  packages/web/src/components/locked-content-modal/LockedContentModal.module.css
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
Due: run-web-workflow

Sequence reset and fetch actions
  packages/common/src/store/pages/collection/actions.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/web/src/common/store/pages/collection/sagas.js
Due: run-web-workflow, run-mobile-workflow

retry helper for offline jobs; retry collections
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/utils/retryOfflineJob.ts
Due: run-mobile-workflow

Remove console.log
  packages/web/src/components/track-availability-modal/HiddenAvailability.tsx
Due: run-web-workflow

Remove console.log
  packages/web/src/components/data-entry/DropdownInput.js
Due: run-web-workflow

Fix typo
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Aria-hidden when collapsed
  packages/web/src/components/modal-radio/ModalRadioItem.tsx
Due: run-web-workflow

fixed ChatTail
  packages/mobile/src/assets/images/ChatTail.svg
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

handleScrollToTop
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Remove logs and track
  packages/mobile/src/store/offline-downloads/sagas/watchRemoveOfflineItems.ts
Due: run-mobile-workflow

fix log
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/share-modal/ShareModal.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-web-workflow

Update some more deps
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Revert dem locks
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
Due: run-mobile-workflow

Final updates
  packages/common/package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
Due: run-mobile-workflow

[C-2202] Sync legacy search history
  packages/mobile/src/constants/storage-keys.ts
  packages/mobile/src/screens/search-screen/ClearSearchHistoryListItem.tsx
  packages/mobile/src/screens/search-screen/SearchBar.tsx
  packages/mobile/src/screens/search-screen/SearchHistoryListItem.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/search/searchSagas.ts
  packages/mobile/src/store/search/searchSlice.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Fix timeout type
  packages/mobile/src/components/scrubber/usePosition.ts
Due: run-mobile-workflow

Patch react native
  packages/mobile/patches/react-native+0.71.1.patch
Due: run-mobile-workflow

Go to 0.73
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/patches/react-native+0.71.3.patch
Due: run-mobile-workflow

[C-2201] Improve card list skeleton count
  packages/mobile/src/components/core/CardList.tsx
  packages/mobile/src/screens/profile-screen/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix collectibles route
  packages/mobile/src/utils/routes.tsx
Due: run-mobile-workflow

[C-1922] Fix share encoding
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/components/share-drawer/utils.ts
  packages/mobile/src/utils/routes.tsx
  packages/web/src/components/collectibles/components/CollectibleDetails.tsx
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
  packages/web/src/pages/collectibles-playlist-page/CollectiblesPlaylistPageProvider.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow

Hide download buttons on gated track page
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
Due: run-web-workflow, run-mobile-workflow

Hide Downloads & Source Files button and reset dowload metadata when uploading gated track
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Lint
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/components/download-buttons/DownloadButtons.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-890] Add locked content drawer on mobile (#2910)
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/usePremiumContent.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTilePremiumAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
  packages/mobile/src/components/locked-content-drawer/index.ts
  packages/mobile/src/store/drawers/slice.ts
  packages/web/src/components/locked-content-modal/LockedContentModal.module.css
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
Due: run-web-workflow, run-mobile-workflow

Learn more
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

typo
  packages/web/src/components/modal-radio/ModalRadioItem.module.css
Due: run-web-workflow

comma
  packages/common/src/store/ui/modals/slice.ts
Due: none

recreate dj-cellular-download-option
  packages/mobile/src/screens/settings-screen/DownloadNetworkPreferenceRow.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/offlineQueueSagas.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/watchNetworkType.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/staleTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/utils/shouldCancelJob.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
  packages/mobile/src/utils/reachability.ts
Due: run-mobile-workflow

Fix webview audio players on ios
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

Update pod installation to work with react-native 0.71
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

Fix podfile, specify ruby-version
  .ruby-version
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

Hotfix: Playbutton missing
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

Fix track play button
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

Fix track play button (#2925)
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

remove change in web
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

[C-2193] Fix webview audio players on ios (#2922)
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

PR Comments + show unread tag on first message
  packages/common/src/utils/chatUtils.ts
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

typecheck
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
