Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix learn more link style
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
Due: run-web-workflow

Add feature flag check
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTileCornerTag.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTileCornerTag.tsx
Due: run-web-workflow

Update types
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/hooks/useNotificationNavigation.ts
Due: run-mobile-workflow

Fix comments
  packages/web/src/store/storeContext.ts
Due: run-web-workflow

Fix type, name
  packages/common/src/store/notifications/types.ts
  packages/web/src/components/notification/Notification/FavoriteOfRepostNotification.tsx
Due: run-web-workflow

Fix favorite types
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/FavoriteOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-web-workflow, run-mobile-workflow

Fix track permalink share route
  packages/mobile/src/utils/routes.tsx
Due: run-mobile-workflow

Remove .python-version
  .python-version
  scripts/preinstall.sh
Due: none

Remove .python-version
  scripts/preinstall.sh
Due: none

Fix link position in Hyperlink
  packages/mobile/src/components/core/Hyperlink.tsx
Due: run-mobile-workflow

Remove various build versions
  .circleci/src/jobs/@web-jobs.yml
  packages/mobile/android/Gemfile
  packages/mobile/ios/Gemfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2232] Fix android share-to-twitter url
  packages/common/src/utils/index.ts
  packages/common/src/utils/twitter.ts
  packages/mobile/src/components/challenge-rewards-drawer/TwitterShareButton.tsx
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/utils.ts
  packages/mobile/src/components/twitter-button/TwitterButton.tsx
  packages/mobile/src/utils/twitter.ts
  packages/web/package-lock.json
  packages/web/src/utils/tweet.ts
Due: run-web-workflow, run-mobile-workflow

Revert lock
  packages/web/package-lock.json
Due: run-web-workflow

Remove log
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

Update save and unsave sagas to not append locally saved track unless playing the favorites queue
  packages/web/src/common/store/pages/saved/lineups/sagas.js
Due: run-web-workflow

[PAY-980] Treat premium content as deleted in lineups if feature flags disabled
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Reduce rerenders
  packages/mobile/src/components/core/Hyperlink.tsx
Due: run-mobile-workflow

Disabled the repost and favorite buttons in the NowPlayingDrawer for track owner and add queue removal logic for the TrackPlayer
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/now-playing-drawer/FavoriteButton.tsx
  packages/mobile/src/components/now-playing-drawer/RepostButton.tsx
Due: run-mobile-workflow

PR Comments
  packages/mobile/src/components/block-messages/BlockMessages.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
Due: run-mobile-workflow

Update mount type for the tooltips in the PlayBar
  packages/web/src/components/play-bar/desktop/PlayBar.js
Due: run-web-workflow

temp
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

typecheck
  packages/mobile/src/components/block-messages/BlockMessages.tsx
Due: run-mobile-workflow

huh?
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Add playback rate drawer and controls for mobile
  packages/common/src/store/player/sagas.ts
  packages/common/src/store/player/types.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/assets/images/iconPlaybackRate0_5x.svg
  packages/mobile/src/assets/images/iconPlaybackRate0_8x.svg
  packages/mobile/src/assets/images/iconPlaybackRate0_9x.svg
  packages/mobile/src/assets/images/iconPlaybackRate1_1x.svg
  packages/mobile/src/assets/images/iconPlaybackRate1_2x.svg
  packages/mobile/src/assets/images/iconPlaybackRate1_5x.svg
  packages/mobile/src/assets/images/iconPlaybackRate1x.svg
  packages/mobile/src/assets/images/iconPlaybackRate2_5x.svg
  packages/mobile/src/assets/images/iconPlaybackRate2x.svg
  packages/mobile/src/assets/images/iconPlaybackRate3x.svg
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/core/IconButton.tsx
  packages/mobile/src/components/now-playing-drawer/AudioControls.tsx
  packages/mobile/src/components/now-playing-drawer/PlaybackRateButton.tsx
  packages/mobile/src/components/playback-rate-drawer/PlaybackRateDrawer.tsx
  packages/mobile/src/components/playback-rate-drawer/index.ts
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/mobile/src/components/scrubber/usePosition.ts
  packages/mobile/src/services/audio-player/NativeMobileAudio.ts
  packages/mobile/src/store/drawers/slice.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-981] Add protocol to external collection links
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Fix getFeatureEnabled bug: get from context
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

final
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

trying menu
  packages/mobile/src/app/App.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

Specify pyenv patch version
  .python-version-dev
  scripts/preinstall.sh
Due: none

Fix context
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Update warn message when getting sol nft metadata
  packages/common/src/services/solana-client/SolanaClient.ts
Due: none

Remove unused comment
  packages/web/src/components/track/GiantTrackTile.js
Due: run-web-workflow

Show repost and save buttons on unlocked gated track screen
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

Hide add to playlist overflow action for gated tracks
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Use remote config for gated track poll frequency
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/store/premium-content/sagas.ts
Due: none

Lint
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Fix typecheck
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

Fix save page pagination on web
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
