Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Test
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
  .gitignore
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

You are type approval
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

hide usdc tracks from lineups if feature isn't enabled
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Manually set the libs state
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

Manually set the libs state to prevent retry storm (#3753)
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

[QA-565] Fix notification overflow bug (#3732)
  packages/stems/src/components/MarkdownViewer/MarkdownViewer.module.css
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.module.css
Due: run-web-workflow, run-stems-workflow

Get the first storage node for o-auth not all of them (#3743)
  packages/web/src/pages/oauth-login-page/utils.ts
Due: run-web-workflow

fix merge from main
  packages/web/src/pages/upload-page/fields/availability/collectible-gated/CollectibleGatedFields.tsx
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.tsx
Due: run-web-workflow

[PAY-1578] Hide USDC-gated tracks if the feature flag is disabled (#3752)
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/pages/upload-page/fields/availability/collectible-gated/CollectibleGatedFields.tsx
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.tsx
Due: run-web-workflow

use context for getFeatureEnabled
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

v1.5.32
  lerna.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

v1.5.33
  lerna.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-1612] Change mobile hidden track header color
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

HOTFIX add album order fix
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

[PAY-1607] Fix mobile prem content track tile layout
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/lineup-tile/styles.ts
Due: run-mobile-workflow

[PAY-1621] Reverse order of mobile lineup tile stat icon and number
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow, run-mobile-workflow

Update version to 5.32
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2856] Fix track/collection artwork field
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/screens/edit-playlist-screen/PlaylistArtworkField.tsx
  packages/mobile/src/screens/edit-playlist-screen/PlaylistImageInput.tsx
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

Remove duplicate messages
  packages/mobile/src/components/fields/PickArtworkField.tsx
Due: run-mobile-workflow

[C-2858] Fix phantom signing
  packages/web/src/store/token-dashboard/signMessage.ts
Due: run-web-workflow

[C-2842] Improve playlist image generation
  packages/common/src/hooks/useGeneratePlaylistArtwork.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/playlist-library/helpers.test.js
  packages/common/src/store/playlist-library/helpers.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/mobile/src/utils/createPlaylistArtwork.ts
  packages/mobile/src/utils/generatePlaylistArtwork.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/image-selection/ImageSelectionButton.js
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/workers/generatePlaylistArtwork.worker.js
Due: run-web-workflow, run-mobile-workflow

[C-2858] Fix phantom signing (#3761)
  packages/web/src/store/token-dashboard/signMessage.ts
Due: run-web-workflow

Update pnpm fix commands
  .circleci/src/commands/@mobile-commands.yml
  packages/mobile/dapp-store/README.md
  packages/mobile/dapp-store/pnpm-lock.yaml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix up
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/dapp-store/package.json
  packages/mobile/dapp-store/pnpm-lock.yaml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add dapp store to CI
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Not fully working
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix up
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/dapp-store/pnpm-lock.yaml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix job
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Upgrade versions
  lerna.json
  packages/common/package.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2856] Fix track/collection artwork field (#3760)
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/screens/edit-playlist-screen/PlaylistArtworkField.tsx
  packages/mobile/src/screens/edit-playlist-screen/PlaylistImageInput.tsx
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

fix deletedCount calculation
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

[PAY-1639] Fix mobile hidden track dog ear
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow
