Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

remember which collections are stored
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

disallow spamming the toggle
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

add dev helper for offline feature flag
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/offline-downloads/TrackDownloadIndicator.tsx
  packages/mobile/src/hooks/useIsOfflineModeEnabled.ts
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useOfflineTrackUri.ts
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

Fix playTrack test
  packages/web/src/components/skeleton/Skeleton.tsx
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

[C-1440] Address upload QA
  packages/mobile/src/components/core/InputErrorMessage.tsx
  packages/mobile/src/components/core/Pill.tsx
  packages/mobile/src/components/core/TagInput.tsx
  packages/mobile/src/components/core/Text.tsx
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/LicenseTypeField.tsx
  packages/mobile/src/screens/upload-screen/fields/SelectMoodField.tsx
  packages/mobile/src/screens/upload-screen/screens/LicenseTypeScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectGenreScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectMoodScreen.tsx
Due: run-mobile-workflow

Merge pull request #52 from AudiusProject/sk-fix-flaky-tests
  packages/probers/cypress/e2e/playTrack.cy.ts
Due: none

fix build
  packages/mobile/android/app/src/main/AndroidManifest.xml
Due: run-mobile-workflow

actual fix
  packages/mobile/android/app/src/main/AndroidManifest.xml
Due: run-mobile-workflow

cleanup
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

try again
  packages/mobile/android/app/src/main/AndroidManifest.xml
Due: run-mobile-workflow

review comments
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

try again
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/build.gradle
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

module for offline-downloads components
  packages/mobile/src/components/offline-downloads/index.ts
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

Update push notificaiton navigation to work when the app is closed
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/app-screen/AppTabNavigationProvider.tsx
Due: run-mobile-workflow

Fix android builds
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

update import
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Ensure toasts show below dynamic island
  packages/mobile/src/components/toast/ToastView.tsx
Due: run-mobile-workflow

fix makestyles types
  packages/mobile/src/styles/makeStyles.ts
Due: run-mobile-workflow

wip
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
Due: run-mobile-workflow

[C-1482] Fix visualizer on mp3 stream
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

Clean up
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

Fix subtle race condition on visualizer
  packages/web/src/pages/visualizer/VisualizerProvider.tsx
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

fix fingerprint js error?
  packages/mobile/android/build.gradle
Due: run-mobile-workflow

add song to ig video
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

Address rest of items
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/components/core/InputErrorMessage.tsx
  packages/mobile/src/components/core/RadioButton.tsx
  packages/mobile/src/components/core/Tile/Tile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/index.ts
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/screens/tip-artist-screen/ConfirmSendTipScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/UploadCompleteScreen.tsx
  packages/mobile/src/screens/upload-screen/UploadingTracksScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/PickArtworkField.tsx
  packages/mobile/src/screens/upload-screen/fields/ReleaseDateField.tsx
  packages/mobile/src/screens/upload-screen/fields/SubmenuList.tsx
  packages/mobile/src/screens/upload-screen/fields/TagField.tsx
  packages/mobile/src/screens/upload-screen/fields/TextField.tsx
  packages/mobile/src/screens/upload-screen/screens/AdvancedOptionsScreen.tsx
Due: run-mobile-workflow

fix lint
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/AdvancedOptionsScreen.tsx
Due: run-mobile-workflow

Get signatures for nft-gated premium tracks
  packages/common/src/models/Track.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/web/src/common/store/premiumContent/actions.ts
  packages/web/src/common/store/premiumContent/reducer.ts
  packages/web/src/common/store/premiumContent/sagas.ts
  packages/web/src/common/store/premiumContent/selectors.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow

Patch nft collection type issue (temporarily)
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Add feature flag
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Fix lint
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/premiumContent/sagas.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/store/reducers.ts
Due: run-web-workflow

Put nfts fetched action after user metadata update
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

?
  packages/mobile/android/build.gradle
Due: run-mobile-workflow

[Flare-120] Avoid hitting notification settings on each session
  packages/mobile/src/store/notifications/sagas.ts
  packages/web/src/store/notifications/sagas.ts
Due: run-web-workflow, run-mobile-workflow

clean up styles
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

Make previous button restart track within 3 seconds
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow
