Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-1375] Fix push notification navigation (#2184)
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
  packages/mobile/src/components/bottom-tab-bar/BottomTabBarButton.tsx
  packages/mobile/src/notifications.ts
Due: run-mobile-workflow

fix artist link badge alignment
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistLink.tsx
Due: run-mobile-workflow

Fix mobile lint
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
Due: run-mobile-workflow

fix type error on mobile
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
Due: run-mobile-workflow

fix: Clear success action after usage
  packages/web/src/components/buy-audio-modal/components/SuccessPage.tsx
Due: run-web-workflow

Fix mobile lint (#2190)
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
Due: run-mobile-workflow

Pass retry through for client handle validation
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

Fix lint
  packages/web/src/pages/upload-page/store/sagas.js
Due: run-web-workflow

[C-1376] Kickoff mobile upload
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/ParamList.ts
  packages/mobile/src/screens/upload-screen/UploadScreen.tsx
  packages/mobile/src/screens/upload-screen/index.tsx
Due: run-mobile-workflow

PAY-687 Add new UI to tipping linking to the BuyAudio flow
  packages/common/src/models/Analytics.ts
  packages/web/src/components/on-ramp-button/OnRampButton.module.css
  packages/web/src/components/on-ramp-button/OnRampButton.tsx
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.module.css
Due: run-web-workflow

fix: remove unused
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

remove hls web playback
  packages/common/src/services/audio-player.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

Add disabed tooltip text for hidden tracks tab in artist dashboard
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
Due: run-web-workflow

fix: hide and reshow tipping modal instead of keeping it behind the modal
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

Truncate balance in account-drawer
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
Due: run-mobile-workflow

cycle through all endpoints wip
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Remove identityAPI from audiusBackend
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

try each content node endpoint
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

type error
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

Add notification navigation hook and update profile screen to accept id param
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/app-screen/AppTabNavigationProvider.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsDrawer.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
Due: run-mobile-workflow

Update notification components to use the notification navigation hook
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/notifications-screen/Notifications/AddTrackToPlaylistNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FollowNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/MilestoneNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCosignNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCreateNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/SupporterDethronedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TierChangeNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReceivedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipSentNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TopSupporterNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TopSupportingNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TrendingTrackNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/UserSubscriptionNotification.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

use discovery stream endpoint on mobile
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Feature flag and refactor slightly
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

fix: Don't show divider if no top banner
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

Use confirmer wrapper when updating user
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/social/tracks/sagas.ts
Due: run-web-workflow

Try uploading rc
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Revert "[C-1385] Stream mp3 instead of segments (#2147)"
  packages/common/src/services/audio-player.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow, run-mobile-workflow

fix: Vertical center if top banner not showing
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

fix: modal header divider should be lighter
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
Due: run-web-workflow

[C-1383] Add upload track form
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/assets/images/iconGenre.svg
  packages/mobile/src/assets/images/iconImage.svg
  packages/mobile/src/components/core/ContextualSubmenu.tsx
  packages/mobile/src/components/core/InputErrorMessage.tsx
  packages/mobile/src/components/core/RadioButton.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/list-selection-screen/ListSelectionScreen.tsx
  packages/mobile/src/screens/list-selection-screen/index.ts
  packages/mobile/src/screens/tip-artist-screen/TipInput.tsx
  packages/mobile/src/screens/upload-screen/CompleteTrackScreen.tsx
  packages/mobile/src/screens/upload-screen/ParamList.ts
  packages/mobile/src/screens/upload-screen/UploadScreen.tsx
  packages/mobile/src/screens/upload-screen/UploadingTracksScreen.tsx
  packages/mobile/src/screens/upload-screen/fields/ContextualSubmenuField.tsx
  packages/mobile/src/screens/upload-screen/fields/PickArtworkField.tsx
  packages/mobile/src/screens/upload-screen/fields/SelectGenreField.tsx
  packages/mobile/src/screens/upload-screen/fields/TextField.tsx
  packages/mobile/src/screens/upload-screen/fields/index.ts
  packages/mobile/src/screens/upload-screen/fields/types.ts
  packages/mobile/src/screens/upload-screen/index.tsx
  packages/mobile/src/screens/upload-screen/types.ts
Due: run-mobile-workflow

Add cases to fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

Actually build new bundle
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

yaml issue
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

feature flag mp3 streaming
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fix upload
  packages/web/src/pages/upload-page/store/sagas.js
Due: run-web-workflow

missing import
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

update radio spacing
  packages/mobile/src/components/core/RadioButton.tsx
Due: run-mobile-workflow

Add provisioning profile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

Change the action channel dispatcher
  packages/common/src/utils/sagaHelpers.ts
  packages/web/src/pages/upload-page/store/sagas.js
Due: run-web-workflow

Use feature flag for mp3 stream toggle (#2202)
  packages/common/src/services/audio-player.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/types.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
