Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix docstring
  packages/common/src/utils/wallet.ts
Due: none

[PAY-1573] Convert premium content type to union (#3711)
  packages/common/src/hooks/usePremiumContent.ts
  packages/common/src/models/Track.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/common/src/utils/dogEarUtils.ts
  packages/mobile/src/components/details-tile/DetailsTilePremiumAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

PR feedback
  packages/common/src/utils/wallet.ts
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/helpers.ts
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

[PAY-1514] Mobile USDC track screen changes
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/assets/images/iconLockUnlocked.svg
  packages/mobile/src/components/core/LockedStatusBadge.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileStats.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

[C-2809] Remove user from image hooks (#3723)
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/screens/search-screen/SearchResults/SearchItem.tsx
  packages/mobile/src/store/account/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
Due: run-mobile-workflow

[C-2834] Remove replica set usage in web (#3721)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/.env.dev
  packages/mobile/.env.prod
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/image/utils.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/web/.env/.env.dev
  packages/web/.env/.env.prod
  packages/web/.env/.env.stage
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/ai-attribution-modal/AiAttributionDropdown.tsx
  packages/web/src/components/ai-attribution-modal/SearchBarResult.js
  packages/web/src/components/search/SearchBar.js
  packages/web/src/components/search/SearchBarResult.js
  packages/web/src/pages/AppContextProvider.tsx
  packages/web/src/pages/AppProviders.tsx
  packages/web/src/pages/PublicSite.tsx
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/oauth-login-page/utils.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-1559][PAY-1560] Adds USDC variants for track tiles on web/mobile web (#3724)
  packages/common/src/utils/wallet.ts
  packages/stems/src/assets/icons/iconCart.svg
  packages/stems/src/assets/styles/colors.css
  packages/stems/src/components/Icons/index.ts
  packages/stems/src/styles/colors.ts
  packages/web/src/assets/styles/colors.css
  packages/web/src/components/dog-ear/DogEar.module.css
  packages/web/src/components/dog-ear/DogEar.tsx
  packages/web/src/components/track/LockedStatusBadge.module.css
  packages/web/src/components/track/LockedStatusBadge.tsx
  packages/web/src/components/track/PremiumConditionsPill.module.css
  packages/web/src/components/track/PremiumConditionsPill.tsx
  packages/web/src/components/track/PremiumContentLabel.module.css
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/PlaylistTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/utils/theme/dark.ts
  packages/web/src/utils/theme/default.ts
Due: run-web-workflow, run-stems-workflow

add variant for usdc purchase to track details page
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

PR comments and owner version
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/components/core/LockedStatusBadge.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

remove comment
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

[PAY-1514] Mobile USDC track screen changes (#3725)
  packages/common/src/utils/formatUtil.ts
  packages/mobile/src/assets/images/iconLockUnlocked.svg
  packages/mobile/src/components/core/LockedStatusBadge.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileStats.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

Remove isUSDCGatedContentEnabled flag from mobile
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/hooks/useIsGatedContentEnabled.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
Due: run-mobile-workflow

remaining cleanup for usdc purchases on web/mobile web
  packages/web/src/components/locked-content-modal/LockedContentModal.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Remove SA and collectible gated flags
  packages/mobile/src/hooks/useIsCollectibleGatedEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessEnabled.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
Due: run-mobile-workflow

remove unused messages
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

fix lineup hasMore calculation
  packages/common/src/store/lineup/reducer.ts
Due: none

remove containsDeleted entirely
  packages/common/src/models/Lineup.ts
  packages/common/src/store/lineup/reducer.ts
  packages/common/src/store/pages/ai/lineup/reducer.ts
  packages/common/src/store/pages/feed/lineup/reducer.ts
  packages/common/src/store/pages/profile/lineups/feed/reducer.ts
  packages/common/src/store/pages/profile/lineups/tracks/reducer.ts
  packages/common/src/store/pages/remixes/lineup/reducer.ts
  packages/common/src/store/pages/search-results/lineup/tracks/reducer.ts
Due: none

[C-2823] Fix autogenerated image logic
  packages/common/src/context/appContext.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useGeneratePlaylistArtwork.ts
  packages/common/src/models/Collection.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/cache/collections/types.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/app/AppContextProvider.tsx
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
  packages/mobile/src/store/storeContext.ts
  packages/mobile/src/utils/generatePlaylistArtwork.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/create-playlist/CreatePlaylistModal.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/image-selection/ImageSelectionButton.js
  packages/web/src/components/nav/desktop/PlaylistLibrary/CreatePlaylistLibraryItemButton.tsx
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/pages/AppContextProvider.tsx
  packages/web/src/store/storeContext.ts
  packages/web/src/utils/imageProcessingUtil.ts
  packages/web/src/workers/generatePlaylistArtwork.worker.js
Due: run-web-workflow, run-mobile-workflow

Upgrade sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Only generate when already autogenerated
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
Due: run-web-workflow

Remove gated content feature flags from mobile (#3726)
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/hooks/useIsCollectibleGatedEnabled.ts
  packages/mobile/src/hooks/useIsGatedContentEnabled.ts
  packages/mobile/src/hooks/useIsSpecialAccessEnabled.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
Due: run-mobile-workflow

[CON-765] Default v2 signup and fix local EM
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/.env.dev
  packages/web/.env/.env.dev
Due: run-web-workflow, run-mobile-workflow

fix secondary button styles and add large variant
  packages/stems/src/assets/styles/colors.css
  packages/stems/src/components/Button/Button.module.css
  packages/stems/src/components/Button/Button.stories.tsx
  packages/stems/src/components/Button/Button.tsx
  packages/stems/src/components/Button/types.ts
Due: run-stems-workflow

Add dev storage bootstrap nodes
  packages/common/src/services/sdk/bootstrapNodes.ts
Due: none

Fix typo
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
Due: run-web-workflow

[QA-565] Fix notification overflow bug
  packages/stems/src/components/MarkdownViewer/MarkdownViewer.module.css
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.module.css
Due: run-web-workflow, run-stems-workflow

add preview functionality to GiantTrackTile
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
Due: run-web-workflow

[QA-566] Announcement notification only clickable with long description
  packages/web/src/components/notification/Notification/AnnouncementNotification.tsx
  packages/web/src/components/notification/NotificationPage.tsx
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-web-workflow

ensure all tracks fetched on collection page
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/pages/collection/sagas.js
Due: run-web-workflow

Remove hover anim, update styles
  packages/web/src/components/notification/Notification/AnnouncementNotification.module.css
  packages/web/src/components/notification/Notification/AnnouncementNotification.tsx
  packages/web/src/components/notification/Notification/components/NotificationTile.module.css
Due: run-web-workflow

font style changes
  packages/web/src/components/notification/Notification/AnnouncementNotification.module.css
  packages/web/src/components/notification/Notification/AnnouncementNotification.tsx
  packages/web/src/components/notification/Notification/components/NotificationTile.tsx
Due: run-web-workflow

Update announcement notification style and hover behavior (#3733)
  packages/web/src/components/notification/Notification/AnnouncementNotification.module.css
  packages/web/src/components/notification/Notification/AnnouncementNotification.tsx
  packages/web/src/components/notification/Notification/components/NotificationTile.module.css
  packages/web/src/components/notification/Notification/components/NotificationTile.tsx
  packages/web/src/components/notification/NotificationPage.tsx
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-web-workflow

cleanup display for gated content on mobile web track details
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/pages/track-page/components/HiddenTrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/ActionButtonRow.module.css
  packages/web/src/pages/track-page/components/mobile/StatsButtonRow.module.css
  packages/web/src/pages/track-page/components/mobile/StatsButtonRow.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

[C-1608 C-2750] Fix edit profile/cover photo
  packages/common/src/store/cache/reducer.ts
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

Make function easier to understand
  packages/common/src/store/cache/reducer.ts
Due: none

Bump sdk version client consumes
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Add TODOs with linear links
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
