Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

.circleci/config.yml:

version: 2.2

parameters:
  # Run all workflows for branches that match this regex
  run-all-workflows-branch-regex:
    type: string
    default: /(^main)|(^release.*)|(^nkang--deploy-storybook-new-new)$/

setup: true

orbs:
  continuation: circleci/continuation@0.2.0
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  # Generate the CircleCI continue_config.yml from .circleci/src
  generate-config:
    docker:
      - image: cimg/base:2021.04
    steps:
      # The circleci cli exposed in the image doesn't support config packing
      # so we install a version that does
      - run:
          name: Install cli
          command: curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=~/cli bash
      - checkout
      - run:
          name: Generate config
          command: ~/cli config pack .circleci/src > .circleci/continue_config.yml
      - persist_to_workspace:
          root: ./
          paths:
            - .circleci/continue_config.yml

  # Bump version and create release branch
  generate-release:
    working_directory: ~/audius-client
    docker:
      - image: circleci/node:14.18
    steps:
      - checkout
      - run:
          name: Bump version
          command: |
            git config --global user.email "audius-infra@audius.co"
            git config --global user.name "audius-infra"
            PREV_VERSION=$(jq -r .version ./lerna.json)
            CHANGELOG=$(git log --pretty=format:"[%h] %s %an" --date=short v${PREV_VERSION}..HEAD)
            MESSAGE="%s

            ${CHANGELOG}"
            npm i
            npx lerna version patch --yes -m "${MESSAGE}"
      - run:
          name: Create release branch
          command: |
            VERSION=$(jq -r .version ./lerna.json)
            git checkout -b release-v${VERSION}
            git push -u origin release-v${VERSION}

workflows:
  setup:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - generate-config

      # Trigger relevant workflows for the files that have changed
      - path-filtering/filter:
          base-revision: main
          config-path: ../workspace/.circleci/continue_config.yml
          mapping: |
            packages/web/.* run-web-workflow true
            packages/mobile/.* run-mobile-workflow true
            packages/stems/.* run-stems-workflow true
            .circleci/.* run-web-workflow true
            .circleci/.* run-mobile-workflow true
            .circleci/.* run-stems-workflow true
          name: trigger-relevant-workflows
          filters:
            branches:
              ignore: << pipeline.parameters.run-all-workflows-branch-regex >>
          requires:
            - generate-config
          workspace_path: ../workspace

      # Trigger all workflows for branches that match regex
      - continuation/continue:
          configuration_path: ../workspace/.circleci/continue_config.yml
          name: trigger-all-workflows
          filters:
            branches:
              only: << pipeline.parameters.run-all-workflows-branch-regex >>
          parameters: '{
            "run-web-workflow": true,
            "run-mobile-workflow": true,
            "run-stems-workflow": true
            }'
          pre-steps:
            - attach_workspace:
                at: ../workspace
          requires:
            - generate-config

  generate-release:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["generate-release", << pipeline.schedule.name >>]
    jobs:
      - generate-release

Inital bootstrap
  package.json
  packages/mobile/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

ensuring mobile works
  packages/mobile/package.json
Due: run-mobile-workflow

Update docs
  README.md
  package.json
  packages/mobile/README.md
  packages/web/README.md
  packages/web/craco.config.ts
Due: run-web-workflow, run-mobile-workflow

Update scripts
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix hooks command, comment formatting
  package.json
  packages/web/craco.config.ts
Due: run-web-workflow

Fix web jest react imports
  packages/web/package.json
Due: run-web-workflow

Fix native-native react config
  packages/web/craco.config.ts
Due: run-web-workflow

Persist stems dist
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update locks
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Update persist_to_workplace
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix tip types
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/screens/notifications-screen/content/ChallengeReward.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

[C-650] Update dropdown input styles for darkmode
  packages/web/src/components/data-entry/DropdownInput.module.css
Due: run-web-workflow

Upgrade CRA and webpack to v5
  packages/web/.eslintrc.js
  packages/web/craco.config.ts
  packages/web/package.json
  packages/web/src/index.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/settings-page/components/mobile/AboutSettingsPage.tsx
  packages/web/src/services/AudiusBackend.js
  packages/web/src/store/analytics/providers/index.ts
Due: run-web-workflow

Replace craco with react-app-rewired, remove errors, get running
  packages/web/craco.config.ts
  packages/web/package.json
  packages/web/src/pages/App.js
  packages/web/src/root2.tsx
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Fix tests, add overrides
  packages/web/config-overrides.js
  packages/web/src/audio/AudioStream.test.js
Due: run-web-workflow

Replace rewired with craco
  packages/web/config-overrides.js
  packages/web/craco.config.ts
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Fix mobile build
  packages/web/craco.config.ts
  packages/web/package.json
Due: run-web-workflow

Remove node polyfill webpack plugin
  packages/web/package.json
Due: run-web-workflow

USING NEW API
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Okay this is looking okay
  packages/web/craco.config.ts
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

added some more, things still kinda broken though
  packages/web/craco.config.ts
  packages/web/package-lock.json
Due: run-web-workflow

Improve install process
  package.json
  packages/stems/package.json
Due: run-stems-workflow

Remove incorrect browser config
  packages/web/package.json
Due: run-web-workflow

Switch RPC to genesysgo.net
  packages/web/src/components/audio-on-ramp-modal/AudioOnRampModal.tsx
Due: run-web-workflow

Final changes
  package.json
  packages/stems/package.json
  packages/web/craco.config.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/index.tsx
  packages/web/src/root2.tsx
Due: run-web-workflow, run-stems-workflow

Fix visualizer
  packages/web/craco.config.ts
  packages/web/src/pages/App.js
  packages/web/src/utils/visualizer/gl-vignette-background/index.js
  packages/web/src/utils/visualizer/visualizer-1.js
Due: run-web-workflow

remove npm link
  package.json
Due: none

Fix tests
  packages/web/src/audio/AudioStream.test.js
  packages/web/src/setupTests.js
Due: run-web-workflow

v1.1.12
  lerna.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Dedupe react
  package-lock.json
  package.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-stems-workflow

Fix jest
  packages/web/package.json
  packages/web/src/audio/AudioStream.test.js
  packages/web/src/audio/AudioStream.ts
  packages/web/src/setupTests.js
Due: run-web-workflow

Persist root node_modules
  .circleci/src/jobs/@stems-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix build issues
  .circleci/src/jobs/@web-jobs.yml
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Move CP of tar file to s3 step
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix build path
  .circleci/src/jobs/@web-jobs.yml
  package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove custom branch name
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Move tar to s3 step
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Lerna exact
  .circleci/config.yml
  packages/mobile/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Working changes for playlist
  packages/web/scripts/configureLocalEnv.js
  packages/web/src/services/AudiusBackend.js
Due: run-web-workflow

Add plugin-css-modules to fix web build
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/tsconfig.json
Due: run-web-workflow
