Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

holy crap works
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/react-native.config.js
Due: run-mobile-workflow

Okay finally fixed!
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Revert "Add alert logs to offline downloader (#2505)"
  packages/mobile/src/hooks/useIsOfflineModeEnabled.ts
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/services/offline-downloader/workers/trackDownloadWorker.ts
Due: run-mobile-workflow

remove unnecessary patch
  packages/mobile/patches/@audius+sdk+1.0.27.patch
Due: run-mobile-workflow

remove explict polyfills
  packages/mobile/metro.config.js
Due: run-mobile-workflow

show more message info
  packages/mobile/src/screens/chats-screen/ChatsScreen.tsx
Due: run-mobile-workflow

fix typo
  packages/common/src/store/pages/chat/sagas.ts
Due: none

remove polyfill for bigint (breaks noble packages)
  packages/mobile/index.js
Due: run-mobile-workflow

fix event-based initialization of sdk
  packages/mobile/src/services/audius-sdk.ts
Due: run-mobile-workflow

Match designs
  packages/mobile/src/assets/images/iconSnapchat.svg
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
Due: run-mobile-workflow

Fix positioning of duration on track list items of deleted tracks
  packages/web/src/components/track/desktop/TrackListItem.tsx
Due: run-web-workflow

Update counter effect logic to only reset track position when the track index is the same (#2501)
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix path
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-mobile-workflow

Update api key
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Remove UserBadges from desktop card component and add to search page Album cards
  packages/web/src/components/card/desktop/Card.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
Due: run-web-workflow

Fix
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Remove changes to root package-lock
  package-lock.json
Due: none

Lint
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Properly set track
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix path more better
  packages/mobile/android/fastlane/Fastfile
Due: run-mobile-workflow

Update session count hook to respect the startAt prop
  packages/mobile/src/components/notification-reminder/NotificationReminder.tsx
  packages/mobile/src/components/rate-cta-drawer/RateCtaReminder.tsx
  packages/mobile/src/hooks/useSessionCount.ts
Due: run-mobile-workflow

Improve tipping perf, only fetch recent tip
  packages/common/src/models/Tipping.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/store/tipping/selectors.ts
  packages/common/src/store/tipping/slice.ts
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/tipping/storageUtils.ts
Due: run-web-workflow

Update mobile react 18 types and usage
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/app/ErrorBoundary.tsx
  packages/mobile/src/components/copy-text-tile/CopyTextTile.tsx
  packages/mobile/src/components/core/Shadow.tsx
  packages/mobile/src/components/core/Tile/Tile.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/now-playing-drawer/Artwork.tsx
  packages/mobile/src/components/share-drawer/ShareToStorySticker.tsx
  packages/mobile/src/screens/audio-screen/Tier.tsx
  packages/mobile/src/screens/explore-screen/collections.ts
  packages/mobile/src/screens/explore-screen/components/ColorTile.tsx
  packages/mobile/src/screens/notifications-screen/NotificationErrorBoundary.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/signon/ProfileImage.tsx
  packages/mobile/src/screens/upload-screen/screens/SelectTrackScreen.tsx
  packages/mobile/types/react-native-markdown-display.d.ts
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Fix react video
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Update session count hook to respect the startAt prop (#2514)
  packages/mobile/src/components/notification-reminder/NotificationReminder.tsx
  packages/mobile/src/components/rate-cta-drawer/RateCtaReminder.tsx
  packages/mobile/src/hooks/useSessionCount.ts
Due: run-mobile-workflow

Use https on gain.audius.co
  packages/mobile/.env.prod
  packages/mobile/.env.stage
  packages/mobile/src/services/analytics.ts
  packages/web/.env/.env.prod
  packages/web/.env/.env.stage
Due: run-web-workflow, run-mobile-workflow

tmp
  packages/mobile/package.json
Due: run-mobile-workflow

Upgrade firebase to latest
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
Due: run-mobile-workflow

Many fixes
  packages/common/src/models/Tipping.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/services/local-storage/LocalStorage.ts
  packages/common/src/store/tipping/slice.ts
  packages/common/src/store/tipping/types.ts
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/tipping/storageUtils.ts
  packages/web/src/components/lineup/LineupProvider.tsx
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow, run-mobile-workflow

[C-1757] Fix common absolute imports
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/rollup.config.js
  packages/common/tsconfig.json
Due: none

Fix mobile
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
Due: run-mobile-workflow

Fix types
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/cache/users/utils/processAndCacheUsers.ts
Due: run-web-workflow

Lint fixes
  packages/web/src/common/store/cache/users/utils/processAndCacheUsers.ts
  packages/web/src/components/lineup/LineupProvider.tsx
Due: run-web-workflow

[PAY-498] Improve feed tip tile perf, only fetch recent tip (#2465)
  packages/common/src/models/Tipping.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/services/local-storage/LocalStorage.ts
  packages/common/src/store/tipping/selectors.ts
  packages/common/src/store/tipping/slice.ts
  packages/common/src/store/tipping/types.ts
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/web/src/common/store/cache/users/utils/processAndCacheUsers.ts
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/tipping/storageUtils.ts
  packages/web/src/components/lineup/LineupProvider.tsx
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow, run-mobile-workflow

Use https on gain.audius.co (#2516)
  packages/mobile/.env.prod
  packages/mobile/.env.stage
  packages/mobile/src/services/analytics.ts
  packages/web/.env/.env.prod
  packages/web/.env/.env.stage
Due: run-web-workflow, run-mobile-workflow

[C-1530] Improve collectibles details drawer (#2500)
  packages/mobile/src/components/audio-breakdown-drawer/Wallet.tsx
  packages/mobile/src/components/collectible-details-drawer/CollectibleDate.tsx
  packages/mobile/src/components/collectible-details-drawer/CollectibleDetailsDrawer.tsx
  packages/mobile/src/components/collectible-details-drawer/CollectibleLink.tsx
  packages/mobile/src/components/collectible-details-drawer/CollectibleMedia.tsx
  packages/mobile/src/components/core/ChainLogo.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/components/video/AutoSizeVideo.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesCard.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesTab.tsx
  packages/mobile/src/screens/wallet-connect/components/LinkedWallet.tsx
  packages/mobile/src/screens/wallet-connect/components/WalletConnectDrawer.tsx
  packages/mobile/src/utils/routes.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

Fix local iOS dev/install
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

Set snapchat key
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Bump @audius/sdk to v1.0.30
  packages/common/package-lock.json
  packages/common/package.json
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
