Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use bulk tracks from API client
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/cache/tracks/utils/retrieveTracks.ts
Due: run-web-workflow

Address comments 2
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

Bump common and stems packages
  packages/common/package-lock.json
  packages/common/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
Due: run-stems-workflow

Split up sign-out saga to web and native (#1847)
  packages/common/src/store/sign-out/slice.ts
  packages/mobile/src/components/sign-out-confirmation-drawer/SignOutConfirmationDrawer.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/settings/sagas.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/common/store/pages/settings/errorSagas.ts
  packages/web/src/common/store/pages/settings/sagas.ts
  packages/web/src/common/store/sign-out/sagas.ts
  packages/web/src/components/nav/mobile/SignOut.tsx
  packages/web/src/pages/deactivate-account-page/store/sagas.ts
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/settings-page/store/sagas.ts
  packages/web/src/services/native-mobile-interface/lifecycle.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/sign-out/sagas.ts
  packages/web/src/store/sign-out/signOut.ts
Due: run-web-workflow, run-mobile-workflow

[C-955] Add native settings screen
  packages/mobile/src/screens/settings-screen/AccountSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/CastSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/EmailFrequencyControlRow.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/screens/settings-screen/NotificationRow.tsx
  packages/mobile/src/store/application/ui/theme/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/history/lineups/sagas.js
  packages/web/src/common/store/pages/history/sagas.js
  packages/web/src/pages/history-page/store/sagas.js
Due: run-web-workflow, run-mobile-workflow

fix lint etc
  packages/web/src/store/sagas.ts
Due: run-web-workflow

fix types
  packages/mobile/src/theme.ts
Due: run-mobile-workflow

[C-955] Fully native settings screen (#1848)
  packages/mobile/src/screens/settings-screen/AccountSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/CastSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/EmailFrequencyControlRow.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/screens/settings-screen/NotificationRow.tsx
  packages/mobile/src/store/application/ui/theme/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/theme.ts
  packages/web/src/common/store/pages/history/lineups/sagas.js
  packages/web/src/common/store/pages/history/sagas.js
  packages/web/src/pages/history-page/store/sagas.js
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-937] Refactor theme state, implement native theme
  packages/common/src/models/Theme.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/theme/actionTypes.ts
  packages/common/src/store/ui/theme/actions.ts
  packages/common/src/store/ui/theme/reducer.ts
  packages/common/src/store/ui/theme/selectors.ts
  packages/common/src/store/ui/theme/slice.ts
  packages/common/src/store/ui/theme/types.ts
  packages/mobile/src/App.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/components/theme/ThemeContext.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/store/application/ui/theme/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/theme/sagas.ts
  packages/mobile/src/styles/makeStyles.ts
  packages/mobile/src/theme.ts
  packages/mobile/src/utils/theme.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/services/native-mobile-interface/android/theme.ts
  packages/web/src/services/native-mobile-interface/theme.ts
  packages/web/src/store/application/ui/theme/sagas.ts
  packages/web/src/utils/theme/theme.ts
Due: run-web-workflow, run-mobile-workflow

Fix types
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/styles/makeStyles.ts
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

clean up dark-mode emitter
  packages/mobile/src/store/theme/sagas.ts
Due: run-mobile-workflow

Migrate tipping sagas
  packages/common/src/services/audius-backend/Tipping.ts
  packages/common/src/services/audius-backend/index.ts
  packages/mobile/src/screens/user-list-screen/UserListItem.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/tipping/storageUtils.ts
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/tipping/storageUtils.ts
  packages/web/src/common/store/user-list/supporting/sagas.ts
  packages/web/src/common/store/user-list/top-supporters/sagas.ts
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
  packages/web/src/store/sagas.ts
  packages/web/src/store/tipping/mobileSagas.ts
  packages/web/src/store/tipping/storageUtils.ts
  packages/web/src/utils/constants.ts
  packages/web/tsconfig.json
Due: run-web-workflow, run-mobile-workflow

Revert accidental change
  packages/mobile/src/screens/user-list-screen/UserListItem.tsx
Due: run-mobile-workflow

Remove duplicate storageUtils on mobile
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/message/handlers/tipping.ts
  packages/mobile/src/store/tipping/storageUtils.ts
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
  packages/web/tsconfig.json
Due: run-web-workflow, run-mobile-workflow

Put mobileSagas back for now
  packages/web/src/common/store/tipping/mobileSagas.ts
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

Revert deleted file
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

Fix supporters user lists
  packages/web/src/common/store/user-list/top-supporters/sagas.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
Due: run-web-workflow

Fix supporting user list
  packages/web/src/common/store/user-list/supporting/sagas.ts
Due: run-web-workflow

Fix some async issues
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/web/src/common/store/tipping/storageUtils.ts
Due: run-web-workflow, run-mobile-workflow

Disable hourly run until probers added to client monorepo
  packages/probers/.circleci/config.yml
Due: none

Address comments and such
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/store/theme/sagas.ts
  packages/mobile/src/styles/makeStyles.ts
Due: run-mobile-workflow

[C-937] Refactor theme state, Implement native theme (#1851)
  packages/common/src/models/Theme.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/theme/actionTypes.ts
  packages/common/src/store/ui/theme/actions.ts
  packages/common/src/store/ui/theme/reducer.ts
  packages/common/src/store/ui/theme/selectors.ts
  packages/common/src/store/ui/theme/slice.ts
  packages/common/src/store/ui/theme/types.ts
  packages/mobile/src/App.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/components/theme/ThemeContext.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/store/application/ui/theme/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/theme/sagas.ts
  packages/mobile/src/styles/makeStyles.ts
  packages/mobile/src/theme.ts
  packages/mobile/src/utils/theme.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/services/native-mobile-interface/android/theme.ts
  packages/web/src/services/native-mobile-interface/theme.ts
  packages/web/src/store/application/ui/theme/sagas.ts
  packages/web/src/utils/theme/theme.ts
Due: run-web-workflow, run-mobile-workflow

new theme color thing
  packages/web/src/components/buy-audio-modal/components/CoinbaseBuyAudioButton.tsx
Due: run-web-workflow

Update social features to use entity manager
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[PAY-601] Precalculate account fees on page load
  packages/common/src/store/ui/buy-audio/slice.ts
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

[C-960] Add native push and email settings
  packages/mobile/src/components/sign-out-confirmation-drawer/SignOutConfirmationDrawer.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/screens/settings-screen/NotificationSettingsScreen.tsx
  packages/mobile/src/store/notifications/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/settings/sagas.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/common/store/notifications/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-858] Add track page sagas to native, Refactor TrackScreen (#1768)
  packages/common/package.json
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/hooks/useImageSize.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/services/audius-backend-instance.ts
Due: run-mobile-workflow

Search results screen (#1782)
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/search-results-screen/tabs/AlbumsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/ProfilesTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/SearchResultsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/TracksTab.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
  packages/web/src/common/store/search-bar/actions.ts
  packages/web/src/common/store/search-bar/mobileSagas.ts
  packages/web/src/common/store/search-bar/reducer.ts
  packages/web/src/common/store/search-bar/sagas.ts
  packages/web/src/common/store/search-bar/selectors.js
  packages/web/src/common/store/search-bar/types.ts
  packages/web/src/components/search-bar/ConnectedSearchBar.js
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

[C-902] Move collection page to native (#1798)
  packages/common/package.json
  packages/common/src/store/pages/collection/actions.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-903] Migrate feed to native store (#1799)
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[React Native Reloaded] Make mobile search fully native (#1808)
  packages/mobile/src/message/handleMessage.ts
  packages/mobile/src/message/handlers/search.ts
  packages/mobile/src/screens/search-results-screen/EmptyResults.tsx
  packages/mobile/src/screens/search-results-screen/SearchQueryContext.ts
  packages/mobile/src/screens/search-results-screen/SearchResultsScreen.tsx
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/search-results-screen/constants.ts
  packages/mobile/src/screens/search-results-screen/tabs/AlbumsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/ProfilesTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/useFetchTabResultsEffect.tsx
  packages/mobile/src/screens/search-screen/SearchBar.tsx
  packages/mobile/src/screens/search-screen/SearchHistory.tsx
  packages/mobile/src/screens/search-screen/SearchResults.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/search-screen/content/SeeMoreResultsButton.tsx
  packages/mobile/src/screens/search-screen/utils.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/search/actions.ts
  packages/mobile/src/store/search/reducer.ts
  packages/mobile/src/store/search/selectors.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-bar/mobileSagas.ts
  packages/web/src/common/store/search-bar/reducer.ts
  packages/web/src/common/store/search-bar/sagas.ts
  packages/web/src/common/store/search-bar/selectors.js
  packages/web/src/common/store/search-bar/selectors.ts
  packages/web/src/components/search-bar/SearchBar.tsx
  packages/web/src/pages/search-page/store/lineups/tracks/sagas.js
  packages/web/src/services/native-mobile-interface/search.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
  packages/web/src/utils/nativeRoute.ts
Due: run-web-workflow, run-mobile-workflow

[C-872] Play audio in native (#1807)
  packages/common/src/services/native-mobile-interface/types.ts
  packages/common/src/store/player/selectors.ts
  packages/common/src/store/queue/slice.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/core/PlayBarChin.tsx
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/CollectionTileTrackList.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/PlayButton.tsx
  packages/mobile/src/components/scrubber/Scrubber.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/web/WebApp.tsx
  packages/mobile/src/message/handleMessage.ts
  packages/mobile/src/message/handlers/audio.ts
  packages/mobile/src/message/types.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/services/audio-player/NativeMobileAudio.ts
  packages/mobile/src/services/audio-player/index.ts
  packages/mobile/src/store/audio/actions.ts
  packages/mobile/src/store/audio/reducer.ts
  packages/mobile/src/store/audio/selectors.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
  packages/mobile/src/store/storeContext.ts
  packages/mobile/src/utils/postMessage.ts
  packages/web/src/common/store/queue/mobileSagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/services/audio-player/NativeMobileAudio.ts
  packages/web/src/services/native-mobile-interface/helpers.ts
  packages/web/src/services/native-mobile-interface/player.ts
  packages/web/src/services/native-mobile-interface/queue.ts
  packages/web/src/services/native-mobile-interface/types.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-917] Add native trending screen (#1816)
  packages/mobile/src/screens/trending-screen/TrendingFilterButton.tsx
  packages/mobile/src/screens/trending-screen/TrendingFilterDrawer.tsx
  packages/mobile/src/screens/trending-screen/TrendingLineup.tsx
  packages/mobile/src/screens/trending-screen/TrendingScreen.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[C-924] Add fully native explore screen (#1819)
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ArtistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/ForYouTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/LetThemDJScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TopAlbumsScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TrendingPlaylistsScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TrendingUndergroundScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/mood-collection-screen/MoodCollectionScreen.tsx
  packages/mobile/src/screens/smart-collection-screen/SmartCollectionScreen.tsx
  packages/mobile/src/services/env.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/collection/lineups/sagas.js
  packages/web/src/common/store/smart-collection/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-931] Fully native favorites screen (#1823)
  packages/mobile/src/components/drawer/AppDrawer.tsx
  packages/mobile/src/screens/app-screen/FavoritesTabScreen.tsx
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/favorites-screen/index.ts
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[C-929] Add fully native drawers (#1824)
  packages/mobile/src/components/audio-rewards/RewardsBanner.tsx
  packages/mobile/src/components/feed-filter-drawer/FeedFilterDrawer.tsx
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/ProfileOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/components/trending-rewards-drawer/TrendingRewardsDrawer.tsx
  packages/mobile/src/screens/feed-screen/FeedFilterButton.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/trending-screen/TrendingFilterButton.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

Oops (#1828)
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[C-933] Add fully native social actions (#1825)
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/components/overflow-menu-drawer/ProfileOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/user/FollowButton.tsx
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
