Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Fix weird collapsing on small screen sizes
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Remove ButtonWithArrow
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
  packages/web/src/pages/audio-rewards-page/TrendingRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/components/ButtonWithArrow.module.css
  packages/web/src/pages/audio-rewards-page/components/ButtonWithArrow.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/TopAPI.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/TopApi.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/TrendingRewards.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/TrendingRewards.tsx
Due: run-web-workflow

[PAY-871] Extend reward buttons to full tile width
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
Due: run-web-workflow

[C-1782] Use proxy for sentry dsn
  packages/mobile/.env.dev
  packages/mobile/.env.prod
  packages/mobile/.env.stage
  packages/web/.env/.env.prod
  packages/web/.env/.env.stage
Due: run-web-workflow, run-mobile-workflow

fix mobile error
  packages/mobile/src/screens/chats-screen/ChatsScreen.tsx
Due: run-mobile-workflow

hide undownloaded playlists
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix content alignment in rewards tiles
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
Due: run-web-workflow

separate completed css classes
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
Due: run-web-workflow

log storage location
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

log job count; queue available in console
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

Revert "Make rc-staging fast-app variant (#2585)"
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fixes
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

remove logs
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

simplify
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Update chromecast icon in nowplaying drawer and track name length on track list items
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-mobile-workflow

sleep less
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

lint fix
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Prevent excess rerenders of DownloadStatusIndicator
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

Prevent rerenders of Audio component
  packages/common/src/utils/selectorHelpers.ts
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

[PAY-878] Wrap getBalance in try/catch
  packages/web/src/common/store/wallet/sagas.ts
Due: run-web-workflow

Fix button alignment in rewards tiles
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
Due: run-web-workflow

var(--unit-8)
  packages/web/src/pages/audio-rewards-page/RewardsTile.module.css
Due: run-web-workflow

Report to sentry
  packages/web/src/common/store/wallet/sagas.ts
Due: run-web-workflow

Fix types
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

Further selector improvements
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
Due: run-mobile-workflow

Use 2-letter country codes in buy-audio location
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

download favorites list we already have
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

[C-1948] Restart app on saga error
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/toast/selectors.ts
  packages/common/src/store/ui/toast/types.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/ErrorBoundary.tsx
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/audio-breakdown-drawer/Wallet.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ReferralLinkCopyButton.tsx
  packages/mobile/src/components/copy-text-tile/CopyTextTile.tsx
  packages/mobile/src/components/core/Link.tsx
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
  packages/mobile/src/components/toast/ToastContext.tsx
  packages/mobile/src/components/toasts/Toasts.tsx
  packages/mobile/src/components/toasts/index.ts
  packages/mobile/src/hooks/useToast.ts
  packages/mobile/src/screens/profile-screen/CollectiblesTab.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/screens/wallet-connect/WalletConnectStack.tsx
  packages/mobile/src/screens/wallet-connect/components/LinkedWallet.tsx
  packages/mobile/src/screens/wallet-connect/useWalletStatusToasts.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

fixes
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

oops
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Use permalink in frontend routing to fetch playlists
  packages/common/src/models/Collection.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/store/account/types.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/card/desktop/CollectionArtCard.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.js
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/search-bar/ConnectedSearchBar.js
  packages/web/src/components/share-modal/utils.ts
  packages/web/src/components/track-overflow-modal/ConnectedMobileOverflowModal.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/helpers.ts
  packages/web/src/components/track/mobile/ConnectedPlaylistTile.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/explore-page/components/desktop/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/CollectionsPage.tsx
  packages/web/src/pages/explore-page/components/mobile/ExplorePage.tsx
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfilePage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/pages/search-page/components/desktop/SearchPageContent.js
  packages/web/src/utils/route/collectionRouteParser.ts
  packages/web/src/utils/seo.ts
Due: run-web-workflow

fixed everything
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

impot
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Fix profile picture crash
  packages/web/src/components/notification/Notification/components/UserProfilePictureList.tsx
Due: run-web-workflow

Fix cache types
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/cache/selectors.ts
  packages/common/src/store/cache/users/selectors.ts
  packages/common/src/store/pages/explore/exploreCollections/selectors.ts
  packages/common/src/store/pages/explore/selectors.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/pages/search-results/selectors.ts
  packages/common/src/store/ui/createPlaylistModal/selectors.ts
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FollowNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/pages/trending/lineups/trending/retrieveTrending.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/notification/Notification/FavoriteNotification.tsx
  packages/web/src/components/notification/Notification/FollowNotification.tsx
  packages/web/src/components/notification/Notification/RepostNotification.tsx
  packages/web/src/pages/explore-page/ExploreCollectionsPageProvider.tsx
  packages/web/src/pages/explore-page/ExplorePageProvider.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Improve toast
  packages/mobile/src/components/toasts/Toast.tsx
  packages/mobile/src/components/toasts/Toasts.tsx
Due: run-mobile-workflow

Add toggle for message notifs on web + mobile
  packages/common/src/store/pages/settings/reducer.ts
  packages/common/src/store/pages/settings/types.ts
  packages/mobile/src/screens/settings-screen/NotificationSettingsScreen.tsx
  packages/web/src/pages/settings-page/components/desktop/NotificationSettings.tsx
  packages/web/src/pages/settings-page/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Remove newline
  packages/web/src/pages/settings-page/components/desktop/NotificationSettings.tsx
Due: run-web-workflow

Port Input component to TypeScript
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
Due: run-web-workflow
