Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Position download indicator in TrackListItem
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-mobile-workflow

Add margin
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-mobile-workflow

load tracks early but lineup later
  package-lock.json
  packages/mobile/package-lock.json
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[C-1665] Fix deleteWallet bug
  packages/common/src/store/cache/reducer.ts
  packages/web/src/store/token-dashboard/sagas.ts
Due: run-web-workflow

Depend on identity for EM user feature flag
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

[C-1666] Use custom optimizely endpoint
  packages/mobile/src/services/remote-config/remote-config-instance.ts
Due: run-mobile-workflow

Add sentry on optimizely error
  packages/mobile/src/services/remote-config/remote-config-instance.ts
Due: run-mobile-workflow

Add error handling on web
  packages/web/src/services/remote-config/remote-config-instance.ts
Due: run-web-workflow

load lineupTrack on download
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

remove extra type annotation
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

Delete appDataPath on new entire electron app
  packages/web/src/electron.js
Due: run-web-workflow

Use newest build dir
  packages/web/src/electron.js
Due: run-web-workflow

Enable build
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add codesign
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add publish step
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Bump @audius/sdk version to 1.0.26
  packages/common/package.json
  packages/web/package.json
Due: run-web-workflow

Add is playlist upload to meta on upload
  packages/common/src/models/Track.ts
  packages/common/src/schemas/index.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Actually register build dir
  packages/web/src/electron.js
Due: run-web-workflow

remove then
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Add endpoints for transaction count and metadata.
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[PAY-728] Audio Transactions History Table
  packages/common/src/store/pages/audio-transactions/selectors.ts
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/transaction-details/types.ts
  packages/common/src/utils/formatUtil.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/components/audio-transaction-icon/AudioTransactionIcon.tsx
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/transaction-details-modal/components/Block.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Fix data fetching bug, UI updates
  packages/common/src/store/pages/audio-transactions/selectors.ts
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/common/src/utils/formatUtil.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Hardcode Prod DN 4
  packages/web/public/index.html
Due: run-web-workflow

fix type issues
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
Due: run-web-workflow

fix more type issues
  packages/common/src/store/ui/transaction-details/types.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
Due: run-web-workflow

loading spinner, tooltip, icon + type in 1 column
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.module.css
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Remove leading slash
  packages/web/src/electron.js
Due: run-web-workflow

change ig feature flag
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

bump ios
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

more type issues
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Add chat page store
  packages/common/src/store/pages/chat/index.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/storeContext.ts
  packages/web/src/common/store/pages/chat/sagas.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow

Fix sdk init
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

Add chat page
  packages/web/src/pages/App.js
  packages/web/src/pages/chat-page/ChatPage.module.css
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatComposer.module.css
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
  packages/web/src/pages/chat-page/components/ChatList.module.css
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.module.css
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/index.ts
  packages/web/src/utils/route.ts
Due: run-web-workflow

Update DownloadStatusIndicator to handle collectionIds and add download indicator to lineup tiles and collection cards
  packages/mobile/src/components/card/Card.tsx
  packages/mobile/src/components/collection-card/CollectionCard.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
Due: run-mobile-workflow

Styling for mobile web
  packages/web/src/pages/sign-on/components/ProfilePage.module.css
  packages/web/src/pages/sign-on/components/ProfilePage.tsx
  packages/web/src/pages/sign-on/components/desktop/CompleteProfileWithSocial.module.css
  packages/web/src/pages/sign-on/components/desktop/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/desktop/SignOnPage.tsx
  packages/web/src/pages/sign-on/components/mobile/ProfilePage.module.css
  packages/web/src/pages/sign-on/components/mobile/ProfilePage.tsx
  packages/web/src/pages/sign-on/components/mobile/SignOnPage.tsx
  packages/web/src/pages/sign-on/components/mobile/TwitterOverlay.js
  packages/web/src/pages/sign-on/components/mobile/TwitterOverlay.module.css
Due: run-web-workflow

Move CompleteProfileWithSocial out of desktop dir
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.module.css
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/ProfilePage.tsx
Due: run-web-workflow

Show spinner while tiktok authing
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
Due: run-web-workflow

first attempt
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

Associate tiktok account
  packages/web/src/common/store/pages/signon/reducer.js
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
Due: run-web-workflow

Update handler name
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
