Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update stripe logo in transaction details
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Change text to link by stripe everywhere
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/components/buy-audio-modal/components/InProgressPage.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

remove unused, change icon color
  packages/web/src/components/audio-transaction-icon/AudioTransactionIcon.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
Due: run-web-workflow

Remove darkmode special casing
  packages/web/src/components/on-ramp-button/OnRampButton.module.css
  packages/web/src/components/on-ramp-button/OnRampButton.tsx
Due: run-web-workflow

[PAY-685] Update Stripe button to use approved brand assets (#2138)
  packages/web/src/assets/img/LogoStripeLink.svg
  packages/web/src/components/audio-transaction-icon/AudioTransactionIcon.module.css
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/components/buy-audio-modal/components/InProgressPage.tsx
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
  packages/web/src/components/on-ramp-button/OnRampButton.module.css
  packages/web/src/components/on-ramp-button/OnRampButton.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

[C-1317] Improve client startup tooling
  package-lock.json
  package.json
  packages/mobile/.env.dev
  packages/mobile/package.json
  packages/web/.env/.env.ipfs.prod
  packages/web/.env/.env.ipfs.stage
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

package json additions
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

fix: packages/mobile/package.json & packages/mobile/package-lock.json to reduce vulnerabilities
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Prepend audius url to share url
  packages/mobile/src/utils/share.ts
Due: run-mobile-workflow

Make the buy button grow less quickly if it's the only button
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.module.css
Due: run-web-workflow

Conflict resolution
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.module.css
Due: run-web-workflow

Bump ios
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Bump ios (#2144)
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

wip
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/offline-downloads/OfflineLoader.tsx
  packages/mobile/src/hooks/useOfflineTrack.ts
Due: run-mobile-workflow

useProxySelector for mileston notification
  packages/mobile/src/screens/notifications-screen/Notifications/MilestoneNotification.tsx
Due: run-mobile-workflow

[C-1336] Consolidate typescript version
  package-lock.json
  package.json
  packages/common/src/models/Track.ts
  packages/common/src/utils/performance.test.js
  packages/common/src/utils/selectorHelpers.ts
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/stems/src/components/PillButton/types.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/common/store/confirmer/store.test.ts
  packages/web/src/common/store/player/store.test.js
  packages/web/src/components/data-entry/TabSlider.js
  packages/web/src/hooks/useRouteMatch.ts
  packages/web/src/pages/search-page/components/mobile/SearchPageContent.tsx
  packages/web/src/services/audio-player/AudioPlayer.test.js
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-1336] Implement account drawer
  packages/mobile/src/assets/images/iconUserFollowers.svg
  packages/mobile/src/assets/images/iconUserList.svg
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/app-screen/ProfileTabScreen.tsx
Due: run-mobile-workflow

Reduce navigation context rerenders
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

useProxySelector for remaining notifs
  packages/mobile/src/screens/notifications-screen/Notifications/AddTrackToPlaylistNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/MilestoneNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCosignNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCreateNotification.tsx
Due: run-mobile-workflow

Finalize design
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useAccountHasClaimableRewards.ts
  packages/mobile/src/assets/images/tokenBadgeNoTier.svg
  packages/mobile/src/components/audio-rewards/IconAudioBadge.tsx
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/app-screen/ProfileTabScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow, run-mobile-workflow

Address comments
  README.md
  package.json
Due: none

Fix pod install
  package.json
Due: none

Fix pod install again
  package.json
Due: none

Make helper for seo description
  packages/web/src/pages/explore-page/ExplorePageProvider.tsx
  packages/web/src/pages/trending-page/TrendingPageProvider.js
  packages/web/src/pages/trending-playlists/TrendingPlaylistPage.tsx
  packages/web/src/pages/trending-underground/TrendingUndergroundPage.tsx
  packages/web/src/utils/seo.ts
Due: run-web-workflow

Fix lint
  packages/web/src/pages/deleted-page/components/mobile/DeletedPage.tsx
  packages/web/src/pages/explore-page/ExplorePageProvider.tsx
Due: run-web-workflow

Reduce rerenders of skeleton
  packages/mobile/src/components/skeleton/Skeleton.tsx
Due: run-mobile-workflow

don't need the lineup hack
  packages/mobile/src/components/offline-downloads/DownloadIndicator.tsx
  packages/mobile/src/components/offline-downloads/OfflineLoader.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

Convert lineup tiles to useStyles
  packages/mobile/src/components/lineup-tile/LineupTileArt.tsx
  packages/mobile/src/components/lineup-tile/LineupTileCoSign.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/lineup-tile/LineupTileRankIcon.tsx
  packages/mobile/src/components/lineup-tile/LineupTileSkeleton.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/styles.ts
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Revert locks
  package-lock.json
  packages/mobile/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Lock files better
  package-lock.json
  package.json
  packages/mobile/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

don't send segment when offline
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

jk we need the lineup; remove indicator on delete
  packages/mobile/src/components/offline-downloads/OfflineLoader.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

chasing down suspcious discover_feed metadata succeed action
  packages/common/src/store/reachability/reducer.ts
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
Due: run-mobile-workflow

proof of concept - stream mp3 instead of segments
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Increase max listeners to ignore memory leak error
  packages/common/src/services/remote-config/remote-config.ts
Due: none

Reduce DynamicImage rerenders
  packages/mobile/src/components/core/DynamicImage.tsx
  packages/mobile/src/components/lineup-tile/LineupTileArt.tsx
Due: run-mobile-workflow

Change waudio balance to a console.log
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
