Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Update play buttons on web and mobile to show resume when track is complete but is current track
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
Due: run-web-workflow, run-mobile-workflow

Remove log
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Update UI for inaccessible gated tracks from favorites page on desktop web
  packages/common/src/hooks/usePremiumContent.ts
  packages/web/src/components/table/components/OverflowMenuButton.tsx
  packages/web/src/components/tracks-table/TracksTable.module.css
  packages/web/src/components/tracks-table/TracksTable.tsx
Due: run-web-workflow

Update UI for inaccessible gated tracks from favorites page on mobile web
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
  packages/web/src/components/track/mobile/TrackList.tsx
  packages/web/src/components/track/mobile/TrackListItem.module.css
  packages/web/src/components/track/mobile/TrackListItem.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow

Update UI for inaccessible gated tracks from favorites page on native mobile
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-mobile-workflow

Fix typecheck and stylelint
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/track/mobile/TrackListItem.module.css
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/history-page/components/mobile/HistoryPage.tsx
Due: run-web-workflow

Remove transparent background on special access tooltip
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
Due: run-web-workflow

Fix "Pick some for me" button on android
  packages/mobile/src/components/core/TextButton.tsx
  packages/mobile/src/components/suggested-follows/PickArtistsForMeButton.tsx
Due: run-mobile-workflow

Fix how to unlock title section alignment
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

Add comment
  packages/common/src/hooks/usePremiumContent.ts
Due: none

[C-2366] Improve web notification selection performance
  packages/web/src/components/notification/Notification/Notification.tsx
Due: run-web-workflow

Fix types
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/store/application/ui/notifications/notificationsUISelectors.ts
Due: run-web-workflow

Bump sdk to 2.0.3-beta.1
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

[C-2382] Update dapp-store cli, short_description length
  packages/mobile/dapp-store/README.md
  packages/mobile/dapp-store/config.yaml
  packages/mobile/dapp-store/package.json
  packages/mobile/dapp-store/pnpm-lock.yaml
Due: run-mobile-workflow

Update account address
  packages/mobile/dapp-store/config.yaml
Due: run-mobile-workflow

Fix "Pick some for me" button on android (#3102)
  packages/mobile/src/components/core/TextButton.tsx
  packages/mobile/src/components/suggested-follows/PickArtistsForMeButton.tsx
Due: run-mobile-workflow

Update skip 15s button behavior on mobile for podcasts
  packages/common/src/store/player/selectors.ts
  packages/common/src/store/player/slice.ts
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/mobile/src/components/scrubber/usePosition.ts
  packages/mobile/src/services/audio-player/NativeMobileAudio.ts
Due: run-mobile-workflow

Show header shadow in chat screens
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Subscribe to special access gates to unlock new tracks as they load
  packages/common/src/store/premium-content/sagas.ts
  packages/common/src/store/premium-content/selectors.ts
  packages/common/src/store/premium-content/slice.ts
Due: none

Lint usePremiumContent hook
  packages/common/src/hooks/usePremiumContent.ts
Due: none

Update resource class
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fixup
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update function names and add comments
  packages/common/src/store/premium-content/sagas.ts
Due: none

Switch resource class
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PLAT-695] Add trending notifications to valid_types
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow

[C-2386] Fix notification icon panel toggle
  packages/web/src/components/nav/desktop/NavColumn.tsx
Due: run-web-workflow

Medium gen2
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Switch ruby
  .circleci/config.yml
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Move config
  .circleci/config.yml
  .circleci/src/@continue_config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add dependencies, bundle to mobile README
  packages/mobile/README.md
Due: run-mobile-workflow

updates
  packages/mobile/README.md
Due: run-mobile-workflow

move to root README
  README.md
  packages/mobile/README.md
Due: run-mobile-workflow

Fix version
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Always include user signature for stream
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Add supporters info drawer
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

Check if messagesStatus undefined in ChatScreen
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[C-2386] Fix notification button not toggling panel (#3110)
  packages/web/src/components/nav/desktop/NavColumn.tsx
Due: run-web-workflow

Add new files
  packages/mobile/src/components/supporters-info-drawer/SupportersInfoDrawer.tsx
  packages/mobile/src/components/supporters-info-drawer/index.ts
Due: run-mobile-workflow

Fix flag values
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow
