Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Simplify availability selection logic and fix touch targets
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/HiddenAvailability.tsx
  packages/web/src/components/track-availability-modal/PublicAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow

Lint
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/HiddenAvailability.tsx
  packages/web/src/components/track-availability-modal/PublicAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow

Upgrade stems
  packages/stems/package-lock.json
  packages/stems/package.json
Due: run-stems-workflow

Use latest stems on client web
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Fix customCheck in waitForValue
  packages/common/src/utils/sagaHelpers.ts
Due: none

Fix playlist upload flag in metadata
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Add entity manager write for notification read all and playlist view
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Fix web nav link not triggering for playlist:
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/nav/desktop/PlaylistNavItem.tsx
Due: run-web-workflow

Fix err catch
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Fix type
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
Due: run-web-workflow

Update selectors, add page title
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/screens/chats-screen/ChatsScreen.tsx
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow, run-mobile-workflow

wip
  packages/mobile/src/components/offline-downloads/OfflineDownloader.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

Remove stopPropagation
  packages/web/src/components/data-entry/DropdownInput.js
Due: run-web-workflow

Better selectors
  packages/common/src/store/pages/chat/selectors.ts
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/hooks.ts
Due: run-web-workflow

Add null check for notification navigation hook
  packages/mobile/src/hooks/useNotificationNavigation.ts
Due: run-mobile-workflow

Add null check for notification navigation hook (#2581)
  packages/mobile/src/hooks/useNotificationNavigation.ts
Due: run-mobile-workflow

wip
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

run prettier and fix formatting
  packages/web/src/utils/route.ts
Due: run-web-workflow

Update metadata
  packages/common/src/models/Track.ts
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
Due: run-web-workflow

moved startSync to saga
  packages/mobile/src/components/offline-downloads/OfflineDownloader.tsx
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
Due: run-mobile-workflow

Use safe-area-context
  packages/mobile/src/components/core/Screen/SafeAreaScreen.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
Due: run-mobile-workflow

[C-1821] Fix android manual sign up overflow (#2582)
  packages/mobile/src/components/core/Screen/SafeAreaScreen.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
Due: run-mobile-workflow

Fix notification userInteraction
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/notifications.ts
Due: run-mobile-workflow

Extract TrackPage PremiumTrackSection and CardTitle and handle ui for inaccessible premium track page.
  packages/web/src/assets/styles/colors.css
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/utils.ts
Due: run-web-workflow

Add unlocked icon
  packages/stems/src/assets/icons/iconUnlocked.svg
  packages/stems/src/components/Icons/index.ts
Due: run-stems-workflow

Handle unlocked premium track page
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Extract play button and add disabled condition
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PlayPauseButton.tsx
Due: run-web-workflow

Use IconUnlocked from stems
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Add premium track corner tag
  packages/stems/src/assets/icons/iconLockedCornerTag.svg
  packages/stems/src/assets/icons/iconUnlockedCornerTag.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackCornerTag.tsx
Due: run-web-workflow, run-stems-workflow

Remove temp comments
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PlayPauseButton.tsx
Due: run-web-workflow

Handle clicking on go to collection
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Handle clicking on follow artist
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Handle clicking on send tip
  packages/common/src/models/Analytics.ts
  packages/common/src/models/Track.ts
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumTrackCornerTag.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Wait for nft collection or user to display section
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Add ownerId prop to GiantTrackTile
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Update PremiumTrackSection
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Send chatid with reaction
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Fix reactions store
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

Scroll to bottom
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
