Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove rolloverNOdes remote flag
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/common/services/audius-backend/AudiusBackend.ts
Due: run-web-workflow

Lint
  packages/web/src/common/services/audius-backend/AudiusBackend.ts
Due: run-web-workflow

[C-608] Fix tooltip bugs
  packages/web/src/components/tooltip/Tooltip.tsx
  packages/web/src/components/tooltip/types.ts
Due: run-web-workflow

Fix tooltip on track tile
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

[C-768] Fix toast on no artwork
  packages/web/src/components/toast/Toast.module.css
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/components/upload/UploadArtwork.module.css
Due: run-web-workflow

Move placement to top after design chat
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

[C-767] Fix tooltip on cards
  packages/web/src/components/actions-tab/ActionsTab.js
  packages/web/src/components/card/desktop/Card.module.css
Due: run-web-workflow

Prevent multiple overflow menus at a time
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Handle playlist tiles overflow menus
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/TrackListItem.tsx
Due: run-web-workflow

Refactor
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackListItem.tsx
  packages/web/src/components/track/helpers.ts
Due: run-web-workflow

Fix new playlist/folder tooltip
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/tooltip/Tooltip.tsx
  packages/web/src/components/tooltip/types.ts
Due: run-web-workflow

[C-797] Fix track-remix-screen text color
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
Due: run-mobile-workflow

Prevent showing file explorer on pressing enter
  packages/web/src/components/image-selection/ImageSelectionButton.js
Due: run-web-workflow

[C-801] Add tag search text to mobile
  packages/mobile/src/components/header/Header.tsx
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
Due: run-mobile-workflow

Add extends null
  packages/web/package.json
Due: run-web-workflow

Replace text with tags
  packages/mobile/src/components/core/Tag.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

[PAY-466] Display AAO emoji errors for failed reward claims
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/web/src/common/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/pages/audio-rewards/selectors.ts
  packages/web/src/common/store/pages/audio-rewards/slice.ts
  packages/web/src/common/utils/aaoErrorCodes.ts
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewards.tsx
  packages/web/src/pages/audio-rewards-page/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-808] Dont show unecessarily show profile option on overflow menu
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

Typescript Error
  packages/web/src/common/store/pages/audio-rewards/selectors.ts
Due: run-web-workflow

wip
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.ts
  packages/web/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/services/audius-api-client/ResponseAdapter.ts
Due: run-web-workflow

optimisitcally use random playlist ID
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/pages/upload-page/store/sagas.js
  packages/web/src/services/AudiusBackend.ts
  packages/web/src/services/audius-api-client/AudiusAPIClient.ts
Due: run-web-workflow

PR Comments
  packages/web/src/common/store/pages/audio-rewards/slice.ts
  packages/web/src/common/utils/aaoErrorCodes.ts
Due: run-web-workflow

Move util function
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackListItem.tsx
  packages/web/src/components/track/helpers.ts
  packages/web/src/utils/domUtils.ts
Due: run-web-workflow

Fix lint
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackListItem.tsx
  packages/web/src/components/track/helpers.ts
  packages/web/src/utils/domUtils.ts
Due: run-web-workflow

Add emoji for error code 8
  packages/web/src/common/utils/aaoErrorCodes.ts
Due: run-web-workflow

add expect-error comment
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
Due: run-mobile-workflow

Do not expose notion doc
  packages/web/src/common/utils/aaoErrorCodes.ts
Due: run-web-workflow

Progress so far
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/account/mobileSagas.ts
  packages/web/src/common/store/account/reducer.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/account/sagas2.ts
  packages/web/src/common/store/cache/users/selectors.ts
  packages/web/src/components/browser-push-confirmation-modal/BrowserPushConfirmationModal.tsx
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/services/audius-backend/RecordIP.ts
  packages/web/src/utils/browserNotifications.ts
Due: run-web-workflow, run-mobile-workflow

Fixes
  packages/mobile/src/store/oauth/actions.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/account/reducer.ts
  packages/web/src/common/store/account/sagas2.ts
  packages/web/src/common/store/cache/tracks/utils/blocklist.ts
  packages/web/src/common/store/cache/users/utils/reformat.ts
  packages/web/src/components/change-password/store/sagas.ts
  packages/web/src/components/notification/store/mobileSagas.ts
  packages/web/src/pages/artist-dashboard-page/store/sagas.js
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/utils/signOut.js
Due: run-web-workflow, run-mobile-workflow

wip
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/web/src/common/store/cache/collections/actions.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/add-to-playlist/mobile/AddToPlaylist.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/services/AudiusBackend.ts
  packages/web/src/store/confirmer/sagas.ts
  packages/web/src/utils/tempPlaylistId.ts
Due: run-web-workflow, run-mobile-workflow

Use mobile optimizely
  packages/mobile/metro.config.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/services/remote-config/remote-config-instance.ts
Due: run-mobile-workflow

Bad merge
  packages/web/src/common/store/buy-audio/slice.ts
  packages/web/src/common/store/reducers.ts
Due: run-web-workflow

Default to modal hidden
  packages/web/src/common/store/ui/modals/slice.ts
Due: run-web-workflow

Fix lint
  packages/web/src/components/toast/Toast.module.css
  packages/web/src/components/upload/UploadArtwork.module.css
Due: run-web-workflow

wallet client fixes
  packages/web/src/common/store/storeContext.ts
  packages/web/src/pages/audio-rewards-page/components/SendInputBody.tsx
Due: run-web-workflow

remote-config-instance
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/ui/artist-recommendations/sagas.ts
  packages/web/src/components/notification/store/sagas.ts
  packages/web/src/pages/artist-dashboard-page/store/sagas.js
  packages/web/src/pages/audio-rewards-page/store/sagas.ts
  packages/web/src/pages/profile-page/sagas.js
  packages/web/src/pages/sign-on/store/sagas.js
  packages/web/src/pages/track-page/store/sagas.js
  packages/web/src/pages/trending-playlists/store/lineups/collections/sagas.ts
  packages/web/src/pages/trending-underground/store/lineups/tracks/sagas.ts
  packages/web/src/store/oauth/sagas.ts
  packages/web/src/store/player/sagas.ts
  packages/web/src/store/tipping/sagas.ts
  packages/web/src/store/token-dashboard/sagas.ts
Due: run-web-workflow

Add some min padding
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Fix type error
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
