Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Cleanup configureStore.ts
  packages/web/src/store/configureStore.ts
Due: run-web-workflow

typo
  packages/web/src/store/account/sagas.ts
Due: run-web-workflow

update supporter ranking to use dense ranking
  packages/common/src/store/tipping/selectors.ts
Due: none

Fix types
  packages/common/src/models/Analytics.ts
  packages/common/src/store/playlist-library/helpers.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-web-workflow

Revert locks
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

[C-2495] Refactor left-nav
  packages/web/src/components/nav/Navigator.module.css
  packages/web/src/components/nav/Navigator.tsx
  packages/web/src/components/nav/desktop/LeftNav.module.css
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/desktop/NavButton.js
  packages/web/src/components/nav/desktop/NavButton.tsx
  packages/web/src/components/nav/desktop/NavHeader.tsx
  packages/web/src/components/nav/desktop/PlaylistFolderNavItem.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/nav/desktop/PlaylistNavItem.tsx
  packages/web/src/components/nav/desktop/RouteNav.js
  packages/web/src/components/nav/desktop/RouteNav.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/components/notification/NotificationPanel.tsx
  packages/web/src/pages/App.js
Due: run-web-workflow

pr feedback
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandedSection.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileRelatedArtistsButton.tsx
Due: run-mobile-workflow

[C-574] Upgraed to @react-spring/web
  packages/web/.eslintrc.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/nav/desktop/NowPlayingArtworkTile.tsx
Due: run-web-workflow

Add ignores for all existing react-spring cases
  packages/web/src/components/animated-switch/AnimatedSwitch.tsx
  packages/web/src/components/app-redirect-popover/components/AppRedirectPopover.tsx
  packages/web/src/components/artist-recommendations/ArtistRecommendationsDropdown.tsx
  packages/web/src/components/drawer/Drawer.tsx
  packages/web/src/components/nav/desktop/PlaylistFolderNavItem.tsx
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/components/now-playing/NowPlayingDrawer.tsx
  packages/web/src/components/perspective-card/PerspectiveCard.tsx
  packages/web/src/components/play-bar/desktop/components/PlayingTrackInfo.tsx
  packages/web/src/components/profile-progress/ConnectedProfileCompletionHeroCard.js
  packages/web/src/components/profile-progress/ConnectedProfileCompletionPane.js
  packages/web/src/components/profile-progress/components/ProfileCompletionHeroCard.js
  packages/web/src/components/profile-progress/components/ProfileCompletionPanel.js
  packages/web/src/components/profile-progress/hooks/index.js
  packages/web/src/components/pull-to-refresh/PullToRefresh.tsx
  packages/web/src/components/pull-to-refresh/hooks.ts
  packages/web/src/components/sign-on/SignOnModal.js
  packages/web/src/components/status-message/StatusMessage.js
  packages/web/src/components/toast/ToastContext.tsx
  packages/web/src/hooks/useCardWeight.ts
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/landing-page/components/ArtistTestimonials.tsx
  packages/web/src/pages/landing-page/components/CTAListening.tsx
  packages/web/src/pages/landing-page/components/Description.tsx
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/landing-page/components/JoinTheCommunity.tsx
  packages/web/src/pages/landing-page/components/PlatformFeatures.tsx
  packages/web/src/pages/landing-page/components/PlatformTagline.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/mobile/GrowingCoverPhoto.tsx
  packages/web/src/pages/sign-on/components/desktop/SignOnPage.tsx
  packages/web/src/pages/sign-on/components/mobile/SignOnPage.tsx
Due: run-web-workflow

pin web
  packages/web/package.json
Due: run-web-workflow

Address comments
  packages/common/src/store/upload/selectors.ts
  packages/web/src/components/nav/desktop/NavButton.tsx
Due: run-web-workflow

Address render-props
  packages/stems/.eslintrc.js
  packages/stems/src/components/Modal/Modal.tsx
  packages/stems/src/components/Modal/ModalContentPages.tsx
  packages/stems/src/components/Popup/Popup.tsx
  packages/stems/src/components/SegmentedControl/SegmentedControl.tsx
  packages/web/.eslintrc.js
  packages/web/src/components/change-password/ConfirmCredentials.tsx
  packages/web/src/components/lineup/LineupProvider.tsx
  packages/web/src/components/nav/desktop/NavAudio.tsx
  packages/web/src/components/page/Page.js
  packages/web/src/components/search/SearchBar.js
  packages/web/src/components/tipping/tip-audio/ConfirmSendTip.tsx
  packages/web/src/components/tipping/tip-audio/TipAudioModal.tsx
  packages/web/src/components/transition-container/TransitionContainer.tsx
  packages/web/src/components/upload/InvalidFileType.js
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/pages/sign-on/components/desktop/EmailPage.tsx
  packages/web/src/pages/sign-on/components/desktop/SignInPage.tsx
  packages/web/src/pages/sign-on/components/desktop/SignOnPage.tsx
  packages/web/src/pages/sign-on/components/mobile/InitialPage.tsx
  packages/web/src/pages/sign-on/components/mobile/SignOnPage.tsx
  packages/web/src/pages/upload-page/UploadPage.js
Due: run-web-workflow, run-stems-workflow

separate state for suggested follows vs related artists
  packages/common/src/store/ui/related-artists/sagas.ts
  packages/common/src/store/ui/related-artists/selectors.ts
  packages/common/src/store/ui/related-artists/slice.ts
  packages/common/src/store/ui/related-artists/types.ts
  packages/mobile/src/screens/profile-screen/ArtistRecommendations/ArtistRecommendations.tsx
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Null check selector result
  packages/common/src/store/lineup/selectors.ts
  packages/web/src/components/play-bar/desktop/PlayBar.js
Due: run-web-workflow

Run more CI flows when certain files change
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Reorder imports
  packages/common/src/store/lineup/selectors.ts
Due: none

[C-2501] Use proxy-wormhole libs
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/craco.config.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/audius-backend/getLibs.ts
Due: run-web-workflow, run-mobile-workflow

yield call
  packages/common/src/store/ui/related-artists/sagas.ts
Due: none

Update TOS
  packages/web/public/documents/ServiceTerms.pdf
  packages/web/public/documents/TermsOfUse.pdf
  packages/web/src/pages/PublicSite.tsx
  packages/web/src/pages/service-terms-page/ServiceTermsPage.module.css
  packages/web/src/pages/service-terms-page/ServiceTermsPage.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow

package locks
  package-lock.json
  packages/common/package-lock.json
  packages/mobile/package-lock.json
  packages/probers/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update div
  packages/web/src/pages/service-terms-page/ServiceTermsPage.module.css
  packages/web/src/pages/service-terms-page/ServiceTermsPage.tsx
Due: run-web-workflow

Update pdfs
  packages/web/public/documents/ServiceTerms.pdf
  packages/web/public/documents/TermsOfUse.pdf
Due: run-web-workflow

Switch docs
  packages/web/public/documents/ServiceTerms.pdf
  packages/web/public/documents/TermsOfUse.pdf
Due: run-web-workflow

Improve oauth errors/logging (#3233)
  packages/mobile/src/store/oauth/sagas.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/twitter-auth/TwitterAuth.tsx
Due: run-web-workflow, run-mobile-workflow

Update TOS (#3251)
  packages/web/public/documents/ServiceTerms.pdf
  packages/web/public/documents/TermsOfUse.pdf
  packages/web/src/pages/PublicSite.tsx
  packages/web/src/pages/service-terms-page/ServiceTermsPage.module.css
  packages/web/src/pages/service-terms-page/ServiceTermsPage.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow

correctly toggle browser push setting
  packages/mobile/src/store/store.ts
  packages/web/src/components/switch/Switch.tsx
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

this fixes the modal
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
Due: run-web-workflow

fix web push registration
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/store/sagas.ts
  packages/web/src/utils/browserNotifications.ts
Due: run-web-workflow

reset these to main
  package-lock.json
  packages/common/package-lock.json
  packages/mobile/package-lock.json
  packages/probers/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

dont need that
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

remove double sub
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
Due: run-web-workflow

no console logs
  packages/web/src/utils/browserNotifications.ts
Due: run-web-workflow

extend store history
  packages/web/src/store/configureStore.ts
Due: run-web-workflow

pr comments
  packages/web/src/components/switch/Switch.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow

trying Keyboard event subscriptions
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Fix react-router issues
  packages/web/craco.config.ts
Due: run-web-workflow

Move ranked supporting calculation into a shared hook
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useRankedSupporters.ts
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePictureList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ViewAllSupportingTile.tsx
  packages/web/src/components/tipping/support/SupportingList.tsx
Due: run-web-workflow, run-mobile-workflow

update supporting tile to render total count below pictures
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePictureList.tsx
  packages/mobile/src/screens/notifications-screen/Notification/constants.ts
  packages/mobile/src/screens/profile-screen/ProfileHeader/ViewAllSupportingTile.tsx
  packages/web/src/components/notification/Notification/FollowNotification.tsx
  packages/web/src/components/tipping/support/SupportingList.tsx
Due: run-web-workflow, run-mobile-workflow

animate translateY
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

update pagination to fetch enough for six stacked profiles in header and make view all text optional
  packages/common/src/hooks/useRankedSupporters.ts
  packages/common/src/utils/constants.ts
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePictureList.tsx
  packages/mobile/src/screens/notifications-screen/Notification/constants.ts
  packages/mobile/src/screens/profile-screen/ProfileHeader/ViewAllSupportingTile.tsx
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
