Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix lint
  packages/web/src/common/store/queue/store.test.js
Due: run-web-workflow

[C-858] Add track page sagas to native, Refactor TrackScreen (#1768)
  packages/common/package.json
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/hooks/useImageSize.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/track/sagas.js
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Search results screen (#1782)
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/search-results-screen/tabs/AlbumsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/ProfilesTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/SearchResultsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/TracksTab.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
  packages/web/src/common/store/search-bar/actions.ts
  packages/web/src/common/store/search-bar/mobileSagas.ts
  packages/web/src/common/store/search-bar/reducer.ts
  packages/web/src/common/store/search-bar/sagas.ts
  packages/web/src/common/store/search-bar/selectors.js
  packages/web/src/common/store/search-bar/types.ts
  packages/web/src/components/search-bar/ConnectedSearchBar.js
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

[C-902] Move collection page to native
  packages/common/package.json
  packages/common/src/store/pages/collection/actions.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-902] Move collection page to native (#1798)
  packages/common/package.json
  packages/common/src/store/pages/collection/actions.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-479] Check recipient wallet SOL before send
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/wallet-client/WalletClient.ts
  packages/common/src/store/pages/token-dashboard/selectors.ts
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/common/src/store/pages/token-dashboard/types.ts
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.module.css
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.tsx
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

Use min SOL balance of 0.02 instead of 0
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

PR comments
  packages/common/src/store/pages/token-dashboard/selectors.ts
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/common/src/store/pages/token-dashboard/types.ts
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

lint
  packages/common/src/store/pages/token-dashboard/types.ts
Due: none

PR Comments
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/eagerLoadUtils.ts
  packages/common/src/services/wallet-client/WalletClient.ts
  packages/common/src/store/pages/token-dashboard/selectors.ts
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/common/src/store/pages/token-dashboard/types.ts
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.tsx
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

Go back to Audius Backend
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/audius-backend/eagerLoadUtils.ts
  packages/common/src/services/wallet-client/WalletClient.ts
Due: none

changes
  packages/common/src/services/wallet-client/WalletClient.ts
  packages/common/src/store/pages/token-dashboard/selectors.ts
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/common/src/store/pages/token-dashboard/types.ts
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.tsx
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

[C-903] Migrate feed to native store
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

remove logs
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
Due: run-mobile-workflow

Fix imports
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
Due: run-mobile-workflow

Add all the pages to the BuyAudioModal
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
Due: run-web-workflow

Update package.json
  packages/common/package.json
Due: none

Add error UI to InProgress page of BuyAudio modal
  packages/common/src/store/ui/buy-audio/selectors.ts
  packages/common/src/store/ui/buy-audio/slice.ts
  packages/web/src/components/buy-audio-modal/components/InProgressPage.module.css
  packages/web/src/components/buy-audio-modal/components/InProgressPage.tsx
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Add TextButton story
  packages/stems/src/components/Button/Button.stories.tsx
Due: run-stems-workflow

Add Transaction Details to Store
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/ui/transaction-details/selectors.ts
  packages/common/src/store/ui/transaction-details/slice.ts
  packages/common/src/store/ui/transaction-details/types.ts
Due: none

Loading spinner after 1 second
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/wallet-client/WalletClient.ts
  packages/common/src/store/pages/token-dashboard/selectors.ts
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/common/src/store/pages/token-dashboard/types.ts
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.module.css
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.tsx
  packages/web/src/store/wallet/sagas.ts
Due: run-web-workflow

[C-906] Migrate queue sagas and hls-utils to common
  packages/common/src/store/player/selectors.ts
  packages/common/src/store/player/slice.ts
  packages/common/src/store/queue/slice.ts
  packages/common/src/utils/hls.test.js
  packages/common/src/utils/hls.ts
  packages/common/src/utils/index.ts
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/web/src/common/store/player/errorSagas.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/player/store.test.js
  packages/web/src/common/store/queue/mobileSagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/services/audio-player/AudioPlayer.ts
  packages/web/src/services/audio-player/NativeMobileAudio.ts
  packages/web/src/store/errors/level.ts
  packages/web/src/store/sagas.ts
  packages/web/src/utils/hlsUtil.js
Due: run-web-workflow, run-mobile-workflow

type errors
  packages/common/src/store/pages/token-dashboard/types.ts
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.tsx
Due: run-web-workflow

PR Comments
  packages/web/src/pages/audio-rewards-page/components/SendInputConfirmation.tsx
Due: run-web-workflow

[C-903] Migrate feed to native store (#1799)
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

search -> native
  packages/mobile/src/screens/search-results-screen/EmptyResults.tsx
  packages/mobile/src/screens/search-results-screen/SearchQueryContext.ts
  packages/mobile/src/screens/search-results-screen/SearchResultsScreen.tsx
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/search-results-screen/constants.ts
  packages/mobile/src/screens/search-results-screen/tabs/AlbumsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/ProfilesTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/useFetchTabResultsEffect.tsx
  packages/mobile/src/screens/search-screen/SearchBar.tsx
  packages/mobile/src/screens/search-screen/SearchHistory.tsx
  packages/mobile/src/screens/search-screen/SearchResults.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/search-screen/content/SeeMoreResultsButton.tsx
  packages/mobile/src/screens/search-screen/utils.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-bar/mobileSagas.ts
  packages/web/src/common/store/search-bar/reducer.ts
  packages/web/src/common/store/search-bar/sagas.ts
  packages/web/src/common/store/search-bar/selectors.js
  packages/web/src/common/store/search-bar/selectors.ts
  packages/web/src/pages/search-page/store/lineups/tracks/sagas.js
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

clean up after migrating search
  packages/mobile/src/message/handleMessage.ts
  packages/mobile/src/message/handlers/search.ts
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/store/search/actions.ts
  packages/mobile/src/store/search/reducer.ts
  packages/mobile/src/store/search/selectors.ts
  packages/web/src/components/search-bar/SearchBar.tsx
  packages/web/src/services/native-mobile-interface/search.ts
  packages/web/src/utils/nativeRoute.ts
Due: run-web-workflow, run-mobile-workflow

Delete unused mobileSagas
  packages/web/src/common/store/notifications/mobileSagas.ts
Due: run-web-workflow

Remove uneeded notifications slice
  packages/mobile/src/hooks/useAppState.ts
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePicture.tsx
  packages/mobile/src/screens/notifications-screen/Notification/UserNameLink.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/store/notifications/selectors.ts
  packages/mobile/src/store/notifications/slice.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Clean up notif message passing
  packages/common/src/services/native-mobile-interface/types.ts
  packages/mobile/src/message/types.ts
  packages/web/src/components/nav/mobile/NavBar.tsx
  packages/web/src/services/native-mobile-interface/notifications.ts
  packages/web/src/services/native-mobile-interface/types.ts
  packages/web/src/utils/nativeRoute.ts
Due: run-web-workflow, run-mobile-workflow

pr review
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-mobile-workflow

clean up after migrating search (#1809)
  packages/mobile/src/message/handleMessage.ts
  packages/mobile/src/message/handlers/search.ts
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/store/search/actions.ts
  packages/mobile/src/store/search/reducer.ts
  packages/mobile/src/store/search/selectors.ts
  packages/web/src/components/search-bar/SearchBar.tsx
  packages/web/src/services/native-mobile-interface/search.ts
  packages/web/src/utils/nativeRoute.ts
Due: run-web-workflow, run-mobile-workflow

[React Native Reloaded] Make mobile search fully native (#1808)
  packages/mobile/src/message/handleMessage.ts
  packages/mobile/src/message/handlers/search.ts
  packages/mobile/src/screens/search-results-screen/EmptyResults.tsx
  packages/mobile/src/screens/search-results-screen/SearchQueryContext.ts
  packages/mobile/src/screens/search-results-screen/SearchResultsScreen.tsx
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/search-results-screen/constants.ts
  packages/mobile/src/screens/search-results-screen/tabs/AlbumsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/ProfilesTab.tsx
  packages/mobile/src/screens/search-results-screen/tabs/useFetchTabResultsEffect.tsx
  packages/mobile/src/screens/search-screen/SearchBar.tsx
  packages/mobile/src/screens/search-screen/SearchHistory.tsx
  packages/mobile/src/screens/search-screen/SearchResults.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/search-screen/content/SearchItem.tsx
  packages/mobile/src/screens/search-screen/content/SeeMoreResultsButton.tsx
  packages/mobile/src/screens/search-screen/utils.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/search/actions.ts
  packages/mobile/src/store/search/reducer.ts
  packages/mobile/src/store/search/selectors.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-bar/mobileSagas.ts
  packages/web/src/common/store/search-bar/reducer.ts
  packages/web/src/common/store/search-bar/sagas.ts
  packages/web/src/common/store/search-bar/selectors.js
  packages/web/src/common/store/search-bar/selectors.ts
  packages/web/src/components/search-bar/SearchBar.tsx
  packages/web/src/pages/search-page/store/lineups/tracks/sagas.js
  packages/web/src/services/native-mobile-interface/search.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
  packages/web/src/utils/nativeRoute.ts
Due: run-web-workflow, run-mobile-workflow

Only enable external sourcemaps for prod builds
  packages/web/craco.config.ts
Due: run-web-workflow

Fix lineup types in mobile build
  packages/web/src/common/store/cache/tracks/utils/retrieveTracks.ts
  packages/web/src/common/store/lineup/sagas.d.ts
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

Update @audius/sdk to 1.0.0
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

more changes
  packages/web/src/common/store/lineup/sagas.d.ts
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
