Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

remove elevation
  packages/mobile/src/components/core/DogEar.tsx
Due: run-mobile-workflow

undo secondary button style changes
  packages/stems/src/components/Button/Button.module.css
Due: run-stems-workflow

use spacing()
  packages/mobile/src/components/core/DogEar.tsx
Due: run-mobile-workflow

Cache improvements
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/store/cache/actions.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/index.ts
  packages/common/src/store/put.ts
  packages/web/src/common/store/cache/sagas.js
Due: run-web-workflow

proper license display; spacing fixes
  packages/web/src/assets/img/creativeCommons/by.svg
  packages/web/src/assets/img/creativeCommons/cc.svg
  packages/web/src/assets/img/creativeCommons/nc.svg
  packages/web/src/assets/img/creativeCommons/nd.svg
  packages/web/src/assets/img/creativeCommons/sa.svg
  packages/web/src/pages/upload-page/fields/ModalField.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
  packages/web/src/pages/upload-page/forms/RemixModalForm.module.css
  packages/web/src/pages/upload-page/forms/SourceFilesModalForm.module.css
  packages/web/src/pages/upload-page/forms/TrackAvailabilityModalForm.module.css
  packages/web/src/pages/upload-page/utils/computeLicenseIcons.ts
Due: run-web-workflow

Migrate confirmer
  packages/common/src/store/confirmer/actions.ts
  packages/common/src/store/confirmer/reducer.ts
  packages/common/src/store/confirmer/sagas.ts
  packages/common/src/store/confirmer/selectors.ts
  packages/common/src/store/confirmer/store.test.ts
  packages/common/src/store/confirmer/types.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/store/store.ts
  packages/web/src/store/reducers.ts
Due: run-web-workflow, run-mobile-workflow

add onSubmit logic
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow

use AiAttributionDropdown
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow

fix disabled play button for unlocked gated tracks on mobile web
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

fix width of premium track section on mobile
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
Due: run-web-workflow

show artist pick text in premium content area
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

update dogear showing logic for web
  packages/common/src/utils/dogEarUtils.ts
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Fix issues with suggested tracks
  packages/common/src/api/suggestedTracks.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
Due: none

always show share button for track owners
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Fix mobile premcontent locked badge colors
  packages/mobile/src/components/core/LockedStatusBadge.tsx
Due: run-mobile-workflow

Change mobile drawer background to white
  packages/mobile/src/components/drawer/Drawer.tsx
Due: run-mobile-workflow

[PAY-1587] USDC Purchase Drawer Skeleton
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/index.ts
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
  packages/mobile/src/components/track-details-tile/index.ts
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

flexShrink
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
Due: run-mobile-workflow

[PAY-1652] Update LockedContentDrawer on mobile
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
  packages/mobile/src/components/track-details-tile/index.ts
Due: run-mobile-workflow

styling updates
  packages/common/src/utils/creativeCommons.ts
  packages/web/src/components/layout/layout.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow

Fix last items
  packages/common/src/store/cache/reducer.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.module.css
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
Due: run-web-workflow

Remove log
  packages/common/src/utils/updatePlaylistArtwork.ts
Due: none

Finish
  packages/common/src/store/confirmer/index.ts
  packages/common/src/store/confirmer/sagas.ts
  packages/common/src/store/confirmer/selectors.ts
  packages/common/src/store/index.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/confirmOrderPlaylist.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/pages/deactivate-account/sagas.ts
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/common/store/pages/token-dashboard/addWalletToUser.ts
  packages/web/src/common/store/pages/token-dashboard/removeWalletSaga.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/confirmer-preview/ConfirmerPreview.tsx
  packages/web/src/components/unload-dialog/UnloadDialog.js
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

[C-2877] Address suggested-tracks qa #2 (#3787)
  packages/common/src/store/cache/reducer.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.module.css
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
Due: run-web-workflow

fix nits
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseBuyerNotification.tsx
  packages/web/src/components/notification/Notification/components/icons.module.css
  packages/web/src/components/notification/Notification/components/icons.tsx
Due: run-web-workflow, run-mobile-workflow

initial file structure for harmony button
  packages/stems/src/components/HarmonyButton/HarmonyButton.module.css
  packages/stems/src/components/HarmonyButton/HarmonyButton.stories.tsx
  packages/stems/src/components/HarmonyButton/HarmonyButton.tsx
  packages/stems/src/components/HarmonyButton/index.ts
  packages/stems/src/components/HarmonyButton/test.ts
  packages/stems/src/components/HarmonyButton/types.ts
  packages/stems/src/index.tsx
Due: run-stems-workflow

add deprecation for old Button class
  packages/stems/src/components/Button/Button.tsx
Due: run-stems-workflow

checkpoint
  packages/stems/src/assets/icons/iconCampFire.svg
  packages/stems/src/assets/styles/animations.css
  packages/stems/src/components/HarmonyButton/HarmonyButton.module.css
  packages/stems/src/components/Icons/index.ts
Due: run-stems-workflow

testing ci issues
  packages/common/src/utils/creativeCommons.ts
  packages/mobile/src/screens/edit-track-screen/fields/LicenseTypeField.tsx
Due: run-mobile-workflow

Improve cache/add
  packages/common/src/store/cache/actions.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/types.ts
  packages/common/src/store/cache/users/utils.ts
  packages/common/src/store/put.ts
  packages/mobile/src/screens/collection-screen/useFetchCollectionLineup.ts
  packages/mobile/src/screens/favorites-screen/useFavoritesLineup.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/utils/addUsersFromCollections.ts
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/common/store/cache/tracks/utils/helpers.ts
  packages/web/src/common/store/cache/tracks/utils/processAndCacheTracks.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/components/collection/desktop/Artwork.tsx
Due: run-web-workflow, run-mobile-workflow

Update to reroute to trending when deleting a playlist if the playlist is being viewed
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/store/application/ui/editPlaylistModal/selectors.ts
  packages/web/src/store/application/ui/editPlaylistModal/slice.ts
Due: run-web-workflow

Fix mobile LockedStatusBadge padding
  packages/mobile/src/components/core/LockedStatusBadge.tsx
Due: run-mobile-workflow

use specific module imports
  packages/common/src/hooks/usePremiumContent.ts
  packages/common/src/utils/creativeCommons.ts
Due: none

more module imports
  packages/common/src/store/notifications/types.ts
Due: none

[PAY-1587] Mobile USDC Purchase Drawer Skeleton
  packages/common/src/models/Track.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/core/LockedStatusBadge.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/index.ts
  packages/mobile/src/components/track-details-tile/TrackDetailsTile.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

fall back on the text transform
  packages/common/src/utils/creativeCommons.ts
  packages/web/src/pages/upload-page/forms/AttributionModalForm.module.css
Due: run-web-workflow

Update to reroute to trending when deleting a playlist if the playlist is viewed (#3789)
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/edit-playlist/desktop/EditPlaylistModal.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/CollectionNavItem.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/store/application/ui/editPlaylistModal/selectors.ts
  packages/web/src/store/application/ui/editPlaylistModal/slice.ts
Due: run-web-workflow

clean up parse and process notifs
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
Due: run-web-workflow
