Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Add vipDiscordModal sagas
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

Split up sign-out saga to web and native (#1847)
  packages/common/src/store/sign-out/slice.ts
  packages/mobile/src/components/sign-out-confirmation-drawer/SignOutConfirmationDrawer.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/settings/sagas.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/common/store/pages/settings/errorSagas.ts
  packages/web/src/common/store/pages/settings/sagas.ts
  packages/web/src/common/store/sign-out/sagas.ts
  packages/web/src/components/nav/mobile/SignOut.tsx
  packages/web/src/pages/deactivate-account-page/store/sagas.ts
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/settings-page/store/sagas.ts
  packages/web/src/services/native-mobile-interface/lifecycle.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/sign-out/sagas.ts
  packages/web/src/store/sign-out/signOut.ts
Due: run-web-workflow, run-mobile-workflow

[C-955] Fully native settings screen (#1848)
  packages/mobile/src/screens/settings-screen/AccountSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/CastSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/EmailFrequencyControlRow.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/screens/settings-screen/NotificationRow.tsx
  packages/mobile/src/store/application/ui/theme/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/theme.ts
  packages/web/src/common/store/pages/history/lineups/sagas.js
  packages/web/src/common/store/pages/history/sagas.js
  packages/web/src/pages/history-page/store/sagas.js
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-937] Refactor theme state, Implement native theme (#1851)
  packages/common/src/models/Theme.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/theme/actionTypes.ts
  packages/common/src/store/ui/theme/actions.ts
  packages/common/src/store/ui/theme/reducer.ts
  packages/common/src/store/ui/theme/selectors.ts
  packages/common/src/store/ui/theme/slice.ts
  packages/common/src/store/ui/theme/types.ts
  packages/mobile/src/App.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/components/theme/ThemeContext.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/store/application/ui/theme/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/theme/sagas.ts
  packages/mobile/src/styles/makeStyles.ts
  packages/mobile/src/theme.ts
  packages/mobile/src/utils/theme.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/settings-page/SettingsPageProvider.tsx
  packages/web/src/services/native-mobile-interface/android/theme.ts
  packages/web/src/services/native-mobile-interface/theme.ts
  packages/web/src/store/application/ui/theme/sagas.ts
  packages/web/src/utils/theme/theme.ts
Due: run-web-workflow, run-mobile-workflow

[C-960] Add native push/email settings (#1854)
  packages/mobile/src/components/sign-out-confirmation-drawer/SignOutConfirmationDrawer.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/settings-screen/AccountVerificationScreen.tsx
  packages/mobile/src/screens/settings-screen/NotificationSettingsScreen.tsx
  packages/mobile/src/store/notifications/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/settings/sagas.ts
  packages/mobile/src/store/sign-out/sagas.ts
  packages/web/src/common/store/notifications/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-953] Migrate profile supporters/supporting (#1855)
  packages/mobile/src/components/audio-rewards/TiersExplainerDrawer.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileTierTile.tsx
  packages/mobile/src/screens/profile-screen/ProfileMetrics.tsx
  packages/mobile/src/screens/profile-screen/TipAudioButton.tsx
  packages/mobile/src/screens/profile-screen/UploadTrackButton.tsx
  packages/mobile/src/screens/tip-artist-screen/AvailableAudio.tsx
  packages/mobile/src/screens/tip-artist-screen/ConfirmSendTipScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/ReceiverDetails.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipStatusText.tsx
  packages/mobile/src/screens/tip-artist-screen/TipArtistModal.tsx
  packages/mobile/src/screens/tip-artist-screen/TipHeader.tsx
  packages/mobile/src/screens/tip-artist-screen/TipSentScreen.tsx
  packages/mobile/src/screens/user-list-screen/SupporterInfo.tsx
  packages/mobile/src/screens/user-list-screen/SupportingInfo.tsx
  packages/web/src/common/store/tipping/mobileSagas.ts
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/services/native-mobile-interface/tipping.ts
Due: run-web-workflow, run-mobile-workflow

[C-962, C-904] Native recovery email (#1856)
  packages/common/src/store/recovery-email/index.ts
  packages/common/src/store/recovery-email/selectors.ts
  packages/common/src/store/recovery-email/slice.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/recovery-email/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-965] Add native reset-password (#1858)
  packages/mobile/src/components/confirm-credentials/index.ts
  packages/mobile/src/components/enter-password/index.ts
  packages/mobile/src/screens/settings-screen/ChangePasswordScreen/ChangePasswordScreen.tsx
  packages/mobile/src/screens/settings-screen/ChangePasswordScreen/ConfirmCredentials.tsx
  packages/mobile/src/screens/settings-screen/ChangePasswordScreen/EnterPassword.tsx
  packages/mobile/src/screens/settings-screen/ChangePasswordScreen/index.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/change-password/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-967] Add native deactivate-account sagas
  packages/common/src/store/pages/deactivate-account/index.ts
  packages/common/src/store/pages/deactivate-account/selectors.ts
  packages/common/src/store/pages/deactivate-account/slice.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/recovery-email/slice.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/components/deactivate-account-confirmation-drawer/DeactivateAccountConfirmationDrawer.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/deactivate-account/sagas.ts
  packages/web/src/pages/deactivate-account-page/DeactivateAccountPage.tsx
  packages/web/src/pages/deactivate-account-page/store/selectors.ts
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

Remove logs, improve deactivate flow
  packages/common/src/store/pages/deactivate-account/slice.ts
  packages/mobile/src/components/deactivate-account-confirmation-drawer/DeactivateAccountConfirmationDrawer.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fix social features and other sig-util features
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

[PAY-600] Make preset amounts configurable
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
Due: run-web-workflow

[PAY-599] Make polling configurable
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/services/audius-backend/BuyAudio.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

[PAY-607] Fix icon buttons on transaction details modal
  packages/web/src/components/transaction-details-modal/components/Block.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionPurchaseMetadata.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionPurchaseMetadata.tsx
Due: run-web-workflow

Fix optimizely local dev
  packages/web/scripts/configureLocalEnv.js
Due: run-web-workflow

Remove unused
  packages/web/src/components/transaction-details-modal/components/TransactionPurchaseMetadata.tsx
Due: run-web-workflow

[C-967] Add native deactivate-account sagas (#1859)
  packages/common/src/store/pages/deactivate-account/index.ts
  packages/common/src/store/pages/deactivate-account/selectors.ts
  packages/common/src/store/pages/deactivate-account/slice.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/recovery-email/slice.ts
  packages/common/src/store/reducers.ts
  packages/mobile/src/components/deactivate-account-confirmation-drawer/DeactivateAccountConfirmationDrawer.tsx
  packages/mobile/src/screens/settings-screen/AccountSettingsScreen.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/deactivate-account/sagas.ts
  packages/web/src/pages/deactivate-account-page/DeactivateAccountPage.tsx
  packages/web/src/pages/deactivate-account-page/store/selectors.ts
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

fix store saga
  packages/web/src/store/sagas.ts
Due: run-web-workflow

pin deps
  packages/mobile/package.json
Due: run-mobile-workflow

Fix social features and other sig-util features (#1860)
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

fix dark mode follows you
  packages/web/src/components/artist/ArtistChip.module.css
  packages/web/src/components/artist/ArtistChipFollowers.tsx
Due: run-web-workflow

Fix send $AUDIO flow after saga migration
  packages/web/src/common/store/wallet/sagas.ts
Due: run-web-workflow

Fix send $AUDIO flow after wallet saga migration (#1864)
  packages/web/src/common/store/wallet/sagas.ts
Due: run-web-workflow

[C-879] Fix rewards page refresh
  packages/web/src/hooks/useRequiresAccount.ts
Due: run-web-workflow

[C-879] Fix rewards page navigation (#1865)
  packages/web/src/hooks/useRequiresAccount.ts
Due: run-web-workflow

[PAY-617] Don't let the modal dismiss when in progress
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
Due: run-web-workflow

clean
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Clean up remote-config init handlers
  packages/common/src/services/remote-config/index.ts
  packages/common/src/services/remote-config/remote-config.ts
  packages/web/src/common/store/account/sagas.js
Due: run-web-workflow

Add didInitializeUser check
  packages/common/src/services/remote-config/remote-config.ts
Due: none

Revert "Fix social features and other sig-util features (#1860)"
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

[C-914] Fix windows build
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove duplicate create user bank on sign up
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

Add new TokenValueInput component
  packages/stems/src/components/TokenValueInputV2/TokenValueInputV2.module.css
  packages/stems/src/components/TokenValueInputV2/TokenValueInputV2.stories.tsx
  packages/stems/src/components/TokenValueInputV2/TokenValueInputV2.tsx
  packages/stems/src/components/TokenValueInputV2/index.ts
  packages/stems/src/components/TokenValueInputV2/types.ts
  packages/stems/src/index.tsx
Due: run-stems-workflow

Use TokenValueInputV2 on AudioAmountPicker
  packages/web/src/components/buy-audio-modal/components/AudioAmountPicker.module.css
  packages/web/src/components/buy-audio-modal/components/AudioAmountPicker.tsx
Due: run-web-workflow

Use TokenValueInputV2 on tip modal
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
  packages/web/src/components/tipping/tip-audio/TipAudio.module.css
Due: run-web-workflow

Add type for the change handler
  packages/stems/src/components/TokenValueInputV2/index.ts
  packages/stems/src/components/TokenValueInputV2/types.ts
  packages/stems/src/index.tsx
Due: run-stems-workflow

Add type to the use callback hook
  packages/web/src/components/buy-audio-modal/components/AudioAmountPicker.tsx
Due: run-web-workflow

Add type to the use callback hook in tip audio modal
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

Mark the old component as deprecated
  packages/stems/src/components/TokenValueInput/TokenValueInput.tsx
Due: run-stems-workflow

Cleanup unnecessary styles
  packages/stems/src/components/TokenValueInputV2/TokenValueInputV2.module.css
Due: run-stems-workflow
