Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2143] Show download progress for collections
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
Due: run-mobile-workflow

CR comments
  packages/common/src/store/pages/chat/middleware.ts
Due: none

allow errored tracks to be re-enqueued
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[DMs] Fix unread separator disappearing
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

[C-2112] Rename various offline state elements (#2858)
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/downloadQueueSagas.ts
  packages/mobile/src/store/offline-downloads/sagas/downloadQueueSagas/watchAddOfflineItems.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/offlineQueueSagas.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/requestProccessNextJobSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/watchAddOfflineEntries.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/watchReachability.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadFile.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/playCounterWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/staleTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadFavoritedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveAllDownloadedFavoritesSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/requestRemoveDownloadedCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/syncOfflineDataSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchAddTrackToPlaylistSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchRemoveOfflineItems.ts
  packages/mobile/src/store/offline-downloads/sagas/watchSaveTrackSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/watchUnsaveCollectionSaga.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
  packages/mobile/src/types/analytics.ts
Due: run-mobile-workflow

[C-2138] Fix unfavorite collection (#2859)
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/sagas/watchUnsaveCollectionSaga.ts
Due: run-mobile-workflow

[C-2139] Fix now playing (#2860)
  packages/mobile/src/components/drawer/Drawer.tsx
Due: run-mobile-workflow

Allow errored tracks to be re-enqueued (#2862)
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[C-2143] Show download progress for collections (#2861)
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
Due: run-mobile-workflow

[C-2141] Fix missing lineup when coming back online
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-2141] Fix missing lineup when coming back online (#2863)
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

Update handle spec
  packages/common/src/services/oauth/formatSocialProfile.ts
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
Due: run-web-workflow

fix share to X video colors
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-mobile-workflow

type error
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-mobile-workflow

PR comments
  packages/web/src/components/upload/UploadChip.tsx
Due: run-web-workflow

lint fix
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

fix lint
  packages/mobile/src/screens/explore-screen/tabs/ArtistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix runtime errors due to no lazy tabs
  packages/common/src/store/pages/explore/selectors.ts
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ArtistsTab.tsx
  packages/mobile/src/screens/explore-screen/tabs/MoodsTab.tsx
Due: run-mobile-workflow

Fix SDK bootstrap for mobile
  packages/mobile/src/services/audius-sdk.ts
Due: run-mobile-workflow

[PAY-893] UserBadge in chat screen header
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

remove unused imports
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Improve premium content saga perf
  packages/common/src/store/premium-content/sagas.ts
Due: none

typecheck
  packages/mobile/src/components/core/Screen/Screen.tsx
Due: run-mobile-workflow

Show package version on AboutScreen
  packages/mobile/src/screens/settings-screen/AboutScreen.tsx
Due: run-mobile-workflow

Show package version on AboutScreen (#2871)
  packages/mobile/src/screens/settings-screen/AboutScreen.tsx
Due: run-mobile-workflow

rename feature flag OFFLINE_MODE_ENABLED -> OFFLINE_MODE_RELEASE
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/constants/storage-keys.ts
  packages/mobile/src/hooks/useIsOfflineModeEnabled.ts
  packages/mobile/src/store/offline-downloads/sagas/getIsOfflineEnabled.ts
Due: run-mobile-workflow

manually set build version string for retry build
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Rename feature flag OFFLINE_MODE_ENABLED -> OFFLINE_MODE_RELEASE (#2872)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/constants/storage-keys.ts
  packages/mobile/src/hooks/useIsOfflineModeEnabled.ts
  packages/mobile/src/store/offline-downloads/sagas/getIsOfflineEnabled.ts
Due: run-mobile-workflow

Improve premium content saga perf (#2870)
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Wait for libs init
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Reselect when visible
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
Due: run-web-workflow

Chat fetching success means save the chat dingus
  packages/common/src/store/pages/chat/slice.ts
Due: none

Set the scroll margin/padding to allow the unread indicator to show appropriately via scrollIntoView
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.module.css
Due: run-web-workflow

rename to chatFrozenRef, more better
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Scroll the unread indicator into view when the ref gets set
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Keep the unread indicator even if new messages come in
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Keep fetching until we get all unread messages
  packages/common/src/store/pages/chat/sagas.ts
Due: none

Improve all the things
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/cache/users/actions.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/mobile/src/screens/profile-screen/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/web/src/common/store/cache/collections/utils/addTracksFromCollections.ts
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/reformat.ts
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/pages/explore/sagas.ts
  packages/web/src/common/store/profile/fetchProfileCollectionsSaga.ts
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow, run-mobile-workflow

chain some setStates to ensure the scroll happens before painting
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

show spinner on initial load
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
