Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

minor fixes
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

IT WORKS
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
Due: run-web-workflow

hash legacy cids with no size variants appropriately
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Fix web typecheck
  package-lock.json
  package.json
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

Fix mobile typecheck
  packages/mobile/tsconfig.json
Due: run-mobile-workflow

Fix lint
  packages/web/src/app.tsx
Due: run-web-workflow

stop lying to price field
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/upload/sagaHelpers.ts
  packages/web/src/common/store/upload/sagas.js
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

add library playlists
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
Due: run-web-workflow

add library albuns audius query hook + migrate collection reformat
  packages/common/src/api/index.ts
  packages/common/src/api/library.ts
  packages/common/src/api/reducer.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/store/cache/collections/utils/index.ts
  packages/common/src/store/cache/collections/utils/reformatCollection.ts
  packages/common/src/store/cache/index.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/utils/index.ts
  packages/web/src/common/store/cache/collections/utils/processAndCacheCollections.ts
  packages/web/src/common/store/cache/collections/utils/reformat.ts
  packages/web/src/common/store/cache/collections/utils/retrieveCollections.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

add playlists
  packages/common/src/api/library.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
Due: none

price field fixes
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

pr review
  packages/common/src/api/library.ts
  packages/common/src/audius-query/createApi.ts
Due: none

Migrate withdraw USDC saga to web common
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/store/index.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/withdraw-usdc/selectors.ts
  packages/common/src/store/ui/withdraw-usdc/slice.ts
  packages/common/src/store/withdraw-usdc/index.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

isSolWallet
  packages/common/src/services/audius-backend/solana.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

bump sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

pr review
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
Due: run-web-workflow

pr review
  packages/common/src/store/cache/collections/utils/index.ts
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

[C-2982] Fix seo based on ahref recommendations
  packages/web/scripts/workers-site/index.js
  packages/web/src/components/page/Page.js
  packages/web/src/pages/audio-rewards-page/Tiers.tsx
  packages/web/src/utils/seo.ts
Due: run-web-workflow

Remove comments
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

reorder
  packages/common/src/audius-query/createApi.ts
Due: none

[C-2982] Fix seo based on ahref recommendations (#3929)
  packages/web/scripts/workers-site/index.js
  packages/web/src/components/page/Page.js
  packages/web/src/pages/audio-rewards-page/Tiers.tsx
  packages/web/src/utils/seo.ts
Due: run-web-workflow

Add lint check for console.log and remove some bad ones
  README.md
  package-lock.json
  packages/eslint-config-audius/src/index.js
  packages/mobile/package-lock.json
  packages/mobile/src/app/useSyncCodepush.ts
  packages/mobile/src/components/collectible-details-drawer/CollectibleMedia.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/rate-cta-drawer/RateCtaDrawer.tsx
  packages/mobile/src/components/tiktok-auth/TikTokAuthButton.tsx
  packages/mobile/src/dev-utils/useRenderingTrace.ts
  packages/mobile/src/notifications.ts
  packages/mobile/src/services/sdk/audius-sdk.ts
  packages/web/package-lock.json
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/coinbase-pay-button/CoinbasePayButtonProvider.tsx
  packages/web/src/components/collectibles/components/CollectibleDetailsModal.tsx
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/share-sound-to-tiktok-modal/store/sagas.ts
  packages/web/src/components/tiktok-auth/TikTokAuthButton.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/devUtils/useRenderingTrace.ts
  packages/web/src/electron.js
  packages/web/src/pages/audio-rewards-page/components/SendInputBody.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/VipDiscordModal.tsx
  packages/web/src/pages/collectibles-playlist-page/CollectiblesPlaylistPageProvider.tsx
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/services/web3-modal/index.ts
  packages/web/src/store/account/sagas.ts
  packages/web/src/utils/browserNotifications.ts
  packages/web/src/utils/logger.js
Due: run-web-workflow, run-mobile-workflow

Add purchased + reposted tracks to library PAY-1633 (#3820)
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
Due: run-web-workflow

Add reposts + purchased albums to library PAY-1679 (#3865)
  packages/common/src/store/cache/collections/utils/index.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

[PAY-1613] Update titles + icons for Library (#3774)
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/res/raw/library_dark.riv
  packages/mobile/android/app/src/main/res/raw/library_default.riv
  packages/mobile/android/app/src/main/res/raw/library_matrix.riv
  packages/mobile/ios/Assets/library_dark.riv
  packages/mobile/ios/Assets/library_default.riv
  packages/mobile/ios/Assets/library_matrix.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/assets/images/iconLibrary.svg
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/FavoritesButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/LibraryButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/index.ts
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/FavoritesTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/stems/src/assets/icons/iconLibrary.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/bottom-bar/BottomBar.tsx
  packages/web/src/components/bottom-bar/buttons/LibraryButton.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/audio-rewards-page/config.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/store/lineup/lineupForRoute.js
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix canonical
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Fix mobile page canonical
  packages/web/src/components/mobile-page-container/MobilePageContainer.tsx
Due: run-web-workflow

Move sitemap hostname back to audius.co
  packages/web/robots.txt
  packages/web/scripts/workers-site/index.js
  packages/web/wrangler.toml
Due: run-web-workflow

Client uses cids in requests to CN for images (#3882)
  packages/common/src/models/Collection.ts
  packages/common/src/models/Track.ts
  packages/common/src/models/User.ts
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/services/audius-api-client/types.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/mobile/src/components/audio/GoogleCast.tsx
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
  packages/mobile/src/components/image/UserCoverImage.tsx
  packages/mobile/src/components/image/UserImage.tsx
  packages/mobile/src/components/share-drawer/ShareToStorySticker.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/models/Collection.ts
  packages/mobile/src/models/Track.ts
  packages/mobile/src/models/User.ts
  packages/mobile/src/screens/profile-screen/CoverPhoto.tsx
  packages/mobile/src/screens/profile-screen/ProfilePicture.tsx
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/createPlaylistSaga.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/pages/landing-page/components/FeaturedContent.tsx
  packages/web/src/pages/oauth-login-page/utils.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-1727] USDC Withdrawals saga pt. 1
  packages/common/src/services/audius-backend/solana.ts
  packages/web/src/services/audius-backend/Jupiter.ts
  packages/web/src/services/audius-backend/WithdrawUSDC.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

update library playlists and albums for mobile
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Clean up global set of Buffer and process
  packages/web/craco.config.ts
  packages/web/src/app.tsx
  packages/web/src/index.tsx
Due: run-web-workflow

fix
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix track tile loads
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

make it work offline
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
Due: run-mobile-workflow

oops
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Add upload confirmation modal
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/ui/upload-confirmation-modal/sagas.ts
  packages/common/src/store/ui/upload-confirmation-modal/selectors.ts
  packages/common/src/store/ui/upload-confirmation-modal/slice.ts
  packages/common/src/store/ui/upload-confirmation-modal/types.ts
  packages/web/src/components/upload-confirmation-modal/UploadConfirmationModal.module.css
  packages/web/src/components/upload-confirmation-modal/UploadConfirmationModal.tsx
  packages/web/src/components/upload-confirmation-modal/index.ts
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Make sure that collection description limits are set to 1000
  packages/mobile/src/screens/edit-playlist-screen/PlaylistDescriptionField.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
Due: run-web-workflow, run-mobile-workflow
