Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Reduce rerenders when playing from a lineup
  packages/common/src/store/lineup/actions.ts
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/CollectionTileTrackList.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/TrackInfo.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

Revert "Reduce navigation context rerenders"
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

[C-1341] Implement notifications bottom tab screen
  packages/mobile/src/components/bottom-tab-bar/BottomTabBar.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/BottomTabBarButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/NotificationsButton.tsx
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/useAppDrawerNavigation.ts
  packages/mobile/src/screens/app-screen/ProfileTabScreen.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/notifications-screen/Notification/EntityLink.tsx
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePicture.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/AddTrackToPlaylistNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/MilestoneNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCosignNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RemixCreateNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TrendingTrackNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/UserSubscriptionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/useSocialActionHandler.ts
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
Due: run-mobile-workflow

Clean up lint
  packages/mobile/src/components/core/DynamicImage.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

Update comment
  packages/mobile/src/screens/app-drawer-screen/useAppDrawerNavigation.ts
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileCoSign.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/now-playing-drawer/TrackInfo.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/AddTrackToPlaylistNotification.tsx
Due: run-mobile-workflow

optimistically fetch account; fixes offline logout
  packages/mobile/src/App.tsx
  packages/web/src/common/store/backend/sagas.ts
Due: run-web-workflow, run-mobile-workflow

don't try to check premium content on offline play
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

some optimiztions for lineup
  packages/common/src/store/lineup/actions.ts
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/lineup/types.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/queue/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Update collection tables to allow for default sorting
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/tracks-table/index.ts
  packages/web/src/pages/artist-dashboard-page/ArtistDashboardPage.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow

[C-1345] Redesign primary/secondary screens
  packages/mobile/src/assets/images/iconExplore.svg
  packages/mobile/src/assets/images/iconFavorite.svg
  packages/mobile/src/assets/images/iconFeed.svg
  packages/mobile/src/assets/images/iconNotification.svg
  packages/mobile/src/components/core/Screen/Screen.tsx
  packages/mobile/src/components/core/Screen/ScreenContent.tsx
  packages/mobile/src/components/core/Screen/ScreenHeader.tsx
  packages/mobile/src/components/core/Screen/ScreenHeaderButton.tsx
  packages/mobile/src/components/core/Screen/index.tsx
  packages/mobile/src/components/header/Header.tsx
  packages/mobile/src/components/header/index.ts
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/LetThemDJScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TopAlbumsScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TrendingPlaylistsScreen.tsx
  packages/mobile/src/screens/explore-screen/tabs/ForYouTab/TrendingUndergroundScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/feed-screen/FeedFilterButton.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/mood-collection-screen/MoodCollectionScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsDrawerScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
  packages/mobile/src/screens/search-results-screen/SearchResultsScreen.tsx
  packages/mobile/src/screens/search-results-screen/TagSearchScreen.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/track-screen/TrackRemixesScreen.tsx
  packages/mobile/src/screens/trending-screen/TrendingFilterButton.tsx
  packages/mobile/src/screens/trending-screen/TrendingScreen.tsx
Due: run-mobile-workflow

pr review
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileMetadata.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
Due: run-mobile-workflow

Update secondary screen
  packages/mobile/src/components/core/Screen/Screen.tsx
  packages/mobile/src/components/core/Screen/SecondaryScreenTitle.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/screens/user-list-screen/UserListScreen.tsx
Due: run-mobile-workflow

add use rendering trace util
  packages/mobile/devUtils/useRenderingTrace.ts
  packages/web/devUtils/useRenderingTrace.ts
Due: run-web-workflow, run-mobile-workflow

fix toggle online/offline playback; load in hook
  packages/mobile/src/App.tsx
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-downloads/OfflineLoader.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-retriever.ts
Due: run-mobile-workflow

fix toggle state
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

cleanup
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-downloads/TrackDownloadIndicator.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useOfflineTrack.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/services/offline-downloader/index.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Improve nav perf
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

update screen props
  packages/mobile/src/components/core/Screen/ScreenHeader.tsx
Due: run-mobile-workflow

wip
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

fix crash
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

comment feature flag
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useOfflineTrack.ts
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

Improve types
  packages/common/src/utils/typeUtils.ts
  packages/mobile/src/components/empty-tile-cta/EmptyTileCTA.tsx
  packages/mobile/src/components/trending-rewards-drawer/TrendingRewardsDrawer.tsx
  packages/mobile/src/hooks/useNavigation.ts
  packages/mobile/src/screens/app-drawer-screen/useAppDrawerNavigation.ts
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/notifications-screen/Notification/UserNameLink.tsx
Due: run-mobile-workflow

Add comments
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

More comments
  packages/mobile/src/screens/app-screen/AppTabNavigationProvider.tsx
Due: run-mobile-workflow

load artist
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

Use ref for lastNavAction
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

Clean up types
  packages/common/src/utils/typeUtils.ts
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

Rename
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

Slightly stricter type
  packages/mobile/src/hooks/useNavigation.ts
Due: run-mobile-workflow

[C-1351] Finalize mobile-nav-bar-overhaul
  packages/mobile/src/assets/animations/iconNotifications.json
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/BottomTabBarButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/NotificationsButton.tsx
  packages/mobile/src/components/core/AnimatedButton.tsx
  packages/mobile/src/components/core/Screen/ScreenHeader.tsx
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
  packages/mobile/src/screens/app-screen/AccountPictureHeader.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
Due: run-mobile-workflow

Call getUserListenCountsMonthly in client artist dashboard
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/pages/artist-dashboard-page/store/sagas.js
Due: run-web-workflow

Address style comments
  packages/mobile/src/screens/account-screen/AccountDrawer.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
Due: run-mobile-workflow

missing import
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

comment unused import
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

add getErrorMessage
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

move logic
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

fixes
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

dont deep link oauth
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
Due: run-mobile-workflow

dont deep link oauth pt 2
  packages/web/public/.well-known/apple-app-site-association
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
