Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

checkpoint
  packages/web/src/assets/styles/colors.css
  packages/web/src/components/track/PremiumContentLabel.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.module.css
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/utils.ts
  packages/web/src/utils/theme/dark.ts
  packages/web/src/utils/theme/default.ts
  packages/web/src/utils/theme/matrix.ts
Due: run-web-workflow

disallow protected m4p file uploads
  packages/web/src/pages/upload-page/store/utils/processFiles.ts
Due: run-web-workflow

check mobile uploads for file type
  packages/common/src/utils/index.ts
  packages/common/src/utils/uploadConstants.ts
  packages/mobile/src/screens/upload-screen/utils/processTrackFile.ts
  packages/web/src/pages/upload-page/store/utils/processFiles.ts
Due: run-web-workflow, run-mobile-workflow

checkpoint
  packages/stems/src/assets/icons/iconCrown.svg
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow, run-stems-workflow

[C-2465] Improve audius-query cache selection performance
  packages/common/src/api/collection.ts
  packages/common/src/api/developerApps.ts
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/relatedArtists.ts
  packages/common/src/api/track.ts
  packages/common/src/api/user.ts
  packages/common/src/audius-query/createApi.ts
  packages/common/tsconfig.json
Due: none

Update SDK to v3.0.3-beta.63
  package-lock.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

TrackAvailabilityModalForm structure no form logic
  packages/web/src/pages/upload-page/components/TrackAvailabilityModalForm.module.css
  packages/web/src/pages/upload-page/components/TrackAvailabilityModalForm.tsx
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
Due: run-web-workflow

[C-2465] Add suggestedTracks api, Web UI
  packages/common/src/api/favorites.ts
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/suggestedTracks.ts
  packages/stems/src/assets/styles/transforms.css
  packages/web/src/components/divider/Divider.module.css
  packages/web/src/components/divider/Divider.tsx
  packages/web/src/components/user-name-and-badges/UserNameAndBadges.tsx
  packages/web/src/hooks/useTrackCoverArt.ts
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.module.css
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/desktop/SuggestedTracks.module.css
  packages/web/src/pages/collection-page/components/desktop/SuggestedTracks.tsx
Due: run-web-workflow, run-stems-workflow

Add cached DN back to DN selector, fixes [d]
  packages/common/src/services/local-storage/LocalStorage.ts
  packages/common/src/services/sdk/discovery-node-selector/DiscoveryNodeSelectorService.ts
  packages/web/src/services/audius-sdk/discoveryNodeSelector.ts
Due: run-web-workflow

cleanup
  packages/web/src/services/audius-sdk/discoveryNodeSelector.ts
Due: run-web-workflow

[C-2718] Fix mobile sign-up environment issues
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

Fix bad import
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

oauth client side qa
  packages/common/src/api/developerApps.ts
  packages/web/src/assets/img/Horizontal-Logo-Full-Color.png
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.module.css
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
Due: run-web-workflow

Update full color horizontal logo to new one C-2817 (#3682)
  packages/embed/src/assets/img/Horizontal-Logo-Full-Color.png
  packages/web/src/assets/img/Horizontal-Logo-Full-Color-Deprecated.png
  packages/web/src/assets/img/publicSite/Horizontal-Logo-Full-Color-Deprecated.png
  packages/web/src/assets/img/publicSite/Horizontal-Logo-Full-Color-Deprecated@2x.png
  packages/web/src/components/public-site/Footer.tsx
  packages/web/src/components/public-site/NavBanner.tsx
  packages/web/src/components/public-site/NavOverlay.tsx
  packages/web/src/pages/sign-on/components/mobile/InitialPage.tsx
Due: run-web-workflow

pr review
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
Due: run-web-workflow

Update packages/web/src/services/audius-sdk/discoveryNodeSelector.ts
  packages/web/src/services/audius-sdk/discoveryNodeSelector.ts
Due: run-web-workflow

Revert package-lock changes
  package-lock.json
Due: none

[PAY-1535] Refresh chat messages on render and pull to refresh on chats list (#3673)
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Update SDK to v3.0.3-beta.63 (#3688)
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

remaining changes to get mobile web track tiles in line with mocks
  packages/web/src/components/alt-button/MoreButton.tsx
  packages/web/src/components/alt-button/ShareButton.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.module.css
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/trackTileMessages.ts
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.module.css
Due: run-web-workflow

rename file
  packages/common/src/utils/dogEarUtils.ts
  packages/common/src/utils/index.ts
Due: none

lint
  packages/common/src/utils/dogEarUtils.ts
Due: none

Migrate `getDogEarType` to common (#3685)
  packages/common/src/models/DogEar.ts
  packages/common/src/models/index.ts
  packages/common/src/utils/dogEarUtils.ts
  packages/common/src/utils/index.ts
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/card/desktop/Card.tsx
  packages/web/src/components/dog-ear/DogEar.tsx
  packages/web/src/components/tile/Tile.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

small adjustment to crown icon
  packages/web/src/pages/trending-page/components/RewardsBanner.module.css
Due: run-web-workflow

Fetch chats on app foreground
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Remove unused import
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Fetch chats on app foreground (#3693)
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[C-2416] Fix missing playlists on own profile
  packages/common/src/store/pages/profile/selectors.ts
  packages/mobile/src/components/core/EmptyTile.tsx
  packages/mobile/src/screens/profile-screen/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/EmptyProfileTile.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix track screen artist name font weight
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

Mobile gated content updates pt. 2
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
Due: run-mobile-workflow

remove test
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

use new Text
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

[PAY-1556] Update mobile web gated content experience for TrackTiles (#3692)
  packages/stems/src/assets/icons/iconCrown.svg
  packages/web/src/assets/styles/colors.css
  packages/web/src/components/alt-button/MoreButton.tsx
  packages/web/src/components/alt-button/ShareButton.tsx
  packages/web/src/components/track/PremiumContentLabel.module.css
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/BottomButtons.module.css
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/components/track/trackTileMessages.ts
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.module.css
  packages/web/src/pages/trending-page/components/RewardsBanner.module.css
  packages/web/src/utils/theme/dark.ts
  packages/web/src/utils/theme/default.ts
  packages/web/src/utils/theme/matrix.ts
Due: run-web-workflow, run-stems-workflow

convert GiantTrackTile to TS
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantArtwork.tsx
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/components/track/GiantTrackTileProgressInfo.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

remove old file
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

remove unnecessary cast
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Attach ulid package to window
  packages/common/src/store/pages/chat/sagas.ts
Due: none

Mobile gated content updates pt. 2 (#3696)
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
Due: run-mobile-workflow

remove unnecessary prop initializers
  packages/web/src/components/track/GiantTrackTile.tsx
Due: run-web-workflow

Add mobile
  packages/mobile/src/assets/images/iconRefresh.svg
  packages/mobile/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/mobile/src/components/suggested-tracks/index.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/web/src/pages/collection-page/components/desktop/SuggestedTracks.module.css
Due: run-web-workflow, run-mobile-workflow
