Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

rm node modules and npm i
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

[C-2452] Remove audio before setting new one
  packages/web/src/services/audio-player/AudioPlayer.ts
Due: run-web-workflow

Fix lint
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
Due: run-web-workflow

wip
  packages/common/src/store/cache/reducer.ts
  packages/web/src/api/user/useUserById.ts
  packages/web/src/pages/feed-page/components/desktop/FeedPageUserTestThing.tsx
Due: run-web-workflow

common add_entries cache action
  packages/common/src/store/cache/actions.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/tracks/reducer.ts
  packages/common/src/store/cache/users/reducer.ts
Due: none

simplify and clean up rendering logic for NavAudio
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

Optimistic updates
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/pages/apollo-page/ApolloPage.tsx
  packages/web/src/pages/apollo-page/useGetTrack.tsx
  packages/web/src/pages/apollo-page/useSaveTrack.tsx
Due: run-web-workflow

cache add entries working!
  packages/common/src/store/cache/actions.ts
  packages/common/src/store/cache/collections/reducer.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/cache/tracks/reducer.ts
  packages/common/src/store/cache/users/reducer.ts
  packages/web/src/api/user/useUserById.ts
Due: run-web-workflow

Clean up
  packages/web/src/pages/apollo-page/ApolloPage.tsx
  packages/web/src/pages/apollo-page/confirmMutation.ts
  packages/web/src/pages/apollo-page/useSaveTrack.tsx
Due: run-web-workflow

Fix lint mobile
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
Due: run-mobile-workflow

Separate bubble component and remove AND operator rendering
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

update confusing variable name
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

Fix the entity id in supporter rank up notification
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Update linkify links to navigate audius links in app and external links in new tab
  packages/common/src/utils/index.ts
  packages/common/src/utils/urlUtils.ts
  packages/web/src/components/collection/desktop/CollectionHeader.js
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Sync caches
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/pages/apollo-page/ApolloPage.tsx
  packages/web/src/pages/apollo-page/confirmMutation.ts
  packages/web/src/pages/apollo-page/useSaveTrack.tsx
Due: run-web-workflow

createApi working sans normalization
  packages/common/package.json
  packages/web/src/api/createApi.ts
  packages/web/src/api/user.ts
  packages/web/src/pages/feed-page/components/desktop/FeedPageUserTestThing.tsx
  packages/web/src/store/reducers.ts
Due: run-web-workflow

working with existing cache
  packages/common/src/store/cache/reducer.ts
  packages/web/package.json
  packages/web/src/api/createApi.ts
  packages/web/src/api/schema.ts
  packages/web/src/api/track.ts
  packages/web/src/api/user/useUserById.ts
  packages/web/src/pages/feed-page/components/desktop/FeedPageContent.tsx
  packages/web/src/pages/feed-page/components/desktop/FeedPageTrackTestThing.tsx
  packages/web/src/pages/feed-page/components/desktop/FeedPageUserTestThing.tsx
  packages/web/src/store/reducers.ts
Due: run-web-workflow

Clean up
  packages/web/src/pages/apollo-page/ApolloPage.tsx
Due: run-web-workflow

demo wip
  packages/web/src/api/track.ts
  packages/web/src/api/user.ts
  packages/web/src/pages/App.js
  packages/web/src/pages/feed-page/components/desktop/FeedPageTrackTestThing.tsx
  packages/web/src/pages/feed-page/components/desktop/FeedPageUserTestThing.tsx
Due: run-web-workflow

PR feedback
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

fix comment formatting
  packages/web/src/components/nav/desktop/NavAudio.tsx
Due: run-web-workflow

[C-2448] Fix common dpendencies and lint
  .circleci/src/commands/@commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/jobs/@web-jobs.yml
  package-lock.json
  package.json
  packages/common/.eslintrc.js
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/track-download/TrackDownload.ts
  packages/common/src/store/account/index.ts
  packages/common/src/store/account/slice.ts
  packages/common/src/store/collectibles/index.ts
  packages/common/src/store/collectibles/slice.ts
  packages/common/src/store/premium-content/index.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/common/src/store/premium-content/slice.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/utils/streaming.ts
  packages/common/src/utils/timeUtil.ts
  packages/eslint-config-audius/package.json
  packages/eslint-config-audius/src/index.js
  packages/web/craco.config.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Dont typecheck since build should cover that
  .circleci/src/commands/@commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2429] Remove hls
  packages/common/src/services/audio-player.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/utils/hls.test.js
  packages/common/src/utils/hls.ts
  packages/common/src/utils/index.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/package.json
  packages/web/scripts/publishScripts.sh
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/services/audio-player/AudioPlayer.test.js
  packages/web/src/services/audio-player/AudioPlayer.ts
  packages/web/src/setupTests.js
Due: run-web-workflow, run-mobile-workflow

[C-2440] Remove useThemedStyles
  packages/mobile/src/components/action-drawer/ActionDrawer.tsx
  packages/mobile/src/components/button/Button.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ProfileCompletionChecks.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ReferralLinkCopyButton.tsx
  packages/mobile/src/components/challenge-rewards-drawer/TwitterShareButton.tsx
  packages/mobile/src/components/details-tile/DetailsStat.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/details-tile/DetailsTileStats.tsx
  packages/mobile/src/components/download-track-progress-drawer/DownloadTrackProgressDrawer.tsx
  packages/mobile/src/components/edit-collectibles-drawer/EditCollectiblesDrawer.tsx
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/components/forgot-password-drawer/ForgotPasswordDrawer.tsx
  packages/mobile/src/components/lineup-tile/LineupTileRankIcon.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/lineup/Delineator.tsx
  packages/mobile/src/components/share-to-tiktok-drawer/ShareToTikTokDrawer.tsx
  packages/mobile/src/hooks/useThemedStyles.ts
  packages/mobile/src/screens/explore-screen/components/ColorTile.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

[C-2219] Hide desktop modals until needed
  packages/web/src/components/edit-track/EditTrackModal.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/RewardsModals.tsx
  packages/web/src/pages/modals/AppModal.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Fix spacing
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Use artist popover for premium track owner
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Fix content selection width in mobile track availability screen
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
Due: run-mobile-workflow

Fix copy and style on mobile how to unlock
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

Simplify renderArtist fn
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Refactor DetailsTileHasAccess
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
Due: run-mobile-workflow

More refactor
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

single kind lookup wip
  packages/web/src/api/createApi.ts
  packages/web/src/api/track.ts
  packages/web/src/api/user.ts
Due: run-web-workflow

Use sdk to write
  packages/web/src/pages/apollo-page/ApolloPage.tsx
  packages/web/src/pages/apollo-page/confirmMutation.ts
  packages/web/src/pages/apollo-page/useSaveTrack.tsx
Due: run-web-workflow

Revert "[PAY-827][PAY-1154] Use DN stream endpoint for track download and offline mode (#3202)"
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/common/src/services/track-download/TrackDownload.ts
  packages/common/src/store/social/tracks/actions.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/streaming.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/mobile/src/services/track-download.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/track-page/components/mobile/TrackPage.tsx
  packages/web/src/services/track-download.ts
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
