Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Address pr comments
  packages/common/src/services/remote-config/remote-config.ts
  packages/common/src/store/remote-config/sagas.ts
Due: none

Migrate recordIP service
  packages/common/src/services/audius-backend/RecordIP.ts
  packages/common/src/services/audius-backend/index.ts
  packages/web/src/common/store/account/sagas.js
Due: run-web-workflow

Revert "Fix optimizely local dev (#1261)"
  packages/web/scripts/configureLocalEnv.js
Due: run-web-workflow

[C-879] Fix rewards page navigation (#1865)
  packages/web/src/hooks/useRequiresAccount.ts
Due: run-web-workflow

Fix profile left nav tile spacing and order
  packages/web/src/components/upload/UploadChip.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileTags.module.css
Due: run-web-workflow

Fix profile left nav tile spacing and order (#1871)
  packages/web/src/components/upload/UploadChip.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileTags.module.css
Due: run-web-workflow

Add track entity manager libs
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Update feed tip tile per QA feedback
  packages/web/src/components/notification/Notification/components/ProfilePicture.tsx
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.module.css
Due: run-web-workflow

undo token-dashboard
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
  packages/web/tsconfig.json
Due: run-web-workflow

fix extra code
  packages/common/src/store/reducers.ts
Due: none

Prefer remote dev eth provider in dev env
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Fix optimizely local dev (#1261)
  packages/web/scripts/configureLocalEnv.js
Due: run-web-workflow

Add token-dashboard sagas to common
  packages/common/src/store/pages/token-dashboard/slice.ts
  packages/mobile/src/components/audio-breakdown-drawer/AudioBreakdownDrawer.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/audio-screen/TrendingRewards.tsx
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
  packages/web/src/services/env.ts
  packages/web/src/store/storeContext.ts
  packages/web/src/store/token-dashboard/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-988] Fix social actions by fixing metro imports
  packages/common/package.json
  packages/mobile/metro.config.js
Due: run-mobile-workflow

challenge rewards drawer
  packages/mobile/src/components/challenge-rewards-drawer/ProfileCompletionChecks.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ReferralRewardContents.tsx
Due: run-mobile-workflow

[C-868] Remove IPFS from client build steps
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-878] Show invalid file errors on upload
  packages/web/src/components/edit-track/EditTrackModal.tsx
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/source-files-modal/SourceFilesModal.tsx
  packages/web/src/components/upload/Dropzone.tsx
  packages/web/src/pages/upload-page/UploadPage.js
  packages/web/src/pages/upload-page/components/SelectPage.js
  packages/web/src/pages/upload-page/store/utils/processFiles.ts
Due: run-web-workflow

[C-838] Avoid sending auto update when only patch
  packages/web/src/electron.js
Due: run-web-workflow

Fix
  packages/web/src/electron.js
  packages/web/src/pages/App.js
Due: run-web-workflow

lint fix
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Fix var
  packages/web/src/pages/App.js
Due: run-web-workflow

Migrate waudio service
  packages/common/src/services/audius-backend/index.ts
  packages/common/src/services/audius-backend/waudio.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/services/audius-backend/waudio.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Fixes profile pictures in top supporters tile
  packages/web/src/components/notification/Notification/components/ProfilePicture.tsx
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.module.css
  packages/web/src/components/tipping/feed-tip-tile/FeedTipTile.tsx
Due: run-web-workflow

[C-988] Fix social actions by fixing metro imports (#1875)
  packages/common/package.json
  packages/mobile/metro.config.js
Due: run-mobile-workflow

[C-989] Add common track-download
  packages/common/src/services/index.ts
  packages/common/src/services/native-mobile-interface/types.ts
  packages/common/src/services/track-download/TrackDownload.ts
  packages/common/src/services/track-download/index.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/message/types.ts
  packages/mobile/src/services/track-download.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/services/audius-backend/TrackDownload.js
  packages/web/src/services/native-mobile-interface/downloadTrack.ts
  packages/web/src/services/native-mobile-interface/types.ts
  packages/web/src/services/track-download.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow, run-mobile-workflow

basic dms example
  packages/web/craco.config.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/dms/codec.ts
  packages/web/src/dms/wip_dms.ts
  packages/web/src/root.tsx
Due: run-web-workflow

Fix env
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/env.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/services/env.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/env.ts
Due: run-web-workflow, run-mobile-workflow

Fixes to ensure mobile works
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
Due: run-mobile-workflow

dms: encrypt message for receiver
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/dms/wip_dms.ts
Due: run-web-workflow

[C-989] Add common track-download (#1880)
  packages/common/src/hooks/useDownloadTrackButtons.ts
  packages/common/src/services/index.ts
  packages/common/src/services/native-mobile-interface/types.ts
  packages/common/src/services/track-download/TrackDownload.ts
  packages/common/src/services/track-download/index.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/message/types.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenRemix.tsx
  packages/mobile/src/services/track-download.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/services/audius-backend/TrackDownload.js
  packages/web/src/services/native-mobile-interface/downloadTrack.ts
  packages/web/src/services/native-mobile-interface/types.ts
  packages/web/src/services/track-download.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow, run-mobile-workflow

Add sentry to storeContext
  packages/common/src/store/storeContext.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/services/sentry.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow, run-mobile-workflow

dms: re-add 04 prefix to public key
  packages/web/src/dms/wip_dms.ts
Due: run-web-workflow

[C-991] Add native create/edit playlists
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/add-to-playlist/sagas.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Move playlist-library sagas to web common
  packages/common/src/store/storeContext.ts
  packages/mobile/src/store/storeContext.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/playlist-library/index.ts
  packages/web/src/common/store/playlist-library/sagas.ts
  packages/web/src/common/store/playlist-library/slice.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/components/edit-folder-modal/EditFolderModal.tsx
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/store/reducers.ts
  packages/web/src/store/sagas.ts
  packages/web/src/store/storeContext.ts
  packages/web/src/store/types.ts
Due: run-web-workflow, run-mobile-workflow

fix lint
  packages/web/src/dms/codec.ts
  packages/web/src/dms/wip_dms.ts
Due: run-web-workflow
