Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

rename
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
Due: run-mobile-workflow

bugfix
  packages/common/src/store/ui/search-users-modal/sagas.ts
  packages/common/src/store/ui/search-users-modal/slice.ts
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

equals
  packages/common/src/store/ui/search-users-modal/slice.ts
Due: none

check for userIds
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

add recovery flow to offline migration saga
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
Due: run-mobile-workflow

add metrics for offline file migration
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
  packages/mobile/src/types/analytics.ts
Due: run-mobile-workflow

analytics types fix
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
  packages/mobile/src/types/analytics.ts
Due: run-mobile-workflow

Add attribution button
  packages/stems/src/components/Button/Button.module.css
  packages/stems/src/components/Switch/Switch.module.css
  packages/web/src/components/ai-attribution-modal/AiAttributionButton.tsx
  packages/web/src/components/ai-attribution-modal/AiAttributionDropdown.tsx
  packages/web/src/components/ai-attribution-modal/AiAttributionModal.module.css
  packages/web/src/components/ai-attribution-modal/AiAttributionModal.tsx
  packages/web/src/components/ai-attribution-modal/AiAttributionModalTrigger.module.css
  packages/web/src/components/ai-attribution-modal/AiAttributionModalTrigger.tsx
  packages/web/src/components/ai-attribution-modal/DropdownInput.module.css
  packages/web/src/components/ai-attribution-modal/index.ts
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/data-entry/FormTile.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
Due: run-web-workflow, run-stems-workflow

hotfix: Stripe onramps
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Connect modal with form
  packages/web/src/components/ai-attribution-modal/AiAttributionModal.tsx
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow

hotfix: Stripe onramp modal (#3286)
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

send metadata from libs uploadTrackContentToCreatorNode to addTracksToChainAndCnode
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Update ai button style
  packages/web/src/components/ai-generated-button/AiGeneratedButton.module.css
  packages/web/src/components/ai-generated-button/AiGeneratedButton.tsx
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.module.css
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
Due: run-web-workflow

Mobile chat housekeeping
  packages/common/src/store/ui/search-users-modal/selectors.ts
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUser.tsx
Due: run-mobile-workflow

more
  packages/common/src/store/ui/search-users-modal/selectors.ts
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

Add ai page for desktop and mobile web
  packages/common/src/store/pages/ai/lineup/actions.ts
  packages/common/src/store/pages/ai/lineup/reducer.ts
  packages/common/src/store/pages/ai/selectors.ts
  packages/common/src/store/pages/ai/slice.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/reducers.ts
  packages/web/src/assets/img/iconRobot.svg
  packages/web/src/common/store/cache/users/sagas.d.ts
  packages/web/src/common/store/pages/ai/lineups/tracks/sagas.ts
  packages/web/src/common/store/pages/ai/sagas.ts
  packages/web/src/components/ai-attribution-modal/AiAttributionButton.tsx
  packages/web/src/components/ai-attribution-modal/AiAttributionModal.tsx
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/ai-attributed-tracks-page/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/AiPageProvider.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.module.css
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/AiPage.module.css
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/index.ts
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/store/sagas.ts
  packages/web/src/utils/route.ts
Due: run-web-workflow

Add share-ai tracks tile
  packages/web/src/assets/img/robotFace.png
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/ShareAiTracksTile.module.css
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/ShareAiTracksTile.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/ShareAiTracksTile.module.css
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/ShareAiTracksTile.tsx
Due: run-web-workflow

Add ai attribution setting and update flow
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/store/pages/settings/actions.ts
  packages/common/src/store/pages/settings/reducer.ts
  packages/common/src/store/pages/settings/selectors.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/stems/src/assets/icons/iconRobot.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/common/store/pages/settings/sagas.ts
  packages/web/src/components/ai-attribution-modal/AiAttributionButton.tsx
  packages/web/src/components/ai-attribution-modal/AiAttributionDropdown.tsx
  packages/web/src/components/ai-attribution-modal/AiAttributionModal.tsx
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.module.css
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.tsx
  packages/web/src/components/ai-attribution-settings-modal/InboxSettingsModal.module.css
  packages/web/src/components/ai-attribution-settings-modal/index.ts
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.tsx
  packages/web/src/pages/ai-attributed-tracks-page/components/mobile/AiPage.tsx
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileWrapping.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow, run-stems-workflow

Make track edit use v2 flow for storage v2 tracks
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Add generated with ai tag
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/components/track/Badge.js
  packages/web/src/components/track/Badge.module.css
  packages/web/src/components/track/Badge.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
  packages/web/src/pages/track-page/utils.ts
Due: run-web-workflow

Add track page details
  packages/web/src/components/track/AiTrackSection.module.css
  packages/web/src/components/track/AiTrackSection.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/track-page/utils.ts
Due: run-web-workflow

Fix lint
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.module.css
  packages/web/src/components/track/AiTrackSection.module.css
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
Due: run-web-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/index.ts
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

Add robot.svg
  packages/web/src/assets/img/robot.svg
Due: run-web-workflow

Bump libs version 2.0.3-beta.12 -> 2.0.3-beta.13
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Fix parsing create notification track owner id (#3283)
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Mobile AI profile button + AI tracks screen
  packages/mobile/src/assets/images/iconRobot.svg
  packages/mobile/src/assets/images/robotFace.png
  packages/mobile/src/screens/ai-generated-tracks-screen/AiGeneratedTracksScreen.tsx
  packages/mobile/src/screens/ai-generated-tracks-screen/ShareAiTracksTile.tsx
  packages/mobile/src/screens/ai-generated-tracks-screen/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/AiGeneratedTracksButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ExpandedSection.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[CON-664] Split storage v2 feature flag into signup+upload (#3281)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow

[C-2348] Change offline download location (#3152)
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/store/offline-downloads/sagas/migrateOfflineDataPathSaga.ts
  packages/mobile/src/store/offline-downloads/sagas/rehydrateOfflineDataSaga.ts
  packages/mobile/src/types/analytics.ts
Due: run-mobile-workflow

Fix settings and upload flow
  packages/common/src/schemas/index.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/assets/img/iconRobot.svg
  packages/web/src/common/store/pages/ai/lineups/tracks/sagas.ts
  packages/web/src/common/store/pages/settings/sagas.ts
  packages/web/src/pages/ai-attributed-tracks-page/components/desktop/AiPage.tsx
Due: run-web-workflow

work in progress
  packages/mobile/src/store/own-profile/sagas.ts
  packages/mobile/src/store/own-profile/selectors.ts
  packages/mobile/src/store/own-profile/slice.ts
  packages/mobile/src/store/sagas.ts
  packages/mobile/src/store/store.ts
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Mobile track screen AI blurb
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileAiAttribution.tsx
Due: run-mobile-workflow

Make entire callout clickable
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.module.css
  packages/web/src/components/ai-generated-button/AiGeneratedCallout.tsx
Due: run-web-workflow

Add twitter button
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/components/ai-attribution-modal/AiAttributionDropdown.tsx
  packages/web/src/components/notification/Notification/components/TwitterShareButton.module.css
  packages/web/src/components/notification/Notification/components/TwitterShareButton.tsx
  packages/web/src/components/search-ai/SearchBarResult.js
  packages/web/src/components/search-ai/SearchBarResult.module.css
Due: run-web-workflow

s/learn more/view more
  packages/web/src/components/track/AiTrackSection.module.css
  packages/web/src/components/track/AiTrackSection.tsx
Due: run-web-workflow

Mobile track screen AI header
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileAiAttribution.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

[PAY-1199] Mobile inbox settings functional
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/mobile/src/screens/settings-screen/InboxSettingsScreen.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
