Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-2320] Fix profile socials alignment
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileTierTile.tsx
Due: run-mobile-workflow

Remove comment
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
Due: run-mobile-workflow

I guess these are needed
  packages/web/package-lock.json
Due: run-web-workflow

Huh. now it changes back eh?
  packages/web/package-lock.json
Due: run-web-workflow

Fix typecheck issue with Scrubber
  packages/web/src/components/now-playing/NowPlaying.tsx
Due: run-web-workflow

Revert lock file
  packages/web/package-lock.json
Due: run-web-workflow

Update lock
  packages/web/package-lock.json
Due: run-web-workflow

the old lock
  packages/web/package-lock.json
Due: run-web-workflow

the new lock
  packages/web/package-lock.json
Due: run-web-workflow

Leftover CR comments
  packages/common/src/store/pages/chat/selectors.ts
Due: none

Convert StatBanner to typescript
  packages/common/src/store/pages/chat/selectors.ts
  packages/web/src/components/artist-recommendations/ArtistRecommendationsPopup.tsx
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/pages/deleted-page/components/desktop/DeletedPage.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Remove ports for local dev
  packages/mobile/.env.dev
  packages/web/.env/.env.dev
Due: run-web-workflow, run-mobile-workflow

IT WORKS (only on popular accounts)
  packages/web/src/common/store/user-list/related-artists/errorSagas.ts
  packages/web/src/common/store/user-list/related-artists/sagas.ts
Due: run-web-workflow

marcus pr comments
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

move reaction margin to root view
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

Refactor StatBanner buttons a bit
  packages/web/src/components/stat-banner/StatBanner.module.css
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

Add messages icon
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

Add alignment to popup to allow popups 'within' their anchor
  packages/stems/src/components/Popup/Popup.tsx
  packages/stems/src/components/Popup/index.ts
  packages/stems/src/components/Popup/types.ts
  packages/stems/src/components/PopupMenu/PopupMenu.tsx
  packages/stems/src/components/PopupMenu/types.tsx
  packages/stems/src/index.tsx
Due: run-stems-workflow

Add popup menu for kebab in profile
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

Fix empty chat message list
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Plumb the onMessage through to statBanner
  packages/web/src/components/stat-banner/StatBanner.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

Add todo for blocking/unblocking
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

Add nav dropdown
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow

put behind feature flag
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
Due: run-web-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

Overwrite install command
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Cache cypress binary
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Attempt to fix prod build timeout
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix prod build timeout (#3084)
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Rework alignment to be more clear
  packages/stems/src/components/Popup/Popup.tsx
  packages/stems/src/components/Popup/types.ts
Due: run-stems-workflow

Now this is bottom right
  packages/web/src/components/stat-banner/StatBanner.tsx
Due: run-web-workflow

Fix type
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileTierTile.tsx
Due: run-mobile-workflow

Install cypress binary
  .circleci/config.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove gated content label on mobile track tile
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

Keep consistency at end of sentences for how to unlock
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Prioritize artist pick over gated content dog ear on mobile track tile
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
Due: run-mobile-workflow

Drop info icon for now for tip gated on mobile
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
Due: run-mobile-workflow

Allow changing hidden track to gated on mobile
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Install cypress in correct dir
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

pagination fix
  packages/web/src/common/store/user-list/related-artists/sagas.ts
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
