Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

fix queue controls; first play fails
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
Due: run-mobile-workflow

[C-1545] Fix left-nav zero state vanity metrics
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/assets/images/iconNote.svg
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/VanityMetrics.tsx
Due: run-mobile-workflow

[C-1625] Fix mobile profile follow button (#2426)
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

[C-943] Fix user menu unfollow
  packages/web/src/components/menu/UserMenu.tsx
Due: run-web-workflow

[C-1689] Simplify insta oauth and add tiktok handle check
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/store/oauth/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/common/store/pages/signon/verifiedChecker.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/instagram-button/InstagramButton.tsx
  packages/web/src/components/social-proof/SocialProof.tsx
  packages/web/src/pages/settings-page/components/InstagramAccountVerified.tsx
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/services/audius-backend/audius-backend-instance.ts
Due: run-web-workflow, run-mobile-workflow

Increase debounce
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

[C-712] Improve top-supporter scroll region
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
Due: run-mobile-workflow

[C-880] Prevent track count change when filtering
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-web-workflow

[PAY-771] UI fixes for TransactionDetailsModal
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Add used handle check
  packages/web/src/common/store/pages/signon/verifiedChecker.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
Due: run-web-workflow

[PAY-771] UI fixes for TransactionDetailsModal (#2431)
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Update table styles to remove the space between the header text and the sorters
  packages/web/src/components/table/Table.module.css
Due: run-web-workflow

[C-1545] Fix left-nav zero state vanity metrics (#2429)
  packages/mobile/src/assets/images/iconNote.svg
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/VanityMetrics.tsx
Due: run-mobile-workflow

[C-712] Improve top-supporter scroll region (#2435)
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
Due: run-mobile-workflow

hotfix: Broken modal headers
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
Due: run-web-workflow

Fix icon
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

hotfix: Broken modal headers (#2436)
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Only fetch notifs if reachable
  packages/web/src/common/store/notifications/sagas.ts
Due: run-web-workflow

Prevent infinite requests while unreachable
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/mobile/src/utils/reachability.ts
Due: run-mobile-workflow

Use new identity endpoint for location
  packages/web/src/services/Location.ts
Due: run-web-workflow

Cache getLocation call
  packages/web/src/utils/gdpr.ts
Due: run-web-workflow

remove logs
  packages/web/src/utils/gdpr.ts
Due: run-web-workflow

wip
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Add new feature flag for tiktok verif
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

[C-1078] Add offline mode confiramtion drawers
  packages/mobile/src/Drawers.tsx
  packages/mobile/src/components/drawers/ConfirmationDrawer.tsx
  packages/mobile/src/components/drawers/DeleteConfirmationDrawer.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedFavorites.tsx
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollection.tsx
  packages/mobile/src/components/drawers/index.ts
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/hooks/useDrawer.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/components/CancelEditTrackDrawer.tsx
  packages/mobile/src/screens/wallet-connect/components/WalletConnectDrawer.tsx
  packages/mobile/src/store/drawers/selectors.ts
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

cancel queued downloads on toggle off
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

add collection to favorites on download
  packages/common/src/models/Analytics.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

auto-enqueue download for favorited tracks
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

Handled playlist vs album, updated imports
  packages/mobile/src/Drawers.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedFavoritesDrawer.tsx
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/drawers/index.ts
Due: run-mobile-workflow

Remove tracks for all download reasons
  packages/mobile/src/components/drawers/UnfavoriteDownloadedCollectionDrawer.tsx
Due: run-mobile-workflow

automatically download favorited collections
  packages/mobile/src/store/offline-downloads/sagas.ts
Due: run-mobile-workflow

cancel queue in batchRemoveTrackDownloads
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

lint
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

[C-1683] Add Rate CTA Drawer
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/Drawers.tsx
  packages/mobile/src/assets/images/iconThumbsDown.svg
  packages/mobile/src/assets/images/iconThumbsUp.svg
  packages/mobile/src/components/rate-cta-drawer/RateCtaDrawer.tsx
  packages/mobile/src/components/rate-cta-drawer/RateCtaReminder.tsx
  packages/mobile/src/components/rate-cta-drawer/constants.ts
  packages/mobile/src/components/rate-cta-drawer/index.ts
  packages/mobile/src/hooks/useAsyncStorage.ts
  packages/mobile/src/store/drawers/slice.ts
  packages/mobile/src/store/rate-cta/sagas.ts
  packages/mobile/src/store/rate-cta/slice.ts
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

Expiring JSON location
  packages/common/src/services/local-storage/LocalStorage.ts
  packages/web/src/services/Location.ts
Due: run-web-workflow

gdpr fixes
  packages/web/src/utils/gdpr.ts
Due: run-web-workflow

type changes
  packages/common/src/services/audius-backend/eagerLoadUtils.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

don't stop if one collection doesn't load
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
Due: run-mobile-workflow
