Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

fix
  packages/common/src/services/oauth/formatSocialProfile.ts
Due: none

[C-1083] Add offline play count recording
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-downloads/OfflineDownloader.tsx
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/services/offline-downloader/workers/playCounterWorker.ts
  packages/mobile/src/services/offline-downloader/workers/trackDownloadWorker.ts
Due: run-mobile-workflow

Fix logic
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

change
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Revert download toggle change
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

QA update for Rate CTA Drawer
  packages/mobile/src/assets/images/iconThumbsDown.svg
  packages/mobile/src/assets/images/iconThumbsUp.svg
  packages/mobile/src/components/rate-cta-drawer/RateCtaDrawer.tsx
Due: run-mobile-workflow

Remove no shimmer
  packages/mobile/src/screens/track-screen/TrackScreenSkeleton.tsx
Due: run-mobile-workflow

fix parallelism timeouts
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

Get mobile tiktok auth working
  packages/common/src/store/account/types.ts
  packages/mobile/src/components/oauth/OAuth.tsx
  packages/mobile/src/screens/signon/ProfileAuto.tsx
  packages/mobile/src/store/oauth/reducer.ts
  packages/mobile/src/store/oauth/sagas.ts
  packages/mobile/src/store/oauth/types.ts
Due: run-mobile-workflow

concurrency 1
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

write timeout in clearer terms
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

remove feature flag check blocking playback
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

load favorites toggle state correctly
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
Due: run-mobile-workflow

[C-1689] Simplify insta oauth and add tiktok handle check (#2430)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/store/oauth/sagas.ts
  packages/web/src/common/store/pages/signon/sagas.js
  packages/web/src/common/store/pages/signon/verifiedChecker.ts
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/instagram-button/InstagramButton.tsx
  packages/web/src/components/social-proof/SocialProof.tsx
  packages/web/src/pages/settings-page/components/InstagramAccountVerified.tsx
  packages/web/src/pages/sign-on/components/ProfileForm.tsx
  packages/web/src/services/audius-backend/audius-backend-instance.ts
Due: run-web-workflow, run-mobile-workflow

C-1725 Fix sign-up with Instagram (#2461)
  packages/common/src/services/oauth/formatSocialProfile.ts
Due: none

[C-1721] Fix case where cached track is incomplete (#2459)
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
Due: run-mobile-workflow

[C-1717] Attempt to fix android crash on scrollToLocation (#2458)
  packages/mobile/src/components/lineup/Lineup.tsx
Due: run-mobile-workflow

Fix backgorund reset issues for track player on android 12+
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix offline playback with new track player (#2428)
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

[C-1698] Fix first offline playback stalled (#2446)
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/hooks/useOfflineTrackUri.ts
Due: run-mobile-workflow

Fix backgorund reset issues for track player on android 12+ (#2464)
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix track player artwork, speed up useImage
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
Due: run-mobile-workflow

Fix
  packages/mobile/src/components/image/TrackImage.tsx
Due: run-mobile-workflow

Fix track player artwork, speed up useImage (#2467)
  packages/mobile/src/components/image/CollectionImage.tsx
  packages/mobile/src/components/image/TrackImage.tsx
Due: run-mobile-workflow

fix: packages/stems/example/package.json & packages/stems/example/package-lock.json to reduce vulnerabilities
  packages/stems/example/package-lock.json
  packages/stems/example/package.json
Due: run-stems-workflow

Add mobile audiusSdk to store context
  packages/mobile/src/services/audius-sdk.ts
  packages/mobile/src/store/storeContext.ts
Due: run-mobile-workflow

add polyfills/deps to package.json
  packages/mobile/metro.config.js
  packages/mobile/package.json
Due: run-mobile-workflow

pod-install
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

move chatSagas to common
  packages/common/src/store/pages/chat/index.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/sagas.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fetch users action
  packages/common/src/store/cache/users/actions.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/web/src/common/store/cache/users/sagas.js
Due: run-web-workflow

screen for chat testing
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/chats-screen/ChatsScreen.tsx
  packages/web/src/common/store/cache/users/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-1551] Add collection screen skeleton
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/components/skeletons/EntitySkeleton.tsx
  packages/mobile/src/components/skeletons/index.ts
  packages/mobile/src/components/track-list/TrackListItemSkeleton.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenSkeleton.tsx
  packages/mobile/src/screens/track-screen/TrackScreenSkeleton.tsx
Due: run-mobile-workflow

Remove logs
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
Due: run-mobile-workflow

Upgrade react-native and get it compiling
  packages/mobile/ios/.xcode.env
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/AudiusReactNative/AppDelegate.m
  packages/mobile/ios/AudiusReactNative/AppDelegate.mm
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Fixes for new react-native
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/patches/react-native+0.66.3.patch
  packages/mobile/patches/react-native+0.70.6.patch
  packages/mobile/src/screens/signon/SignOn.tsx
Due: run-mobile-workflow

Use username instead of display_name
  packages/common/src/services/oauth/formatSocialProfile.ts
  packages/common/src/store/account/types.ts
  packages/web/src/common/store/pages/signon/reducer.js
  packages/web/src/pages/sign-on/components/CompleteProfileWithSocial.tsx
  packages/web/src/pages/sign-on/components/ProfilePage.tsx
Due: run-web-workflow

Add analytics for Rate CTA drawer
  packages/common/src/models/Analytics.ts
  packages/mobile/src/components/rate-cta-drawer/RateCtaDrawer.tsx
  packages/mobile/src/store/rate-cta/sagas.ts
Due: run-mobile-workflow

Add stage apple-app-site-association
  .circleci/src/commands/@web-commands.yml
  packages/web/public/.well-known/apple-app-site-association-stage
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-1648] Improve sentry issues
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
Due: none

Fix /feed when no user
  packages/web/src/common/store/pages/feed/lineup/sagas.ts
Due: run-web-workflow
