Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Cache pods
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix tastemaker copy -n
  packages/mobile/src/screens/notifications-screen/Notifications/TastemakerNotification.tsx
  packages/web/src/components/notification/Notification/TastemakerNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Fix eager fetch
  packages/common/src/services/audius-backend/eagerLoadUtils.ts
  packages/common/src/utils/stringUtils.ts
Due: none

Update delete playlist confirmation drawer to conform to new designs
  packages/mobile/src/assets/images/iconTrash.svg
  packages/mobile/src/components/delete-playlist-confirmation-drawer/DeletePlaylistConfirmationDrawer.tsx
Due: run-mobile-workflow

Playbar follows keyboard
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

PR comment
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Pod repo update
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PLAT-904] Fix duplicate notifications
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow

Debounce reaction for longer on web
  packages/web/src/components/notification/Notification/components/Reaction/Reaction.tsx
Due: run-web-workflow

bold
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
Due: run-mobile-workflow

Revert "Playbar follows keyboard"
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/PlayBar.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

merge own-profile slice with account
  packages/common/src/store/account/index.ts
  packages/common/src/store/account/sagas.ts
  packages/common/src/store/account/selectors.ts
  packages/common/src/store/account/slice.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/sagas.ts
  packages/common/src/store/ui/index.ts
  packages/common/src/store/ui/own-profile/sagas.ts
  packages/common/src/store/ui/own-profile/selectors.ts
  packages/common/src/store/ui/own-profile/slice.ts
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/store/account/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Add deployment flag
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

apply fix on mobile
  packages/mobile/src/screens/profile-screen/ProfileTabNavigator.tsx
  packages/mobile/src/store/account/sagas.ts
Due: run-mobile-workflow

useNavigationState
  packages/mobile/src/components/drawer/Drawer.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow

Add search multimap
  packages/common/src/services/audius-api-client/helper.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-ai-bar/sagas.ts
  packages/web/src/common/store/search-bar/sagas.ts
Due: run-web-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Fix lint
  packages/web/src/common/store/search-bar/sagas.ts
Due: run-web-workflow

[PAY-901] hotfix: TransactionDetailsModal now expects wei amounts (#3297)
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Add search multimap (#3306)
  packages/common/src/services/audius-api-client/helper.ts
  packages/web/src/common/store/pages/search-page/sagas.js
  packages/web/src/common/store/search-ai-bar/sagas.ts
  packages/web/src/common/store/search-bar/sagas.ts
Due: run-web-workflow

Fix ai attrib upload (#3299)
  packages/common/src/schemas/index.ts
Due: none

Redirect if not allowed ai (#3300)
  packages/web/src/pages/ai-attributed-tracks-page/AiPageProvider.tsx
Due: run-web-workflow

Fix taste maker copy (#3301)
  packages/mobile/src/screens/notifications-screen/Notifications/TastemakerNotification.tsx
  packages/web/src/components/notification/Notification/TastemakerNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Fix eager fetch (#3302)
  packages/common/src/services/audius-backend/eagerLoadUtils.ts
  packages/common/src/utils/stringUtils.ts
Due: none

Moving to hook in common
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useSetInboxPermissions.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/mobile/src/screens/settings-screen/InboxSettingsScreen.tsx
Due: run-mobile-workflow

Use Followers instead of Mutuals on compose chat modal
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
Due: run-web-workflow

Fix index issue with constructUrl
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

[PLAT-863] Fix reaction endpoint errors with sdk
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/discovery-node-selector/DiscoveryNodeSelectorInstance.ts
Due: none

Fix merge marker
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Move
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Fix stylelint
  packages/web/src/components/ai-attribution-modal/SearchBarResult.module.css
  packages/web/src/components/ai-attribution-settings-modal/AiAttributionSettingsModal.module.css
  packages/web/src/components/notification/Notification/AnnouncementNotification.module.css
  packages/web/src/components/track/AiTrackSection.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
Due: run-web-workflow

Rename sdk_v2 to sdk_discovery_node_selector
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

[PLAT-904] Fix duplicate notifications (#3304)
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow

Fix index issue with constructUrl (#3308)
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

[PLAT-863] Fix reaction endpoint when sdk-v2 (#3309)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/discovery-node-selector/DiscoveryNodeSelectorInstance.ts
Due: none

Rename sdk_v2 to sdk_discovery_node_selector (#3310)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Write to db when toggling off. Fix initialState to respect defaults
  packages/common/src/store/pages/index.ts
  packages/common/src/store/pages/settings/actions.ts
  packages/common/src/store/pages/settings/reducer.ts
  packages/mobile/src/screens/settings-screen/NotificationRow.tsx
  packages/mobile/src/store/settings/sagas.ts
  packages/mobile/src/store/sign-out/sagas.ts
Due: run-mobile-workflow
