Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Improve var name
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Remove heavy proxySelector
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/collection-screen/useFetchCollectionLineup.ts
Due: run-mobile-workflow

[PAY-922] Mobile chat drawers and profile screen buttons
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/assets/images/iconBlockMessages.svg
  packages/mobile/src/components/block-messages/BlockMessages.tsx
  packages/mobile/src/components/block-messages/index.ts
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/index.ts
  packages/mobile/src/components/profile-actions-drawer/ProfileActionsDrawer.tsx
  packages/mobile/src/components/profile-actions-drawer/index.ts
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

typecheck
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/screens/profile-screen/MessageButton.tsx
Due: run-mobile-workflow

Handle duplicate wallet connections properly
  packages/web/src/pages/audio-rewards-page/components/ConnectWalletsBody.module.css
  packages/web/src/pages/audio-rewards-page/components/ConnectWalletsBody.tsx
Due: run-web-workflow

Fix duplicate error
  packages/web/src/pages/audio-rewards-page/components/ConnectWalletsBody.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletsTable.tsx
Due: run-web-workflow

Add client notifications from discovery
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/store/notifications/selectors.ts
  packages/common/src/store/notifications/types.ts
  packages/web/src/common/store/notifications/sagas.ts
  packages/web/src/components/notification/NotificationPanel.tsx
Due: run-web-workflow

Fix polling daemon for get notifications
  packages/web/src/common/store/notifications/sagas.ts
Due: run-web-workflow

Address comments
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/common/store/notifications/sagas.ts
Due: run-web-workflow

Prevent showing feed before user has followed accounts
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/signon/FirstFollows.tsx
  packages/mobile/src/screens/signon/SignOn.tsx
  packages/web/src/common/store/pages/signon/actions.ts
  packages/web/src/common/store/pages/signon/reducer.js
  packages/web/src/common/store/pages/signon/selectors.js
Due: run-web-workflow, run-mobile-workflow

Fix rebase error
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

fix padding in BlockMessagesDrawer
  packages/mobile/src/components/block-messages/BlockMessages.tsx
Due: run-mobile-workflow

remove comment
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Wrap user collectibles metadata order in set to dedupe
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
Due: run-web-workflow

Dedupe user collectibles metadata if they already saved their preferences and have duplicates
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
Due: run-web-workflow

Set collectiblesOrderUnset to false if user has saved collectibles metadata
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Add outbound nft transfer logic
  packages/common/src/services/opensea-client/OpenSeaClient.ts
Due: none

Remove double comment slashes
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
Due: run-web-workflow

Make sure drawers don't show until sign up complete
  packages/mobile/src/components/notification-reminder/NotificationReminder.tsx
  packages/mobile/src/components/rate-cta-drawer/RateCtaReminder.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/web/src/common/store/pages/signon/selectors.js
Due: run-web-workflow, run-mobile-workflow

Fix clipped card descenders
  packages/mobile/src/components/card/Card.tsx
Due: run-mobile-workflow

Fix share track url
  packages/mobile/src/utils/routes.tsx
Due: run-mobile-workflow

Catch errors and reset
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-web-workflow

Send directly to sentry
  packages/web/src/store/token-dashboard/connectNewWalletSaga.ts
Due: run-web-workflow

PR comments:
  packages/web/src/pages/audio-rewards-page/components/ConnectWalletsBody.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletsTable.module.css
  packages/web/src/pages/audio-rewards-page/components/WalletsTable.tsx
Due: run-web-workflow

Typecheck fix potentially?
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/store/chat/sagas.ts
Due: run-mobile-workflow

Upgrade ios cli
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Removes unecessary react types
  packages/mobile/package.json
  packages/stems/example/package.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix get feature enabled types
  packages/common/src/store/storeContext.ts
  packages/web/package-lock.json
  packages/web/src/common/store/notifications/sagas.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/social/users/sagas.ts
  packages/web/src/store/storeContext.ts
Due: run-web-workflow

Make python-version local only
  .gitignore
  .nvmrc
  .python-version-dev
  scripts/preinstall.sh
Due: none

Refactor
  packages/web/src/components/collectibles/components/CollectiblesPage.tsx
Due: run-web-workflow

Adjust card skeletons
  packages/mobile/src/components/collection-list/CollectionCardSkeleton.tsx
  packages/mobile/src/components/profile-list/ProfileCardSkeleton.tsx
Due: run-mobile-workflow

trying menu
  packages/mobile/src/app/App.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

Enable remix link even without toggle on
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
Due: run-web-workflow

Wrap unlock section button for small screen size
  packages/web/src/components/track/GiantTrackTile.module.css
Due: run-web-workflow

Remove unused file and styles
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackCornerTag.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

Fix dog ear
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/TrackBannerIcon.module.css
  packages/web/src/components/track/TrackBannerIcon.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Fix corner tag on native mobile
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileBannerIcon.tsx
  packages/mobile/src/screens/track-screen/PremiumTrackCornerTag.tsx
Due: run-mobile-workflow

Rmove unused icon files
  packages/mobile/src/assets/images/iconCollectibleCornerTag.svg
  packages/mobile/src/assets/images/iconLockedCornerTag.svg
  packages/mobile/src/assets/images/iconSpecialAccessCornerTag.svg
  packages/stems/src/assets/icons/iconCollectibleCornerTag.svg
  packages/stems/src/assets/icons/iconLockedCornerTag.svg
  packages/stems/src/assets/icons/iconSpecialAccessCornerTag.svg
  packages/stems/src/assets/icons/iconUnlockedCornerTag.svg
  packages/stems/src/components/Icons/index.ts
Due: run-mobile-workflow, run-stems-workflow
