Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

add 'purchase uknown' type
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
Due: run-web-workflow

Fix negative tx bug
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
Due: run-web-workflow

Feature flag instead of remote config
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Remove remote config default
  packages/common/src/services/remote-config/defaults.ts
Due: none

Disclaimer + some minor UI fixes
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.module.css
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Fix user not loading
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.module.css
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

types
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.module.css
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Fix android lock screen issues and small bugs for track player
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Fix NFT loading
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
Due: run-web-workflow

[C-1684] Fix rewards page upload track button
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

fix favorited track sync
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

fix types
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

sync stale tracks
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

self code review
  packages/mobile/src/hooks/useFetchAllFavoritedTrackIds.ts
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/utils/populateCoverArtSizes.ts
Due: run-mobile-workflow

PR comments
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/common/src/utils/formatUtil.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
Due: run-web-workflow

Remove 'as unknown'
  packages/common/src/services/solana-client/solCollectibleHelpers.ts
Due: none

add isAvailableForPlay util
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/utils/trackUtils.ts
Due: run-mobile-workflow

Rename solanaChainMetadata
  packages/common/src/models/Collectible.ts
  packages/common/src/services/opensea-client/ethCollectibleHelpers.ts
  packages/common/src/services/solana-client/solCollectibleHelpers.ts
  packages/common/src/services/solana-client/types.ts
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Prevent use of premium tracks as remix parents
  packages/web/src/common/store/remix-settings/sagas.ts
Due: run-web-workflow

extract type
  packages/mobile/src/utils/populateCoverArtSizes.ts
Due: run-mobile-workflow

[C-1688] Finalize mobile wallet-connect
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/components/audio-breakdown-drawer/AudioBreakdownDrawer.tsx
  packages/mobile/src/components/audio-breakdown-drawer/Wallet.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletsTable.tsx
Due: run-web-workflow, run-mobile-workflow

Fix margin
  packages/mobile/src/screens/wallet-connect/components/LinkedWallet.tsx
Due: run-mobile-workflow

Remove entity manager feature flags for tracks and playlists (#2417)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

[C-1652] Add solana mobile deployment
  packages/mobile/android/app/api.json
  packages/mobile/android/app/api.txt
  packages/mobile/dapp-store/.asset-manifest.json
  packages/mobile/dapp-store/README.md
  packages/mobile/dapp-store/config.yaml
  packages/mobile/dapp-store/media/app_icon.png
  packages/mobile/dapp-store/media/publisher_icon.png
  packages/mobile/dapp-store/media/screenshot1.png
  packages/mobile/dapp-store/media/screenshot2.png
  packages/mobile/dapp-store/media/screenshot3.png
  packages/mobile/dapp-store/media/screenshot4.png
  packages/mobile/dapp-store/media/screenshot5.png
  packages/mobile/dapp-store/media/screenshot6.png
  packages/mobile/dapp-store/package.json
  packages/mobile/dapp-store/pnpm-lock.yaml
Due: run-mobile-workflow

[PAY-728] Audio Transactions History Table (#2369)
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/types.ts
  packages/common/src/store/pages/audio-transactions/selectors.ts
  packages/common/src/store/pages/audio-transactions/slice.ts
  packages/common/src/store/pages/index.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/transaction-details/types.ts
  packages/common/src/utils/formatUtil.ts
  packages/web/src/common/store/pages/audio-transactions/sagas.ts
  packages/web/src/common/store/pages/token-dashboard/sagas.ts
  packages/web/src/components/audio-transaction-icon/AudioTransactionIcon.tsx
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.module.css
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/transaction-details-modal/components/Block.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.module.css
  packages/web/src/pages/audio-transactions-page/AudioTransactionsPage.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Fix lint
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
Due: run-mobile-workflow

[C-1684] Fix rewards page upload track button (#2419)
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawer.tsx
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

[C-1688] Finalize mobile wallet-connect (#2423)
  packages/common/src/services/remote-config/feature-flags.ts
  packages/mobile/src/components/audio-breakdown-drawer/AudioBreakdownDrawer.tsx
  packages/mobile/src/components/audio-breakdown-drawer/Wallet.tsx
  packages/mobile/src/screens/audio-screen/AudioScreen.tsx
  packages/mobile/src/screens/wallet-connect/components/LinkedWallet.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletsTable.tsx
Due: run-web-workflow, run-mobile-workflow

Bump @audius/sdk version to 1.0.26 (#2393)
  packages/common/package.json
  packages/web/package.json
Due: run-web-workflow

don't crash on error
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/common/store/pages/chat/sagas.ts
Due: run-web-workflow

Fix web init
  packages/web/package-lock.json
Due: run-web-workflow

Pod changes
  packages/mobile/ios/Podfile.lock
Due: run-mobile-workflow

[PAY-774] Change Coinbase Pay logo
  packages/web/src/assets/img/coinbase-pay/LogoCoinbase.svg
  packages/web/src/components/on-ramp-button/OnRampButton.tsx
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.module.css
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

[C-1675] Fix useCallback
  packages/web/src/components/artist-recommendations/ArtistRecommendations.tsx
  packages/web/src/components/audio-transactions-table/AudioTransactionsTable.tsx
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/components/buy-audio-modal/components/AudioAmountPicker.tsx
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
  packages/web/src/components/card/desktop/Card.tsx
  packages/web/src/components/collectibles-playlist-table/CollectiblesPlaylistTable.tsx
  packages/web/src/components/instagram-auth/InstagramAuth.tsx
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary.tsx
  packages/web/src/components/stripe-on-ramp-modal/StripeOnRampModal.tsx
  packages/web/src/components/table/Table.tsx
  packages/web/src/components/track/desktop/ConnectedPlaylistTile.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/tracks-table/TracksTable.tsx
  packages/web/src/pages/history-page/HistoryPageProvider.tsx
  packages/web/src/pages/landing-page/components/Description.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileBio.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfileTags.tsx
  packages/web/src/pages/profile-page/components/mobile/ProfileHeader.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/pages/sign-on/components/mobile/FollowPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/types/react/useCallback.d.ts
Due: run-web-workflow

hard code offline mode on
  packages/mobile/src/hooks/useIsOfflineModeEnabled.ts
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow, run-mobile-workflow

[C-1625] Fix mobile profile follow button
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

skip offline content sync when offline
  packages/mobile/src/components/offline-downloads/OfflineDownloader.tsx
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/utils/reachability.ts
Due: run-mobile-workflow

fix offline playback with new track player
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

remove unecessary change
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow
