Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix error names and text-field with start-adornment
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/components/fields/TextField.tsx
  packages/mobile/src/hooks/useSetTrackAvailabilityFields.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackScreen.tsx
  packages/mobile/src/screens/edit-track-screen/fields/AccessAndSaleField/PremiumRadioField/PremiumRadioField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/AccessAndSaleField/PremiumRadioField/TrackPreviewField.tsx
Due: run-mobile-workflow

Finalize
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/hooks/useSetTrackAvailabilityFields.ts
  packages/mobile/src/screens/edit-track-screen/fields/AccessAndSaleField/PremiumRadioField/PremiumRadioField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/AccessAndSaleScreen.tsx
Due: run-mobile-workflow

add inputRootClassName
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.module.css
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.tsx
Due: run-web-workflow

fix playing check for track page
  packages/web/src/pages/track-page/TrackPageProvider.tsx
Due: run-web-workflow

Fix Error Text
  packages/mobile/src/components/core/ErrorText.tsx
Due: run-mobile-workflow

update 15 to 30
  packages/mobile/src/screens/edit-track-screen/EditTrackScreen.tsx
Due: run-mobile-workflow

stylelint
  packages/web/src/pages/upload-page/fields/availability/UsdcPurchaseFields.module.css
Due: run-web-workflow

remove unused TrackAvailabilityModal
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Fix misc embed deploy issues
  packages/embed/workers-site/index.js
  packages/embed/workers-site/worker/script.js
  packages/embed/wrangler.toml
Due: none

Update field text
  packages/mobile/src/screens/edit-track-screen/fields/AccessAndSaleField/PremiumRadioField/TrackPreviewField.tsx
Due: run-mobile-workflow

update max price
  packages/mobile/src/screens/edit-track-screen/EditTrackScreen.tsx
Due: run-mobile-workflow

Fix AI learn more link
  packages/mobile/src/screens/ai-generated-tracks-screen/ShareAiTracksTile.tsx
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow

Undo testing changes
  .circleci/src/workflows/stems.yml
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

pr review
  packages/common/src/audius-query/hooks/usePaginatedQuery.ts
Due: none

Add purchased + reposted tracks to library PAY-1633 (#3820)
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
Due: run-web-workflow

Add reposts + purchased albums to library PAY-1679 (#3865)
  packages/common/src/store/cache/collections/utils/index.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
Due: run-web-workflow

[PAY-1613] Update titles + icons for Library (#3774)
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/res/raw/library_dark.riv
  packages/mobile/android/app/src/main/res/raw/library_default.riv
  packages/mobile/android/app/src/main/res/raw/library_matrix.riv
  packages/mobile/ios/Assets/library_dark.riv
  packages/mobile/ios/Assets/library_default.riv
  packages/mobile/ios/Assets/library_matrix.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/assets/images/iconLibrary.svg
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/FavoritesButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/LibraryButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/index.ts
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/FavoritesTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/stems/src/assets/icons/iconLibrary.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/bottom-bar/BottomBar.tsx
  packages/web/src/components/bottom-bar/buttons/LibraryButton.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/audio-rewards-page/config.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/store/lineup/lineupForRoute.js
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add reposted playlists and albums to library on mobile C-2984 (#3933)
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
Due: run-mobile-workflow

Add category filters to library PAY-1710 PAY-1711 (#3944)
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/common/src/utils/typeUtils.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/stems/src/components/SelectablePill/types.ts
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.module.css
  packages/web/src/pages/saved-page/components/desktop/LibraryCategorySelectionMenu.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.module.css
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add filters to library on mobile (#3973)
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/LibraryCategorySelectionMenu.tsx
  packages/mobile/src/screens/favorites-screen/useCollectionsScreenData.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2954] Fix hashtag search
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-mobile-workflow

[C-3031] Fix transaction history numbers
  packages/common/src/utils/formatUtil.ts
Due: none

[PAY-1734] Implement skeleton withdraw USDC modal
  packages/common/src/store/ui/modals/index.ts
  packages/common/src/store/ui/modals/parentSlice.ts
  packages/common/src/store/ui/modals/reducers.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/ui/modals/withdraw-usdc-modal/index.ts
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.module.css
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.module.css
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.module.css
  packages/web/src/components/withdraw-usdc-modal/components/EnterTransferDetails.tsx
  packages/web/src/components/withdraw-usdc-modal/components/Hint.module.css
  packages/web/src/components/withdraw-usdc-modal/components/Hint.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TextRow.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TextRow.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.tsx
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TransferSuccessful.tsx
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Only install dmg license on mac
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove build-upload branch filters
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Symlink react-native binary
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove dist staging branch filters
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Reset the new upload flow state when the upload button in the side nav is clicked
  packages/common/src/store/upload/selectors.ts
  packages/web/src/pages/upload-page/UploadPageNew.tsx
Due: run-web-workflow

Fix conditional
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix lint
  packages/web/src/components/withdraw-usdc-modal/WithdrawUSDCModal.tsx
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
Due: run-web-workflow

stylelint
  packages/web/src/components/withdraw-usdc-modal/components/ConfirmTransferDetails.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TextRow.module.css
  packages/web/src/components/withdraw-usdc-modal/components/TransferInProgress.module.css
Due: run-web-workflow

Use absolute paths
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-1791] Withdraw USDC - transfer to dest account
  packages/web/src/services/solana/WithdrawUSDC.ts
  packages/web/src/services/solana/solana.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
  packages/web/src/store/application/ui/withdraw-usdc/sagas.ts
Due: run-web-workflow

[PAY-1764] Update USDCCard icons in artist dashboard
  packages/stems/src/assets/icons/iconWithdraw.svg
  packages/stems/src/assets/icons/logoUSDC.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.module.css
  packages/web/src/pages/artist-dashboard-page/components/USDCCard.tsx
Due: run-web-workflow, run-stems-workflow

Fix ios react-native symlink
  .circleci/src/commands/@mobile-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

prompt on leaving upload form in progress
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
Due: run-web-workflow

handle local state updates to library
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/mobile/src/store/offline-downloads/sagas/requestDownloadAllFavoritesSaga.ts
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/pages/saved-page/components/desktop/AlbumsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/hooks/useCollectionsData.tsx
Due: run-web-workflow, run-mobile-workflow

Update storybook
  package-lock.json
  packages/stems/.babelrc.json
  packages/stems/.storybook/main.ts
  packages/stems/.storybook/preview.ts
  packages/stems/.storybook/webpack.config.js
  packages/stems/package.json
  packages/stems/src/components/Button/Button.stories.tsx
  packages/stems/src/components/Icons/index.ts
Due: run-stems-workflow

functionality and structure working
  packages/web/src/components/navigation-prompt/NavigationPrompt.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
Due: run-web-workflow

styled to match design
  packages/web/src/components/navigation-prompt/NavigationPrompt.module.css
  packages/web/src/components/navigation-prompt/NavigationPrompt.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
