Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

remove
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow

add comment
  packages/web/src/common/store/cache/tracks/utils/reformat.ts
Due: run-web-workflow

[C-2768] Update InputV2, add TextField/TextAreaField
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/components/data-entry/TextAreaV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.tsx
  packages/web/src/components/form-fields/TextAreaField.tsx
  packages/web/src/components/form-fields/TextField.tsx
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
Due: run-web-workflow

End the race between SDK and Libs
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/pages/chat/middleware.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

Update README
  packages/common/src/audius-query/README.md
Due: none

Clean up
  packages/common/src/audius-query/createApi.ts
Due: none

Fix args
  packages/common/src/audius-query/createApi.ts
Due: none

Fix lint
  packages/common/src/audius-query/types.ts
Due: none

[C-2665] Add developer apps settings modal
  packages/common/package.json
  packages/common/src/api/developer-apps.ts
  packages/common/src/api/index.ts
  packages/common/src/api/reducer.ts
  packages/common/src/api/utils.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/assets/img/iconCopyPlain.svg
  packages/web/src/assets/img/iconWarning.svg
  packages/web/src/components/divider/Divider.module.css
  packages/web/src/components/divider/Divider.tsx
  packages/web/src/components/divider/index.ts
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperApps.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsCard.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/index.ts
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/types.ts
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

[PAY-1405] Add padding to bottom of chat user search screen (#3580)
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
Due: run-mobile-workflow

[PAY-1432] Fix chat playlist artist sometimes undefined (#3585)
  packages/common/src/audius-query/types.ts
  packages/web/src/common/store/cache/tracks/utils/reformat.ts
Due: run-web-workflow

Lowercase library restricted handle
  packages/web/src/utils/restrictedHandles.js
Due: run-web-workflow

Update collection list id flow to add the create tile
  packages/mobile/src/components/collection-list/CollectionList.tsx
Due: run-mobile-workflow

basic modal components
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/components/ReleaseDateModalField.tsx
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
Due: run-web-workflow

use spacing vars
  packages/web/src/pages/upload-page/components/EditPageNew.module.css
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.module.css
Due: run-web-workflow

moods.js to typescript
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/data-entry/InlineFormTile.js
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
  packages/web/src/utils/Moods.tsx
  packages/web/src/utils/restrictedHandles.js
Due: run-web-workflow

use useFlag
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

Fix mobile textinput borders + labels
  packages/mobile/src/components/core/TextInput.tsx
Due: run-mobile-workflow

[PAY-1456] Fix followee-gated create chat crash
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

Fix mobile textinput borders + labels (#3592)
  packages/mobile/src/components/core/TextInput.tsx
Due: run-mobile-workflow

[PAY-1461] Format follower count in chat search screen
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

[PAY-1437] Fix drawers sharing state causing crash
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/create-chat-actions-drawer/CreateChatActionsDrawer.tsx
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/hooks/useDrawer.ts
  packages/mobile/src/screens/wallet-connect/components/WalletConnectDrawer.tsx
  packages/mobile/src/store/drawers/selectors.ts
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

[C-2770] Fix issue where playlist library can disappear
  packages/common/src/store/cache/reducer.ts
Due: none

update
  packages/common/src/store/cache/reducer.ts
Due: none

move things around
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

lint + PR comments
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/hooks/useDrawer.ts
  packages/mobile/src/store/drawers/selectors.ts
Due: run-mobile-workflow

Reduce MessageLockedButton size on profile screen
  packages/mobile/src/screens/profile-screen/MessageLockedButton.tsx
Due: run-mobile-workflow

Auto-nav to chat only when permitted
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

[PAY-1461] Format follower count in chat search screen (#3594)
  packages/mobile/src/screens/chat-screen/ChatUserListItem.tsx
Due: run-mobile-workflow

[PAY-1437] Fix drawers sharing state causing crash (#3595)
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/chat-actions-drawer/ChatActionsDrawer.tsx
  packages/mobile/src/components/create-chat-actions-drawer/CreateChatActionsDrawer.tsx
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/hooks/useDrawer.ts
  packages/mobile/src/screens/wallet-connect/components/WalletConnectDrawer.tsx
  packages/mobile/src/store/drawers/selectors.ts
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

Reduce MessageLockedButton size on profile screen (#3597)
  packages/mobile/src/screens/profile-screen/MessageLockedButton.tsx
Due: run-mobile-workflow

[PAY-1456] Fix followee-gated create chat crash (#3593)
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

merge
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

Optimize reactions perf (maybe)
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Finalize developer apps flow
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/api/developer-apps.ts
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.tsx
  packages/web/src/pages/chat-page/components/ChatComposer.module.css
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeleteAppConfirmationPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeleteAppConfirmationPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/types.ts
Due: run-web-workflow, run-mobile-workflow

Fix stuff
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppsSettingsModal.tsx
Due: run-web-workflow

Check for non null
  packages/common/src/store/premium-content/sagas.ts
Due: none

[PAY-1465] Auto-nav to chat only when permitted (#3598)
  packages/mobile/src/components/block-messages-drawer/BlockMessagesDrawer.tsx
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
Due: run-mobile-workflow

Use emojis instead of 'heart' etc as reactions
  packages/common/src/store/ui/reactions/types.ts
  packages/mobile/src/screens/notifications-screen/Reaction/ReactionList.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/reactions.tsx
  packages/web/src/components/notification/Notification/components/Reaction/index.tsx
  packages/web/src/pages/chat-page/components/ReactionPopupMenu.tsx
Due: run-web-workflow, run-mobile-workflow
