Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

add redux state for purchase flow
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/store/buy-usdc/selectors.ts
  packages/common/src/store/purchase-content/index.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/selectors.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/common/src/store/purchase-content/types.ts
  packages/common/src/store/reducers.ts
Due: none

revert mobile
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
Due: run-mobile-workflow

fix tag input
  packages/web/src/components/data-entry/TagInput.js
Due: run-web-workflow

make the tag input controlled without breaking it
  packages/web/src/components/data-entry/TagInput.js
Due: run-web-workflow

mostly implements purchase flow
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/store/buy-usdc/slice.ts
  packages/common/src/store/buy-usdc/types.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/common/src/store/purchase-content/types.ts
  packages/web/src/common/store/account/sagas.js
  packages/web/src/common/store/pages/audio-rewards/sagas.ts
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

update remaining usages of createUserBankIfNeeded
  packages/web/src/common/store/wallet/sagas.ts
  packages/web/src/pages/audio-rewards-page/components/ReceiveBody.tsx
Due: run-web-workflow

fix type error
  packages/web/src/common/store/wallet/sagas.ts
Due: run-web-workflow

fix lint
  packages/common/src/services/audius-backend/solana.ts
  packages/common/src/store/buy-usdc/sagas.ts
  packages/common/src/store/purchase-content/index.ts
  packages/common/src/store/purchase-content/sagas.ts
  packages/common/src/store/purchase-content/selectors.ts
  packages/common/src/store/purchase-content/slice.ts
  packages/web/src/components/tipping/tip-audio/TipSent.tsx
Due: run-web-workflow

Add cypress upload test for subgenre
  packages/probers/README.md
  packages/probers/cypress/e2e/uploadTrack.subgenre.cy.ts
Due: none

Clean up
  packages/probers/cypress/e2e/uploadTrack.cy.ts
  packages/probers/cypress/e2e/uploadTrack.subgenre.cy.ts
Due: none

Fix test with scroll
  packages/probers/cypress/e2e/uploadTrack.cy.ts
Due: none

Finalize release date field
  packages/stems/src/components/Icons/index.ts
  packages/stems/src/components/Icons/types.ts
  packages/stems/src/components/Modal/Modal.module.css
  packages/web/src/components/Icon/Icon.tsx
  packages/web/src/components/form-fields/ContextualMenu.module.css
  packages/web/src/components/form-fields/ContextualMenu.tsx
  packages/web/src/components/form-fields/index.ts
  packages/web/src/components/tile/Tile.module.css
  packages/web/src/components/tile/Tile.tsx
  packages/web/src/components/typography/Text.tsx
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/ContextualSubmenuField.module.css
  packages/web/src/pages/upload-page/fields/DatePickerField.tsx
  packages/web/src/pages/upload-page/fields/ReleaseDateField.module.css
  packages/web/src/pages/upload-page/fields/ReleaseDateField.tsx
  packages/web/src/pages/upload-page/forms/ReleaseDateModalForm.tsx
Due: run-web-workflow, run-stems-workflow

fix subgenres
  packages/common/src/utils/genres.ts
  packages/mobile/src/screens/edit-track-screen/screens/SelectGenreScreen.tsx
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow, run-mobile-workflow

Rename and consolidate
  packages/mobile/src/components/core/ContextualMenu.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/screens/edit-track-screen/fields/AdvancedOptionsField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/ContextualMenuField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/IsrcIswcField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/LicenseTypeField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/RemixSettingsField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/SelectGenreField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/SelectMoodField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/web/src/components/data-entry/ContextualMenu.module.css
  packages/web/src/components/data-entry/ContextualMenu.tsx
  packages/web/src/components/form-fields/index.ts
  packages/web/src/pages/upload-page/fields/ReleaseDateField.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-1685] Wire up Stripe UI in mobile
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/services/buyCrypto.ts
  packages/web/src/services/audius-backend/BuyAudio.ts
Due: run-web-workflow, run-mobile-workflow

Last rename
  packages/web/src/components/data-entry/ContextualMenu.tsx
Due: run-web-workflow

Update sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

upload v2 fix
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

remove comment
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

type fix
  packages/web/src/components/data-entry/DropdownInput.d.ts
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

Simplify defaultRenderValue
  packages/web/src/components/data-entry/ContextualMenu.tsx
Due: run-web-workflow

revert v2 stuff
  packages/web/src/components/data-entry/DropdownInput.d.ts
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

basic layout complete
  packages/web/src/components/layout/layout.module.css
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.module.css
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/forms/utils.ts
Due: run-web-workflow

Fix broken track upload for electronic subgenres on mobile (#3835)
  packages/common/src/utils/genres.ts
  packages/mobile/src/screens/edit-track-screen/screens/SelectGenreScreen.tsx
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2923] Fix toasts in modal screens
  packages/mobile/src/components/core/ModalScreen.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistModalScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/index.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackModalScreen.tsx
  packages/mobile/src/screens/edit-track-screen/index.ts
  packages/mobile/src/screens/tip-artist-screen/TipArtistModalScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/index.ts
  packages/mobile/src/screens/upload-screen/index.ts
  packages/mobile/src/screens/upload-screen/screens/UploadModalScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/UploadScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/index.ts
  packages/mobile/src/screens/wallet-connect/WalletConnectModalScreen.tsx
  packages/mobile/src/screens/wallet-connect/index.ts
Due: run-mobile-workflow

working except floating indicator
  packages/web/src/assets/img/iconTrash.svg
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.module.css
  packages/web/src/pages/upload-page/fields/MultiTrackSidebar.tsx
  packages/web/src/pages/upload-page/forms/types.ts
Due: run-web-workflow

[C-2923] Fix toasts in modal screens (#3838)
  packages/mobile/src/components/core/ModalScreen.tsx
  packages/mobile/src/components/core/index.ts
  packages/mobile/src/screens/app-screen/AppScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistModalScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/index.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackModalScreen.tsx
  packages/mobile/src/screens/edit-track-screen/index.ts
  packages/mobile/src/screens/tip-artist-screen/TipArtistModalScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/index.ts
  packages/mobile/src/screens/upload-screen/index.ts
  packages/mobile/src/screens/upload-screen/screens/UploadModalScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/UploadScreen.tsx
  packages/mobile/src/screens/upload-screen/screens/index.ts
  packages/mobile/src/screens/wallet-connect/WalletConnectModalScreen.tsx
  packages/mobile/src/screens/wallet-connect/index.ts
Due: run-mobile-workflow

Upgrade sdk to beta.105 to fix rewards claiming
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Upgrade sdk to beta.105 to fix rewards claiming (#3839)
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Update styles per CR
  packages/web/src/components/share-modal/components/ShareDialog.module.css
Due: run-web-workflow

fix focus
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-web-workflow

Retrigger
  packages/mobile/package-lock.json
  packages/probers/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Mobile: Share track, collection to DMs
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/messages.ts
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
Due: run-mobile-workflow

Update to hotfixed SDK v3.0.3-beta84hotfix.0
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Address comments
  packages/web/src/components/data-entry/ContextualMenu.tsx
  packages/web/src/components/tile/Tile.module.css
  packages/web/src/pages/upload-page/fields/ReleaseDateField.tsx
Due: run-web-workflow
