Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[C-2853] Fix deletedCount calculation (#3763)
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

[PAY-1634] Fix mobile hidden track tile + add share button
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

[PAY-1638] Fix iconLockUnlocked icon
  packages/mobile/src/assets/images/iconLockUnlocked.svg
Due: run-mobile-workflow

initial layout and fields - wip
  packages/web/src/assets/img/iconCreativeCommons.svg
  packages/web/src/pages/upload-page/components/TrackModalArray.tsx
  packages/web/src/pages/upload-page/fields/ModalField.module.css
  packages/web/src/pages/upload-page/fields/ModalField.tsx
  packages/web/src/pages/upload-page/forms/AttributionModalForm.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow

[plat-1111] add usdc purchase seller notification
  package-lock.json
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/selectors.ts
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseSellerNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/common/store/notifications/parseAndProcessNotifications.ts
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/USDCPurchaseSellerNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Finalize
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/mobile/src/components/fields/PickArtworkField.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/utils/generatePlaylistArtwork.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/components/create-playlist/PlaylistForm.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2650] Add playlist-library sanitization hook
  packages/common/src/models/PlaylistLibrary.ts
  packages/common/src/store/playlist-library/helpers.test.js
  packages/common/src/store/playlist-library/helpers.ts
  packages/web/src/common/store/playlist-library/sagas.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistLibrary.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/useSanitizePlaylistLibrary.ts
Due: run-web-workflow

[C-2846] Address suggested-tracks qa
  packages/common/src/api/suggestedTracks.ts
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
Due: run-web-workflow

update dog ear rendering for web
  packages/web/src/assets/img/dogEarRectangle.svg
  packages/web/src/components/dog-ear/DogEar.module.css
  packages/web/src/components/dog-ear/DogEar.tsx
  packages/web/src/components/tile/Tile.module.css
  packages/web/src/components/tile/Tile.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/desktop/ConnectedTrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.module.css
Due: run-web-workflow

fix dog ear for mobile web
  packages/web/src/components/track/desktop/ConnectedTrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.module.css
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

[C-2861] Replace private with hidden
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/messages.ts
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/components/collection/mobile/CollectionHeader.js
  packages/web/src/components/share-modal/components/ShareDialog.tsx
  packages/web/src/components/share-modal/messages.ts
Due: run-web-workflow, run-mobile-workflow

Remove usages of CN /health_check/verbose
  packages/common/src/models/Analytics.ts
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/utils/route/userRouteParser.test.js
Due: run-web-workflow

add cart icon to web notifs
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseBuyerNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseSellerNotification.tsx
  packages/web/src/assets/img/iconCart.svg
  packages/web/src/components/notification/Notification/Notification.tsx
  packages/web/src/components/notification/Notification/USDCPurchaseBuyerNotification.tsx
  packages/web/src/components/notification/Notification/USDCPurchaseSellerNotification.tsx
  packages/web/src/components/notification/Notification/components/icons.module.css
  packages/web/src/components/notification/Notification/components/icons.tsx
Due: run-web-workflow, run-mobile-workflow

update cart icons in mobile notifs
  packages/common/src/models/Analytics.ts
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseBuyerNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/USDCPurchaseSellerNotification.tsx
  packages/web/src/components/notification/Notification/USDCPurchaseBuyerNotification.tsx
Due: run-web-workflow, run-mobile-workflow

Bump sdk version
  packages/common/package-lock.json
  packages/common/package.json
  packages/embed/package-lock.json
  packages/embed/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

[C-2846] Addressed suggested tracks qa
  packages/common/src/api/suggestedTracks.ts
  packages/mobile/src/components/core/IconButton.tsx
  packages/mobile/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistForm.tsx
  packages/web/src/assets/img/iconCaretDownLine.svg
  packages/web/src/assets/img/iconCaretUpLine.svg
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.module.css
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/web/src/components/user-name-and-badges/UserNameAndBadges.tsx
Due: run-web-workflow, run-mobile-workflow

[C-2842] Improve playlist image generation (#3762)
  packages/common/src/hooks/useGeneratePlaylistArtwork.ts
  packages/common/src/store/cache/collections/selectors.ts
  packages/common/src/store/cache/reducer.ts
  packages/common/src/store/playlist-library/helpers.test.js
  packages/common/src/store/playlist-library/helpers.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
  packages/mobile/src/hooks/useContentNodeImage.ts
  packages/mobile/src/screens/edit-playlist-screen/PlaylistArtworkField.tsx
  packages/mobile/src/utils/createPlaylistArtwork.ts
  packages/mobile/src/utils/generatePlaylistArtwork.ts
  packages/web/src/common/store/cache/collections/addTrackToPlaylistSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
  packages/web/src/common/store/cache/collections/utils/optimisticUpdateCollection.ts
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/create-playlist/PlaylistForm.tsx
  packages/web/src/components/image-selection/ImageSelectionButton.js
  packages/web/src/components/upload/UploadArtwork.js
  packages/web/src/workers/generatePlaylistArtwork.worker.js
Due: run-web-workflow, run-mobile-workflow

[C-2650] Add playlist-library sanitization hook (#3767)
  packages/common/src/models/PlaylistLibrary.ts
  packages/common/src/store/playlist-library/helpers.test.js
  packages/common/src/store/playlist-library/helpers.ts
  packages/web/src/common/store/playlist-library/sagas.ts
  packages/web/src/components/nav/desktop/PlaylistLibrary/PlaylistLibrary.tsx
  packages/web/src/components/nav/desktop/PlaylistLibrary/useSanitizePlaylistLibrary.ts
Due: run-web-workflow

[C-2861] Replace private with hidden (#3768)
  packages/mobile/src/components/share-drawer/ShareDrawer.tsx
  packages/mobile/src/components/share-drawer/messages.ts
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/components/collection/mobile/CollectionHeader.js
  packages/web/src/components/share-modal/components/ShareDialog.tsx
  packages/web/src/components/share-modal/messages.ts
Due: run-web-workflow, run-mobile-workflow

Address qa
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-mobile-workflow

[C-2846] Suggested Tracks QA (#3771)
  packages/common/src/api/suggestedTracks.ts
  packages/mobile/src/components/core/IconButton.tsx
  packages/mobile/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistForm.tsx
  packages/web/src/assets/img/iconCaretDownLine.svg
  packages/web/src/assets/img/iconCaretUpLine.svg
  packages/web/src/components/add-to-playlist/desktop/AddToPlaylistModal.tsx
  packages/web/src/components/suggested-tracks/SuggestedTracks.module.css
  packages/web/src/components/suggested-tracks/SuggestedTracks.tsx
  packages/web/src/components/user-name-and-badges/UserNameAndBadges.tsx
Due: run-web-workflow, run-mobile-workflow

Stop crashing on no gateways
  packages/embed/src/util/gatewayUtil.js
Due: none

Add fallback
  packages/embed/src/util/getArtworkUrl.js
Due: none

Remove log
  packages/embed/src/util/BedtimeClient.js
  packages/embed/src/util/getArtworkUrl.js
Due: none

Remove log
  packages/embed/src/util/getArtworkUrl.js
Due: none

[C-2872] Fix image retries
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

library name change
  packages/common/src/models/Analytics.ts
  packages/mobile/android/app/src/main/res/raw/library_dark.riv
  packages/mobile/android/app/src/main/res/raw/library_default.riv
  packages/mobile/android/app/src/main/res/raw/library_matrix.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/assets/images/iconLibrary.svg
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/FavoritesButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/LibraryButton.tsx
  packages/mobile/src/components/bottom-tab-bar/bottom-tab-bar-buttons/index.ts
  packages/mobile/src/components/collection-list/AddCollectionCard.tsx
  packages/mobile/src/components/collection-list/CollectionList.tsx
  packages/mobile/src/components/navigation-container/NavigationContainer.tsx
  packages/mobile/src/screens/app-screen/AppTabsScreen.tsx
  packages/mobile/src/screens/app-screen/FavoritesTabScreen.tsx
  packages/mobile/src/screens/edit-playlist-screen/CreatePlaylistScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/stems/src/assets/icons/iconLibrary.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/bottom-bar/BottomBar.tsx
  packages/web/src/components/bottom-bar/buttons/LibraryButton.tsx
  packages/web/src/components/nav/desktop/LeftNav.tsx
  packages/web/src/components/nav/mobile/ConnectedBottomBar.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/audio-rewards-page/config.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/PlaylistsTabPage.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
  packages/web/src/pages/saved-page/components/mobile/NewPlaylistButton.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
  packages/web/src/store/lineup/lineupForRoute.js
  packages/web/src/utils/route.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix lint
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[C-2872] Fix image retries (#3773)
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

fix files
  packages/mobile/ios/Assets/library_dark.riv
  packages/mobile/ios/Assets/library_default.riv
  packages/mobile/ios/Assets/library_matrix.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
Due: run-mobile-workflow

Fix issues with suggested tracks
  packages/common/src/api/suggestedTracks.ts
  packages/common/src/utils/updatePlaylistArtwork.ts
Due: none

remaining dog ear cleanup
  packages/mobile/src/assets/images/dogEarRectangle.svg
  packages/mobile/src/components/card/Card.tsx
  packages/mobile/src/components/card/CollectionDogEar.tsx
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/web/src/components/dog-ear/DogEar.module.css
Due: run-web-workflow, run-mobile-workflow

don't fill gradients on web
  packages/web/src/assets/img/dogEarRectangle.svg
  packages/web/src/components/dog-ear/DogEar.module.css
Due: run-web-workflow

small fixes for mobile web track details
  packages/web/src/pages/track-page/components/mobile/TrackHeader.module.css
Due: run-web-workflow

rm console logs
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/selectors.ts
  packages/mobile/src/screens/notifications-screen/NotificationListItem.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/index.ts
Due: run-mobile-workflow

Add config for prod and stage
  packages/web/.env/.env.prod
  packages/web/.env/.env.stage
Due: run-web-workflow

Add USDC mint to mobile
  packages/mobile/.env.dev
  packages/mobile/.env.prod
  packages/mobile/.env.stage
  packages/mobile/src/services/audius-backend-instance.ts
Due: run-mobile-workflow

hide share only when not owner + hidden
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

add computed license copy
  packages/stems/src/components/SegmentedControl/SegmentedControl.module.css
  packages/stems/src/components/SegmentedControl/SegmentedControl.tsx
  packages/stems/src/components/SegmentedControl/types.ts
  packages/web/src/assets/img/creativeCommons/by.svg
  packages/web/src/assets/img/creativeCommons/cc.svg
  packages/web/src/assets/img/creativeCommons/nc.svg
  packages/web/src/assets/img/creativeCommons/nd.svg
  packages/web/src/assets/img/creativeCommons/sa.svg
  packages/web/src/pages/upload-page/fields/ModalField.tsx
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
  packages/web/src/pages/upload-page/utils/computeLicenseIcons.ts
Due: run-web-workflow, run-stems-workflow

disabled styling fixes
  packages/stems/src/components/SegmentedControl/SegmentedControl.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.module.css
  packages/web/src/pages/upload-page/forms/AttributionModalForm.tsx
Due: run-web-workflow, run-stems-workflow
