Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix premium content label on mobile track tile
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

Fix lint
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Extract and use HelpCallout component
  packages/mobile/src/components/help-callout/HelpCallout.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Add native mobile footer for unsupported collections
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
Due: run-mobile-workflow

Fix lint (#2972)
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Lint
  packages/mobile/src/components/help-callout/HelpCallout.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Update playlist table column to addedDate
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-web-workflow

Fix icon
  packages/mobile/src/assets/images/iconUnlocked.svg
Due: run-mobile-workflow

Add premiumness check logic
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

Revert "[C-1931] Refactor collection header for private track logic (#2676)"
  packages/web/src/components/collection/desktop/ActionButtons.tsx
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.js
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/collection/desktop/OwnerActionButtons.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/collection/desktop/SmartCollectionActionButtons.tsx
  packages/web/src/components/collection/desktop/ViewerActionButtons.tsx
  packages/web/src/components/collection/desktop/utils.ts
  packages/web/src/components/tooltip/index.ts
  packages/web/src/pages/collection-page/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-web-workflow

Revert [C-1931] Refactor collection header for private track logic (#2975)
  packages/web/src/components/collection/desktop/ActionButtons.tsx
  packages/web/src/components/collection/desktop/Artwork.tsx
  packages/web/src/components/collection/desktop/CollectionHeader.js
  packages/web/src/components/collection/desktop/CollectionHeader.module.css
  packages/web/src/components/collection/desktop/EditButton.tsx
  packages/web/src/components/collection/desktop/FavoriteButton.tsx
  packages/web/src/components/collection/desktop/OverflowMenuButton.tsx
  packages/web/src/components/collection/desktop/OwnerActionButtons.tsx
  packages/web/src/components/collection/desktop/PlayButton.tsx
  packages/web/src/components/collection/desktop/PublishButton.tsx
  packages/web/src/components/collection/desktop/RepostButton.tsx
  packages/web/src/components/collection/desktop/ShareButton.tsx
  packages/web/src/components/collection/desktop/SmartCollectionActionButtons.tsx
  packages/web/src/components/collection/desktop/ViewerActionButtons.tsx
  packages/web/src/components/collection/desktop/utils.ts
  packages/web/src/components/tooltip/index.ts
  packages/web/src/pages/collection-page/CollectionPage.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
Due: run-web-workflow

rearrange settings screen
  packages/mobile/src/assets/images/Horizontal-Logo-Full-Color-Deprecated.png
  packages/mobile/src/assets/images/Horizontal-Logo-Full-Color.png
  packages/mobile/src/assets/images/iconNotificationOn.svg
  packages/mobile/src/assets/images/iconVolume2.svg
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/CastSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingRowLabel.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/index.ts
Due: run-mobile-workflow

fix icon fill and font sizes
  packages/mobile/.svgrrc
  packages/mobile/src/assets/images/iconNotificationOn.svg
  packages/mobile/src/assets/images/iconVolume2.svg
  packages/mobile/src/screens/settings-screen/AppearanceSettingsRow.tsx
  packages/mobile/src/screens/settings-screen/SettingRowLabel.tsx
  packages/mobile/src/screens/settings-screen/SettingsRowDescription.tsx
Due: run-mobile-workflow

main settings screen done
  packages/mobile/src/assets/images/iconCloudDownload.svg
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/NotificationSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
Due: run-mobile-workflow

wifi only download preference
  packages/mobile/src/screens/settings-screen/DownloadNetworkPreferenceRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
Due: run-mobile-workflow

Update copy for user with no supported nft collections
  packages/web/src/components/help-callout/HelpCallout.module.css
  packages/web/src/components/help-callout/HelpCallout.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Lint
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/data-entry/DropdownInput.js
  packages/web/src/components/help-callout/HelpCallout.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Update copy for user with no supported nft collections on native mobile
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

remove all downloads settings button
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/core/Button.tsx
  packages/mobile/src/components/drawers/RemoveAllDownloadsDrawer.tsx
  packages/mobile/src/components/drawers/index.ts
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadNetworkPreferenceRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
  packages/mobile/src/screens/settings-screen/RemoveAllDownloadsRow.tsx
  packages/mobile/src/screens/settings-screen/SettingsScreen.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

hide remove button if no downloads
  packages/mobile/src/components/drawers/RemoveAllDownloadsDrawer.tsx
  packages/mobile/src/screens/settings-screen/RemoveAllDownloadsRow.tsx
Due: run-mobile-workflow

Allow download settings even for gated tracks
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow

Show download buttons if user has access to tracks
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

Show download buttons if user has access to tracks on native mobile
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
Due: run-mobile-workflow

Do not reset download field
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Use 14.20.1 in macos build step
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix editing of nft gate after upload
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow

Fix the thingy doing dropdowns bad
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.module.css
Due: run-web-workflow

Wait for state to be set to update field_visibility
  packages/web/src/pages/upload-page/components/EditPage.js
Due: run-web-workflow

[C-2261] Fix upload form validation (#2980)
  packages/web/src/pages/upload-page/components/EditPage.js
Due: run-web-workflow

[PAY-1008] - Gated track download by access (#2976)
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDownloadButtons.tsx
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-955][PAY-983][PAY-992] Add UI for unsupported collections and other fixes (#2973)
  packages/common/src/store/collectibles/selectors.ts
  packages/common/src/store/collectibles/slice.ts
  packages/mobile/src/assets/images/iconUnlocked.svg
  packages/mobile/src/components/help-callout/HelpCallout.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/RemixSettingsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/components/data-entry/DropdownInput.js
  packages/web/src/components/data-entry/DropdownInput.module.css
  packages/web/src/components/help-callout/HelpCallout.module.css
  packages/web/src/components/help-callout/HelpCallout.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.module.css
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/PremiumContentLabel.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-1009] - Fix editing of nft gate after upload (#2978)
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow

[PAY-996] Fix dropdowns closing immediately in availability UI (#2979)
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.module.css
Due: run-web-workflow

[PAY-976] Fix NFT picker for artwork
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
Due: run-web-workflow

[PAY-976] Fix NFT picker for artwork (#2981)
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
Due: run-web-workflow

[C-2247] Refactor notification reducer to slice
  packages/common/src/store/notifications/actions.ts
  packages/common/src/store/notifications/index.ts
  packages/common/src/store/notifications/notificationsSlice.ts
  packages/common/src/store/notifications/reducer.ts
  packages/common/src/store/notifications/selectors.ts
  packages/common/src/store/notifications/types.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/mobile-overflow-menu/types.ts
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/ProfileOverflowMenuDrawer.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
  packages/mobile/src/store/notifications/sagas.ts
  packages/web/src/common/store/notifications/checkForNewNotificationsSaga.ts
  packages/web/src/common/store/notifications/errorSagas.ts
  packages/web/src/common/store/notifications/fetchNotificationsSaga.ts
  packages/web/src/common/store/notifications/playlistUpdates.ts
  packages/web/src/common/store/notifications/refreshNotificationsSaga.ts
  packages/web/src/common/store/notifications/sagas.ts
  packages/web/src/common/store/social/collections/sagas.ts
  packages/web/src/components/nav/desktop/NavColumn.tsx
  packages/web/src/components/notification/Notification/AnnouncementNotification.tsx
  packages/web/src/components/notification/Notification/components/EntityLink.tsx
  packages/web/src/components/notification/Notification/components/NotificationTile.tsx
  packages/web/src/components/notification/Notification/components/ProfilePicture.tsx
  packages/web/src/components/notification/Notification/components/UserNameLink.tsx
  packages/web/src/components/notification/NotificationPage.tsx
  packages/web/src/components/notification/NotificationPanel.tsx
  packages/web/src/components/track-overflow-modal/ConnectedMobileOverflowModal.tsx
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
Due: run-web-workflow, run-mobile-workflow

Make unlock metrics more specific
  packages/common/src/models/Analytics.ts
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow, run-mobile-workflow

Record uploaded gated track types
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
