Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-625] Playlist challenge optimistic claiming (#1891)
  packages/common/src/store/pages/audio-rewards/slice.ts
  packages/web/src/common/store/cache/collections/sagas.js
Due: run-web-workflow

Address comments
  packages/mobile/package.json
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
Due: run-mobile-workflow

fix rewards claim
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[C-1113] Improve app rerenders
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
Due: run-mobile-workflow

Improve notification performance
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FollowNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsDrawerNavigationContext.tsx
Due: run-mobile-workflow

Improve splash screen transition
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/splash-screen/SplashScreen.tsx
Due: run-mobile-workflow

Fix broken signup on web
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

Remove log
  packages/mobile/src/screens/splash-screen/SplashScreen.tsx
Due: run-mobile-workflow

remove console log
  packages/stems/src/components/TokenValueInputV2/TokenValueInputV2.stories.tsx
Due: run-stems-workflow

Allow empty decimal place if decimal point exists
  packages/common/src/utils/formatUtil.ts
Due: none

Add common to stems
  packages/stems/package.json
  packages/stems/src/components/TokenValueInputV2/TokenValueInputV2.tsx
Due: run-stems-workflow

Add BuyAudio provider action/selector
  packages/common/src/store/ui/buy-audio/selectors.ts
  packages/common/src/store/ui/buy-audio/slice.ts
  packages/common/src/store/ui/buy-audio/types.ts
Due: none

Create OnRampButton
  packages/web/src/components/on-ramp-button/OnRampButton.module.css
  packages/web/src/components/on-ramp-button/OnRampButton.tsx
  packages/web/src/components/on-ramp-button/index.ts
Due: run-web-workflow

Neutral instead of white for dark mode/matrix mode
  packages/web/src/components/on-ramp-button/OnRampButton.module.css
Due: run-web-workflow

Consume new OnRampButton and add to wallet management tile
  packages/web/src/components/buy-audio-modal/components/CoinbaseBuyAudioButton.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Remove old custom coinbase button component
  packages/web/src/components/coinbase-pay-button/CoinbasePayButtonCustom.module.css
  packages/web/src/components/coinbase-pay-button/CoinbasePayButtonCustom.tsx
Due: run-web-workflow

Make stripe button grow less
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.module.css
Due: run-web-workflow

Remove extraneous reference to custom coinbase button
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
  packages/web/src/components/coinbase-pay-button/index.ts
Due: run-web-workflow

Update InputPage + CoinbaseBuyAudioButton to use selectors internally
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/components/buy-audio-modal/components/CoinbaseBuyAudioButton.tsx
Due: run-web-workflow

Add stripe packages to index for now
  packages/web/public/index.html
Due: run-web-workflow

Update sagas to use Stripe provider
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Improve profile and various other component perf
  packages/common/src/hooks/useProxySelector.ts
  packages/common/src/hooks/useSelectTierInfo.ts
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/components/top-tab-bar/CollapsibleTopTabNavigator.tsx
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FollowNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/UserSubscriptionNotification.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow, run-mobile-workflow

Move proxy selector to common
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/hooks/useProxySelector.ts
  packages/mobile/src/screens/notifications-screen/NotificationList.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FavoriteNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/FollowNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/RepostNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/UserSubscriptionNotification.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
  packages/mobile/src/screens/search-results-screen/tabs/ProfilesTab.tsx
Due: run-mobile-workflow

add proxy mem to common
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/hooks/index.ts
Due: none

Create OfflinePlaceholder, button doesn't refresh
  packages/mobile/src/assets/images/iconNoWifi.svg
  packages/mobile/src/assets/images/iconRefresh.svg
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/components/offline-placeholder/index.ts
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
Due: run-mobile-workflow

styling done; button works; pull to refresh broken
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
Due: run-mobile-workflow

remove broken pull to scroll; simplify logic
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
Due: run-mobile-workflow

clean build readme instructions
  packages/mobile/README.md
Due: run-mobile-workflow

upgrade react-native-netinfo to 9.3.0
  package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

hard code offline status; remove before merge
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/trending-screen/TrendingScreen.tsx
Due: run-mobile-workflow

working on real mobile device
  packages/mobile/src/App.tsx
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/components/reachability-bar/ReachabilityBar.tsx
  packages/mobile/src/components/reachability-bar/index.ts
  packages/mobile/src/screens/explore-screen/ExploreScreen.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/feed-screen/FeedScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
  packages/mobile/src/screens/trending-screen/TrendingScreen.tsx
  packages/web/src/components/reachability-bar/ReachabilityBar.tsx
  packages/web/src/components/reachability-bar/components/ReachabilityBarContainer.module.css
  packages/web/src/components/reachability-bar/components/ReachabilityBarContainer.tsx
Due: run-web-workflow, run-mobile-workflow

add a lil jitter
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/components/offline-placeholder/utils.ts
Due: run-mobile-workflow

update package lock
  packages/mobile/package-lock.json
Due: run-mobile-workflow

linting
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/notifications-screen/NotificationsScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
Due: run-mobile-workflow

don't remove reachabilityBar from web
  packages/web/src/components/reachability-bar/ReachabilityBar.tsx
  packages/web/src/components/reachability-bar/components/ReachabilityBarContainer.module.css
  packages/web/src/components/reachability-bar/components/ReachabilityBarContainer.tsx
Due: run-web-workflow

revert package-lock changes
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

cleanup; util to common; invert bools for clarity
  packages/common/src/utils/timingUtils.ts
  packages/mobile/src/components/offline-placeholder/OfflinePlaceholder.tsx
  packages/mobile/src/components/offline-placeholder/utils.ts
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileHeader.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

actually export the util
  packages/common/src/utils/index.ts
Due: none

tip -> audio copy
  packages/mobile/src/components/feed-tip-tile/SendTipButton.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/SupporterDethronedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReceivedNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipSentNotification.tsx
  packages/mobile/src/screens/profile-screen/TipAudioButton.tsx
  packages/mobile/src/screens/tip-artist-screen/AvailableAudio.tsx
  packages/mobile/src/screens/tip-artist-screen/BecomeFirstSupporter.tsx
  packages/mobile/src/screens/tip-artist-screen/BecomeTopSupporter.tsx
  packages/mobile/src/screens/tip-artist-screen/ConfirmSendTipScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipScreen.tsx
  packages/mobile/src/screens/tip-artist-screen/SendTipStatusText.tsx
  packages/mobile/src/screens/tip-artist-screen/TipSentScreen.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

more
  packages/mobile/src/components/feed-tip-tile/SenderDetails.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TipReactionNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TopSupporterNotification.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/TopSupportingNotification.tsx
  packages/mobile/src/screens/tip-artist-screen/TipSentScreen.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
