Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

[PAY-1549] Mobile gated content track screen updates
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

remove logs
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

update styling for premium content button
  packages/stems/src/assets/icons/iconLock.svg
  packages/stems/src/assets/icons/iconLockUnlocked.svg
  packages/stems/src/assets/icons/iconUnlocked.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/track/LockedStatusBadge.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
Due: run-web-workflow, run-stems-workflow

lint
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
Due: run-mobile-workflow

undo temporary hack
  packages/web/src/components/track/desktop/BottomRow.tsx
Due: run-web-workflow

docs
  packages/web/src/components/track/LockedStatusBadge.tsx
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/typography/typography.module.css
Due: run-web-workflow

cleanup unused messages
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

cleanup grid units where possible
  packages/web/src/components/track/desktop/TrackTile.module.css
Due: run-web-workflow

update default fill
  packages/stems/src/assets/icons/iconLock.svg
  packages/stems/src/assets/icons/iconLockUnlocked.svg
Due: run-stems-workflow

PR feedback
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

[PAY-1504] Update gated content track tiles on web (#3677)
  packages/stems/src/assets/icons/iconLock.svg
  packages/stems/src/assets/icons/iconLockUnlocked.svg
  packages/stems/src/assets/icons/iconUnlocked.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/track/LockedStatusBadge.module.css
  packages/web/src/components/track/LockedStatusBadge.tsx
  packages/web/src/components/track/PremiumContentLabel.module.css
  packages/web/src/components/track/PremiumContentLabel.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/BottomRow.tsx
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/components/track/desktop/TrackTile.module.css
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/typography/typography.module.css
Due: run-web-workflow, run-stems-workflow

Bump android version to 1.1.391 to fix play-store build
  packages/mobile/android/app/build.gradle
Due: run-mobile-workflow

[C-2813] Catch collectibles runtime errors (#3675)
  packages/mobile/src/screens/profile-screen/CollectiblesCard.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesCardErrorBoundary.tsx
  packages/mobile/src/screens/profile-screen/CollectiblesTab.tsx
Due: run-mobile-workflow

Bump android version to 1.1.391 to fix play-store build (#3678)
  packages/mobile/android/app/build.gradle
Due: run-mobile-workflow

Default uploads to v2 and remove feature flag
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/cache/tracks/sagas.js
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/pages/upload-page/fields/TrackMetadataFields.tsx
Due: run-web-workflow

stylelint
  packages/web/src/pages/upload-page/fields/SourceFilesModalForm.module.css
  packages/web/src/pages/upload-page/fields/SourceFilesView.module.css
Due: run-web-workflow

PR comments
  packages/mobile/src/components/details-tile/DetailsTile.tsx
Due: run-mobile-workflow

[PAY-1549] Gated content track screen updates (#3676)
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/details-tile/DetailsTileHasAccess.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
Due: run-mobile-workflow

remove most usage of gated content feature flags on web
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/Artwork.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

tie the source files switches together
  packages/web/src/pages/upload-page/fields/ReleaseDateModalForm.tsx
  packages/web/src/pages/upload-page/fields/RemixModalForm.tsx
  packages/web/src/pages/upload-page/fields/SourceFilesModalForm.tsx
  packages/web/src/pages/upload-page/fields/ToggleRowField.tsx
Due: run-web-workflow

pretty print json for testing
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/fields/SourceFilesView.tsx
Due: run-web-workflow

StemRow -> StemListItem
  packages/web/src/pages/upload-page/fields/SourceFilesView.module.css
  packages/web/src/pages/upload-page/fields/SourceFilesView.tsx
Due: run-web-workflow

oauth client side qa
  packages/common/src/api/developer-apps.ts
  packages/web/src/assets/img/Horizontal-Logo-Full-Color.png
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.module.css
  packages/web/src/pages/oauth-login-page/OAuthLoginPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/CreateNewAppPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/DeveloperAppListItem.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
Due: run-web-workflow

update logo
  packages/embed/src/assets/img/Horizontal-Logo-Full-Color.png
  packages/web/src/assets/img/Horizontal-Logo-Full-Color-Deprecated.png
  packages/web/src/assets/img/publicSite/Horizontal-Logo-Full-Color-Deprecated.png
  packages/web/src/assets/img/publicSite/Horizontal-Logo-Full-Color-Deprecated@2x.png
  packages/web/src/components/public-site/Footer.tsx
  packages/web/src/components/public-site/NavBanner.tsx
  packages/web/src/components/public-site/NavOverlay.tsx
  packages/web/src/pages/sign-on/components/mobile/InitialPage.tsx
Due: run-web-workflow

Bump sdk version
  packages/common/package.json
  packages/embed/package.json
  packages/mobile/package.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

[PAY-1504] Remove most usage of gated content feature flags on web (#3680)
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/common/store/social/tracks/sagas.ts
  packages/web/src/components/download-buttons/DownloadButtons.tsx
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track/Artwork.tsx
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/mobile/BottomButtons.tsx
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow

add remaining typography classes
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/typography/typography.module.css
Due: run-web-workflow

Finish implementation of typography CSS module (#3683)
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/typography/typography.module.css
Due: run-web-workflow

feature flag?
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
Due: run-mobile-workflow

USDC tile
  packages/mobile/src/assets/images/iconCart.svg
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

lint
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
Due: run-mobile-workflow

dummy
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
Due: run-mobile-workflow

undummy
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
Due: run-mobile-workflow

Simplify and de-risk
  packages/common/src/store/pages/chat/sagas.ts
Due: none

PR feedback
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

use permalink
  packages/common/src/services/audius-api-client/ResponseAdapter.ts
  packages/common/src/store/pages/collection/selectors.ts
  packages/web/src/common/store/pages/collection/sagas.js
  packages/web/src/components/collection/desktop/CollectionHeader.tsx
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/utils/route/collectionRouteParser.ts
  packages/web/src/utils/seo.ts
Due: run-web-workflow

lint
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
Due: run-mobile-workflow

[PAY-1505] USDC-gated mobile track tiles (#3684)
  packages/mobile/src/assets/images/iconCart.svg
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileAccessStatus.tsx
  packages/mobile/src/components/lineup-tile/LineupTileActionButtons.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

Move getDogEarType to common
  packages/common/src/models/DogEar.ts
  packages/common/src/models/index.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/trackUtils.ts
  packages/mobile/src/components/core/DogEar.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/components/card/desktop/Card.tsx
  packages/web/src/components/dog-ear/DogEar.tsx
  packages/web/src/components/tile/Tile.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/track-page/components/mobile/TrackHeader.tsx
Due: run-web-workflow, run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
