Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Fix debug method
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

Refactor
  packages/web/src/components/track/desktop/ConnectedTrackTile.tsx
  packages/web/src/hooks/usePremiumContentAccess.ts
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Use 2-letter country codes in buy-audio location (#2695)
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Remove use of iso3 country code (#2719)
  packages/common/src/services/location.ts
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

fix other tabs
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Fix bugs
  packages/mobile/android/app/src/main/res/raw/downloading_default.riv
  packages/mobile/ios/Assets/downloading_default.riv
  packages/mobile/ios/AudiusReactNative.xcodeproj/project.pbxproj
  packages/mobile/src/assets/images/iconDownloadFailed.svg
  packages/mobile/src/assets/images/iconDownloadInactive.svg
  packages/mobile/src/assets/images/iconDownloadQueued.svg
  packages/mobile/src/assets/images/iconDownloaded.svg
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

[PAY-851] Fix UploadChip spacing
  packages/web/src/components/upload/UploadChip.js
  packages/web/src/pages/profile-page/components/desktop/ProfileLeftNav.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.module.css
Due: run-web-workflow

[C-1963] Add download progress bar
  packages/mobile/src/components/offline-downloads/DownloadProgress.tsx
  packages/mobile/src/components/progress-bar/ProgressBar.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

Address comments
  packages/mobile/src/components/offline-downloads/DownloadProgress.tsx
Due: run-mobile-workflow

Remove flex
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
Due: run-mobile-workflow

[C-1916 C-1982 QA-328] Fix smart-collection artwork
  packages/mobile/src/screens/smart-collection-screen/SmartCollectionScreen.tsx
Due: run-mobile-workflow

Improve TrackList perf
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistScreen.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
Due: run-mobile-workflow

Fix
  packages/web/src/common/store/premiumContent/sagas.ts
  packages/web/src/components/track/desktop/PremiumContentLabel.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/hooks/usePremiumContentAccess.ts
Due: run-web-workflow

[C-1991] Fix rive animation location
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
Due: run-mobile-workflow

Add icons to stems
  packages/stems/src/assets/icons/iconCollectibleCornerTag.svg
  packages/stems/src/assets/icons/iconSpecialAccessCornerTag.svg
  packages/stems/src/components/Icons/index.ts
Due: run-stems-workflow

Update copy and styles
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PremiumTrackCornerTag.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Update track tile copy and styles
  packages/web/src/components/track/desktop/PremiumContentLabel.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

[C-1977] Hide more by this artist when offline
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/web/src/common/store/pages/track/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-1976] Hide/disable overflow menus when offline
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

[C-1938] Disable downloading from toggle when offline
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

[C-1993] Refactor download switch
  packages/common/src/hooks/useProxySelector.ts
  packages/mobile/src/components/core/Switch.tsx
  packages/mobile/src/components/drawers/RemoveDownloadedCollectionDrawer.tsx
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicatorBase.tsx
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/components/offline-downloads/index.ts
  packages/mobile/src/components/offline-downloads/types.ts
  packages/mobile/src/hooks/useProxySelector.ts
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/selectors.ts
  packages/mobile/src/store/drawers/slice.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[C-1938] Remove tracks within collections when toggling off favorites
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Improve perf of DownloadToggle
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/selectors.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

Show both artist pick and premium content label where appropriate
  packages/web/src/components/track/desktop/TrackTile.tsx
Due: run-web-workflow

Lint
  packages/web/src/components/track/desktop/PremiumContentLabel.tsx
Due: run-web-workflow

Update comment
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow

Bump stems
  packages/stems/package-lock.json
  packages/stems/package.json
Due: run-stems-workflow

Consume latest stems
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

Revert DownloadToggle changes
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
Due: run-mobile-workflow

Add pagination to the mobile favorites screen and fix the title width for deleted track list items
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/common/src/store/pages/saved-page/types.ts
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

Improve useFetchAllFavoritedTracks fetch
  packages/mobile/src/hooks/useFetchAllFavoritedTracks.ts
Due: run-mobile-workflow

Include limit for fetch
  packages/mobile/src/hooks/useFetchAllFavoritedTracks.ts
Due: run-mobile-workflow

Address PR comments
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Address more PR comments
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/PublicAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
Due: run-mobile-workflow

Fix type
  packages/mobile/src/hooks/useFetchAllFavoritedTracks.ts
Due: run-mobile-workflow

Add comment
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
Due: run-mobile-workflow

[PAY-881] Mobile messages (chats) list screen
  packages/mobile/src/screens/app-drawer-screen/left-nav-drawer/LeftNavDrawer.tsx
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUser.tsx
  packages/mobile/src/screens/chat-screen/index.ts
  packages/mobile/src/screens/chats-screen/ChatsScreen.tsx
Due: run-mobile-workflow

squash
  packages/mobile/src/screens/app-screen/AppTabScreen.tsx
Due: run-mobile-workflow

Reduce rerenders due to useOfflineCollectionLineup
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useReachabilityState.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

Rename useReachabilityState to useReachabilityEffect
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/hooks/useReachabilityEffect.ts
Due: run-mobile-workflow
