Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix key error
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Add fast app changes
  packages/common/src/store/cache/users/actions.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/pages/profile/types.ts
  packages/common/src/store/tipping/slice.ts
  packages/mobile/src/components/lineup/Lineup.tsx
  packages/mobile/src/components/lineup/types.ts
  packages/mobile/src/components/skeleton/Skeleton.tsx
  packages/mobile/src/components/top-tab-bar/CollapsibleTopTabNavigator.tsx
  packages/mobile/src/components/top-tab-bar/TopTabNavigator.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/notifications-screen/Notification/ProfilePictureListSkeleton.tsx
  packages/mobile/src/screens/profile-screen/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SocialsAndSites.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabNavigator.tsx
  packages/mobile/src/screens/profile-screen/RepostsTab.tsx
  packages/mobile/src/screens/profile-screen/TracksTab.tsx
  packages/mobile/src/screens/profile-screen/utils.ts
  packages/mobile/src/screens/trending-screen/TrendingScreen.tsx
  packages/web/src/common/store/cache/sagas.js
  packages/web/src/common/store/cache/users/sagas.js
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Fixes
  packages/mobile/src/components/skeleton/Skeleton.tsx
  packages/mobile/src/screens/profile-screen/AlbumsTab.tsx
  packages/mobile/src/screens/profile-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SocialsAndSites.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/SupportingList.tsx
  packages/mobile/src/screens/profile-screen/ProfileHeader/TopSupporters.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/RepostsTab.tsx
  packages/mobile/src/screens/profile-screen/TracksTab.tsx
  packages/mobile/src/screens/profile-screen/utils.ts
Due: run-mobile-workflow

Lets live dangerously
  packages/web/src/common/store/cache/sagas.js
Due: run-web-workflow

Make rc-staging fast-app variant
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix web lint
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Make rc-staging fast-app variant (#2585)
  .circleci/src/workflows/mobile.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix the layout for scrolling under the header
  packages/web/src/pages/App.js
  packages/web/src/pages/App.module.css
  packages/web/src/pages/chat-page/ChatPage.module.css
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatHeader.tsx
Due: run-web-workflow

Keep whitespace from messages
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Add new TextArea component
  packages/web/src/components/data-entry/TextAreaV2.module.css
  packages/web/src/components/data-entry/TextAreaV2.tsx
Due: run-web-workflow

Style the composer
  packages/web/src/pages/chat-page/components/ChatComposer.module.css
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-web-workflow

Speed up tile animation
  packages/mobile/src/components/core/FadeInView.tsx
Due: run-mobile-workflow

Fix scroll to bottom logic
  packages/common/src/store/pages/chat/selectors.ts
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

update sdk to 1.0.38
  packages/common/package-lock.json
  packages/common/package.json
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Consume latest sdk
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

[DMs] Add compose message dialog
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/user-list/index.ts
  packages/common/src/store/user-list/search/actions.ts
  packages/common/src/store/user-list/search/reducers.ts
  packages/common/src/store/user-list/search/selectors.ts
  packages/common/src/store/user-list/search/types.ts
  packages/web/src/common/store/user-list/search/sagas.ts
  packages/web/src/components/user-list/UserList.tsx
  packages/web/src/components/user-list/components/UserList.tsx
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatComposeModal.module.css
  packages/web/src/pages/chat-page/components/ChatComposeModal.tsx
  packages/web/src/pages/chat-page/components/ChatPrompt.module.css
  packages/web/src/pages/chat-page/components/ChatPrompt.tsx
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/store/application/ui/chat/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Update user access logic and undo temp comments
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/PremiumTrackSection.tsx
  packages/web/src/pages/track-page/components/desktop/TrackPage.tsx
Due: run-web-workflow

Update track player to work with the queue in the redux store
  packages/common/src/store/queue/slice.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
Due: run-mobile-workflow

Fix chatlist scrolling, scroll to bottom on chatid change
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatList.module.css
Due: run-web-workflow

Rename useSearch
  packages/web/src/components/page/Page.js
  packages/web/src/pages/chat-page/ChatPage.tsx
Due: run-web-workflow

[C-1778] Fix update banner styles
  packages/web/src/components/banner/UpdateAppBanner.module.css
Due: run-web-workflow

Rename prmopt and modal
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/CreateChatModal.module.css
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
  packages/web/src/pages/chat-page/components/CreateChatPrompt.module.css
  packages/web/src/pages/chat-page/components/CreateChatPrompt.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

split selectors
  packages/common/src/store/pages/chat/selectors.ts
  packages/web/src/pages/chat-page/components/ChatList.tsx
Due: run-web-workflow

add rounded borders
  packages/web/src/pages/chat-page/components/CreateChatPrompt.module.css
Due: run-web-workflow

wip
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
Due: run-mobile-workflow

move feature flag check later so optimizely is ready
  packages/web/src/common/store/player/sagas.ts
Due: run-web-workflow

[C-1829] Fix android build due to gradle dep
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

[DMs] Mark chats as read if the user hits the bottom of the scrollbar
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
Due: run-web-workflow

wrap in try/catch
  packages/common/src/store/pages/chat/sagas.ts
Due: none

Max width for prompt
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/CreateChatPrompt.module.css
Due: run-web-workflow

[C-1829] Fix android build due to gradle dep (#2592)
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

[DMs] Mark chats as read if the user hits the bottom of the scrollbar (#2593)
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
Due: run-web-workflow

Remove console.log
  packages/common/src/store/pages/chat/slice.ts
Due: none

add types
  packages/common/src/store/user-list/search/reducers.ts
Due: none

Debounce search
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
Due: run-web-workflow

[DMs] Add new message dialog and prompts (#2588)
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/common/src/store/reducers.ts
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/common/src/store/user-list/index.ts
  packages/common/src/store/user-list/search/actions.ts
  packages/common/src/store/user-list/search/reducers.ts
  packages/common/src/store/user-list/search/selectors.ts
  packages/common/src/store/user-list/search/types.ts
  packages/web/src/common/store/user-list/search/sagas.ts
  packages/web/src/components/user-list/UserList.tsx
  packages/web/src/components/user-list/components/UserList.tsx
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/components/ChatList.tsx
  packages/web/src/pages/chat-page/components/ChatListItem.tsx
  packages/web/src/pages/chat-page/components/CreateChatModal.module.css
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
  packages/web/src/pages/chat-page/components/CreateChatPrompt.module.css
  packages/web/src/pages/chat-page/components/CreateChatPrompt.tsx
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/store/application/ui/chat/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

[C-1772] Fix share-drawer for tracks with missing images
  packages/mobile/src/components/share-drawer/useShareToStory.tsx
Due: run-mobile-workflow

Tried to clean up the logic a bit, use scroll handler
  packages/web/src/pages/chat-page/ChatPage.tsx
Due: run-web-workflow

Don't send redundant markRead requests
  packages/common/src/store/pages/chat/sagas.ts
Due: none

pull out constant
  packages/web/src/components/data-entry/TextAreaV2.tsx
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
