Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

fix types
  packages/common/package.json
  packages/common/src/store/pages/track/actions.ts
Due: none

Add the initial modal
  packages/web/src/components/buy-audio-modal/BuyAudioModal.module.css
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
  packages/web/src/pages/modals/Modals.tsx
Due: run-web-workflow

Make web3 modal and audius data smaller
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/web/src/services/web3-modal/index.ts
Due: run-web-workflow

Remove env
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/web/scripts/configureLocalEnv.js
  packages/web/src/services/audius-backend/audius-backend-instance.ts
Due: run-web-workflow, run-mobile-workflow

Improve types
  packages/web/src/services/web3-modal/index.ts
Due: run-web-workflow

Set sourceMap url to s3 bucket
  packages/web/craco.config.ts
Due: run-web-workflow

Remove @types/webpack (not needed in v5)
  package-lock.json
  packages/common/package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Add web-deploy-sourcemaps-s3
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Test
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Modify s3 command
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Append slash to sourceMapURL
  packages/web/craco.config.ts
Due: run-web-workflow

Add step to move sourcemaps
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-858] Add track page sagas to native, Refactor TrackScreen (#1768)
  packages/common/package.json
  packages/common/src/store/pages/track/actions.ts
  packages/mobile/src/hooks/useImageSize.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/pages/track/sagas.js
  packages/web/src/pages/track-page/TrackPageProvider.tsx
  packages/web/src/store/sagas.ts
Due: run-web-workflow, run-mobile-workflow

Create web-move-sourcemaps command
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Attach workspace
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Checkout step
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

add entity manager address to config internal web3
  packages/mobile/src/services/audius-backend-instance.ts
Due: run-mobile-workflow

bump libs
  packages/web/package.json
Due: run-web-workflow

package.json
  packages/web/package-lock.json
Due: run-web-workflow

Combine src map move with cloudflare deploy
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Use python & node image
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Temporarily add the entire first page of the modal for testing on remote-dev
  packages/web/src/assets/img/iconAUDIO.png
  packages/web/src/assets/img/iconSOL.png
  packages/web/src/assets/img/iconUSD.png
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.module.css
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
  packages/web/src/components/buy-audio-modal/components/AudioAmountPicker.module.css
  packages/web/src/components/buy-audio-modal/components/AudioAmountPicker.tsx
  packages/web/src/components/buy-audio-modal/components/PurchaseQuote.module.css
  packages/web/src/components/buy-audio-modal/components/PurchaseQuote.tsx
Due: run-web-workflow

Update solana/web3.js
  packages/web/package.json
Due: run-web-workflow

Update coinbase pay version
  packages/web/package.json
Due: run-web-workflow

Add error to exception case
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Move Jupiter methods to new service and lazy load
  packages/web/src/services/audius-backend/Jupiter.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Use singleton-like instance
  packages/web/src/services/audius-backend/Jupiter.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Fix GreaterThan0 comparison
  packages/common/src/utils/wallet.ts
Due: none

Add BuyAudio sagas to root saga
  packages/web/src/store/sagas.ts
Due: run-web-workflow

Use python and node image for staging
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove wrangler install step
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

Lower version of cimg/python
  .circleci/src/commands/@web-commands.yml
  .circleci/src/jobs/@web-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove sudo from install awscli
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix order playlist to use updated playlist
  packages/web/src/common/store/cache/collections/sagas.js
Due: run-web-workflow

[C-890] Polyfill TextEncoder, fixes builds
  packages/mobile/index.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

fix web package-loc
  packages/web/package-lock.json
Due: run-web-workflow
