Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

test
  packages/common/src/hooks/useRemoteVar.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/hooks/useContentNodeImage.ts
Due: run-mobile-workflow

test
  packages/web/src/utils/route.ts
Due: run-web-workflow

Hide chat UI + bump app versions
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

[C-1822] Fix cropped artist genre buttons
  packages/mobile/src/components/core/Button.tsx
  packages/mobile/src/components/suggested-follows/ArtistCategoryButton.tsx
  packages/mobile/src/components/suggested-follows/SelectArtistCategoryButtons.tsx
Due: run-mobile-workflow

1.1.62
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

lint in cllectible thingy
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

Hide chat UI + bump app versions (#3010)
  packages/mobile/android/app/build.gradle
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Update lineup tile time util func to hide hour text when under 1 hour
  packages/common/src/utils/timeUtil.ts
Due: none

WIP status bar work
  packages/mobile/package.json
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/AppDrawerScreen.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/root-screen/StatusBar.tsx
  packages/mobile/src/screens/splash-screen/SplashScreen.tsx
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

fix favorites toggle desync
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
Due: run-mobile-workflow

remove unnecessary change
  packages/mobile/.svgrrc
Due: run-mobile-workflow

abort jobs on clearOfflineDownloads
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/staleTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/syncCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/utils/shouldAbortJob.ts
Due: run-mobile-workflow

better names; missed track worker
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadCollectionWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/downloadTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/staleTrackWorker.ts
  packages/mobile/src/store/offline-downloads/sagas/offlineQueueSagas/workers/syncCollectionWorker.ts
Due: run-mobile-workflow

Address other issues
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/store/notifications/types.ts
  packages/mobile/src/hooks/useNotificationNavigation.ts
  packages/web/src/common/store/notifications/fetchNotifications.ts
  packages/web/src/components/notification/Notification/RepostOfRepostNotification.tsx
  packages/web/src/components/notification/Notification/components/OthersLink.tsx
Due: run-web-workflow, run-mobile-workflow

Update favorite-of-repost
  packages/web/src/components/notification/Notification/FavoriteOfRepostNotification.tsx
Due: run-web-workflow

Fix validTypes, fix timestamp generation
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow

Re-add chat features to profile screen
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Fix fetchNotifications fallback
  packages/web/src/common/store/notifications/fetchNotifications.ts
Due: run-web-workflow

Read from bulk endpoint which retrieves old ids and has no pagination issues
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Update profile actions drawer to actiondrawer
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/components/profile-actions-drawer/ProfileActionsDrawer.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/store/drawers/slice.ts
Due: run-mobile-workflow

[C-2276] Fix upload track store updates
  packages/common/src/store/pages/profile/selectors.ts
  packages/common/src/store/upload/actions.ts
  packages/common/src/store/upload/reducer.ts
  packages/web/src/common/store/pages/profile/lineups/tracks/sagas.js
  packages/web/src/common/store/pages/profile/lineups/tracks/watchUploadTracksSaga.ts
  packages/web/src/common/store/upload/sagas.js
Due: run-web-workflow

Use array indexing
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

add unstyled progress bar to settings
  packages/mobile/src/screens/favorites-screen/DownloadProgressDetailed.tsx
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
Due: run-mobile-workflow

[PAY-907] Mobile chat reactions
  packages/mobile/src/app/App.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/Reaction.tsx
Due: run-mobile-workflow

selectors for collection progress
  packages/mobile/src/screens/favorites-screen/DownloadProgressDetailed.tsx
  packages/mobile/src/screens/settings-screen/DownloadProgressDetailed.tsx
  packages/mobile/src/screens/settings-screen/DownloadProgressRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
Due: run-mobile-workflow

styling wip
  packages/mobile/src/screens/settings-screen/DownloadProgressDetailed.tsx
  packages/mobile/src/screens/settings-screen/DownloadProgressRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
Due: run-mobile-workflow

[C-2280] Fix error when playing queue with private track
  packages/mobile/src/components/audio/Audio.tsx
Due: run-mobile-workflow

Finalize
  packages/mobile/ios/AudiusReactNative/Info.plist
  packages/mobile/package.json
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/screens/app-drawer-screen/AppDrawerScreen.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/screens/root-screen/StatusBar.tsx
  packages/mobile/src/screens/splash-screen/SplashScreen.tsx
  packages/mobile/src/store/theme/sagas.ts
  packages/mobile/src/utils/theme.ts
Due: run-mobile-workflow

Final
  packages/mobile/src/screens/root-screen/StatusBar.tsx
Due: run-mobile-workflow

layout work for status component
  packages/mobile/src/screens/settings-screen/DownloadAllFavoritesRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadProgressDetailed.tsx
  packages/mobile/src/screens/settings-screen/DownloadProgressHeader.tsx
  packages/mobile/src/screens/settings-screen/DownloadProgressRow.tsx
  packages/mobile/src/screens/settings-screen/DownloadSettingsScreen.tsx
Due: run-mobile-workflow

[C-2156] Refactor search ui
  packages/mobile/src/hooks/useDebouncedCallback.ts
  packages/mobile/src/screens/search-screen/SearchBar.tsx
  packages/mobile/src/screens/search-screen/SearchHistory.tsx
  packages/mobile/src/screens/search-screen/SearchHistoryListItem.tsx
  packages/mobile/src/screens/search-screen/SearchScreen.tsx
Due: run-mobile-workflow

Replace clearable with adornment
  packages/mobile/src/screens/search-screen/SearchBar.tsx
Due: run-mobile-workflow

test
  .circleci/src/commands/@mobile-commands.yml
  .circleci/src/jobs/@mobile-jobs.yml
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
  packages/mobile/src/services/analytics.ts
  packages/mobile/src/utils/appVersionWithCodepush.ts
  packages/mobile/src/utils/reportToSentry.ts
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

fix
  .circleci/src/jobs/@mobile-jobs.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

add log
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-mobile-workflow

more fixes
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

more fixes
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

woot
  .circleci/src/workflows/mobile.yml
  packages/mobile/android/fastlane/Fastfile
  packages/mobile/ios/fastlane/Fastfile
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

minor improvements
  packages/mobile/src/services/analytics.ts
  packages/mobile/src/utils/appVersionWithCodepush.ts
  packages/mobile/src/utils/reportToSentry.ts
Due: run-mobile-workflow
