Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

thread => conversation
  packages/web/src/pages/chat-page/components/DeleteChatConfirmationModal.tsx
Due: run-web-workflow

1 more
  packages/mobile/src/components/delete-chat-drawer/DeleteChatDrawer.tsx
Due: run-mobile-workflow

Remove flicker and resizing bug
  packages/web/src/components/search-users-modal/SearchUsersModal.module.css
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
  packages/web/src/pages/chat-page/components/CreateChatModal.module.css
Due: run-web-workflow

Rename to 'End Of Message History'
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow, run-mobile-workflow

CR comment
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

missed some usages
  packages/mobile/src/hooks/useToast.ts
  packages/mobile/src/store/cache/collections/createPlaylistRequestedSaga.ts
  packages/web/src/common/store/cache/collections/commonSagas.js
Due: run-web-workflow, run-mobile-workflow

adjust portal and animations to get more consistent behavior on Android
  packages/mobile/src/app/App.tsx
  packages/mobile/src/hooks/usePopupAnimation.ts
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Switch copy button to a regular View
  packages/mobile/src/screens/chat-screen/CopyMessagesButton.tsx
Due: run-mobile-workflow

Update end of message history copy on mobile
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

DMs: Listen for chats app wide, check unread count app wide
  packages/common/src/store/pages/chat/sagas.ts
  packages/web/src/components/chat-listener/ChatListener.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/chat-page/ChatPage.tsx
Due: run-web-workflow

feature flag
  packages/web/src/pages/App.js
Due: run-web-workflow

[PAY-1329] Fix marking chats as unread
  packages/common/src/store/pages/chat/sagas.ts
Due: none

Undo web lock changes
  packages/web/package-lock.json
Due: run-web-workflow

Update active state logic
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/types.ts
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

Update links logic
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
Due: run-mobile-workflow

More refactor
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

add upload_redesign_enabled feature flag
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

yet another usage
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Fix sdk:update script
  package.json
Due: none

sdk-v2.0.3-beta.32
  packages/common/package-lock.json
  packages/common/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow

Lint and typecheck
  packages/common/src/api/collection.ts
  packages/common/src/api/track.ts
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

create placeholder page and switch based on flag
  packages/web/src/pages/upload-page/UploadPage.tsx
  packages/web/src/pages/upload-page/UploadPageLegacy.js
  packages/web/src/pages/upload-page/UploadPageNew.module.css
  packages/web/src/pages/upload-page/UploadPageNew.tsx
Due: run-web-workflow

[PAY-1330] Adjust order of menu items
  packages/web/src/components/nav/desktop/NavPopupMenu.tsx
Due: run-web-workflow

[PAY-1317] Segments of page header bar don't align with the columns below
  packages/web/src/pages/chat-page/components/ChatHeader.module.css
Due: run-web-workflow

[C-2702] Remove initialSelectedNode from disc-node selector
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/discovery-node-selector/DiscoveryNodeSelectorService.ts
  packages/common/src/services/discovery-node-selector/index.ts
  packages/mobile/src/services/audius-backend-instance.ts
  packages/mobile/src/services/audius-sdk.ts
  packages/mobile/src/services/discovery-node-selector.ts
  packages/web/src/services/audius-backend/audius-backend-instance.ts
  packages/web/src/services/audius-sdk/audiusSdk.ts
  packages/web/src/services/discovery-node-selector.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-1321] Reaction button polish
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

DMs: Do
  packages/common/src/store/pages/chat/sagas.ts
Due: none

Fix mobile tile vs link display logic
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

Show artist popover in web chat tile on hover
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow

use all messages for tracking latest received
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

fix missing loading spinner for playlists tab
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
Due: run-mobile-workflow

Add styling fixes from mobile playlist updates QA
  packages/mobile/src/components/core/FormImageInput.tsx
  packages/mobile/src/components/core/TextInput.tsx
  packages/mobile/src/components/details-tile/DetailsTileActionButtons.tsx
  packages/mobile/src/components/publish-playlist-drawer/PublishPlaylistDrawer.tsx
  packages/mobile/src/components/toasts/Toast.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/app-screen/useAppScreenOptions.tsx
  packages/mobile/src/screens/edit-playlist-screen/EditPlaylistForm.tsx
  packages/mobile/src/screens/page-form-screen/PageFormScreen.tsx
Due: run-mobile-workflow

[PAY-1324] Set chat bubble text to Static White
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Rename onFail to onEmpty
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/mobile/src/screens/chat-screen/LinkPreview.tsx
Due: run-mobile-workflow

Add error log
  packages/common/src/api/track.ts
Due: none

Refactor types
  packages/common/src/hooks/chats/index.ts
  packages/common/src/hooks/chats/types.ts
  packages/common/src/hooks/chats/useTrackPlayer.ts
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageTrack.tsx
  packages/web/src/pages/chat-page/components/ChatMessageTrack.tsx
Due: run-web-workflow, run-mobile-workflow

Update vars to prevent changing on every render
  packages/mobile/src/screens/chat-screen/ChatMessagePlaylist.tsx
  packages/web/src/pages/chat-page/components/ChatMessagePlaylist.tsx
Due: run-web-workflow, run-mobile-workflow

Forgot to save file
  packages/mobile/src/hooks/useManualToast.ts
Due: run-mobile-workflow

DMs: Autofocus, clear search
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/components/search-users-modal/SearchUsersModal.module.css
  packages/web/src/components/search-users-modal/SearchUsersModal.tsx
Due: run-web-workflow

Remove unused
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
