Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Fix common types
  packages/common/src/models/Analytics.ts
  packages/common/src/services/opensea-client/OpenSeaClient.ts
  packages/common/src/services/solana-client/SolanaClient.ts
  packages/common/src/store/collectibles/selectors.ts
  packages/common/src/store/collectibles/slice.ts
  packages/common/src/store/premium-content/sagas.ts
  packages/common/src/store/tipping/selectors.ts
  packages/common/src/store/tipping/slice.ts
  packages/common/src/store/tipping/types.ts
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

package-lock.json changes
  packages/stems/package-lock.json
Due: run-stems-workflow

[PAY-1070] Update TabSlider/SegmentedControl slider size on resize (#3044)
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/stems/src/components/SegmentedControl/SegmentedControl.module.css
  packages/stems/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/stems/src/components/SegmentedControl/SegmentedControl.tsx
  packages/stems/src/components/SegmentedControl/types.ts
  packages/web/src/components/data-entry/TabSlider.js
  packages/web/src/components/data-entry/TabSlider.module.css
  packages/web/src/components/embed-modal/EmbedModal.tsx
  packages/web/src/components/image-selection/ImageSelectionPopup.js
  packages/web/src/components/image-selection/ImageSelectionPopup.module.css
  packages/web/src/pages/audio-rewards-page/components/modals/TrendingRewards.tsx
  packages/web/src/pages/settings-page/components/desktop/NotificationSettings.tsx
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
  packages/web/src/pages/settings-page/components/mobile/NotificationsSettingsPage.tsx
  packages/web/src/pages/settings-page/components/mobile/SettingsPage.tsx
  packages/web/src/pages/upload-page/components/TracksPreview.js
Due: run-web-workflow, run-stems-workflow

Use createEntityAdapter
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Revert "Use createEntityAdapter"
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

rename symbols
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

better checks for if entity exist already, status on message objects
  packages/common/src/store/pages/chat/index.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

Revert "better checks for if entity exist already, status on message objects"
  packages/common/src/store/pages/chat/index.ts
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

Revert "rename symbols"
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
Due: none

Revert "Revert "Use createEntityAdapter""
  packages/common/src/store/pages/chat/sagas.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/common/src/store/pages/chat/slice.ts
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

Add playback position logic for mobile and move playback position tracking saga to common sagas
  packages/common/src/store/player/sagas.ts
  packages/common/src/store/ui/mobile-overflow-menu/types.ts
  packages/mobile/src/assets/images/iconRepeatOff.svg
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsProgressInfo.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/lineup-tile/styles.ts
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/scrubber/Slider.tsx
  packages/mobile/src/components/scrubber/usePosition.ts
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/services/audio-player/NativeMobileAudio.ts
  packages/mobile/src/store/sagas.ts
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
  packages/web/src/components/track/GiantTrackTile.module.css
  packages/web/src/components/track/PlayPauseButton.tsx
Due: run-web-workflow, run-mobile-workflow

Remove random line
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

Remove random line (#3062)
  packages/web/src/common/store/tipping/sagas.ts
Due: run-web-workflow

fix comments
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/web/src/common/store/smart-collection/sagas.ts
Due: run-web-workflow

Only show prompt modal on upload
  packages/mobile/src/components/gated-content-upload-prompt-drawer/GatedContentUploadPromptDrawer.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/types.ts
  packages/mobile/src/screens/upload-screen/screens/CompleteTrackScreen.tsx
Due: run-mobile-workflow

[PAY-904] - Add gated content upload prompt (#3057)
  packages/mobile/src/app/Drawers.tsx
  packages/mobile/src/assets/images/iconRocket.svg
  packages/mobile/src/components/gated-content-upload-prompt-drawer/GatedContentUploadPromptDrawer.tsx
  packages/mobile/src/components/gated-content-upload-prompt-drawer/index.ts
  packages/mobile/src/hooks/useOneTimeDrawer.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackForm.tsx
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/types.ts
  packages/mobile/src/screens/upload-screen/screens/CompleteTrackScreen.tsx
  packages/mobile/src/store/drawers/slice.ts
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.module.css
  packages/web/src/components/gated-content-upload-prompt-modal/GatedContentUploadPromptModal.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow, run-mobile-workflow

Revert "[C-2220] Upgrade push-notification library (#2994)"
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/java/co/audius/app/MainApplication.java
  packages/mobile/android/settings.gradle
  packages/mobile/ios/AudiusReactNative/AppDelegate.h
  packages/mobile/ios/AudiusReactNative/AppDelegate.mm
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/notifications.ts
Due: run-mobile-workflow

Revert "Bump mobile versions (#3045)"
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/AudiusReactNative/Info.plist
Due: run-mobile-workflow

Try to fix web dist jobs
  .circleci/src/commands/@web-commands.yml
  .circleci/src/workflows/web.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add fallback feature flag for podcast
  packages/common/src/hooks/useFeatureFlag.ts
  packages/common/src/services/remote-config/feature-flags.ts
  packages/common/src/services/remote-config/remote-config.ts
  packages/common/src/store/playback-position/sagas.ts
  packages/common/src/store/player/sagas.ts
  packages/common/src/store/storeContext.ts
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/now-playing-drawer/AudioControls.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/play-bar/desktop/PlayBar.js
  packages/web/src/components/track/CardTitle.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/services/remote-config/featureFlagHelpers.ts
Due: run-web-workflow, run-mobile-workflow

Clean up
  packages/common/src/services/remote-config/remote-config.ts
Due: none

Fix types
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/services/remote-config/getFeatureEnabled.ts
  packages/web/src/services/remote-config/featureFlagHelpers.ts
Due: run-web-workflow, run-mobile-workflow

Default node version
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update podcast control updates to also work for audiobooks
  packages/common/src/store/playback-position/sagas.ts
  packages/common/src/store/player/sagas.ts
  packages/common/src/utils/timeUtil.ts
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/now-playing-drawer/AudioControls.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/web/src/common/store/player/sagas.ts
  packages/web/src/common/store/queue/sagas.ts
  packages/web/src/components/menu/TrackMenu.tsx
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/components/play-bar/PlayBarButton.module.css
  packages/web/src/components/play-bar/desktop/PlayBar.js
  packages/web/src/components/play-bar/next-button/NextButtonProvider.tsx
  packages/web/src/components/play-bar/previous-button/PreviousButtonProvider.tsx
  packages/web/src/components/track/GiantTrackTile.js
  packages/web/src/components/track/PlayPauseButton.tsx
  packages/web/src/components/track/desktop/TrackTile.tsx
  packages/web/src/components/track/mobile/ConnectedTrackTile.tsx
  packages/web/src/components/track/mobile/TrackTile.tsx
Due: run-web-workflow, run-mobile-workflow

Try removing stuff
  .circleci/src/commands/@web-commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Simplify
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

Update availability settings
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Disabled pressing on special access options when content is disabled
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
Due: run-mobile-workflow

Remove touch feedback on already selected drop when deselect is disabled
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Add checked + disabled radio button style
  packages/mobile/src/components/core/RadioButton.tsx
Due: run-mobile-workflow

Fix title wrapping issue on how to unlock drawer
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
Due: run-mobile-workflow

Prevent adding gated track to playlist in more places
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/web/src/components/edit-playlist/mobile/EditPlaylistPage.tsx
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
  packages/web/src/components/track/mobile/TrackList.tsx
  packages/web/src/components/track/mobile/TrackListItem.tsx
  packages/web/src/pages/collection-page/components/mobile/CollectionPage.tsx
  packages/web/src/pages/history-page/components/mobile/HistoryPage.tsx
  packages/web/src/pages/saved-page/components/mobile/SavedPage.tsx
Due: run-web-workflow, run-mobile-workflow

Export common type
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/PublicAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/index.ts
  packages/mobile/src/screens/edit-track-screen/components/types.ts
Due: run-mobile-workflow

Lint
  packages/mobile/src/components/core/RadioButton.tsx
  packages/mobile/src/components/details-tile/DetailsTileNoAccess.tsx
  packages/mobile/src/components/locked-content-drawer/LockedContentDrawer.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/web/src/components/now-playing/NowPlaying.tsx
  packages/web/src/components/track/mobile/ConnectedTrackListItem.tsx
Due: run-web-workflow, run-mobile-workflow

Fix special access selection
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/PublicAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/types.ts
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Lint
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

Fix nft gate selection
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

Refactor
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
Due: run-mobile-workflow

More refactor
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
Due: run-mobile-workflow
