Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Remove unnecessary memo
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
Due: run-mobile-workflow

fix routing in user playlists
  packages/web/src/pages/collection-page/CollectionPageProvider.tsx
Due: run-web-workflow

Extract collections logic to selector
  packages/common/src/store/collectibles/selectors.ts
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
Due: run-mobile-workflow

Use selector for collections logic
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
Due: run-web-workflow

Remove unnecessary memo
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-777] Add premium content track upload on mobile - Part 1 (#2707)
  packages/common/src/models/Track.ts
  packages/common/src/store/collectibles/selectors.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/PublicAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow, run-mobile-workflow

[PAY-777] Add premium content track upload on mobile - Part 2 (#2722)
  packages/common/src/models/Track.ts
  packages/common/src/store/collectibles/selectors.ts
  packages/mobile/src/assets/images/iconCollectible.svg
  packages/mobile/src/assets/images/iconSpecialAccess.svg
  packages/mobile/src/assets/images/iconVisibilityPublic.svg
  packages/mobile/src/components/core/RadioButton.tsx
  packages/mobile/src/hooks/useSetTrackAvailabilityFields.ts
  packages/mobile/src/screens/edit-track-screen/EditTrackNavigator.tsx
  packages/mobile/src/screens/edit-track-screen/components/CollectibleGatedAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/HiddenAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/PublicAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/components/SpecialAccessAvailability.tsx
  packages/mobile/src/screens/edit-track-screen/fields/SwitchField.tsx
  packages/mobile/src/screens/edit-track-screen/fields/TrackVisibilityField.tsx
  packages/mobile/src/screens/edit-track-screen/screens/ListSelectionScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/NFTCollectionsScreen.tsx
  packages/mobile/src/screens/edit-track-screen/screens/TrackAvailabilityScreen.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow, run-mobile-workflow

Refactor TrackListItem to be responsible for active/playing state
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/components/track-list/TrackListItemSkeleton.tsx
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow, run-mobile-workflow

Update undownload favorites to hide progress earlier
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Use successful downloads to keep track of progress bar
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
Due: run-mobile-workflow

Update progress to use numSuccess var
  packages/mobile/src/screens/favorites-screen/DownloadProgress.tsx
Due: run-mobile-workflow

[C-2000] Fix collections not downloading on favorites download
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

fic
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

remove todo
  packages/mobile/src/services/offline-downloader/offline-sync.ts
Due: run-mobile-workflow

add collections actions to slice
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

add queue management for collections
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
Due: run-mobile-workflow

Add UploadChip.tsx
  packages/web/src/components/upload/UploadChip.tsx
Due: run-web-workflow

hide repost
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

worker executor done; need to update usages
  packages/mobile/src/components/offline-downloads/index.ts
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/services/offline-downloader/index.ts
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/services/offline-downloader/types.ts
  packages/mobile/src/services/offline-downloader/workers/collectionDownloadWorker.ts
  packages/mobile/src/store/offline-downloads/sagas.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

[C-1950] Smooth offline<>online playback
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/web/src/common/store/pages/collection/lineups/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-1952] Show download successful when offline in status indicator
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicatorBase.tsx
Due: run-mobile-workflow

[C-1985] Remove collection tracks when removing favorites
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Hide buttons on profiles when offline and remove timeout
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

IT WORKS
  packages/mobile/src/components/offline-downloads/index.ts
  packages/mobile/src/hooks/useLoadOfflineTracks.ts
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
  packages/mobile/src/services/offline-downloader/offline-download-queue.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
  packages/mobile/src/services/offline-downloader/offline-sync.ts
  packages/mobile/src/services/offline-downloader/workers/trackDownloadWorker.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
Due: run-mobile-workflow

separate indicators for track vs collections
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicator.tsx
  packages/mobile/src/components/offline-downloads/DownloadStatusIndicatorBase.tsx
  packages/mobile/src/components/offline-downloads/TrackDownloadStatusIndicator.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
  packages/mobile/src/screens/favorites-screen/DownloadFavoritesSwitch.tsx
Due: run-mobile-workflow

PR comments
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/index.ts
Due: run-mobile-workflow

Styling
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
Due: run-mobile-workflow

collection status indicator selector improvement
  packages/mobile/src/components/add-to-playlist-drawer/AddToPlaylistDrawer.tsx
  packages/mobile/src/components/card/Card.tsx
  packages/mobile/src/components/collection-list/CollectionCard.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/components/profile-list/ProfileCard.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/store/offline-downloads/selectors.ts
Due: run-mobile-workflow

fix skeleton count; fix 0 track collections
  packages/mobile/src/components/details-tile/types.ts
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

lint
  packages/mobile/src/screens/chat-screen/ChatListScreen.tsx
  packages/mobile/src/screens/chat-screen/ChatUser.tsx
Due: run-mobile-workflow

CollectionHeader uses shared selector logic for status
  packages/mobile/src/components/offline-downloads/CollectionDownloadStatusIndicator.tsx
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
Due: run-mobile-workflow

add download queued message in header
  packages/mobile/src/screens/collection-screen/CollectionHeader.tsx
Due: run-mobile-workflow

defer download reason fix for future work
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

Multiple changes and refactor. Expand commit message for details.
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/modal-radio/ModalRadio.module.css
  packages/web/src/components/modal-radio/ModalRadioGroup.tsx
  packages/web/src/components/modal-radio/ModalRadioItem.tsx
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/HiddenAvailability.tsx
  packages/web/src/components/track-availability-modal/PublicAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track-availability-modal/types.ts
  packages/web/src/components/track/PremiumTrackSection.tsx
Due: run-web-workflow

Update remix settings modal
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/data-entry/FormTile.module.css
  packages/web/src/components/remix-settings-modal/ConnectedRemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/switch/Switch.tsx
Due: run-web-workflow

Add remix section, update copy, and refactor
  packages/web/src/components/track-availability-modal/CollectibleGatedAvailability.tsx
  packages/web/src/components/track-availability-modal/SpecialAccessAvailability.tsx
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.module.css
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
  packages/web/src/components/track-availability-modal/types.ts
Due: run-web-workflow

Fix
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/data-entry/FormTile.module.css
  packages/web/src/components/remix-settings-modal/ConnectedRemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
Due: run-web-workflow

Refactor
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/components/data-entry/FormTile.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModal.tsx
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.module.css
  packages/web/src/components/remix-settings-modal/RemixSettingsModalTrigger.tsx
  packages/web/src/components/switch/Switch.tsx
Due: run-web-workflow

Remove comment
  packages/web/src/common/store/premiumContent/sagas.ts
Due: run-web-workflow
