Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

[C-1286] Add Hyperpop
  packages/common/src/utils/genres.ts
Due: none

add download toggle component
  packages/mobile/src/assets/images/iconDownloadPurple.svg
  packages/mobile/src/assets/images/iconDownloading.svg
  packages/mobile/src/assets/images/iconNotDownloaded.svg
  packages/mobile/src/components/offline-downloads/DownloadToggle.tsx
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
Due: run-mobile-workflow

lint fixes
  packages/web/src/common/store/backend/sagas.ts
Due: run-web-workflow

add track download indicator
  packages/mobile/src/components/offline-downloads/TrackDownloadIndicator.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/store/offline-downloads/selectors.ts
  packages/mobile/src/store/offline-downloads/slice.ts
  packages/mobile/src/store/store.ts
Due: run-mobile-workflow

Prepend saved tracks to saved lineup
  packages/web/src/common/store/pages/saved/lineups/sagas.js
Due: run-web-workflow

[C-1040] Remove extraneous mobile logs
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/common/src/services/fingerprint/FingerprintClient.ts
  packages/common/src/utils/timeUtil.ts
  packages/mobile/src/components/card/Card.tsx
  packages/mobile/src/notifications.ts
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
  packages/mobile/src/services/analytics.ts
  packages/mobile/src/utils/logging.ts
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow, run-mobile-workflow

Close stripe modal on success, fix polling bug
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
  packages/web/src/services/audius-backend/BuyAudio.ts
Due: run-web-workflow

Add live key
  packages/web/.env/.env.prod
Due: run-web-workflow

Don't break on clicking the stripe button while still loading the quote
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
Due: run-web-workflow

Remove unused import
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
Due: run-web-workflow

Add hacks for stripe demo
  packages/web/src/components/buy-audio-modal/components/SuccessPage.tsx
  packages/web/src/components/transaction-details-modal/TransactionDetailsModal.tsx
Due: run-web-workflow

download indicator
  packages/mobile/src/assets/images/iconDownloading.svg
  packages/mobile/src/components/offline-downloads/TrackDownloadIndicator.tsx
Due: run-mobile-workflow

download indicator
  packages/mobile/src/components/offline-downloads/DownloadIndicator.tsx
Due: run-mobile-workflow

Fix for if wallet has no transactions
  packages/web/src/services/audius-backend/BuyAudio.ts
Due: run-web-workflow

minor refactor
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/reachability/sagas.ts
Due: run-web-workflow, run-mobile-workflow

lint fixes
  packages/web/src/common/store/lineup/sagas.js
Due: run-web-workflow

Use OnRampProvider.UNKNOWN instead of undefined
  packages/common/src/store/ui/buy-audio/slice.ts
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
  packages/web/src/components/buy-audio-modal/components/InProgressPage.tsx
Due: run-web-workflow

Make provider non-optional
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

add notion docs to readmes
  packages/mobile/README.md
  packages/web/README.md
Due: run-web-workflow, run-mobile-workflow

auto follow person who referred you
  packages/common/src/models/Analytics.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

add feature flag
  packages/common/src/services/remote-config/feature-flags.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow

add verification
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

Fix android build
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/services/fingerprint.ts
Due: run-mobile-workflow

Undo change to prevent cache update when no collectibles
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Undo change to prevent cache update when no collectibles (#2114)
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow

Always show a 'Buy More ' button
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

remove unused
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

Enable stripe buy audio flow override
  packages/web/public/index.html
Due: run-web-workflow

[Stripe Demo] Always show a "Buy More $AUDIO" button in tipping dialog (#2115)
  packages/web/src/components/tipping/tip-audio/SendTip.tsx
Due: run-web-workflow

bump libs 1.0.12
  package-lock.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
Due: run-mobile-workflow

Add new remote config for allowed geos for coinbase/stripe
  packages/common/src/services/remote-config/defaults.ts
  packages/common/src/services/remote-config/types.ts
Due: none

Add country codes to type for location
  packages/web/src/services/Location.ts
Due: run-web-workflow

Add tooltip if stripe/coinbase is not allowed by geo, and disable button
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.module.css
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Remove test code
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.module.css
Due: run-web-workflow

add usa back to defaults
  packages/common/src/services/remote-config/defaults.ts
Due: none

bump libs in web and common
  packages/common/package-lock.json
  packages/common/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow

add all coinbase supported countries
  packages/common/src/services/remote-config/defaults.ts
Due: none

Bring back unhealthySlotDiffPlays
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none
