Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

whoops meant heart eyes
  packages/common/src/store/ui/reactions/types.ts
  packages/mobile/src/screens/notifications-screen/Reaction/ReactionList.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/reactions.tsx
  packages/web/src/components/notification/Notification/components/Reaction/index.tsx
Due: run-web-workflow, run-mobile-workflow

Add option to cache bust node_modules
  .circleci/src/commands/@commands.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Rename to ChatPageProvider
  packages/web/src/pages/App.js
  packages/web/src/pages/chat-page/ChatPageProvider.tsx
Due: run-web-workflow

Revert "Fix imports"
  packages/web/src/pages/modals/Modals.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

Revert "Fix imports"
  packages/web/src/pages/chat-page/components/desktop/ChatMessageListItem.tsx
  packages/web/src/pages/chat-page/components/desktop/ChatPage.tsx
  packages/web/src/pages/chat-page/components/desktop/CreateChatModal.tsx
Due: run-web-workflow

Fix imports to chatPage
  packages/web/src/pages/chat-page/ChatPageProvider.tsx
  packages/web/src/pages/chat-page/components/mobile/ChatPage.tsx
Due: run-web-workflow

replace mobile upload drawer
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/web/src/components/download-mobile-app-drawer/DownloadMobileAppDrawer.module.css
  packages/web/src/components/download-mobile-app-drawer/DownloadMobileAppDrawer.tsx
  packages/web/src/components/mobile-upload-drawer/MobileUploadDrawer.module.css
  packages/web/src/components/mobile-upload-drawer/MobileUploadDrawer.tsx
  packages/web/src/pages/chat-page/ChatPageProvider.tsx
  packages/web/src/pages/chat-page/components/mobile/ChatPage.tsx
  packages/web/src/pages/chat-page/components/mobile/SkeletonChatPage.tsx
  packages/web/src/pages/profile-page/components/mobile/UploadButton.tsx
Due: run-web-workflow

Match commands
  .circleci/config.yml
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

IconSpeaker
  packages/stems/src/assets/icons/iconSpeaker.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/download-mobile-app-drawer/DownloadMobileAppDrawer.tsx
Due: run-web-workflow, run-stems-workflow

repeating repeat
  packages/web/src/services/audius-sdk/audiusSdk.ts
Due: run-web-workflow

Change text to 'Beginning of Conversation'
  packages/web/src/pages/chat-page/components/ChatMessageList.tsx
Due: run-web-workflow

[PAY-1455] Optimize reactions perf (maybe) (#3599)
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-944] DMs: Add Mobile Web drawer prompting app download (#3565)
  packages/common/src/store/ui/modals/slice.ts
  packages/common/src/store/ui/modals/types.ts
  packages/stems/src/assets/icons/iconSpeaker.svg
  packages/stems/src/assets/icons/iconStars.svg
  packages/stems/src/components/Icons/index.ts
  packages/web/src/components/download-mobile-app-drawer/DownloadMobileAppDrawer.module.css
  packages/web/src/components/download-mobile-app-drawer/DownloadMobileAppDrawer.tsx
  packages/web/src/components/mobile-upload-drawer/MobileUploadDrawer.module.css
  packages/web/src/components/mobile-upload-drawer/MobileUploadDrawer.tsx
  packages/web/src/pages/App.js
  packages/web/src/pages/chat-page/ChatPage.tsx
  packages/web/src/pages/chat-page/ChatPageProvider.tsx
  packages/web/src/pages/chat-page/components/mobile/SkeletonChatPage.tsx
  packages/web/src/pages/profile-page/components/mobile/UploadButton.tsx
Due: run-web-workflow, run-stems-workflow

[PAY-1484] Allow reactions while keyboard is open on mobile
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-1476] Inbox unavailable copy update
  packages/mobile/src/components/inbox-unavailable-drawer/InboxUnavailableDrawer.tsx
  packages/mobile/src/screens/chat-screen/ChatUnavailable.tsx
  packages/web/src/components/inbox-unavailable-modal/InboxUnavailableModal.tsx
  packages/web/src/pages/chat-page/components/InboxUnavailableMessage.tsx
Due: run-web-workflow, run-mobile-workflow

Add overflow menu options for track list items on mobile
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
Due: run-mobile-workflow

dev modal fixes
  packages/common/src/api/developer-apps.ts
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/AppDetailsPage.tsx
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.module.css
  packages/web/src/pages/settings-page/components/desktop/DeveloperApps/YourAppsPage.tsx
Due: run-web-workflow

wip
  packages/mobile/src/components/core/KeyboardAvoidingView.tsx
  packages/mobile/src/components/core/Screen/Screen.tsx
  packages/mobile/src/components/core/Screen/ScreenContent.tsx
  packages/mobile/src/screens/chat-screen/ChatMessageListItem.tsx
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Add display component and styling for release date
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/assets/styles/type.css
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
  packages/web/src/pages/upload-page/components/ReleaseDateModalField.module.css
  packages/web/src/pages/upload-page/components/ReleaseDateModalField.tsx
  packages/web/src/pages/upload-page/fields/DatePickerField.module.css
  packages/web/src/pages/upload-page/fields/DatePickerField.tsx
Due: run-web-workflow

[PAY-1421] Fix android reaction offsets
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Fix useless refs in callback
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Remove border radius from track/playlist tiles
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
Due: run-web-workflow

Clear input on chat change
  packages/web/src/pages/chat-page/components/ChatComposer.tsx
Due: run-web-workflow

Add more space to reacted to messages
  packages/web/src/pages/chat-page/components/ChatMessageListItem.module.css
  packages/web/src/pages/chat-page/components/ChatMessageListItem.tsx
Due: run-web-workflow

Clear the search after creating a chat
  packages/common/src/store/pages/chat/sagas.ts
  packages/web/src/pages/chat-page/components/CreateChatUserResult.tsx
Due: run-web-workflow

[PAY-1494] Change chats copy to beginning of message history
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

[PAY-1487] Increase hit slop of mobile dms send button
  packages/mobile/src/screens/chat-screen/ChatTextInput.tsx
Due: run-mobile-workflow

Remove em feature flag
  packages/common/src/services/remote-config/feature-flags.ts
Due: none

Remove usage
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

convo
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/screens/chat-screen/ChatScreen.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Remove comment
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

[C-2712] Clear favorites on sign-out
  packages/common/src/store/pages/saved-page/reducer.ts
Due: none

Add remove from playlist overflow action
  packages/common/src/store/ui/mobile-overflow-menu/slice.ts
  packages/common/src/store/ui/mobile-overflow-menu/types.ts
  packages/mobile/src/components/overflow-menu-drawer/OverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/track-list/TrackList.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
  packages/web/src/components/track-overflow-modal/components/MobileOverflowModal.tsx
Due: run-web-workflow, run-mobile-workflow

style the release date input and date picker
  packages/web/src/pages/upload-page/components/ReleaseDateModalField.module.css
  packages/web/src/pages/upload-page/components/ReleaseDateModalField.tsx
  packages/web/src/pages/upload-page/fields/DatePickerField.module.css
  packages/web/src/pages/upload-page/fields/DatePickerField.tsx
Due: run-web-workflow

stylelint
  packages/web/src/pages/upload-page/components/ReleaseDateModalField.module.css
  packages/web/src/pages/upload-page/fields/DatePickerField.module.css
Due: run-web-workflow

[PAY-1483] Patch RN to fix textinput multiline onchange not firing
  packages/mobile/patches/react-native+0.71.8.patch
Due: run-mobile-workflow

readme
  packages/mobile/patches/README.md
Due: run-mobile-workflow

[PAY-1468] Fix mobile chats copy message button
  packages/mobile/src/screens/chat-screen/CopyMessagesButton.tsx
  packages/mobile/src/screens/chat-screen/ReactionPopup.tsx
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
