Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

Remove socialsCountStyles
  packages/mobile/src/screens/profile-screen/ProfileHeader/ProfileSocials.tsx
Due: run-mobile-workflow

no more useselector web
  packages/mobile/src/components/share-to-tiktok-drawer/ShareToTikTokDrawer.tsx
  packages/mobile/src/hooks/useSelectorWeb.ts
Due: run-mobile-workflow

[C-1057] Fix blank edit-profile screen
  packages/mobile/src/screens/edit-profile-screen/EditProfileScreen.tsx
Due: run-mobile-workflow

[C-1050] Fix profile search crash
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
Due: run-mobile-workflow

[C-1053] Fix ios status color in dark/light modes
  packages/mobile/src/store/theme/sagas.ts
Due: run-mobile-workflow

Wait for libs before signing data
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

Wait for libs before signing data (#1918)
  packages/common/src/services/audius-backend/AudiusBackend.ts
Due: none

[C-1060] Fix /check page
  packages/web/src/pages/check-page/CheckPage.tsx
Due: run-web-workflow

Fix infinite 404
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/mobile/src/services/audius-api-client/apiClient.ts
  packages/web/src/services/audius-api-client/apiClient.ts
Due: run-web-workflow, run-mobile-workflow

fix more by artist lineup
  packages/common/src/store/pages/track/reducer.ts
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/web/src/common/store/pages/track/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-907] Fix react native push notifications
  packages/mobile/src/App.tsx
  packages/mobile/src/components/enable-push-notifications-drawer/EnablePushNotificationsDrawer.tsx
  packages/mobile/src/components/notification-reminder/NotificationReminder.tsx
  packages/mobile/src/store/settings/sagas.ts
Due: run-mobile-workflow

[C-1012] Recover web app account in native
  packages/mobile/.env.dev.tmpl
  packages/mobile/.env.prod.tmpl
  packages/mobile/.env.stage.tmpl
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/App.tsx
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

Remove redundant check
  packages/mobile/src/components/notification-reminder/NotificationReminder.tsx
Due: run-mobile-workflow

Fix issue with using `accountUser` handle
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
Due: run-mobile-workflow

Fix pull to refresh
  packages/mobile/src/components/lineup/Lineup.tsx
Due: run-mobile-workflow

Update mobile readme install instructions
  packages/mobile/README.md
Due: run-mobile-workflow

reachability react native reloaded
  packages/common/src/services/native-mobile-interface/types.ts
  packages/mobile/src/App.tsx
  packages/mobile/src/message/types.ts
  packages/mobile/src/utils/connectivity.ts
  packages/web/src/common/store/backend/sagas.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.js
  packages/web/src/common/store/reachability/sagas.ts
  packages/web/src/common/utils/isMobile.ts
  packages/web/src/services/native-mobile-interface/lifecycle.ts
  packages/web/src/services/native-mobile-interface/types.ts
Due: run-web-workflow, run-mobile-workflow

upgrade netinfo
  packages/mobile/package.json
Due: run-mobile-workflow

npm i
  package-lock.json
  packages/mobile/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow

pr review 1
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/search-page/lineups/tracks/sagas.js
  packages/web/src/common/store/reachability/sagas.ts
  packages/web/src/common/utils/isMobileWeb.ts
Due: run-web-workflow

cleanup
  packages/web/src/store/reachability/sagas.ts
  packages/web/src/store/sagas.ts
Due: run-web-workflow

npm i
  packages/mobile/package-lock.json
Due: run-mobile-workflow

dispatch
  packages/mobile/src/components/share-to-tiktok-drawer/ShareToTikTokDrawer.tsx
  packages/mobile/src/hooks/useDispatchWeb.ts
Due: run-mobile-workflow

Fix issue with sign out
  packages/common/src/store/account/slice.ts
Due: none

no more use dispatch web or messages
  packages/common/src/services/index.ts
  packages/common/src/services/native-mobile-interface/index.ts
  packages/common/src/services/native-mobile-interface/types.ts
  packages/mobile/src/components/oauth/OAuth.tsx
  packages/mobile/src/message/index.ts
  packages/mobile/src/message/types.ts
  packages/mobile/src/store/oauth/reducer.ts
  packages/mobile/src/store/oauth/selectors.ts
  packages/web/src/services/native-mobile-interface/helpers.ts
  packages/web/src/services/native-mobile-interface/types.ts
Due: run-web-workflow, run-mobile-workflow

fixes
  packages/mobile/src/components/oauth/OAuth.tsx
  packages/mobile/src/store/oauth/reducer.ts
  packages/mobile/src/store/oauth/selectors.ts
Due: run-mobile-workflow

reorg
  packages/mobile/src/components/oauth/OAuth.tsx
  packages/mobile/src/store/oauth/reducer.ts
  packages/mobile/src/store/oauth/types.ts
Due: run-mobile-workflow

upgrade sdk
  packages/common/package-lock.json
  packages/common/package.json
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Wait for entropy to setup backend
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/App.tsx
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
  packages/mobile/src/store/sagas.ts
Due: run-mobile-workflow

[C-1107] Fix sign out
  packages/common/src/store/account/slice.ts
Due: none

[C-1107] Fix push to sign in when identity is down
  packages/common/src/services/audius-backend/AudiusBackend.ts
  packages/mobile/src/screens/signon/SignOn.tsx
  packages/web/src/common/store/pages/signon/actions.ts
  packages/web/src/common/store/pages/signon/sagas.js
Due: run-web-workflow, run-mobile-workflow

[C-1091] Improve selector performance
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/hooks/useProxySelector.ts
Due: run-mobile-workflow

Add request pagination for favorites for the new table
  packages/common/src/models/Kind.ts
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
  packages/common/src/store/lineup/selectors.ts
  packages/common/src/store/pages/saved-page/actions.ts
  packages/common/src/store/pages/saved-page/reducer.ts
  packages/common/src/store/pages/saved-page/selectors.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/saved/lineups/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
  packages/web/src/components/test-collectibles-playlist-table/TestCollectiblesPlaylistTable.tsx
  packages/web/src/components/test-table/TestTable.module.css
  packages/web/src/components/test-table/TestTable.tsx
  packages/web/src/components/test-tracks-table/TestTracksTable.tsx
  packages/web/src/components/tracks-table/EmptyTable.js
  packages/web/src/components/tracks-table/EmptyTable.module.css
  packages/web/src/pages/collection-page/components/desktop/CollectionPage.tsx
  packages/web/src/pages/history-page/components/desktop/HistoryPage.tsx
  packages/web/src/pages/saved-page/SavedPageProvider.tsx
  packages/web/src/pages/saved-page/components/desktop/SavedPage.tsx
Due: run-web-workflow

Check if reachability is already true
  packages/web/src/common/store/backend/sagas.ts
Due: run-web-workflow

[PAY-626] Change playlist+tip challenges copy and emoji (#1897)
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/assets/fonts/emojis/treble-clef.png
  packages/web/src/assets/styles/emoji.css
  packages/web/src/pages/audio-rewards-page/config.tsx
Due: run-web-workflow, run-mobile-workflow

[PAY-625] Playlist challenge optimistic claiming (#1891)
  packages/common/src/store/pages/audio-rewards/slice.ts
  packages/web/src/common/store/cache/collections/sagas.js
Due: run-web-workflow
