Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Fix lint the right wayg
  packages/common/src/hooks/useImageSize.ts
Due: none

[C-1197] Custom skeleton for feed tip tile
  packages/mobile/src/components/feed-tip-tile/FeedTipTile.tsx
  packages/mobile/src/components/feed-tip-tile/FeedTipTileSkeleton.tsx
  packages/mobile/src/components/feed-tip-tile/ReceiverDetails.tsx
  packages/mobile/src/components/feed-tip-tile/SenderDetails.tsx
Due: run-mobile-workflow

Add todo
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
Due: run-mobile-workflow

Fix lint
  packages/mobile/src/components/feed-tip-tile/ReceiverDetails.tsx
Due: run-mobile-workflow

Remove has tracks unused prop
  packages/web/src/pages/settings-page/components/desktop/SettingsPage.tsx
Due: run-web-workflow

fix new playlist made from track - invalid date
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
Due: run-mobile-workflow

refactoring path logic
  packages/mobile/src/components/audio/Audio.tsx
  packages/mobile/src/hooks/useOfflineTrack.ts
  packages/mobile/src/screens/favorites-screen/FavoritesScreen.tsx
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
  packages/mobile/src/services/offline-downloader/offline-storage.ts
Due: run-mobile-workflow

Add AudioTransactionsIcon component
  packages/web/src/components/audio-transaction-icon/AudioTransactionIcon.module.css
  packages/web/src/components/audio-transaction-icon/AudioTransactionIcon.tsx
  packages/web/src/components/audio-transaction-icon/index.ts
  packages/web/src/components/transaction-details-modal/components/TransactionDetailsContent.tsx
Due: run-web-workflow

Disable dominant color on mobile
  packages/mobile/src/components/now-playing-drawer/Artwork.tsx
  packages/web/src/common/store/cache/tracks/sagas.js
Due: run-web-workflow, run-mobile-workflow

only check isinternetreachable
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

bugfixes
  packages/mobile/src/hooks/useOfflineTrack.ts
  packages/mobile/src/services/offline-downloader/offline-downloader.ts
Due: run-mobile-workflow

double check before declaring offline state
  packages/mobile/src/services/env.ts
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

[C-1194] Fix desktop profile state (#2022)
  packages/common/src/store/lineup/actions.ts
  packages/common/src/store/pages/profile/actions.ts
  packages/common/src/store/pages/profile/reducer.ts
  packages/web/src/common/store/lineup/sagas.js
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
  packages/web/src/common/store/pages/profile/lineups/tracks/sagas.js
  packages/web/src/common/store/profile/sagas.js
  packages/web/src/hooks/useTabs/useTabs.tsx
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
Due: run-web-workflow

renaming stuff
  packages/mobile/src/App.tsx
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

rename for clarity and consistency with web
  packages/mobile/src/App.tsx
  packages/mobile/src/utils/reachability.ts
Due: run-mobile-workflow

empty commit
  README.md
Due: none

Fix profile reposts loading issue
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

Fix profile reposts loading issue (#2035)
  packages/web/src/pages/profile-page/ProfilePageProvider.tsx
  packages/web/src/pages/profile-page/components/desktop/ProfilePage.tsx
Due: run-web-workflow

Don't reset on close, but rather open using a special action
  packages/common/src/store/ui/buy-audio/slice.ts
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
  packages/web/src/pages/audio-rewards-page/components/WalletManagementTile.tsx
Due: run-web-workflow

Check for recovery on modal open, safer localstorage sanitizing
  packages/common/src/store/ui/transaction-details/types.ts
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Remove unused vars
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Improve navigation perf related to drawer context
  packages/mobile/src/screens/notifications-screen/NotificationsDrawerNavigationContext.tsx
  packages/mobile/src/screens/notifications-screen/Reaction/Reaction.tsx
Due: run-mobile-workflow

[C-1128] Add profile screen skeleton
  packages/mobile/src/components/feed-tip-tile/FeedTipTileSkeleton.tsx
  packages/mobile/src/components/skeleton/Skeleton.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/ProfileScreenSkeleton.tsx
Due: run-mobile-workflow

[C-481] Fix profile header loading jank
  packages/mobile/src/components/top-tab-bar/CollapsibleTopTabNavigator.tsx
  packages/mobile/src/screens/profile-screen/ProfileTabNavigator.tsx
Due: run-mobile-workflow

Fix tracks/reposts lineups for artist with handles with capitials
  packages/mobile/src/screens/profile-screen/RepostsTab.tsx
  packages/mobile/src/screens/profile-screen/TracksTab.tsx
  packages/mobile/src/screens/profile-screen/selectors.ts
Due: run-mobile-workflow

Clarify initial value
  packages/mobile/src/screens/profile-screen/ProfileTabNavigator.tsx
Due: run-mobile-workflow

Upgrade sdk 1.0.8
  packages/common/package-lock.json
  packages/common/package.json
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

debounce only the setOffline call
  packages/mobile/src/utils/reachability.ts
Due: run-mobile-workflow

Move challenges config to common
  packages/common/src/models/AudioRewards.ts
  packages/common/src/utils/challenges.ts
  packages/common/src/utils/index.ts
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/mobile/src/screens/audio-screen/ChallengeRewards.tsx
  packages/mobile/src/screens/audio-screen/Panel.tsx
  packages/mobile/src/screens/audio-screen/TrendingRewards.tsx
  packages/mobile/src/screens/notifications-screen/Notifications/ChallengeRewardNotification.tsx
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/TrendingRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewards.tsx
  packages/web/src/pages/audio-rewards-page/config.tsx
Due: run-web-workflow, run-mobile-workflow

Default to iOS 14 simulator
  packages/mobile/package.json
Due: run-mobile-workflow

Setup TS in @common
  packages/common/package-lock.json
  packages/common/package.json
Due: none

Fix lint
  packages/mobile/src/utils/challenges.tsx
  packages/web/src/components/notification/Notification/ChallengeRewardNotification.tsx
  packages/web/src/pages/audio-rewards-page/ChallengeRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/TrendingRewardsTile.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewards.tsx
  packages/web/src/pages/audio-rewards-page/config.tsx
Due: run-web-workflow, run-mobile-workflow

Address more PR comments
  packages/mobile/src/screens/audio-screen/Panel.tsx
  packages/mobile/src/utils/challenges.tsx
Due: run-mobile-workflow

More PR fixes
  packages/common/src/utils/challenges.ts
  packages/mobile/src/assets/images/emojis/treble-clef.png
  packages/mobile/src/components/challenge-rewards-drawer/ChallengeRewardsDrawerProvider.tsx
  packages/web/src/pages/audio-rewards-page/components/modals/ChallengeRewards.tsx
Due: run-web-workflow, run-mobile-workflow

Remove TS
  packages/common/package-lock.json
  packages/common/package.json
Due: none

Add premium content default fields to track upload
  packages/web/src/pages/upload-page/UploadPage.js
Due: run-web-workflow

Move functions
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

Always show success screen after recovery
  packages/web/src/store/application/ui/buy-audio/sagas.ts
Due: run-web-workflow

fix duplicate playlists once playlist is confirmed
  packages/common/src/store/pages/profile/selectors.ts
  packages/web/src/common/store/cache/collections/sagas.js
  packages/web/src/common/store/pages/saved/sagas.js
Due: run-web-workflow

fix
  packages/web/src/common/store/cache/collections/sagas.js
Due: run-web-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
