Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Remove test
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

Pin object-hash
  packages/mobile/package.json
Due: run-mobile-workflow

Fix up envs for mobile
  packages/mobile/.env.dev
  packages/mobile/.env.prod
  packages/mobile/.env.stage
  packages/mobile/.gitignore
Due: run-mobile-workflow

Remove log
  packages/common/src/services/audius-api-client/AudiusAPIClient.ts
Due: none

Fix CI
  .circleci/src/jobs/@mobile-jobs.yml
  packages/mobile/README.md
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Add env var for stripe publishable key
  packages/web/.env/.env.dev
  packages/web/.env/.env.prod
  packages/web/.env/.env.stage
  packages/web/src/components/buy-audio-modal/components/StripeBuyAudioButton.tsx
Due: run-web-workflow

Use selector internally instead of passing props
  packages/web/src/components/buy-audio-modal/BuyAudioModal.tsx
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
Due: run-web-workflow

Woops missed the import
  packages/web/src/components/buy-audio-modal/components/AmountInputPage.tsx
Due: run-web-workflow

[C-1174] Fix blank listening history screen
  packages/mobile/src/components/empty-tile-cta/EmptyTileCTA.tsx
  packages/mobile/src/components/empty-tile-cta/index.ts
  packages/mobile/src/screens/favorites-screen/AlbumsTab.tsx
  packages/mobile/src/screens/favorites-screen/PlaylistsTab.tsx
  packages/mobile/src/screens/favorites-screen/TracksTab.tsx
  packages/mobile/src/screens/settings-screen/ListeningHistoryScreen.tsx
  packages/mobile/src/screens/settings-screen/SettingRowLabel.tsx
Due: run-mobile-workflow

[C-1156, C-1055, C-1159] Fix profile follow button
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
  packages/mobile/src/screens/profile-screen/SubscribeButton.tsx
Due: run-mobile-workflow

[C-1167,C-1171] Fix missing tip data
  packages/mobile/src/components/feed-tip-tile/SendTipButton.tsx
  packages/mobile/src/screens/profile-screen/TipAudioButton.tsx
Due: run-mobile-workflow

Update client setup for new local dev
  packages/web/.env/.env.dev
  packages/web/README.md
  packages/web/package.json
  packages/web/scripts/configureLocalEnv.js
Due: run-web-workflow

Reorder configs
  packages/web/.env/.env.dev
Due: run-web-workflow

Fix merge conflict var
  packages/web/.env/.env.dev
Due: run-web-workflow

Remove optimizely key
  packages/web/.env/.env.dev
Due: run-web-workflow

Rename bounce to stage
  packages/mobile/package.json
Due: run-mobile-workflow

[C-1150,C-1165] Fix app-tab navigation
  packages/mobile/src/components/lineup-tile/CollectionTile.tsx
  packages/mobile/src/components/lineup-tile/TrackTile.tsx
  packages/mobile/src/components/now-playing-drawer/ActionsBar.tsx
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/CollectionOverflowMenuDrawer.tsx
  packages/mobile/src/components/overflow-menu-drawer/TrackOverflowMenuDrawer.tsx
  packages/mobile/src/components/track-list/TrackListItem.tsx
  packages/mobile/src/hooks/usePopToTopOnDrawerOpen.ts
  packages/mobile/src/screens/app-screen/AppTabNavigationProvider.tsx
  packages/mobile/src/screens/app-screen/index.ts
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/root-screen/RootScreen.tsx
Due: run-mobile-workflow

Fix types
  packages/web/src/common/store/tipping/sagas.ts
  packages/web/src/common/store/user-list/supporting/sagas.ts
  packages/web/src/common/store/user-list/top-supporters/sagas.ts
Due: run-web-workflow

minor changes
  packages/mobile/src/components/now-playing-drawer/NowPlayingDrawer.tsx
  packages/mobile/src/screens/profile-screen/ProfileInfo.tsx
Due: run-mobile-workflow

[C-1164] Fix collections screen loading issues
  packages/mobile/src/screens/collection-screen/CollectionScreen.tsx
  packages/mobile/src/screens/collection-screen/CollectionScreenDetailsTile.tsx
Due: run-mobile-workflow

Fix start:dev command
  packages/web/package.json
Due: run-web-workflow

Use .env.dev instead of .env.dev.local
  packages/web/package.json
Due: run-web-workflow

Omit creator_node_endpoint when updating metadata via collectible fetch
  packages/mobile/src/components/audio/Audio.tsx
  packages/web/src/common/store/profile/sagas.js
Due: run-web-workflow, run-mobile-workflow

lint
  packages/web/src/common/store/recommendation/sagas.ts
Due: run-web-workflow

Remove more webview instructions from readme
  packages/mobile/README.md
Due: run-mobile-workflow

Test web-sync static-server port
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

Remove things
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

[C-1170] Optimistically show reposted tracks
  packages/common/src/store/lineup/actions.ts
  packages/mobile/src/screens/profile-screen/ProfileScreen.tsx
  packages/mobile/src/screens/profile-screen/RepostsTab.tsx
  packages/web/src/common/store/pages/profile/lineups/feed/sagas.js
Due: run-web-workflow, run-mobile-workflow

skip connection check if not in foreground
  packages/mobile/src/App.tsx
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

bump debounce period to 2.5s
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

also check on app startup
  packages/mobile/src/App.tsx
Due: run-mobile-workflow

add foreground and background hooks
  packages/mobile/src/App.tsx
  packages/mobile/src/hooks/useAppState.ts
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

Fix static server error
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

Add entity manager address to dev
  packages/web/.env/.env.dev
Due: run-web-workflow

Upgrade sdk 1.0.6
  packages/common/package-lock.json
  packages/common/package.json
  packages/eslint-config-audius/package-lock.json
  packages/eslint-config-audius/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/stems/package-lock.json
  packages/stems/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

[C-1157] Fix remix icon position
  packages/mobile/src/components/co-sign/CoSign.tsx
  packages/mobile/src/components/details-tile/DetailsTile.tsx
  packages/mobile/src/screens/track-screen/TrackScreen.tsx
  packages/mobile/src/screens/track-screen/TrackScreenDetailsTile.tsx
Due: run-mobile-workflow

Cast port to number
  packages/mobile/src/components/web-app-account-sync/WebAppAccountSync.tsx
Due: run-mobile-workflow

wrap the event listener in an explicit call
  packages/mobile/src/App.tsx
  packages/mobile/src/utils/connectivity.ts
Due: run-mobile-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)
