Repository AudiusProject/audius-client: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-web-workflow, run-mobile-workflow, run-stems-workflow

Path conditions:
  run-web-workflow: (any of: packages/web/.*) or (any of: .circleci/.*)
  run-mobile-workflow: (any of: packages/mobile/.*) or (any of: .circleci/.*)
  run-stems-workflow: (any of: packages/stems/.*) or (any of: .circleci/.*)

cleanup
  packages/common/src/store/purchase-content/slice.ts
  packages/mobile/src/components/stripe-onramp-drawer/StripeOnrampDrawer.tsx
  packages/mobile/src/utils/zIndex.ts
Due: run-mobile-workflow

Use stripe onramp actions
  packages/common/src/store/ui/stripe-modal/sagas.ts
  packages/mobile/src/components/stripe-onramp-drawer/StripeOnrampDrawer.tsx
  packages/mobile/src/components/stripe-onramp-drawer/StripeOnrampEmbed.tsx
Due: run-mobile-workflow

fix another typecheck error
  packages/web/src/components/data-entry/HelperText.tsx
Due: run-web-workflow

move purchase in progress logic to common
  packages/common/src/store/purchase-content/index.ts
  packages/common/src/store/purchase-content/utils.ts
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
Due: run-web-workflow

Add correct logic for applying existing balances
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useUSDCBalance.ts
  packages/common/src/models/Status.ts
  packages/common/src/services/audius-backend/solana.ts
  packages/web/src/components/premium-content-purchase-modal/PremiumContentPurchaseModal.tsx
  packages/web/src/components/premium-content-purchase-modal/components/FormatPrice.module.css
  packages/web/src/components/premium-content-purchase-modal/components/FormatPrice.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
Due: run-web-workflow

fix stylelint
  packages/web/src/components/premium-content-purchase-modal/components/FormatPrice.module.css
Due: run-web-workflow

comments and typing
  packages/common/src/services/audius-backend/solana.ts
Due: none

fix some small issues with balance display
  packages/web/src/components/premium-content-purchase-modal/components/FormatPrice.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
Due: run-web-workflow

remove unnecessary userbank check
  packages/common/src/services/audius-backend/solana.ts
Due: none

Add check for TS error
  packages/common/src/store/buy-usdc/sagas.ts
Due: none

PR comments
  packages/common/src/store/index.ts
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
Due: run-mobile-workflow

fix type error and add actual calculation for needed balance
  packages/common/src/store/purchase-content/sagas.ts
Due: none

cleanup
  packages/mobile/src/components/premium-track-purchase-drawer/StripePurchaseConfirmationButton.tsx
  packages/mobile/src/components/stripe-onramp-drawer/StripeOnrampDrawer.tsx
  packages/mobile/src/components/stripe-onramp-drawer/StripeOnrampEmbed.tsx
Due: run-mobile-workflow

oops, should calculate this correctly
  packages/common/src/store/purchase-content/sagas.ts
Due: none

Improve perf
  packages/common/src/store/pages/chat/selectors.ts
Due: none

Change nullish check to falsey check for collection track times
  packages/web/src/common/store/pages/collection/lineups/sagas.js
Due: run-web-workflow

[PAY-1588] Use existing balance in purchase flow on mobile
  packages/common/src/store/purchase-content/utils.ts
  packages/mobile/src/components/premium-track-purchase-drawer/PremiumTrackPurchaseDrawer.tsx
  packages/mobile/src/components/premium-track-purchase-drawer/PurchaseSummaryTable.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
Due: run-web-workflow, run-mobile-workflow

PR comments
  packages/common/src/store/purchase-content/utils.ts
Due: none

Use reselect
  packages/common/src/hooks/chats/index.ts
  packages/common/src/hooks/chats/useChatsUserList.ts
  packages/common/src/store/pages/chat/selectors.ts
  packages/mobile/src/screens/chat-screen/ChatUserListScreen.tsx
  packages/web/src/pages/chat-page/components/CreateChatModal.tsx
Due: run-web-workflow, run-mobile-workflow

Remove console.log
  packages/mobile/src/store/chat/sagas.ts
Due: run-mobile-workflow

checkpoint
  packages/stems/src/assets/styles/colors.css
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.module.css
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseDetailsPage.tsx
  packages/web/src/components/premium-content-purchase-modal/components/PurchaseSummaryTable.tsx
  packages/web/src/components/twitter-share-button/TwitterShareButton.tsx
  packages/web/src/utils/theme/dark.ts
  packages/web/src/utils/theme/default.ts
  packages/web/src/utils/theme/matrix.ts
Due: run-web-workflow, run-stems-workflow

Address comments
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.module.css
  packages/web/src/pages/upload-page/pages/UploadCollectionForm.tsx
Due: run-web-workflow

fix input prefix/suffix styling
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/pages/upload-page/components/EditPageNew.tsx
Due: run-web-workflow

Move sign on page above banner
  packages/web/src/pages/sign-on/components/desktop/SignOn.module.css
Due: run-web-workflow

[C-2957] Add h1 tag for SEO
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Fix scrolling on small screens
  packages/web/src/pages/sign-on/components/desktop/SignOn.module.css
Due: run-web-workflow

[PAY-1658] Artist pick, hidden track tile tags moved to mid-left
  packages/mobile/src/components/lineup-tile/LineupTile.tsx
  packages/mobile/src/components/lineup-tile/LineupTilePremiumContentTypeTag.tsx
  packages/mobile/src/components/lineup-tile/LineupTileStats.tsx
  packages/mobile/src/components/lineup-tile/LineupTileTopRight.tsx
Due: run-mobile-workflow

Fix the background waves
  packages/web/src/components/background-animations/BackgroundWaves.js
Due: run-web-workflow

update ModalRadioItem styling
  packages/web/src/components/modal-radio/ModalRadioItem.module.css
  packages/web/src/components/modal-radio/ModalRadioItem.tsx
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

fix old modal width
  packages/web/src/components/track-availability-modal/TrackAvailabilityModal.tsx
Due: run-web-workflow

[C-2941] Modify cloudflare worker to pull in SEO data from discovery nodes (#3858)
  packages/web/.gitignore
  packages/web/public/index.html
  packages/web/scripts/workers-site/index.js
  packages/web/wrangler.toml
Due: run-web-workflow

Minor improvements to SEO flow merged in #3859 (#3861)
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

Add nodes to env for SEO support (#3859)
  packages/web/wrangler.toml
Due: run-web-workflow

Fix broken playlist fetch via resolve (#3863)
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

[C-2957] Add h1 tag for SEO (#3887)
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow

old form new modal layout complete
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.module.css
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/components/data-entry/ContextualMenu.tsx
  packages/web/src/components/data-entry/FormTile.js
  packages/web/src/pages/upload-page/fields/AccessAndSaleField.tsx
Due: run-web-workflow

existing values piped through
  packages/web/src/components/data-entry/AccessAndSaleModalLegacy.tsx
  packages/web/src/components/data-entry/FormTile.js
Due: run-web-workflow

[C-2684] Connect collection form and update hierarchy
  packages/web/src/components/data-entry/InputV2.module.css
  packages/web/src/components/data-entry/InputV2.tsx
  packages/web/src/components/form-fields/ArtworkField.tsx
  packages/web/src/pages/upload-page/UploadPageNew.tsx
  packages/web/src/pages/upload-page/components/SelectPageNew.tsx
  packages/web/src/pages/upload-page/components/types.ts
  packages/web/src/pages/upload-page/fields/CollectionTrackField.module.css
  packages/web/src/pages/upload-page/fields/CollectionTrackField.tsx
  packages/web/src/pages/upload-page/fields/CollectionTrackFieldArray.tsx
  packages/web/src/pages/upload-page/forms/EditCollectionForm.module.css
  packages/web/src/pages/upload-page/forms/EditCollectionForm.tsx
  packages/web/src/pages/upload-page/forms/EditTrackForm.module.css
  packages/web/src/pages/upload-page/forms/EditTrackForm.tsx
  packages/web/src/pages/upload-page/pages/EditPage.tsx
  packages/web/src/pages/upload-page/types.ts
  packages/web/src/pages/upload-page/validation.ts
Due: run-web-workflow

Update lockfiles
  .npmrc
  .nvmrc
  package-lock.json
  packages/common/package-lock.json
  packages/embed/package-lock.json
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/probers/package-lock.json
  packages/stems/package-lock.json
  packages/web/package-lock.json
Due: run-web-workflow, run-mobile-workflow, run-stems-workflow

Update seo h1 to be accessibly hidden vs visually hidden
  packages/web/scripts/workers-site/index.js
Due: run-web-workflow
